[2021-08-19 00:50] jessegreenberg opened #1 "New Repository Checklist"
# New Repository Checklist

These steps contain the following placeholders that you'll need to fill in:

- `{{AUTHOR}}}` - the name that will appear in `@author` code annotations, e.g. `Jane Doe`
- `{{REPO}}` - the repository name, e.g. `gas-properties`. This should be composed of lower-case characters and dashes, and should have <=214 characters (see naming constraints in https://docs.npmjs.com/c

[2021-08-19 01:04] jessegreenberg opened #2 "Quadrilateral Checklist"
# Quadrilateral checklist

## Design
- [x] **Sim folder and design doc created** (Date: 2021)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design docs in the sim folder
      - [Voicing Design Doc](https://docs.google.com/document/d/1jXayebAWnnNzsT3l6o72YPw4-YtiQaHQNuAi64eiguc/edit#h

[2021-08-19 01:08] jessegreenberg commented on #2
This simulation will be developed in collaboration with a few teams outside of the PhET project. There are also ambitions of working through initial design of this sim without graphical mockups. Unclear if it the development cycle illustrated in this checklist will apply to this sim. But might still be helpful to identify dates for various parts of development.

[2021-08-19 01:37] jessegreenberg commented on #1
New simulation steps completed above.

[2021-08-19 01:37] #1 closed

[2021-08-23 16:19] KatieWoe opened #3 "CT cannot read property toHexString of undefined"
[code]

[2021-08-23 22:27] jessegreenberg commented on #3
Thanks, fixed.

[2021-08-23 22:27] #3 closed

[2021-09-07 20:57] jessegreenberg opened #4 "Initial sound design for Quadrilateral"
We are beginning to work on sound design in this sim. In discussion today we decided to add two Properties to the model that represent the difference in oposite angles for the quadrilateral, being `angle1DiffAngle3Property` and `angle2DiffAngle4Property`. When both of these are below a threshold angle, the quad is considered to be a parallelogram.

We could begin to tie sounds to these two Propert

[2021-09-08 20:42] Ashton-Morris commented on #4
Initial Audio Mockups: Currently we are focused on parallels, length, and angles.
Here is how my mockup is currently working.
<img width="1546" alt="Screen Shot 2021-09-08 at 2 21 31 PM" src="https://user-images.githubusercontent.com/34492870/132579876-41b88a38-94ad-44a2-8ed1-ede8ea8e52ce.png">

- If sides 1 and 3 are parallel they play the same note. If they get longer or shorter in length but ar

[2021-09-08 21:13] jessegreenberg commented on #4
Looks good @Ashton-Morris, thanks for writing this up. This definitely helps for my understanding of it. I could start adding information to the model to support this (Properties for pairs of parallel sides and Properties for side lengths) once we get a go-ahead from @emily-phet @BLFiedler or others.

[2021-09-08 21:57] emily-phet commented on #4
@jessegreenberg - I think we need to consider Ashton's description of the sound mapping above, and translate that into terms that use 1) side length (to change across octaves) and 2) the variable we discussed yesterday comparing opposite angles. I think this is possible, and would stay more closely aligned with the definition of what a parallelogram is.

Regarding which of the two sound design var

[2021-09-09 16:18] BLFiedler commented on #4
Quick paste in of Jenna's comments in Slack so they don't disappear into the ether:

I tried to listen to these with and without my eyes closed, but I couldn't make the mapping in my head of what was happening. After reading the descriptions you typed out, I think it might have been for two reasons: 1) I expected (though perhaps not correctly), there would be a more differential/steeper gradient a

[2021-09-09 17:33] BLFiedler commented on #4
Listened a few more times now. Upon considering Ashton's mapping above, I actually find that I prefer the Non-chromatic. As I mentioned, the chromatic is more pleasant, but I am still having trouble catching the mappings while things are moving around with the chromatic. It's a lot more distinct to me in the non-chromatic (and I think this is will remain true for me even if we play around with the

[2021-09-13 22:20] jessegreenberg opened #5 "Sound Checklist"
# Checklist for Adding Sound to a PhET Simulation

This checklist is intended to guide developers through the process of adding sound to a simulation.  It is written at
a fairly high level, and assumes certain knowledge of how the tambo library works and of PhET's development processes.
Before using this for the first time, it is highly recommended that a developer reads through the Users Guide.

[2021-09-13 22:22] jessegreenberg commented on #5
It was recommended to add a checklist like this as we add sound to Quadrilateral. @Ashton-Morris is this something we should do?

worked out that it becomes desirable to start prototyping. For an example, please see the Molecules and Light Sound
Design document.

[2021-09-13 22:23] jessegreenberg opened #6 "Implement sound design"
An issue to commit against for the sound implementation in quadrilateral. Created as requested in https://github.com/phetsims/quadrilateral/issues/5. The first designs are being discussed in https://github.com/phetsims/quadrilateral/issues/4.

[2021-09-13 22:37] jessegreenberg commented on #5
any. This is done by looking at the options and setting any sound players to SoundPlayer.NO_SOUND. Search through the
code base for example usages.

I think I am going to check this off now, and I suspect that using this as necessary will come up naturally in development of this new sim.

[2021-09-13 22:37] jessegreenberg commented on #5
I have received recommendations to create classes and sub classes to manage logic for sound, I am going to err on the side of this.

[2021-09-13 22:40] jessegreenberg commented on #5
OK, I reviewed the whole checklist. It seems to be mostly designed with adding sound to an existing sim and sims that have a fully sound design document. Closing this issue since I think sound discussion and these steps will happen naturally as we go through. It was helpful to have though to understand the steps and process better, and it would probably be good to review again as we are getting cl

[2021-09-13 22:40] #5 closed

[2021-09-14 15:59] jessegreenberg commented on #4
I read the sound documentation in tambo. I also reviewed BalloonVelocitySoundGenerator, which was really helpful and well documented. I have a better sense of how to instrument this now. However, I don't fully understand why the chromatic version will be harder to implement.

Also, I am wondering if the labels are correct in https://github.com/phetsims/quadrilateral/issues/4#issuecomment-915555926

[2021-09-14 16:13] jessegreenberg commented on #4
Actually, maybe the image in https://github.com/phetsims/quadrilateral/issues/4#issuecomment-915555926 is showing that this would be implemented with multiple sound clips that fade in and out of each other and so it wouldn't be mapping to pitch but to volume and the right sound clip to play.

[2021-09-14 17:11] Ashton-Morris commented on #4
@jessegreenberg The non chromatic is labeled that because it slips in-between notes and on notes as it goes up and down (like a slide whistle). But the chromatic one skips over tones that are not in a chromatic scale (more like a flute) effectively making it seem like any two positions will sound somewhat harmonic and probably more pleasant.

The non-chormatic version would be easier because you w

[2021-09-14 17:12] Ashton-Morris commented on #4
Yes that one would be mapping to volume and the pitch would be pre chosen by the clips we select.

[2021-09-14 17:17] jessegreenberg commented on #4
OK thanks!

[2021-09-14 17:57] jessegreenberg commented on #4
In the above commit I added model components for sides, so they are aware of their lengths to support sound design. They are also aware of their slopes, so if "determine if two pairs of sides are parallel" is ever needed we can easily use that.

![image](https://user-images.githubusercontent.com/6396244/133309366-cedf7c62-3699-4db7-9729-02a3b5ea2e4e.png)

[2021-09-14 19:09] jessegreenberg commented on #4
From https://docs.google.com/document/d/1OMU2DGyN8F_QGo_CkiAy4qCBeFe8BOOvA9ANzH7ZEbM/edit#

@Ashton-Morris reassigning to you for this, please toss it back to me when ready!

[2021-09-15 16:55] emily-phet commented on #4
Just a note to @jessegreenberg - Let's discuss the model components in next week's Virtual Model meeting. I have some questions about the use of bottom/top and left/right, and slope that I'd like to talk through.

[2021-09-15 17:56] jessegreenberg commented on #4
Sounds good! I believe they will be used to support the proposed sound design, which I might be able to add before next Tuesday if the assets are ready. If you would like to discuss before then let me know.

[2021-09-17 15:58] Ashton-Morris commented on #4
@jessegreenberg I have added four files to [this Audio folder.](https://drive.google.com/drive/folders/1YNrthgUqZXTQw-gA8ch6XIwBZ_RhsIKW?usp=sharing) for the main sound. We can compare which sounds best.

- quad-loop-04.mp3
- quad-loop-01.mp3
- quad-loop-02.mp3
- quad-loop-03.mp3

John has some looping documentation somewhere. We used it for Gravity Force Labs Basics for Force if you need to look

[2021-09-22 14:50] KatieWoe opened #7 "CT required tandems must be supplied"
[code]

[2021-09-28 21:54] Ashton-Morris commented on #4
During the meeting today I showed some AV Mockups for the Sonification with a focus on the Parallel nature of the sides (only two sounds as opposed to 4 - one for each side). I have exported them for others to view.

- [quad-parallels-mockup-no-volume-if-out-of-parallel.m4v](https://drive.google.com/file/d/1uVh0YlkIWuFUicCzOnjmuGXtDmOOX9AT/view?usp=sharing)
- [quad-parallels-mockup-no-volume-if-ou

[2021-09-29 15:52] KatieWoe opened #8 "CT No voices available to provided a prioritized list"
[code]

[2021-10-04 15:24] jessegreenberg opened #9 "branch: wsTest"
A branch to test connection to a websocket for demonstration purposes.

[2021-10-12 17:17] jessegreenberg opened #10 "Change multitouch behavior when dragging vertex + line"
When dragging a line while you have one of its connected vertices pressed the second finger on the line should be able to manipulate the length of the line. Currently the line length is fixed and the line rotates around the pressed vertex.

This change is desirable to do because it removes a constraint of motion.

[2021-10-12 17:21] jessegreenberg opened #11 "Vertices should be able to move all the way to the edge of dev bounds"
They are currently constrained to a space that is much smaller.

[2021-10-12 18:11] jessegreenberg opened #12 "Is the model correctly indicating whether it is a Parallelogram?"
@terracoda mentioned there may be issues.

[2021-10-12 22:31] jessegreenberg opened #13 "CT: if starting play, should be quiet to avoid distortion"
[code]

[2021-10-12 22:34] #13 closed, assigned to jessegreenberg

[2021-10-12 23:44] BLFiedler commented on #4
Roping @terracoda and @jbphet into this issue.

I mocked this up for everyone to reference while testing the sim as a whole, but was waiting for the quick change to multitouch to rope the whole quad channel in. However, it might be helpful for anyone testing the sound right now to get a sense of what things we'll be asking people to do, so you can better make sense of what the sonifications are tr

[2021-10-12 23:57] BLFiedler commented on #4
This is a lovely music tool and I think we should publish this elsewhere for people to have that experience (1 & 3 sound good aesthetically to me as well. 3 definitely for the thriller ambiance).

That being said, I do think this particular sonification scheme (mapping pitch to side lengths) is pushing me not toward creating parallelograms in general (maybe only as an intermediate step), but very

[2021-10-19 02:31] #12 closed, assigned to jessegreenberg

[2021-10-19 13:53] #11 closed, assigned to jessegreenberg

[2021-10-19 14:43] jessegreenberg opened #14 "Catch up on code cleanup"
Yesterday I did a sprint with some rapid prototyping with multiple different sound designs that we would like to try. The code is in a rough state, and should be cleaned up quickly.

[2021-10-19 17:25] jessegreenberg commented on #7
PhET-iO has been disabled, I will close this when it stops showing up on CT.

[2021-10-19 17:36] Ashton-Morris commented on #4
I spent some time trying other ideas this past week and wanted to post the videos for our record.

- [quad-success-moving-in-parallel-lock-unlock-example.m4v](https://drive.google.com/file/d/1LDdT-7AqGLFCl8sZOlnv3hzcfOSMWOQo/view?usp=sharing)
This one has a kind of etherial success loop playing while moving in parallel. Then an unlock and lock sound when changing the shape out of parallel and a lo

[2021-10-19 17:57] jessegreenberg opened #15 "Replace vertex bounds constraints with a constraint that you cannot create a concave shape"
We talked about how to do this. One way would be to limit the angles so that each cannot be greater than 180 degrees. Another approach would be to limit such that a vertex cannot cross a line.

[2021-10-19 18:07] jessegreenberg opened #16 "Add some buffer area around the edge of the screen and ResetAllButton"
After #11, it was working well but maybe a bit to far. It felt like vertices could escape off screen and could overlap the ResetAllButton. We want to make sure that vertices cannot overalp with UI components in the sim and have a bit more buffer so they don't get quite so close to the edge. It isn't clear what the UI will look like, so for now we want to prevent overlap and make it easy to change

[2021-10-19 18:10] BLFiedler commented on #15
Copying from the meeting notes/Zoom chat for log purposes:

BF: Just as a note - none of our parallelism focused sonifications will give you much of anything in the concave shape world. So, it'll come down to: Do (we) think that is a case worth exploring for a user to figure out or prove their theories on the model? Can ask Sofia and Dor.

EM: I think we should note any decision with respect to th

[2021-10-19 19:31] BLFiedler commented on #15
For simplicity, let's just go with the angle restriction for now. Especially after the discussion during the sound design meeting.

Perhaps some give as well (178/2 degrees? Vs. 180/0 degrees)

[2021-10-19 19:52] BLFiedler commented on #15
Possible solution of irregular boundaries that is easier to develop than angle restriction:
![image](https://user-images.githubusercontent.com/47331395/137980568-62d1c32d-ac70-46f6-832b-20fa740a3ee7.png)

[2021-10-19 20:50] jessegreenberg commented on #7
Now CT is saying
[code]

[2021-10-19 21:23] #7 closed

[2021-10-20 13:35] jessegreenberg opened #17 "branch: shapeWIP"
For #15.

[2021-10-25 15:26] jessegreenberg opened #18 "branch: calibration"
A branch to test a way to calibrate the sim to a physical device.

[2021-10-26 18:00] jessegreenberg opened #19 "Define a smallest quadrilateral shape"
Discussed 10/26/21 - At the moment we want to make it so that the vertices don't overlap and never obscure each other. This will simplify mouse/touch input by making it so that it is clear which vertex will receive input. It was proposed that the largest pointer area (mouseArea or touchArea) will be used to define the smallest shape.

[2021-10-29 17:44] BLFiedler opened #20 "Computer Vision for TMQ global orientation: considerations for and possible implementation"
_Snippets taken/edited from Slack convo between BF & JG_

BF: There's interest in at least exploring what it might take to implement the fiducial markers as a means of providing device orientation while CHROME lab does the same with the embedded sensors (gyroscopes/accelerometers).

BF: I think of greatest importance is **considering the lift we'd be asking to pull in data from multiple sources an

[2021-10-29 18:22] jessegreenberg opened #21 "branch: markers"
For https://github.com/phetsims/quadrilateral/issues/20

[2021-10-29 20:02] jessegreenberg commented on #20
@zepumph helped me set up tracking using MarkerInput.js and it worked really well out of the box. It seems like orientation information for a marker is readily available and the data comes in quick. I could easily see adding support for 1) with this method. I imagine 2) could be done as well, but maybe it will present challenges like the ones mentioned in phetsims/tangible#7

[2021-11-01 15:43] BLFiedler commented on #20
- One marker anchored to the 'top' of the device can provide rotation information for that piece and update the visual display. The visual display currently uses the 'top' side as the reference for which the rest of the vertices move around, which causes some funny visual rotations when the top vertices move out of the horizontal plane.
- It's possible one marker anchored to a vertex coupled to th

[2021-11-01 15:57] BLFiedler commented on #20
Performance concerns to be investigated before/during implementation (marker detection, _not_ sim performance):
- I demoed the tracking in-browser for JG on [a version of the marker detection MK created previously](https://bayes.colorado.edu/dev/phettest/tangible/demo.html). The marker ID is easily lost during movement speeds. More expected, it is lost as my webcam tries to auto-focus.
![image](ht

[2021-11-01 16:01] BLFiedler commented on #20
Looping in @emily-phet as an FYI ahead of meeting on Tuesday

[2021-11-01 17:26] jessegreenberg opened #22 "Create some documentation about the simulation model"
It was requested last week that we prepare some documentation about the model and how it changes over time to support all the different modalities that we want to support with this project.
1) A description of the model and all of its properties, with descriptions about what did and did not work to accomplish the task.
2) A description of the values that we will use and track to highlight the lear

[2021-11-01 22:25] jessegreenberg commented on #22
I created two documents in the google drive about the model and expected tolerance requirements as of 11/1/21.

[2021-11-01 22:25] #22 closed

[2021-11-02 16:04] jessegreenberg opened #23 "Issue using DerivedProperty for isParallelogramProperty"
`isParallelogramProperty` looks like this to determine if opposite angles are equal enough.

[code]

But DerivedProperty doesn't work very well because of transient and synchronous updates. We need the value of isParallelogram to be calculated after both `angle1DiffAngle3Property` and `angle2DiffAngle4Property` are determined and stabilized.

One way around this is to set `isParallelogramProperty`

[2021-11-02 16:30] BLFiedler opened #24 "Potential sim-side 'buffer' for nonphysical values from physical devices"
[placeholder]

[2021-11-02 16:46] jessegreenberg commented on #23
I created a patch to try this but it isn't enough.

<details>

[code]
</details>

because shapeChangedEmitter will emit when any of the vertex positions change. If moving a side, there will again be a transient state where we get the shapeChangedEmitter event when one vertex position changes before the second vertex on the side change.

[2021-11-02 16:56] jessegreenberg commented on #23
I think we basically need `isParallelogramProperty` to be set after all other model updates, asynchronously. The easiest way to do this will be to put it in the step function.

[2021-11-02 17:34] jessegreenberg opened #25 "Add a way to track changes in side length during interaction"
Discussed 11/2/21:

One of the learning goals is to know when the the quadrilateral changes and remains a parallelogram without changing side lengths.

[2021-11-02 18:03] jessegreenberg commented on #23
`isParallelogramProperty` is now being set asynchronously in the `step` function after the above commit. It is working well for the purposes of sound.

When setting two vertex positions at once, they would sequentially be updated in code. And so there were transient states in the where the quadrilateral was not a parallelogram, and the sound was reflecting this.

Closing.

[2021-11-02 18:03] #23 closed

[2021-11-02 18:23] jessegreenberg commented on #25
We discussed this a bit in https://docs.google.com/document/d/1Rxp9QZbWDWAR8uTp7NxrEEPTRUjTnwBUdg2_xzE6Dzo/edit#.

The approach proposed there will give each Side a tolerance interval that is scaled by the side length so that we can compare quality of side lengths before and after interaciton.

[2021-11-02 19:06] jessegreenberg commented on #4
The above commit was the first pass at the success sounds.

In the meeting today we wanted to
1) Make it so that the "moving success" sound cannot play when dragging multiple vertices.
2) There is a bug where the quad goes in and out of the parallelogram state while dragging a side. That should not be possible.

[2021-11-02 19:25] jessegreenberg opened #26 "angleToleranceIntervalProperty creates inconsistencies for determining isParallelogramProperty value"
The tolerance makes it easier to hit a parallelogram, but it is also making it inconsistent when moving more than one vertex at a time. The following IS a parallelogram:

![image](https://user-images.githubusercontent.com/6396244/139931770-6b9437d4-6711-446d-b6ff-01ec2c7e0686.png)

vertex1.angleProperty: 1.9394583526356983
vertex2.angleProperty: 1.163663856846046
vertex3.angleProperty:  1.92896981

[2021-11-02 19:27] jessegreenberg commented on #26
The tolerance is 0.1 radians, and you can see that the difference between angles vertex2 and vertex4 is larger than that.

[2021-11-02 19:34] jessegreenberg commented on #4
See https://github.com/phetsims/quadrilateral/issues/26 for an issue for 2) above.

[2021-11-03 14:04] BLFiedler commented on #26
Just as a quick thought - I don't know that this will result in a permanent fix perse, but MK and I found it useful to turn the most important toleranceinterval constants into query parameters so we could play around a little bit and see what "felt good". I believe with the intention to clean them up prior to publication. Would that be a possibility for angleToleranceIntervalProperty for now?

[2021-11-03 17:21] jessegreenberg commented on #15
I got this working well enough to see a potential issue when vertices change to create a concave shape. For example, we have this area for vertex2:

![image](https://user-images.githubusercontent.com/6396244/140142669-3712ee16-28ae-4179-82eb-b23d68c1963a.png)

But when vertex2 is dragged down so that it becomes concave the bounds for vertex1 change:
![image](https://user-images.githubusercontent.c

[2021-11-03 17:34] jessegreenberg commented on #15
@BLFiedler this can be tested at https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.7/phet/quadrilateral_en_phet.html?showVertices&showPointerAreas&showDragAreas. Do you have any thoughts about how to handle this?

[2021-11-03 17:35] jessegreenberg commented on #15
Perhaps one way would be to disallow concave shapes by creating a shape between connected vertices like this:
![image](https://user-images.githubusercontent.com/6396244/140162259-129dd23c-9d45-485f-b236-775c60797c5e.png)

I think this has similar behavior as https://github.com/phetsims/quadrilateral/issues/15#issuecomment-947719793 but it does prevent concave shapes.

[2021-11-03 19:36] BLFiedler commented on #15
Will need to flesh this out later - but let's discuss your last comment and this idea. Effectively adding the bisector of the adjacent vertices as an allowable area. Opens up some weirder "irregular quadrilaterals".  The possible uncomfortable zone I've darkened where you can make overlapping lines.

![image](https://user-images.githubusercontent.com/47331395/140180317-42c05e60-cca7-4f23-9252-985d

[2021-11-03 20:22] jessegreenberg opened #27 "Convert to TypeScript"
Convert the existing sim to TypeScript. This is a good sim to do this because we are early in the development cycle. Porting should be relatively quick and new code can be written with TypeScript.

Issue is to track commits and questions.

[2021-11-03 20:25] jessegreenberg commented on #27
One downside of this conversion will be that feature branches like #21 #18 and @17 will be difficult to merge back in. But that is OK, I think there is a low chance that we will need to merge. Work in those issues can be re-implemented in master with TypeScript.

[2021-11-03 20:27] jessegreenberg commented on #27
Timing compilation, first time it compiled with `grunt output-js-project` it took 18 seconds
[code]

Second compilation takes about  2 seconds
[code]

[2021-11-03 20:46] jessegreenberg commented on #27
Questions:

I have hooks set up for lint and unit tests as described in the development overview, I am not sure if I need to reinstall hooks with this change. Ill test it out to see.

[2021-11-04 16:00] BLFiedler commented on #15
JG and I met to discuss. The following, after verifying a few cases, appears to be a proper solution for all convex and concave quadrilaterals.

On the side of the vertex of control, the allowable regions are bounded by:
    - The lines formed by the opposite vertex and adjacent vertices (i.e., the sides not connected to the vertex of control)
    - Lines radially outward from the adjacent vertice

[2021-11-08 17:27] KatieWoe opened #28 "CT cannot read properties of null"
[code]

[2021-11-08 23:38] jessegreenberg commented on #27
The conversion to TypeScript is complete with the exception of usages of Enumeration, EnumerationProperty, options, and strings. 36 TODOs were added to the code for things that are unsolved. They mostly involve options, Enumeration, mixin/trait, and un-ported common code. Issue https://github.com/phetsims/quadrilateral/issues/27#issuecomment-960017873 is my collection of questions so far.

I will

[2021-11-09 15:46] BLFiedler opened #29 "Teacher Resources Checklist"
- [ ] **Sample Learning Goals for Sim Page**
  - [ ] Sim learning goals and standards alignment drafted in Design Doc
  - [ ] Added to sim page

- [ ] **Teacher Tips Doc**
  - [ ] Screenshot(s)
  - [ ] Verify Sound Design Doc is complete and linkable (if applicable)
  - [ ] Editable files and final PDF Uploaded to Sim folder in Google Drive
  - [ ] Published to Sim Page

- [ ] **Teacher Primer Vid

[2021-11-09 17:01] jessegreenberg commented on #15
The above commit implements what is described in https://github.com/phetsims/quadrilateral/issues/15#issuecomment-961184570. It works pretty well, but there is a breaking case when there is a concave shape:
![ezgif com-gif-maker (3)](https://user-images.githubusercontent.com/6396244/140970114-4446a893-da17-49a5-aec3-faa482761296.gif)

[2021-11-09 17:09] jessegreenberg commented on #19
This is made a bit more complicated by #15. Instead of rectangular bounds with limits that can be defined from the pointer areas, the available space for each vertex can be an arbitrary shape.

[2021-11-09 17:13] jessegreenberg commented on #19
I guess instead of this requirement changing the available shape we could just add a separate constraint that none of the vertices can overlap. I think to accomplish this we should add a vertex size in model space. This will inform the overlap which will be calculated by the model. The touch areas can then be set from the size in view space.

[2021-11-09 18:16] jessegreenberg commented on #26
Discussed today, the next step will be to add a query parameter as described above. Then we can return to this.

[2021-11-09 18:27] jessegreenberg commented on #26
We discussed today that potentially snapping vertices will be a way to solve this. We would need to know the "parallelogram position" for each vertex that is being dragged and set the position in response to a particular kind of input. We are not sure exactly how that will work so we are tabling the details for now but will likely come back to this in the coming weeks.

[2021-11-09 20:54] jessegreenberg commented on #15
During meeting today we discussed a solution to this where if the angle of the opposite vertex is greater than 180 degrees, we need to constrain the drag area to something that will not allow twisted quadrilaterals. For example, when concave, the drag area for vertex1 will look like this:

![image](https://user-images.githubusercontent.com/6396244/141002525-a217b039-642b-4e93-a3ad-95c2f63b7911.png

[2021-11-09 21:13] jessegreenberg commented on #16
I changed model space so that it does not overlap with the ResetAllButton and there is some space between the edges of the screen. @BLFiedler can you please review the latest on phettest and let me know if this is working as intended? For now we just have a ResetAllButton but we are set up now to add more space if we add additional UI components.

[2021-11-09 21:14] jessegreenberg commented on #28
I believe that this has been fixed with #15 - this is happening when dragging a SideNode and the drag listener for that Node was not constraining vertex positions allowing wrong shapes. With #15 wrapping up I don't think we will see this anymore but ill check back soon.

[2021-11-09 21:30] jessegreenberg commented on #26
A query parameter has been added for the value of the the angle tolerance interval called `?angleToleranceInterval` - it is in **radians**. It takes a value from 0 to 2 * Math.PI. The larger the value, the easier it is to create a parallelogram, with a value of 2* Math.PI making it imposible to leave the parallelogram state.

@BLFiedler can you please review this and comment on next steps when app

[2021-11-09 21:32] jessegreenberg commented on #14
I think this is in better shape, I did some cleanup as I went thorugh with TypeScript.

[2021-11-09 21:32] #14 closed

[2021-11-10 14:36] BLFiedler commented on #16
To the letter of this issue, I think this is all good. Thanks, Jesse!

[2021-11-10 14:36] #16 closed

[2021-11-10 15:02] BLFiedler commented on #4
One quick change prior to interviews:

Let's assign Collection 1 of the Success Sounds as the default sound set on load. Everyone indicated this one was pleasant, if not their favorite.

[2021-11-10 15:21] BLFiedler commented on #26
I am a bit more convinced after playing with this that we'll need either snapping correction behavior AND/OR that the ToleranceInterval for maintaining a parallelogram may need to widen while multiple things are under control/moving (two distinct cases, I know).

On that note - I do side dragging to be less of an issue if we make the angleToleranceInterval value smaller, since it requires you to f

[2021-11-10 15:47] BLFiedler commented on #15
This is beautiful and makes for a very trippy experience. Tested via cursor, keyboard, and iPad touchscreen (2 & 4 fingers). I was not able to break it myself. It did not interrupt any of the parallel maintenance movements. The only time it is obvious is during single vertex manipulation and especially when trying to rotate the entire shape using only single vertices (this is not a problem, only a

[2021-11-10 15:52] BLFiedler commented on #26
Also, I'll tag this onto this issue, since it appeared around the same time. Quoting myself from Slack and adding video:

https://user-images.githubusercontent.com/47331395/141146081-da61dd61-2cd7-4400-991c-45287fa21f6f.mov

@jessegreenberg mentioned it should be an easy fix, so appending this request to the new dev link which includes now:
1. Support for angleToleranceInterval query parameter
2.

[2021-11-10 16:04] BLFiedler commented on #19
We touched on this in Virtual Model meeting and TS and BF agreed we could make a vertex size in the model that the touch area could use for its parameter.

Noting here that from my understanding, cursor area will be smaller. May be its own thing or a scaled value of the vertex size?

[2021-11-11 19:55] BLFiedler commented on #26
It occurred to me during Thursday meeting that these aren't scalable factors and dragging a side should result in an equal angle change for each pair... Also, the break seems to be asymmetric.

This might be more related to how we're calculating the angle?

[2021-11-11 20:54] jessegreenberg commented on #26
Just as a sanity check, I wanted to make sure that angles added up to 2 PI. The first set in https://github.com/phetsims/quadrilateral/issues/26#issue-1042730262 adds up to 6.28318530718 which is exactly the same as the sum of the second set 6.28318530718. This is exactly 2 * Math.PI which is good. I am actually surprised we didn't see more precision error.

@BLFiedler will that still be true when

[2021-11-12 02:59] samreid commented on #27
@chrisklus and I wrote our recommendations in https://github.com/phetsims/phet-info/blob/master/doc/typescript-conventions.md

At a dev meeting, we decided this is developer preference.

  EDIT: I guess probably not, the .ts files are "compiled" to .js, so that is likely what ends up getting imported.

For our stack to work, we require the *.js suffixes even though it is *.ts files.

This would be

[2021-11-12 02:59] samreid commented on #27
I wrote up responses to many of the points in the previous comment.  If you would like to discuss further, or collaborate on Enumeration or Options, please reach out to me on Slack.

[2021-11-12 13:48] terracoda commented on #2
Should we add the features that are planned for this simulation?
- Sonification
- Voicing (and eventually Interactive Description)
- Tangible UI
- Haptics

I added Voicing.

[2021-11-12 14:08] BLFiedler commented on #26
I think the answer to that is no. And that is more or less the sticking point I think and I'm not sure yet how to address that.

Just to dig deeper on this, I did look at the sum of adjacent angles which for a parallelogram should be 180 degrees or PI. Here you can see the sum of the adjacent angles is changing as we change the shape, which more or less confirms your question.

![image](https://us

[2021-11-12 14:12] terracoda opened #30 "Implement Voicing Responses for Transformations"
Initial responses have been drafted for simple transformations from a side-focused interaction perspective.

More details can be found under [Voicing in the Tangible Space ](https://docs.google.com/document/d/1jXayebAWnnNzsT3l6o72YPw4-YtiQaHQNuAi64eiguc/edit#heading=h.tobh0kd0keks) section of the Voicing Design Doc.

### Initial Implementation Plan:
- What is the Max - min range for the quad devic

[2021-11-12 14:33] terracoda opened #31 "(Voicing) Implement content for read me buttons"
I have drafted some possible descriptions for the three read-me buttons. More details and versions in the [Read-Me Button](https://docs.google.com/document/d/1jXayebAWnnNzsT3l6o72YPw4-YtiQaHQNuAi64eiguc/edit#heading=h.vj0ds4r6fj6y) section of the Voicing design doc.

Let's go with  these as a starting point:

### Play Overview Button (static content):
- A quadrilateral is a closed four-sided shape

[2021-11-12 16:09] samreid commented on #27
I added these conventions in the commit:

### Documentation for Class Properties

Documentation for class properties should be placed with the declaration, not the instantiation. See, for
example https://github.com/phetsims/geometric-optics/blob/03e5637eb16600dd329e20f32fafc3ab99922c8a/js/common/model/GeometricOpticsModel.ts

[code]

### Multiple Exports in One Expression
Multiple exports should b

[2021-11-12 17:31] jessegreenberg commented on #31
Looks good @terracoda Ill get started on this and the voicing. The part that we have not discussed yet for the virtual model is detecting the named shapes. Most seem easy enough to detect with existing model Properties except for kite.

@terracoda and @BLFiedler is this the best way to determine if a quad is a kite? https://socratic.org/questions/how-do-you-prove-that-a-shape-is-a-kite? Do we need

[2021-11-12 17:37] jessegreenberg commented on #31
In that example, is it sufficient to check the sides like this?
![image](https://user-images.githubusercontent.com/6396244/141510416-011b159b-dfb2-4709-bf35-a844703f7659.png)

[2021-11-15 22:22] jessegreenberg commented on #4
Sounds good, "Collection One" is the default now for that paradigm.

[2021-11-15 22:39] jessegreenberg commented on #26
In https://github.com/phetsims/quadrilateral/issues/26#issuecomment-965455854 @BLFiedler requested a new dev version with the query parameter for angle tolerance interval, a fix to the pointer areas on startup, and the first sound collection as default for the success paradigm.

Here is a version with these changes: https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.11/phet/quadrilateral_e

[2021-11-16 03:27] jessegreenberg commented on #19
This was done in the above commits. The vertices cannot overlap each other. Adding label to review with the team.
1) Size of the vertices reasonable?
2) Should vertices be able to intersect with sides?

[2021-11-16 15:05] terracoda commented on #31
The definition of kite above seems good, and I'd prefer @BLFiedler way in on this.

[2021-11-16 15:21] BLFiedler commented on #25
A question for meeting: When you're a parallelogram, do we compare a side against itself or against the opposite side to track side length maintenance?

Also, I am not sure of this yet, but I'd like to think some more about what impact the angleTolerance and "imperfect" parallelograms may have on the side length maintenance. If a shape is being constantly adjusted (e.g., 4 finger input or tangible

[2021-11-16 15:56] BLFiedler commented on #31
I think this is optional information, so I'd like to avoid any special circumstance variables being introduced (like new tolerance intervals).

On that note - I think you can get away with calling something a Kite if any two opposite angles are congruent, but not the other pair. This angle requirement forces the length requirement of two adjacent sides and I think is simpler. Which would allow us

[2021-11-16 16:12] jessegreenberg commented on #25
Initial support for this was added in the above commit. I added
- The ability to "save" side lengths at the beginning of an interaction.
- `lengthsEqualToSavedProperty` to the model, which is an observable that lets us know when current lengths are equal to the saved lengths. Like `isParallelogramProperty` it is updated in step asynchronously so it it calculated only after all vertex positions hav

[2021-11-16 16:32] jessegreenberg commented on #30
@terracoda I think the only question I have so far is at what interval should we hear "Keeping a parallelogram" when interacting with the quadrilateral? Is it repeated for as long as the shape is changing, or once every amount of change in the model, once every amount of time?

[2021-11-16 16:34] jessegreenberg commented on #31
Adding to meeting to check on this, is it something that we would like to implement now?

[2021-11-16 16:51] jessegreenberg commented on #28
THis happened once on 11/15 at 11:22 pm
![image](https://user-images.githubusercontent.com/6396244/142029120-ef571822-00f5-4a8e-bf7e-3900ab8a8e13.png)

So I think this is still a potential issue. Ill run some fuzzing and see if I can still reproduce.

[2021-11-16 17:35] jessegreenberg opened #32 "Develop a simple app to connect sim to device"
We need a simple app to set up everything that will connect the device to the sim so that we don't need all of us to get rid of the. I think we can do this pretty easily with https://www.electronjs.org/. I will schedule a time with Scott Lambert to support this.

This involves sim -> device communication, we will work on this at top priority.

[2021-11-16 17:58] BLFiedler commented on #19
1.) Fine for larger displays right now - up for discussion later on mobile devices. Will create a new issue.
2.) Addressed in #15

[2021-11-16 17:58] #19 closed

[2021-11-16 18:25] jessegreenberg commented on #28
I fuzzed for 20 min, and did not see this. But I see it happening again on CT
[code]

[2021-11-16 18:41] BLFiedler commented on #26
Add a scaling factor to angleToleranceInterval for the case where two or more are under control & you are in a parallelogram state. This increases the tolerance interval when the shape is changing after achieving a parallelogram to ease the task of maintaining a parallelogram.

[2021-11-16 19:04] BLFiedler commented on #15
Let's make a pass on giving the lines a defined width in model space and preventing overlap of vertices and lines.

[2021-11-16 19:13] jessegreenberg commented on #25
Discussed in design meeting today:

- With the tangible device we don't know when to save the lengths or when an interaction starts. Instead of the approach in https://github.com/phetsims/quadrilateral/issues/25#issuecomment-970428290 we will try detecting the change in length every time step/input event and comparing that to the set from the previous save. In order for this to work we also need t

[2021-11-16 19:14] jessegreenberg commented on #32
Scott and I are planning to work on this on Friday this week.

[2021-11-16 19:46] jessegreenberg commented on #4
- There is a delay between hearing the "maintenance" sound.
- You shouldn't be able to hear the "maintenance" sound if manipulating a vertex. @jbphet demonstrated a case where it was possible to hear this sound when moving a single vertex with a keyboard.

[2021-11-16 20:06] jessegreenberg opened #33 "KeyboardDragListener should drag with deltas instead of velocities"
From https://github.com/phetsims/quadrilateral/issues/4

[2021-11-16 20:14] BLFiedler opened #34 "Assess need for more scalable sim-device communication protocol for research and publication needs"
Issue created for now as a reminder to revisit the need for something like WebSocket for sim-device communication based on how the currently implemented serial connection and app pairing is usable for publication scalability or for our research needs.

[2021-11-16 20:19] BLFiedler commented on #31
Sorry, I meant it's optional in that the shape identification is not pertinent to scaffolding in the sim. I'll let @terracoda decide priority of implementing particular pieces of the voicing :)

[2021-11-16 20:25] BLFiedler commented on #30
Not sure if we arrived at a concrete answer here, but I think I like the latter ("once every amount of time"), starting at a pretty long time (Maybe 5ish seconds?) and seeing how it feels. Something that is an occasional reminder of what else you're hearing if you're using the sound, but often enough that you're not left out in the dark if you're not?

How does that sound to you @terracoda?

[2021-11-16 20:42] terracoda commented on #31
Well, I think it provides useful secondary information, and Emily has agreed that providing shape information under the details button would be fine.

The actual shape of kite may not be needed for initial interviews, but the easy shapes to calculate would be great. I think it would be interesting to get feedback from learners on the information under the read me buttons.

I would suggest getting

[2021-11-16 21:38] jessegreenberg commented on #26
I am not sure how to implement the details in https://github.com/phetsims/quadrilateral/issues/26#issuecomment-970561939, lets schedule a brief meeting before proceeding.

[2021-11-16 21:41] jessegreenberg commented on #31
OK sounds good. Ill go ahead with this and try the kite detection approach that @BLFiedler suggested in https://github.com/phetsims/quadrilateral/issues/31#issuecomment-970413140.

[2021-11-16 22:14] jessegreenberg commented on #33
THis was done in the above commit. @terracoda and @BLFiedler can you please review this change? Anything you would like to behave differently? With this approach we have the following options with the drag handler:
- How far the object moves upon first press.
- How far the object moves each step in press and hold motion.
- How long to wait before continuing motion after the first press.
- How long

[2021-11-18 19:56] terracoda commented on #33
The timings and steps for the vertices and sides seems fine to me @jessegreenberg, but there are times when I cannot move a side.

When I move the sides as close together as they can go, I can't move the top and bottom sides left or right. And I can't move the right and left sides up or down.

<img width="1225" alt="image" src="https://user-images.githubusercontent.com/1902116/142485329-a7ae4b1c-5

[2021-11-18 19:58] terracoda commented on #33
<img width="836" alt="image" src="https://user-images.githubusercontent.com/1902116/142487686-e9fe6760-4f09-42d5-b9b6-b22550c14e7d.png">

So in the case above I cannot move the top side left or right

[2021-11-18 20:45] terracoda commented on #30
I agree, we can't keep saying descriptions like we are playing sonification.

For keeping a parallelogram we could try every 2 seconds.

And when not a parallelogram, we have proximity-to-parallel regions on the object responses, so the situation is a bit more nuanced. I don't know how big the regions will be, but in previous work, at least in Interactive Description I have tried to find a balance

[2021-11-18 20:57] terracoda commented on #30
@jessegreenberg, is that enough to go on? Don't spend too much time at it. Having any words thrown at me will help me check what needs to change.

[2021-11-18 20:58] terracoda commented on #30
I am totally not sure how the regions will work.

[2021-11-18 21:02] terracoda commented on #33
Assigning back to you @jessegreenberg to have a look at the sticky points.

[2021-11-19 20:30] BLFiedler commented on #26
I think this is analagous to what MK put in place for Ratio and proportion, so there may be issues or commits related. I'll see if I can find them.

I think the expected behavior is:
angleToleranceInterval becomes angleToleranceInterval * (Scaling Factor) when **both** of these are true:
1.) More than one vertex is being moved (e.g., 2 or more vertices or 1 or more sides).
2.) Prior to movement, t

[2021-11-22 15:51] BLFiedler commented on #26
A small bit of organization based on our current desired implementation:

### Tolerance value to determine parallel based on interaction and current shape:

#### Not a Parallelogram
- Moving 1 vertex: `angleToleranceInterval`
- Moving 2+ vertices (inc. a side): `angleToleranceInterval`

#### A Parallelogram
- Moving 1 vertex: `angleToleranceInterval`
- Moving 2+ vertices (inc. a side): `angleToler

[2021-11-23 15:39] terracoda commented on #30
@jessegreenberg, can you have a look at the table marked Iteration 2!
https://docs.google.com/document/d/1jXayebAWnnNzsT3l6o72YPw4-YtiQaHQNuAi64eiguc/edit#heading=h.2rsp6zqlvmqf

The phrases are very similar to Iteration 1, but I moved the information about the changing sides over to the context response column. This feels better to me, and the object responses become much simpler.

[2021-11-23 16:50] jessegreenberg commented on #31
In the above commit I implemented named shape detection for everything except kite.

[2021-11-23 20:32] terracoda commented on #30
In today's Quad Description meeting, we discussed that it might be hard to do determine "Closer to" and "Farther from" a parallelogram. So let's leave that off for now.

[2021-11-24 15:45] jessegreenberg commented on #32
Scott and I have an app working well using Electron. It should be plug and play to connect the device to the app. I wasn't able to get it working with my Quad but we think it is because of a hardware problem. We are going to try a new arduino on the quad device and see if that works.  But Scott was able to connect easily with the quad device through the Electron app.

[2021-11-29 17:37] Ashton-Morris commented on #4
Adding some sounds.

To resolve "There is a small gap in the audio" This is a seamless loop that should work without gaps or clicks.
- quad-moving-in-parallel-success-loop-001.wav

These two are sounds from other sims that might resolve this JB issue "There is nothing that indicates that you are maintaining a parallelogram with a keyboard because moving a side will always keep the quad in parallel

[2021-11-29 18:24] jessegreenberg commented on #32
@BLFiedler tried it out with his device and was unable to connect. We met today to troubleshoot. In order to do so we had to do a few things to get a dev environment set up.

- Install git for windows.
- Install Node.js for windows
- `npm install` in the `electronQuad` repository.
  - This resulted in an error and we had to install both python > 3.x and Microsoft visual studio with c++ build tools

[2021-11-29 23:13] jessegreenberg commented on #32
I added a UI to the Electron app to indicate connection to the device. Would be good to check in with the team now and
1) Review the process for connecting this way, making sure this is acceptable.
2) Should the "connection" UI be hidden for students?
3) Need to coordinate with Scott or Brett to test these changes since I don't have a working device yet.

[2021-11-29 23:29] jessegreenberg commented on #31
An initial pass at this has been done. Overall I hope it works well! Of course, the named shapes were the most challenging to implement and there are still some quirks do discuss with the team. Mostly they involve cases where our tolerance has allowed the shape to be a parallelogram, but it also looks like a trapezoid. But a trapezoid can never be a parallelogram. So in these cases it is being des

[2021-11-30 15:08] jessegreenberg commented on #30
Collecting questions as I implement:
- How do we describe "up" vs "down" when tilting top and bottom sides? Thought about describing clockwise/counterclockwise change instead.

[2021-11-30 16:57] terracoda commented on #30
The tolerances are messing with these kinds of state descriptions.
For example, I can start with a rhombus/parallelogram and then move a side to make the shape smaller and then have a trapezoid and not a parallelogram.

I don't know what to do about this.

[2021-11-30 17:29] BLFiedler commented on #30
See if things are a bit better setting `?angleToleranceInterval=0.05`. I found that alright with Cursor input and few problem areas with keyboard input.

[2021-11-30 17:46] jessegreenberg opened #35 "Gracefully handle calibration when no device is connected"
If you try to caibrate the sim to a device while no device values are coming through the sim crashes with something like "Cannot read properties of null (reading `width`)".

It should just close without trying to set values in this case instead of crashing.

[2021-11-30 18:02] jessegreenberg commented on #31
@BLFiedler and @terracoda mentioned that a rhombus should have equal sides, currently all parallelograms are described as a rhombus.

[2021-11-30 18:14] jessegreenberg commented on #31
For the issue described in https://github.com/phetsims/quadrilateral/issues/31#issuecomment-982128299, we determined that the behavior was better when the tolerance was much lower. During meeting we noticed that `angleToleranceInterval=0.05` looked pretty good. We will make this the default. This was committed as the new default in https://github.com/phetsims/quadrilateral/commit/e594ebffc1404cada

[2021-11-30 18:20] jessegreenberg commented on #31
During meeting @terracoda said that these will change so the "parallelogram" statement always comes first. A new phrase for the "not" case will be made.

[2021-11-30 20:08] jessegreenberg commented on #30
I implemented table 1 in the design doc, @terracoda has a second iteration that should be implemented. Ill change what is in place to the organization of that table then build a dev version. @terracoda is going to think about a design where we have "tilt" in the context response. The table has a few options for each response, @terracoda said I should use the first one for each for now.

[2021-11-30 20:20] terracoda commented on #31
**Play Details Button {{dynamic content}}:

1. Currently, your shape is {{a parallelogram}}, and {{a rhombus}}}}.
Parameters for named quads that are parallelograms:
- a square
- a rectangle
- a rhombus

2.  (iteration 2) Currently, your shape is {{not}} {{a parallelogram}}. You have {{a trapezoid}}.
Parameters for named quads that are NOT parallelograms:
- a kite
- a isosceles trapezoid
- a trape

[2021-11-30 20:26] terracoda commented on #30
@jessegreenberg and I met after today's description design meeting.

While @jessegreenberg  is implementing the iteration 2 above, I am going to try to think about the object response as moving a thing, and maybe that is not needed when using the Tangible device. And then I am going to think about the full context of what's happening with the shape - maybe that the shape  is leaning/tilting/straig

[2021-12-01 00:39] jessegreenberg commented on #30
Here is a new dev version with these: https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.14/phet/quadrilateral_en_phet.html?showPointerAreas

A couple of things:
1) I went ahead and implemented the proximity to parallel descriptions.
2) I made the in parallel/out of parallel utterances higher priority so they are always heard/never interrupted.

I think it sounds really good, your design r

[2021-12-01 15:27] BLFiedler commented on #30
It does sound nice! Love having some voicing in place. I agree with your assessment in slack @terracoda

That seems to be the biggest missing piece to me with all checkboxes checked. To me, what we're hearing feels good as context responses knowing what I'm moving visually, but if I didn't have that quick check of the pairs of sides I'd feel a bit confused. (I've only tried cursor input so far)

[2021-12-07 17:14] jessegreenberg commented on #33
Here is another case where I cannot drag the top side to the left:
![image](https://user-images.githubusercontent.com/6396244/145075081-d8b732b3-f0aa-4266-b9d0-8ff97c13983f.png)

In this example the drag areas are shown with ?dragAreas. I **can** drag the top side to the left with a mouse so there is a bug with keyboard in particular.

[2021-12-14 18:48] BLFiedler commented on #25
During the meeting today I realized that we'll have this new tolerance property, but no modal feedback for folks to interact with it!

Jesse mentioned he'd probably have just swapped the maintenance sound to the "fixed-side" case, which is analogous to one to the possible "modes" we'll be implementing as folks move from parallelogram maintenance to fixed-side-parallelogram maintenance.

- [ ] Let'

[2021-12-15 17:35] KatieWoe opened #36 "CT a vertex is not contained by modelBounds"
[code]

[2021-12-15 21:54] pixelzoom opened #37 "Use type AquaRadioButtonGroupItem."
In https://github.com/phetsims/sun/issues/732, `AquaRadioButtonGroup` (and its subtypes) was converted to TypeScript, and type `AquaRadioButtonGroupItem` was added.  This new type can be used to replace the use of `any` in QuadrilateralSoundOptionsNode.js, as noted in the comment for param `items`:

[code]

[2022-01-04 15:31] jessegreenberg commented on #37
Thanks! Using this type in the above commit.

[2022-01-04 15:31] #37 closed

[2022-01-04 15:35] jessegreenberg commented on #33
The model has been rewritten so that there is a model for the main quadrilateral and also a "scratch" quadrilateral so that we can check the positions of all vertices at once.

[2022-01-04 18:12] KatieWoe opened #38 "CT required tandems must be supplied"
[code]

[2022-01-04 20:31] jessegreenberg commented on #36
I just hit this while working on #33 and fixed it as part of that issue. So far I can no longer produce this while fuzzing.

[2022-01-04 20:31] #36 closed

[2022-01-04 20:34] jessegreenberg commented on #33
Alright, this is working quite a bit better and the proposal https://github.com/phetsims/quadrilateral/issues/33#issuecomment-988118665 is working out so far. It no longer gets stuck, but I still see that dragging is constrained to the computed drag areas when using both mouse and keyboard. Closing.

[2022-01-04 20:34] #33 closed

[2022-01-04 21:23] jessegreenberg commented on #38
This issue is fixed, and along with a few other Tandem issues that came after it.

[2022-01-04 21:23] #38 closed

[2022-01-04 21:27] jessegreenberg commented on #32
The direction of the electron app is going well and the team will begin using it to continue developing/debugging the physical device.

The most important thing to investigate now is that it seems to crash on macOS and the only way to recover is to do a full quit.

[2022-01-04 21:33] jessegreenberg commented on #32
This is where the electron app lives: https://github.com/scottlambertSLU/electronQuad

[2022-01-04 21:55] jessegreenberg commented on #32
I was able to produce the problem once on a macOS by launching the app, closing the app with the red "x" button, then opening the app again. The error points to servers.js line 185.

[2022-01-04 22:06] jessegreenberg commented on #32
I was able to capture the stack trace from the macOS error:

[code]

[2022-01-04 22:07] jessegreenberg commented on #32
servers.js line 162 is the sendMessageToMain of
[code]

[2022-01-04 22:30] jessegreenberg commented on #32
I fixed this temporarily with this section, which does something special to keep the app running in the background after closing on macOS. I guess this is non-standard for macOS but this seems fine for now.  I am not confident that it won't crash again. But I wasn't able to get it to crash again myself.

I think enough has been done on this issue for an initial version of the app. If something els

[2022-01-04 22:30] #32 closed

[2022-01-04 22:32] jessegreenberg commented on #35
This is no longer an issue.

[2022-01-04 22:32] #35 closed

[2022-01-04 23:51] jessegreenberg commented on #15
I have an initial pass at changing the Sides so that they have model bounds and adding their intersection to the calculation of allowable shapes. But somehow it is is possible now to get crossed shapes:
![image](https://user-images.githubusercontent.com/6396244/148139389-04b87bf2-7d93-4f2a-8701-be2b220683f7.png)

Ill return to this part next time.

[2022-01-06 22:19] jessegreenberg commented on #15
This bug is unrelated to these changes. Here it is again where the bottom right vertex crosses. It seems to be that a position perfectly vertically aligned with another vertex.
![image](https://user-images.githubusercontent.com/6396244/148460300-790de135-e4df-493c-93f1-5549f56a365b.png)

[2022-01-06 22:46] jessegreenberg opened #39 "It is possible to create a crossed shape"
Something isn't right with detecting if a vertex is within its drag area.

For example, this vertex is out of its area
![image](https://user-images.githubusercontent.com/6396244/148462823-9ce7da2f-288e-426a-baf8-95244e5b9f40.png)

Points of the shape are
![image](https://user-images.githubusercontent.com/6396244/148462886-90243107-0e81-4342-92bc-57a03ea8c95a.png)

Where the first point is the top

[2022-01-06 22:52] jessegreenberg commented on #39
Actually, something looks off in those points. The third point in there looks like a duplicate. That y value is what is what the misplaced vertex is stuck on. I don't know why it would cause this, but perhaps removing it may help?

[2022-01-06 22:56] jessegreenberg commented on #15
I started https://github.com/phetsims/quadrilateral/issues/39 this bug is unrelated to the changes here.

[2022-01-06 23:34] jessegreenberg commented on #39
Walking through the winding algorithm to detect if point is in bounds...
![image](https://user-images.githubusercontent.com/6396244/148465771-0f78a7ce-8ef5-4679-bbfa-cadcd85a6e26.png)

First segment is from topmost point to right most point. That is not an intersection for the winding number. Second segment is from right most point up to edge of bounds. that IS a hit for the winding number. I thin

[2022-01-06 23:46] jessegreenberg commented on #39
I think I need assistance here. In the meantime, I suspect this issue will go away if we determine if the *bounds* of the Vertex are within the Shape because there is no way that all four points of the bounds will perfectly align with a segment.

[2022-01-07 00:21] jessegreenberg commented on #39
I created https://github.com/phetsims/kite/issues/94 to work on this generally, and I am going to continue with a solution that checks Bounds instead of a point for now.

[2022-01-07 00:46] jessegreenberg commented on #39
The workaround I used was to check two points on the Vertex bounds, one at the top and one at the bottom. Since Shape.containsPoint uses a Ray that extends to +x direction it won't be possible for a ray from both points to perfectly vertically align with start/end points of a Shape segment when calculating the winding number.

I haven't been able to reproduce the problem again.

[2022-01-07 00:46] #39 closed

[2022-01-07 00:48] jessegreenberg commented on #15
I have a workaround in place for #39, and opened an issue in kite to investigate the identified problem in that repo.

Back to https://github.com/phetsims/quadrilateral/issues/15#issuecomment-970580310...

This should be done, can you please verify @BLFiedler? IS there anything else you would like for this issue?

[2022-01-11 13:48] BLFiedler commented on #15
A couple of points to bring up at our meeting today:
- "Stickiness" of vertex when it meets a boundary during drag
- Side overlap with adjacent vertex
![image](https://user-images.githubusercontent.com/47331395/148954484-7eb2b1be-e8fc-4b4d-ad6e-0740d976c2a9.png)

[2022-01-11 13:59] BLFiedler commented on #15
Oops - also found a crash. Placing in this issue for now. Happens whenever a vertex means the leftmost play area boundary (by keyboard, touch, and cursor) - (on Chrome & Edge (Win10) and Chrome (iPad))

![image](https://user-images.githubusercontent.com/47331395/148956015-d7ec7cf5-4830-4a87-ab15-525a56e092fb.png)

[2022-01-11 14:49] jessegreenberg commented on #15
I believe the crashing is fixed with the above commit.

[2022-01-11 16:04] jessegreenberg commented on #25
I could see this getting tricky.

1) Since a new snapshot of quadrilateral properties are saved every time step it opens us up to performance-specific behavior, where equalities may not be the same on slower machines.
2) When do we start checking for equalities again after pulling sides apart? You could start with one set of side lengths, pull them apart, then shift shift sides again horizontally

[2022-01-11 16:17] jessegreenberg opened #40 "Add some visual debugging information"
Requested in the 1/11/22 design meeting:

Print some things to the console or display it in the dev tools. Lets put it on the screen so it can be seen on an ipad.

isParallelogram
interior angles
side lengths

Put it behind a query parameter.

[2022-01-11 18:11] jessegreenberg commented on #25
@BLFiedler suggested that one way to improve this is to only save a snapshot when we have left the "success" case.

[2022-01-11 18:49] jessegreenberg commented on #40
I just made a debugging panel to print some model info. It can be seen with `?showModelValues`.

@BLFiedler is this what you had in mind? Can you please review? Anything else that should be in here?

[2022-01-11 19:17] BLFiedler commented on #15
We concluded in the meeting that there should not be overlap with sides and vertices, even for those not currently being dragged to avoid the situation pictured in https://github.com/phetsims/quadrilateral/issues/15#issuecomment-1009981737

However, side overlap that occurs when a concave shape is alright.
![image](https://user-images.githubusercontent.com/47331395/149007084-a6cfcbd1-c35a-4e3d-81c

[2022-01-13 16:25] #40 closed

[2022-01-18 13:58] jessegreenberg commented on #28
In #15 a crash related to this was fixed. I haven't seen this on CT for quite some time, I think this is OK to close. I do see other red on CT for this sim but they are transient and unrelated to sim code so it is possible they are masking this issue. Anyway, Ill close this and we can reopen if we see it again.

[2022-01-18 13:58] #28 closed

[2022-01-18 14:56] BLFiedler opened #41 "Eliminate vertex "stickiness" at the play area boundary"
We discussed trying to eliminate some of the "Stickiness" that occurs at the boundaries of the play area when dragging the vertices via cursor or touch.

We recognize that this also happens within the shape, but we will wait to address that if it seems problematic during interviews, etc

Vertices: Allow vertices to be dragged when the mouse leaves the play area, retaining only the coordinate along

[2022-01-18 14:59] BLFiedler opened #42 "Handling loss of touch/cursor alignment when dragging a side outside of play area"
Currently, dragging (cursor/touch) a side and moving out of the play area misaligns the pointer/touch area with its initial grab point on the side. This does not happen for a vertex, which snaps to the cursor/touch area when it returns to the play area.

1 solution was to figure out how we might mimic the vertex behavior for the side interaction? When a vertex hits the play area, the cursor pulls

[2022-01-18 15:51] terracoda commented on #31
I can hear all shape names except "right-angled trapezoid", but not sure we want that one.

[2022-01-18 15:54] jessegreenberg commented on #15
I spent a few hours on this issue this morning, I ran into the issue again where the entire shape instead of just the proposed position for the vertex (https://github.com/phetsims/quadrilateral/issues/33) - I replaced the function with `isQuadrilateralShapeAllowed` so we can verify all of the requirements of the shape when we change it instead of just verifying the position of a vertex.

It is wor

[2022-01-18 16:37] jessegreenberg commented on #15
Ah, I think this is the same issue as https://github.com/phetsims/quadrilateral/issues/39. That explains why it is only an issue for the third vertex.

[2022-01-18 16:44] jessegreenberg commented on #41
This also happens with the constraint that no sides can overlap a vertex in #15.
![ezgif com-gif-maker (4)](https://user-images.githubusercontent.com/6396244/149980520-06c5bee2-3395-43e2-be25-ad10f2c0d7f3.gif)

[2022-01-18 17:10] BLFiedler commented on #26
If simple to make a separate case for interacting with a side, can make the `scaleFactor` effectively infinite (make it impossible to not be a parallelogram.

[2022-01-18 17:24] jessegreenberg opened #43 "ResetAllButton voicing responses are interrupted by sim voicing responses"

[2022-01-18 17:24] #43 closed

[2022-01-18 17:24] terracoda opened #44 "Need common code implemented for Reset All button"
Verified in meeting.

[2022-01-18 17:25] terracoda commented on #44
Not hearing the the Reset All context response when pressing Reset All button. Hearing changed sides instead.

[2022-01-18 17:30] terracoda opened #45 "Change vertex 1,2,3,4 to be "corner 1,2,3,4""
Currently, we use "corners" in Overview, and "vertex" on vertices.

Need to make vertex names be corner 1, corner 2, corner 3, corner 4.

[2022-01-18 17:41] jessegreenberg opened #46 "The electron app should only set vertex positions when the data looks reasonable"
@BLFiedler and @terracoda demonstrated today that there are times where the values are NaN. The electron app sends bad data to the sim. We should prevent sending bad data in the app and the sim should not set bad values to the vertices.

[2022-01-18 17:47] jessegreenberg commented on #46
Also, it seems like the bad values are coming from the electron app. We should investigate why it is sending bad values.

[2022-01-18 18:32] jessegreenberg commented on #46
I just updated both the sim and the app to effectively no-op when values are NaN, less than zero, undefined, or null. The dot next to "Good data" should turn red if the data is no good.

I built new versions of the app and uploaded to https://drive.google.com/drive/folders/19SnDQE2STxSu2CpjqaAHEfODU7r44pLF.

@BLFiedler can you please try this new version of the app?

[2022-01-18 20:49] jessegreenberg commented on #26
OK, committed. Here is the logic:

[code]

The last case makes sure we don't suddenly snap "out" of parallelogram at the end of an interaction since that would otherwise reduce the tolerance interval to a smaller value.

The scale factor for when 2 or more vertices are being moved at once is controlled with query parameter ?angleToToleranceIntervalScaleFactor. Default value is 2.

@BLFiedler can y

[2022-01-18 23:36] jessegreenberg commented on #25
OK, I implemented a new solution for this.  Here is how it works now:

- QuadrilateralShapeModel has a `lengthsEqualToSavedProperty`. It is set every animation frame. It is true when the quad side lengths are equal to a set of previously saved values within a tolerance interval.
- If it ever toggles to false, a new set of side lengths are immediately saved as the new set.
- (If selected in Prefere

[2022-01-19 14:54] jessegreenberg commented on #42
I think once this is solved we will begin to see stickiness with the sides too like #41. I am going to do this issue first so we can see how it feels and decide if we need a more general solution to the stickiness problem.

[2022-01-19 14:57] jessegreenberg commented on #41
This issue is not as easy as modelBounds.closestPointTo( mousePosition ) because we need to make sure that not just the mouse position is allowed but that the entire vertex bounds are contained in the drag area.  If we have to do some work for the stickiness along the boundary maybe it is worth thinking about a solution for anywhere in the drag area.

[2022-01-20 17:24] BLFiedler commented on #46
Great - I think this is working correctly from the app-side. It highlights some of the incorrect values coming in for the device and sensors defects in a way I think will be helpful.

https://user-images.githubusercontent.com/47331395/150389899-097df610-67b1-44cf-87ec-05ec33fec244.mp4

Also highlights some things to bring up regarding or tolerances, but that is a discussion elsewhere.

Closing. Th

[2022-01-20 17:24] #46 closed

[2022-01-20 17:26] BLFiedler commented on #15
I think this is instantiated for the purpose of this issue. The stickiness issue can continue over in #41

[2022-01-20 17:26] #15 closed

[2022-01-20 17:41] brettfiedler opened #47 "Handling angleToleranceInterval for tangible device as special case"
Tangible input lacks a "pressed" or "focused" property. This means it will not properly interact with the way we implemented the scaleFactors for touch/cursor/keyboard input.

Let's consider the best way to set the appropriate tolerance values for the case where a tangible device in connected.

[2022-01-20 18:07] BLFiedler opened #48 "Establish default tolerance interval values for research codesign"
We should revisit the tolerance interval default values before end of Q2. These will largely be adjusted in response to interviews, but we have many inputs and different cases so I'd like to do a review. This issue can be closed if publication has passed.

[2022-01-20 18:08] BLFiedler commented on #26
Great! I think this works very well for touch/cursor input. I think the goal of this issue is complete. I have two thoughts currently to split into separate issues, one more immediate and one just to check back on later.

1. Tangible input doesn't benefit from the 'pressed' property in changing the angleToleranceProperty #47

2. I created an issue to make sure there's a final check on the default

[2022-01-20 18:08] #26 closed

[2022-01-20 18:12] BLFiedler commented on #25
First test on touchscreen felt really good with the first pass and default values! Will spend more time on this, but I think we've hit a great point to get some broader feedback.

- @jessegreenberg, can you create a dev version with all of the changes up to this point that I can pass on to the team at large?

[2022-01-20 18:25] BLFiedler opened #49 "Draw boundaries on the play area"
We have identified some issues with interaction/focus when the cursor/touch area leave the play area boundaries. These feel like they happen more unexpectedly as there is space in the sim that is not part of the play area, but does not look different than the play area (and is distinct form the dev bounds).

Similar to RatioandProportions "bounding boxes", let's define the area the vertices can be

[2022-01-20 18:35] BLFiedler commented on #49
The background colors will likely change, but for now it is pretty dark, so let's just use a white or light gray with perhaps a ~2-pixel width (just something with a bit of weight but not substantive for now). Something like this?

![image](https://user-images.githubusercontent.com/47331395/150400816-7d9bab02-d166-4ed9-b6ab-a09982f286a7.png)

[2022-01-20 19:39] jessegreenberg commented on #41
Discussed with @BLFiedler - It seems likely that we will want to solve this generally. This issue doesn't seem as important as some other tasks, @BLFiedler reduced the priority of this issue.

[2022-01-20 19:40] jessegreenberg commented on #47
Here is how it works for mouse/touch:

[code]

[2022-01-20 20:14] jessegreenberg commented on #47
The implementation of the tangible control is sort of like dragging all four vertices at once all the time. Each frame a new position for the vertex is given to the sim from the physical sensors.

This is kind of like dragging multiple vertices at once. When the physical device is connected we could just a larger tolerance, like
[code]
or more.

[2022-01-20 20:26] jessegreenberg commented on #49
Sounds good, added in the above commit. @BLFiedler can you please review?

[2022-01-20 20:30] jessegreenberg commented on #45
Voicing name responses updated from vertex -> corner in the above commit. @terracoda can you please review?

[2022-01-20 20:39] jessegreenberg commented on #44
Ah, this is happening because model updates happen in this sim in the animation frame. So the code in ResetAllButton is not preventing this. The UtteranceQueue is disabled when the ResetAllButton is pressed, then reenabled. The next animation frame some model properties change and voicing responses are spoken then.

I think one way to fix this is to update the asynchronous Properties at the end of

[2022-01-20 20:57] jessegreenberg commented on #44
That was part of it, but I also needed to update the QuadrilateralAlerter to not alert next frame when it detected that it should after Properties changed from a reset.

I think this is fixed, can you please confirm @terracoda?

[2022-01-20 20:59] jessegreenberg commented on #25
Over slack I shared this version with @BLFiedler:

https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.15/phet/quadrilateral_en_phet.html

He mentioned he would append the query parameters of interest before sharing.

[2022-01-21 00:00] BLFiedler commented on #49
Great! I'll leave this open in case others have thoughts, but no more work to be done here for now.

[2022-01-21 13:46] terracoda commented on #45
The corners sound great thanks.

[2022-01-21 13:46] #45 closed

[2022-01-25 16:00] #44 closed, assigned to terracoda

[2022-01-25 16:20] BLFiedler commented on #25
Two requests regarding this feature - one for interviews, one for debugging

1. Query parameter for having the  checkbox "Constant lengths for maintenance sound" enabled on startup for present it in this mode for interviewees.
2. If possible, show length maintenance arcs from ?showLengthAreas when interacting with two or more vertices for debugging purposes

[2022-01-25 16:38] BLFiedler commented on #4
Reprioritizing to address the comments in https://github.com/phetsims/quadrilateral/issues/4#issuecomment-970622640 that should be fixed prior to interviews next week.

[2022-01-25 16:55] terracoda commented on #31
The order when the shape is a parallelogram needs to be flipped around.

Currently, your shape is {{a parallelogram}}, and {{a rhombus}}}}.

[2022-01-25 16:56] terracoda commented on #31
We do not need "right-angled trapezoid" until we know otherwise. All other named shapes are working.

[2022-01-25 17:07] BLFiedler commented on #47
If we're using some variable to detect if a device is connected, we need to smoothly allow input switching to mouse/touch/keyboard even if the device is still plugged in (just not being used).

- Mouse/Keyboard/Touch should take priority over tangible input, but when non-tangible input is not active and the sim receives updated tangible values, the sim should realign with tangible values.
If a dev

[2022-01-25 17:09] BLFiedler opened #50 "Changing/prioritizing input when physical device is connected"
If we're using some variable to detect if a device is connected, we need to smoothly allow input switching to mouse/touch/keyboard even if the device is still plugged in (just not being used).

- Mouse/Keyboard/Touch should take priority over tangible input, but when non-tangible input is not active and the sim receives updated tangible values, the sim should realign with tangible values.
If a dev

[2022-01-25 17:12] BLFiedler commented on #47
During design meeting we decided to create a query parameter for the case of a tangible device connected to the sim that will make the angleToleranceInterval always = angleToleranceInterval*scaleFactor (for now).

[2022-01-25 17:23] terracoda commented on #31
Actually, the order in both parallelogram states (parallelogram and not a parallelogram) need to be updated.

**Play Details Button {{dynamic content}}:

1. Currently, your shape is {{a parallelogram}}, and {{a rhombus}}}}.
    Parameters for named quads that are parallelograms:

    - a square
    - a rectangle
    - a rhombus

2. Currently, your shape is {{not}} {{a parallelogram}}. You have {{a

[2022-01-25 17:54] jessegreenberg opened #51 "Don't print bad data in the electron app"
Requested by @BLFiedler - Printing out "NaN" or "undefined" makes it difficult to ready the values and it would be nice to see the last "good" value.

[2022-01-25 18:07] jessegreenberg commented on #25
Query parameter added above.

For any two vertices, I am not sure which arcs to show so I am just showing all of them. So it looks like this:
![image (2)](https://user-images.githubusercontent.com/6396244/151033945-cf7ad1c7-2368-4e49-bf84-e7974d0762d5.png)

Which may not be super helpful.

Alternatively, we chould just show an arc when dragging two vertices of the same side. Do you have a preferen

[2022-01-25 18:20] jessegreenberg opened #52 "Investigate Bluetooth as a device communication method"
Here is an example of using Bluetooth with electron: https://www.electronjs.org/docs/latest/tutorial/devices

Info about using HTML5 bluetooth:  https://developer.mozilla.org/en-US/docs/Web/API/Web_Bluetooth_API

Bluetooth is still very experimental for HTML5 and requires enabling in chrome://flags. It has relatively poor support in HTML5:
![image](https://user-images.githubusercontent.com/6396244

[2022-01-25 18:21] jessegreenberg commented on #52
This issue is to document thoughts and resources, but we are not going to dedicate time to this just yet. Waiting for assignment.

[2022-01-25 18:57] BLFiedler commented on #25
Yeah, I agree with this. It's debugging functionality anywho, so let's not overdesign it. Let's stick to only extending the functionality to two vertices and displayed for the shared side as you suggest.

[2022-01-25 19:08] BLFiedler opened #53 "Use Beholder marker tracking for global rotation of TMQ in Electron app"
While investigations continue for multiple marker tracking both in browser and through an external app, we are going to take the existing Beholder system that JG & MK made an example implementation of and integrate it into the current Electron app that connects the simulation to the physical device (currently the Tangible Manipulative Quadrilateral from the CHROME lab)

We should make decisions an

[2022-01-25 19:41] jessegreenberg commented on #51
New builds have been deployed with this change, assigning to @BLFiedler to verify all is well.

[2022-01-25 21:20] jessegreenberg commented on #25
OK! This has been done. Anything else for this issue @BLFiedler?

[2022-01-25 21:41] jessegreenberg commented on #31
I used https://www.wikidata.org/wiki/Q19420771 to detect a right-angled trapezoid it was pretty easy to add in the existing shape-detection function so I went for it.

[2022-01-25 22:15] jessegreenberg commented on #31
The pattern has been updated but I am noticing a bug in the shape detection code because of changes for #25 - now that the angle tolerance for shape angles is infinite when dragging a side, it is messing with this code.

[2022-01-25 22:58] jessegreenberg commented on #31
Alright, it is working as I would expect again after the above commit. There is now a different tolerance for detecting shapes than there is for detecting a parallelogram. @terracoda can you please review this?

[2022-01-25 23:41] jessegreenberg commented on #47
Done in the above commits. Outside of the electron app, the angleToleranceIntervalProperty behaves like https://github.com/phetsims/quadrilateral/issues/47#issuecomment-1017857743. When connected to the app (detected with query param `?deviceConnection`, which is already used to include the "callibration" dialog) the angleToleranceIntervalProperty is always
[code]

I rebuilt the app in windows and

[2022-01-26 01:08] jessegreenberg commented on #4
Fixed in https://github.com/phetsims/quadrilateral/commit/41e456d2f8461a53fdb2ccd6dda989dbd2e32af4.

Fixed in https://github.com/phetsims/quadrilateral/commit/71c0caf2061bc6f596dd3971b87b1763d926ea0b.

[2022-01-26 23:46] jessegreenberg commented on #4
https://github.com/phetsims/quadrilateral/commit/d58ab43d3088d482afb7637a250d116917423439, I fixed a bug in the "Parallels Volume" paradigm where the sim would crash. But that concludes items required for interviews in https://github.com/phetsims/quadrilateral/issues/4#issuecomment-970622640.

Reassigning back to @BLFiedler.

[2022-01-27 01:14] BLFiedler commented on #25
I noticed that the 4 vertex case you illustrated above is still possible in the dev17 link you shared. Did you intend to remove that? @jessegreenberg

Otherwise this looks to be in a good position and we can close. Can create issues for tweaks or re-open if necessary.

[2022-01-27 03:02] jessegreenberg commented on #25
I just checked in dev.17, I think it is behaving as I expected. The way it should work currently is that whatever is dragged should show arcs. If you drag a side or its two vertices you will see arcs for the vertices of that side. If you have more than one side dragged, arcs will be shown for all dragged sides.

Sorry, I think I wrote https://github.com/phetsims/quadrilateral/issues/25#issuecommen

[2022-01-27 15:41] jessegreenberg commented on #27
Thanks for reviewing this @samreid, I appreciate the comments. THis is no longer on hold and I think we are at a point now where pretty much all todos for this issue can be addressed.

[2022-01-27 18:23] #25 closed

[2022-01-27 18:31] BLFiedler commented on #4
I believe the above "necessary" issues are fixed from what I can tell. If @jbphet or @Ashton-Morris wanted to give it a try and see if any of the issues still crop up in https://github.com/phetsims/quadrilateral/issues/4#issuecomment-970622640, that would be great but not mandatory.

Dev link for interviews: https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.17/phet/quadrilateral_en_phet.h

[2022-01-31 15:55] jessegreenberg commented on #53
The above commit adds marker tracking. Next we need to support this rotation in the model, there currently isn't a way to simply rotate all 4 vertices about the center from this single rotation value.

[2022-01-31 21:23] jessegreenberg commented on #53
I got this working today. Marker input can be enabled with query parameter ?markerInput and tested outside of the electron app. But I updated the electron app as well so it can be used there.

Dev version: https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.18/phet/quadrilateral_en_phet.html?showPointerAreas&markerInput&showModelValues
Link to electron builds: https://drive.google.com/drive

[2022-01-31 21:47] jessegreenberg commented on #53
There is an npm library for beholder, it may be quick to try it in our Electron app to see if that performs better.

[2022-02-01 16:39] jessegreenberg opened #54 "Possible to lose parallelogram state while dragging a side"
@BLFiedler mentioned that this happened in an interview, while dragging a side the user went in and out of parallelogram state. That shouldn't be possible after #26.

[2022-02-01 16:39] jessegreenberg commented on #54
I believe @BLFiedler mentioned that the shape was a rhombus when this happened.

[2022-02-01 16:50] jessegreenberg commented on #54
OK I think I found the case.

If a side is dragged while it is NOT in parallelogram, it is possible to move the side such that it does go into parallelogram because of the tolerance intervals. The tolerance interval is only set to infinity if a side is grabbed and the shape is a parallelogram.

[code]

[2022-02-01 16:52] jessegreenberg commented on #54
Can this be changed to make it infinite if any side is pressed regardless of parallelogram state?

[2022-02-01 16:59] jessegreenberg commented on #54
No, @BLFiedler pointed out that the logic needs to be that if any sides are pressed and it is not a parellelogram, the tolerance interval needs to not be infinite but really small so that it is impossible to become a parallelogram. During the meeting we suggested setting it to zero, but negative infinity might also work.

[2022-02-01 17:10] jessegreenberg commented on #54
Fix has been pushed, I went with negative infinity instead of zero. @BLFiedler can you please verify at https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.19/phet/quadrilateral_en_phet.html?brand=phet&ea&debugger&showPointerAreas&showModelValues

[2022-02-02 20:49] jessegreenberg commented on #27
The new options and enumeration patterns are now used in this repo. The only `@ts-ignore`s that remain involve `phetAudioContext` and options that go along to components that compose Voicing (trait pattern).

[2022-02-03 17:33] BLFiedler commented on #49
Related to the existence of the boundary - can we center the initial square to the play area boundary rather than the dev bounds?

[2022-02-03 18:18] jessegreenberg commented on #49
Sounds good - I think the best way to do this is to fix the modelViewTransform so that model bounds are actually within the play area boundaries instead of the layout bounds. Currently model bounds are not set until layout, so we would need to have a mutable modelViewTransform. But setting bounds in `layout` is not necessary after work in https://github.com/phetsims/quadrilateral/issues/15. I am g

[2022-02-04 00:12] jessegreenberg opened #55 "Should the model bounds be changeable?"
I think it used to be that the simulation space would expand outside of the dev bounds on larger screens. That is no longer happening. The rectangle that draws available model space is the same size, no matter how large the screen is. I think we lost it when we made it so that the bounds can't overlap the ResetAllButton (or other controls in the future). So the bounds can't extend to the right.

B

[2022-02-04 00:13] jessegreenberg commented on #49
OK this is done. Whether or not modelBoundsProperty should be observable will be decided in #55?

@BLFiedler can you please review?

[2022-02-04 00:13] jessegreenberg commented on #54
I believe @BLFiedler said this was working as expected on 2/1/22, closing.

[2022-02-04 00:13] #54 closed

[2022-02-04 00:19] jessegreenberg commented on #52
We would like to explore this now. I am going to start with electron communication because browser based communication looks so experimental. There is a node library for BLE that I am goin to try. https://www.npmjs.com/package/node-bluetooth

[2022-02-04 00:31] jessegreenberg commented on #52
It seems that project isn't really maintained and fails to build on Windows.

[2022-02-04 00:46] jessegreenberg commented on #52
I found another library called noble, but it seems very hacky and I have to override my bluetooth drivers to get it to work: https://github.com/noble/noble

[2022-02-04 00:56] jessegreenberg commented on #52
It seems like using Zadig to override Windows bluetooth drivers is common practice for all Node.js BLE libraries. Here is another that requires it: https://github.com/noble/bleno

[2022-02-04 01:01] jessegreenberg commented on #52
Ah, electron may have some direct bluetooth support: https://www.electronjs.org/docs/latest/tutorial/devices OR it might just be going through Chromium. Since it is a chromium process you presumably don't need to enable any special settings.

[2022-02-04 02:55] jessegreenberg commented on #52
I got a basic bluetooth connection working in Electron. I am able to query my bluetooth headphones and read battery level. Examples here are super helpful: https://web.dev/bluetooth/

[2022-02-04 04:35] jessegreenberg commented on #52
OK, I have had good luck setting up BLE in the electron app. Electron just uses Web bluetooth but it is supported out of the box because it is running a customized instance of Chromium with bluetooth enabled. If we want to switch to using bluetooth directly from the browser running the sim, we should be able to do that easily.

I wasn't able to test receiving stream of data over bluetooth because

[2022-02-04 17:18] KatieWoe opened #56 "CT phetioID already registered"
[code]

[2022-02-04 20:53] jessegreenberg commented on #53
@zepumph helped investigate ways to make Beholder faster
1) Make the marker much bigger,  so it is as if we are holding it close to the camera.
2) Change the marker perimeter options, to stop looking for smaller objects and stop looking for markers that are too big.
3) Add more markers so that maybe if one gets lost, another might remain tracked by beholder so you could leverage that.
4) Specify e

[2022-02-04 21:09] zepumph commented on #53
Feel free to make this an option to MarkerInput that you can pass into from a subtype.

Not just infrared, but any nicer webcam. Basically the challenge is all about motion blur. The nicer the camera, the less of that we will have, and the better the library will be at detecting the crisp squares of the markers.

[2022-02-08 19:38] BLFiedler commented on #34
This is being handled by Bluetooth over in #52

[2022-02-08 19:38] #34 closed

[2022-02-08 19:39] #51 closed

[2022-02-08 19:54] BLFiedler commented on #4
Closing this issue as the general sound implementation issue in favor of #6. New issues incoming for new sounds as a result of the interviews.

[2022-02-08 19:54] #4 closed

[2022-02-08 20:04] BLFiedler opened #57 "Sounds for shape identification when not a parallelogram"
From the interviews it seemed desirable to have some supporting indication that a trapezoid, isoceles trapezoid, right trapezoid, or kite was made. The detection of these shapes is already supported from work in Voicing (#31), but it is very easy to create a shape (e.g.,) isoceles trapezoid), but only receive feedback via Voicing that you created a trapezoid if the shape is not quite precise enoug

[2022-02-08 20:15] BLFiedler opened #58 "Sounds for parallelogram special case identification (equal side lengths, right angles, etc)"
From the Feb 2022 remote interviews it seems desirable for additional indications that "special cases" of the parallelogram are met, which result in other notable shapes, i.e., square, rectangle, and rhombus. While there may be additional visual cues to emphasize these moments, there may not be description space for this and a quick sonification may be more efficient.

We would like to sonify stat

[2022-02-08 20:32] BLFiedler opened #59 "Make side length maintenance a layer to parallelogram maintenance"
After interviewing on the sim, I would like to try adding side length maintenance of a parallelogram as a layer on top of the parallelogram maintenance, rather than a separate "mode"/checkbox/screen, while also making it more difficult to achieve (it was easy for participants to second guess themselves with the amount of stretch the sides could do).

- [x] 1. Let's borrow the "choir" success sound

[2022-02-08 20:34] #47 closed, assigned to brettfiedler

[2022-02-08 20:35] BLFiedler commented on #52
Waiting on information from folks making the devices for specific implementation of this into the simulation.

[2022-02-08 20:37] BLFiedler commented on #49
Great! Changes to the visuals on this will occur in a new visual mockup issue and behavior in #55.

[2022-02-08 20:37] #49 closed

[2022-02-09 16:42] BLFiedler opened #60 "Implement initial visual design"
This issue will be for creating this initial pass of the visual design

This pass includes: Dynamic lengths, angle guides, background color changes, checkbox controls for corner labels and angle guides.

To be covered still:
- Visual changes when achieving a parallelogram
- Visual changes during special parallelogram cases (all side lengths equal, all angles 90)
- Start up interaction hints

[2022-02-09 16:59] BLFiedler commented on #60
I shared this design with JG and TS during the last virtual model meeting.

### Mockups
![Startup](https://user-images.githubusercontent.com/47331395/153247756-6cdca456-d35d-4f48-bac0-8575c178a0ec.png)

![Startup_allchecked](https://user-images.githubusercontent.com/47331395/153247773-57683439-251d-4ed0-b9a1-9a56f99fbc56.png)

![parallelogram_angleschecked](https://user-images.githubusercontent.co

[2022-02-09 17:52] BLFiedler commented on #60
Assigning @jessegreenberg to begin implementation! 🥳

I occasionally present a few other options for each feature that differ from the mockups - feel free to implement those instead if it is significantly easier and we can assess it at that point first.

Ping me here or in Slack for any questions that crop up ahead of design meeting.

[2022-02-10 01:09] pixelzoom commented on #56
This is because there are two identical assignments to `this.resetAllButton` in QuadrilateralScreenView.js.  I'm now sure why TS is allowing this, since it's declared `readonly resetAllButton`.

[2022-02-10 01:14] pixelzoom commented on #56
I went ahead and removed the duplicate instantiation in the above commit. @jessegreenberg (responsible dev for the sim?) please review.

[2022-02-12 23:38] jessegreenberg commented on #56
Thank you for fixing this, looks good. TS was OK with this because both assignments were in the constructor. Closing.

[2022-02-12 23:38] #56 closed

[2022-02-12 23:43] jessegreenberg commented on #60
Excellent! Collecting questions in this comment:
 - [ ] The vertices are going to be displayed circular but are square in the model (for hit detection with other sides and vertices). Is this OK?

[2022-02-14 15:14] BLFiedler commented on #60
Responses as of 2/14:

Yeah, I expected both of these!

This is probably fine. As long as the vertex grab takes precedence (is in "front"). I just don't think we'll want the grabbable area of the side to exceed the vertex width.

Yeah, I suppose that feels true here after playing with it.

It does. I'm not sure if that's a problem yet. Let's go ahead and retain the hit detection and pointer area f

[2022-02-14 15:24] BLFiedler commented on #60
For archival purposes, the appearance I played with in answering the above:
![Quadrilateral screenshot](https://user-images.githubusercontent.com/47331395/153892607-0b2b1d6d-5c62-42ca-b02d-413ad8710b1b.png)

[2022-02-14 16:44] jessegreenberg commented on #60
Discussed some points wiht @BLFiedler
- [ ] To get around issues of side occlusion and angle difference from side taper, we are going to center the arcs of the angle guide on each vertex. The guide will be a "donut" around each vertex so that the vertex itself and the corner labels are not occluded.
- [ ] It IS important that the angle guides rotate with the shape. To accomplish this the starting

[2022-02-14 18:49] jessegreenberg commented on #60
OK, I think what is described in this issue has been implemented, including the angle guides and notes in https://github.com/phetsims/quadrilateral/issues/60#issuecomment-1039308535. Mouse/touch areas for sides can be verified again with ?showPointerAreas.

This is ready for your review @BLFiedler .

[2022-02-14 19:49] BLFiedler opened #61 "Crash during keyboard focus to side?"
Assertion failed: The shape of the Node highlight should be set by now. Does it have bounds?
assert.js:25 Uncaught Error: Assertion failed: The shape of the Node highlight should be set by now. Does it have bounds?
    at window.assertions.assertFunction (assert.js:25:13)
    at HighlightOverlay.activateHighlight (HighlightOverlay.js? [sm]:274:17)
    at HighlightOverlay.activateFocusHighlight (Hi

[2022-02-14 19:50] BLFiedler commented on #61
![image](https://user-images.githubusercontent.com/47331395/153935915-78857adf-b2b1-4f54-a98f-c7de57e46e90.png)

[2022-02-14 20:00] jessegreenberg commented on #61
Sorry about that, should be fixed in the above commit. Can you confirm @BLFiedler ?

[2022-02-14 21:47] jessegreenberg commented on #59
Sound code is getting messy in this sim...But I think this is done. I made this behavior a new paradigm to be selected in the Preferences Dialog called "Maintenance Sounds" that is now the default design.
![image](https://user-images.githubusercontent.com/6396244/153951481-a19c88e5-fc4c-4e0b-b4ef-256ef909050c.png)

And the default `lengthToleranceIntervalScaleFactor` value was reduced by half.

@B

[2022-02-14 21:54] jessegreenberg opened #62 "Assertion: parametric position should never be greater than one"
Caused by new drawing code in #60 for the angle guides.

[2022-02-14 21:57] jessegreenberg commented on #62
If the outer radius of the annulus is greater than the length of a side the parametric position of the outer radius will be greater than one.
[code]

[2022-02-14 21:59] jessegreenberg commented on #62
Should be fixed in the above commit.

[2022-02-14 21:59] #62 closed

[2022-02-14 21:59] jessegreenberg opened #63 "Assertion: 'Cannot normalize a zero-magnitude vector'"
Caused by new drawing code in #60

[2022-02-14 22:07] jessegreenberg commented on #63
It is happening when drawing the next line segment of a side
[code]

`t` is 0.9999999999999998, so there is a very small remainder, but not large enough to produce a different start/end point for the `remainderLine ` with `getPositionAt( t )`.

[2022-02-14 22:10] jessegreenberg commented on #63
Should be fixed by the above.

[2022-02-14 22:10] #63 closed

[2022-02-14 23:29] KatieWoe opened #64 "CT positionAt t should be no greater than 1, cannot normalize a zero-magnitude vector"
[code]

[2022-02-15 00:14] jessegreenberg commented on #64
Thanks @KatieWoe, I think that these were fixed by #63 and #62, they should be gone on the next CT iteration. I believe they are fixed because there is a new issue related to tandems that appeared in the next CT collum. Keeping open until CT is green.

[2022-02-15 00:15] jessegreenberg opened #65 "CT error: Uncaught Error: Assertion failed: required tandems must be supplied"
Error from sim: Error: Uncaught Error: Assertion failed: required tandems must be supplied

[2022-02-15 00:18] jessegreenberg commented on #65
With the above commit studio is running again, closing.

[2022-02-15 00:18] #65 closed

[2022-02-15 14:27] jessegreenberg commented on #64
A version of this is still happening on CT.

[2022-02-15 14:37] jessegreenberg commented on #64
In this case a Side is somehow shorter than a vertex radius, I am not sure how that is possible.

[2022-02-15 14:54] jessegreenberg commented on #64
OK should be fixed in the above commit, fuzzing successfully locally for many minutes. Will wait to close until CT is green.

[2022-02-15 15:49] terracoda commented on #31
This is awesome @jessegreenberg. Apologies for taking so long to verify it.
The only difference I noticed in the implementation is:
- "concave shape" is spoken as "concave quadrilateral"

And I think "concave quadrilateral" is better, so I will update the design document with that wording.

[2022-02-15 15:52] BLFiedler commented on #55
For later discussion
![iPadaspect](https://user-images.githubusercontent.com/47331395/154098427-e2732e13-23b1-4578-8581-25fb1ba2c775.png)
:

[2022-02-15 16:05] #61 closed

[2022-02-15 16:20] BLFiedler commented on #59
Ideal behavior: The "choir" or side length maintenance sound should only play after a learner makes a concerted effort to maintain side lengths. The parallelogram maintenance sound can play immediately during side movement.

[2022-02-15 16:33] BLFiedler commented on #55
Ideally, we want to have the play area expand to fill any usable space in the window. (left and right side in landscape aspect ratios, top and bottom in portrait aspect ratios)

[2022-02-15 17:22] #31 closed

[2022-02-15 17:35] jessegreenberg commented on #64
We got a green entry on CT, closing this one.
![image](https://user-images.githubusercontent.com/6396244/154117442-bf8bd2da-ca51-49b2-8a49-3c7a639013da.png)

[2022-02-15 18:56] #64 closed

[2022-02-16 16:43] Ashton-Morris commented on #58
[I have added two sounds for the above issue.](https://drive.google.com/drive/u/0/folders/1YNrthgUqZXTQw-gA8ch6XIwBZ_RhsIKW)

- all-angles-are-right-angles.mp3
- all-side-lengths-are-equal.mp3

I am assuming for "Both" they will both be triggered automatically when conditions are met so I did not export a 3rd sounds comprised of both sounds.

[2022-02-16 16:47] Ashton-Morris opened #66 "Replace and test out new sound for "quad-out-of-parallel" condition"
[I have updated a sound and would like to test these changes.](https://drive.google.com/drive/u/0/folders/1YNrthgUqZXTQw-gA8ch6XIwBZ_RhsIKW)

Replace: **quad-out-of-parallel-001.mp3**

With : **quad-out-of-parallel-001-v2.mp3**

[2022-02-16 22:28] jessegreenberg opened #67 "Rename vertices from numeric to alphabetical in the model"
In https://github.com/phetsims/quadrilateral/issues/60, vertices will be labeled from 1,2,3,4 to A,B,C,D. The model references them by number. Model and view should match if design is going to label these with letters.

[2022-02-16 22:30] jessegreenberg commented on #67
Also, these should be made translatable graphically if we are going to commit to alphabetical labels (I think...)

[2022-02-17 15:50] BLFiedler commented on #60
- [ ] Eliminate the taper on the side lengths but maintain the segments and telescoping effect.

This is to address the fact that the shape stops looking like a shape and introduces asymmetry. Also, it will bring the visuals in line with the pointer areas.

[2022-02-17 16:33] terracoda commented on #67
We decided to rename the corner, right? Visually, they have been renamed.

[2022-02-17 16:53] BLFiedler commented on #67
Yes - I've just deferred this a moment while I determine if there are any issues we run into for the translation of the letters. Is it clear to you how to proceed with that @jessegreenberg?

I'm most hesitant I guess if we decide to use lowercase with the sides since not every alphabet has case. Any thoughts?

[2022-02-17 17:44] BLFiedler opened #68 "Model recognition of "proximity to parallel""
I am creating this issue for archival purposes, as the idea for it has been brought up numerous times. As of February 2022, this feature is not in development.

The idea of recognizing when a user has moved the vertices in a way that puts them "close to" a parallelogram shape has been brought up several times in terms of:
1. Feedback based on proximity, e.g., sound or haptics that play/trigger whe

[2022-02-17 17:44] #68 closed

[2022-02-17 22:59] jessegreenberg opened #69 "Replace tolerance interval Proeprties with statics"
They are instance Properties on the model which is annoying because I have to pass a reference to the model when I want to use these values. They don't change after startup, there is no reason for them to be instance variables or observable and I want to reference them like statics.

[2022-02-17 23:34] jessegreenberg commented on #69
Hmm, scratch that. I forgot that the angleToleranceProperty is a complicated DerivedProperty based on state variables of the QuadrilateralShapeModel. I don't see a way to make this change.

[2022-02-17 23:34] #69 closed

[2022-02-17 23:51] jessegreenberg commented on #60
OK I think I am caught up to spec here. Ready for review. Just noting some things that may or may not be important.

1) Without the taper there isn't a need for custom mouse/touch areas. The sides are the touch areas and you won't see a unique highlight with ?showPointerAreas.
2) If the angle guides are invisible when at right angle, the "Angle Guides" checkbox does nothing if pressed on sim start

[2022-02-17 23:53] jessegreenberg commented on #60
For #3 above, @BLFiedler suggested on slack

We can either gate it within being a parallelogram or tighten the 90 tolerance. I'm leaning toward the latter though.

Ill add another tolerance variable just for the 90 degree indicators and see how it goes.

[2022-02-18 00:03] jessegreenberg commented on #60
I added a new tolerance that controls when right angle indicators are displayed. Can be controlled with `?rightAngleIndicatorToleranceInterval`. Default value is 0.025. This value does not change with input like the `angleToleranceInterval`.

OK assigning to @BLFiedler to review the last three comments and the current behavior of the simulation.

[2022-02-18 15:39] jessegreenberg commented on #66
Alright, I have updated this sound. @BLFiedler @Ashton-Morris can you please review?

[2022-02-18 16:13] jessegreenberg commented on #57
This sound was added, @Ashton-Morris @BLFiedler can you please review? I added the named shape to the debugging panel, I found it helpful to test this change with ?showModelValues.

[2022-02-18 16:23] BLFiedler opened #70 "Remove Right Trapezoid from the model"
After taking a deep dive on shape hierarchy, I do not believe the Right angle Trapezoid is a shape worth calling out (it is almost never in the hierarchies in curriculum) and I believe it will create confusion when scaffolding shape identification.

Let's remove it entirely.

[2022-02-18 16:23] BLFiedler commented on #57
Haha, well, there are some quirks, but the I like the idea of it...

Lets
- [ ] Remove the sound when making a concave shape

And in a separate issue, related to the experience with the sound, let's remove right angle trapezoid (made into issue here: #70)

[2022-02-18 16:25] KatieWoe opened #71 "CT The shape of the node highlight should be set by now"
[code]

[2022-02-18 17:50] jessegreenberg commented on #71
Thanks @KatieWoe, caused by changes in #60. Fixed in the above commit by removing the cutsom focus highlight which isn't necessayr. Closing.

[2022-02-18 17:50] #71 closed

[2022-02-18 17:55] jessegreenberg commented on #70
Sounds good, it has been removed. The name is just "Trapezoid" in this case now. Reassigning to @BLFiedler to review or just close.

[2022-02-18 17:56] jessegreenberg commented on #66
This was reassigned to me but there are no review comments, is there anything you would like to change @BLFiedler?

[2022-02-18 18:15] jessegreenberg commented on #60
I see, sorry I misread that. Fixed in the above commit. With this behavior I think there may not be a tolerance issue anymore. Now the right angle indicators can only be visible if the shape is a square or rectangle. And we can only have square or rectangle if the model is in a parallelogram state. Back to @BLFiedler for review.

[2022-02-18 18:26] jessegreenberg commented on #57
Hmm, this is an issue with our angle tolerance interval. When dragging a side when the shape is not a parallelogram the value becomes negative infinity, so no angles are equal in the model and the shape name is null.

[2022-02-18 19:16] BLFiedler opened #72 "Kite is detected for a shape that is not a kite"
![image](https://user-images.githubusercontent.com/47331395/154747565-7245d7c2-1646-46ef-80c6-7b5f0530fd38.png)

I think it is perhaps taking any two sides being equal? A kite needs to enforce that two adjacent sides are equal length. Or we decided on a different kite metric.

[2022-02-21 15:28] jessegreenberg commented on #72
OK I think this is fixed. I changed the check to compare side lengths instead of side angles. Now two pairs of adjacent sides must be the same length for it to be a kite.

@BLFiedler can you please confirm?

[2022-02-21 16:50] jessegreenberg commented on #67
Above commit renamed model variables.

[2022-02-21 16:55] jessegreenberg commented on #67
Labels are now translatable:
![image](https://user-images.githubusercontent.com/6396244/154998234-c0fecd51-3d08-492a-a2f6-7ecd661665ff.png)

[2022-02-21 16:58] jessegreenberg commented on #67
I don't see any direct reference to the vertices in the electron App. So I think that is it for most of this issue.

[2022-02-21 16:58] #67 closed

[2022-02-21 17:21] BLFiedler commented on #72
Not seeing any rogue kites :) Closing.

[2022-02-21 17:21] #72 closed

[2022-02-21 17:32] jessegreenberg commented on #59
Over slack I said:

I can see now there is already other sound code counting number of vertices pressed, which won't work well with the tangible. Should I proceed with what would work well with screen interaction or should we take a step back and reconsider?

[2022-02-21 17:42] jessegreenberg commented on #59
I went forward with a delay when interaction starts with the quad. But this won't work with the tangible for the reason described above.  Assigning to @BLFiedler to review.

[2022-02-21 18:05] BLFiedler opened #73 "Add small overshoots to vertex to help visualize external angles"
After discussion with Dor, it was noted that the presentation of the angle guides

1.) Is difficult to anchor a reference since the angle guides themselves begin in the middle of the sides, which is not where folks are visualizing the shape (either internally or externally along the sides).
2.) May bias individuals to only consider the internal angles and prevent reasoning that can leads to miscon

[2022-02-21 18:21] BLFiedler commented on #73
The alternative to this is to go with our initial thought of putting the corner guides inside of the shape, but that seemed more problematic for intermediate and small shapes than our current solution for overlap/usability.

[2022-02-21 18:21] jessegreenberg commented on #58
These sounds were added. They are being played when we detect a named shape of square, rectangle, or rhombus. Here is the code:
[code]

As documented, I did this so that we don't use a different tolerance for playing these sounds than we do when detecting named shapes. This makes sure that the sounds match the right angle indicators, and match the detected shape in the model. If these sounds used

[2022-02-21 19:31] jessegreenberg commented on #73
OK this has been added in the above commits. @BLFiedler can you please review?

In particular, want to make sure that it looks correct when it is a concave shape.

[2022-02-21 19:38] jessegreenberg commented on #57
I just committed a potential fix for this. It uses a different tolerance interval for detecting shapes. So now we have
- `angleToleranceInterval` which behaves like this: https://github.com/phetsims/quadrilateral/blob/179b37e946eaa871429eba931ae1ca994cefac47/js/quadrilateral/model/QuadrilateralShapeModel.ts#L161-L204
- `shapeAngleToleranceInterval`, which is always a constant value. I think this w

[2022-02-22 16:53] BLFiedler commented on #59
One solution we could try:

- Require specific amount of angle change along with the side length maintenance before side maintenance success sound plays. E.g., when within lengthToleranceInterval, require angle change of 2*angleToleranceInterval. Compare to initial angle saved at each new length maintenance arc. New arc, new initial angle to compare against.

Let's also make sure it's not possible

[2022-02-22 17:30] BLFiedler commented on #73
@terracoda made the point that the Corner Guide should be Guides since there are more than 1 corner :)

- [ ] Change Corner Guide to Corner Guides

[2022-02-22 17:34] BLFiedler commented on #20
Regarding Color tracking:

JG:
I was playing around with OpenCV and found a way to track a color with a webcam from the browser. I had good luck watching a red rectangle taped to the quad and then calculating its rotation. It seems less vulnerable to motion bluring since it is just watching colors. I don't know if this is something to actually employ, but it is in our back pocket. Heres a demo:

!

[2022-02-22 19:13] BLFiedler commented on #58
Currently the "all right angles" sound plays when transitioning from a rectangle to a square. Let's only have the sound play when the All Right Angles condition happens the first time, not replay when a square is achieved. The sound should be tied to the "all right angles" and not the shape itself.

So, moving from a random parallelogram to a rectangle would play the "snare" all right angles sound

[2022-02-22 19:14] BLFiedler commented on #58
@Ashton-Morris will create some variations of the Snare sound to dampen it, but retain the general feel and contrast to the tom sound.

[2022-02-22 19:14] BLFiedler commented on #60
Visual tweaks are ongoing in other issues.

[2022-02-22 19:14] #60 closed

[2022-02-22 19:18] BLFiedler commented on #20
We'll move forward with OpenCV for marker tracking. Beholder is not intended for robust motion tracking (deblurring).

@jessegreenberg will implement and we will figure out how far we can get with single marker (global rotation) and multiple marker tracking (vertex tracking) in the context of the quadrilateral

[2022-02-22 22:24] Ashton-Morris commented on #58
I have a few to test out. Uploading them now

- all-angles-are-right-angles-v2.mp3
- all-angles-are-right-angles-v4.mp3
- all-angles-are-right-angles-v3.mp3

[2022-02-23 00:00] jessegreenberg commented on #73
OK, done - back to you @BLFiedler

[2022-02-23 00:10] jessegreenberg commented on #58
I replaced it with v3 because that was my personal favorite! It is a little softer than the others and I think it fits in nicely with the other sounds. But @BLFiedler or @Ashton-Morris if you would like to hear the others in-sim let me know. v3 is now in master, assigning to @Ashton-Morris and @BLFiedler to review.

[2022-02-23 00:16] jessegreenberg commented on #58
The reason it was tied to the shape was because I wanted the sound to play when it was actually a square in the model. I was worried if we used angle comparisons here they could differ from the angle comparisons done to detect shape. Same issue as https://github.com/phetsims/quadrilateral/issues/60#issuecomment-1044955319.

[2022-02-23 00:39] #73 closed

[2022-02-23 00:57] BLFiedler commented on #58
Ah. Hm. Okay. Let me spend some time with the tolerances and we can revisit this. If it feels important, perhaps we can put in a hacky fix like forbidding the "all right angle sounds" when going directly from square to rectangle or something. However, I'd like to try to base all of this on the tolerances first if possible.

[2022-02-23 01:58] terracoda opened #74 "Interactive Description Design Checklist"
This issue helps tracks the big picture progress of the description design, description implementation, and implementation of alternative input. Sound and adaptive features are incorporated only at a high-level here, though could be added as we move forward and learn more.

# Inclusive Features
- [ ] Alternative Input -  (Started: Feb 22, 2022) (Completed: )
- [ ] Interactive Description - (Starte

[2022-02-23 15:25] jessegreenberg commented on #58
I think I have a different solution for this in the above commit that only plays the sounds when the condition is met (instead of every time the shape name changes), but the condition is still dependent on the shape name. @BLFiedler I think everything here is ready for review again.

[2022-02-23 17:12] jessegreenberg commented on #67
No, those come from the string test with `?stringTest=double`.

[2022-02-23 18:24] jessegreenberg commented on #59
The solution proposed in https://github.com/phetsims/quadrilateral/issues/59#issuecomment-1048004794 has been implemented in the above commit. Here is a dev version with it implemented so that we can compare it to a different behavior if we want.
https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.21/phet/quadrilateral_en_phet.html

[2022-02-23 18:40] jessegreenberg commented on #59
Discussion on slack:

Brett Fiedler  1:30 PM
Ooo.. while I suspect that case will not be frequent (it's hard neough to maintain in one direction), I don't think we want that.

1:30
Can we eliminate the requirement once the threshold has been passed once for one arc?

Jesse Greenberg  1:32 PM
Ah, yes I think so. Ill try that.
1:33
Do you think this will be specific to the choir sound or will Voicin

[2022-02-23 19:05] jessegreenberg commented on #59
The proposal in https://github.com/phetsims/quadrilateral/issues/59#issuecomment-1049093974 was implemented in the above commit and can be tested at this dev version: https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.22/phet/quadrilateral_en_phet.html

The result of this change (which I think is expected) is that if you pick up a side, drag it along the arc, release, then pick ANY side, t

[2022-02-23 19:38] terracoda opened #75 "Updates to Read-Me Button Content (Overview & Hint)"
I have a some small changes to the Overview button content which is static:

**Overview (latest):**
A quadrilateral is a closed four-sided shape. This quadrilateral is an interactive sim. It changes as you play with it.
Four grabbable corners and four grabbable sides allow you to create different shapes, and explore what makes a parallelogram. In addition, checkboxes add labels and guides to suppo

[2022-02-23 20:32] terracoda opened #76 "Create PDOM, add Headings for Navigable Sign Posts & Tab Order for Interaction Points"
Related to checklist #74 and from the design document...

**Heading Outline for Navigable Sign Posts:**
- H1: Quadrilateral
- H2: Play Area
- H3: My Shape’s Corners
- H3: My Shape’s Sides
- H2: Control Area
- H2: Sim Resources

**Tab Order of Interaction Points:**

- (Under H3: My Shape’s Corners)
    - Corner A, movable
    - Corner B, movable
    - Corner C, movable
    - Corner D, movable
- (Un

[2022-02-23 20:47] terracoda opened #77 "Create Static Overview and Dynamic Hint in the Scene Summary"
Related to checklist #74, and from the [State Descriptions section](https://docs.google.com/document/d/1oikq9CFhZ6ajEIkLLNcXDXCXDp9q2aThqcD69THMTqI/edit#heading=h.gqilslbgkhfy) of the design doc please add the static part of the scene summary:

**Static Intro**
P: {{Quadrilateral}} is an interactive sim. It changes as you play with it. It has a Play Area and a Control Area.

P: In the Play Area yo

[2022-02-24 01:14] terracoda opened #78 "Update Details read-me button content"
The content for the dynamic part of the scene summary and the Details button in Voicing are currently exactly the same, and we hope to keep it that way.

Still updating the table in the design doc.
This issue is also related to checklist issue #74.

[2022-02-24 03:48] jessegreenberg commented on #20
I got a pretty consistent (much better than https://github.com/phetsims/quadrilateral/issues/20#issuecomment-1048043791) angle tracking working by watching two green rectangles, finding the centers of their contours, and then determining the angle of the line between them. This gets around the issue of not knowing the relative orientation of a single rectangle (which could go back to zero degrees

[2022-02-24 04:51] jessegreenberg commented on #20
I connected the above to the sim, its not too bad at all!

![rts (1)](https://user-images.githubusercontent.com/6396244/155460185-b65cfdc9-aada-4eee-acdb-c6f27c112277.gif)

[2022-02-24 14:44] terracoda commented on #78
Ok, the tables in the design document is ready, I have copied images here as a record of the design. Please do no include the rows with the grey background. They are just there as edge cases for now.

@jessegreenberg, I tried to make it easier for you to break up the phrases & parameters by only having unique phrases in each cell. The ditto marks mean the string from the cell above applies. And "n

[2022-02-24 15:12] terracoda opened #79 "Rename sides to use corner labels instead of positional names"
Rename sides
- Top Side - > Side AB
- Right Side - > Side BC
- Bottom Side - > Side CD
- Left Side - > Side DA

The same side names are noted in the Interactive Description design doc.
Names across Voicing and Interactive Description ideally will remain in synch.

[2022-02-24 19:21] jessegreenberg commented on #20
Next, we should try tracking four markers that would control four vertex positions defining the quadrilateral. Over slack @BLFiedler suggested that they could be different colors so that we know how to identify them. We could probably get pretty far without distinguishing each marker without coloring, just reassigning the left most and right most vertex to left most and right most markers. Or we c

[2022-02-24 20:11] terracoda commented on #78
The above definitions were based on minimal definitions, so I need to iterate to include a full definition of paralell-ness, side length and corners for each and any shape.

[2022-02-24 21:24] jessegreenberg commented on #20
Trying out Hough Line Transform approach:

Starting with this image:
![download](https://user-images.githubusercontent.com/6396244/155609802-31c67945-891d-4f87-9096-17f7fbbe9296.png)

Lines like this can be detected:
![download (1)](https://user-images.githubusercontent.com/6396244/155609841-c665051b-65ba-47b4-a5d4-ae82e5818d98.png)

With this opencv snippet:
[code]

[2022-02-25 15:08] BLFiedler opened #80 "Synchronize minimum step size for cursor, touch, tangible, marker, and keyboard"
@terracoda  and I had a long discussion about the interaction between inputs and tolerance and the inconsistencies/reproducibility between inputs with respect to the tolerance values.

To coordinate between keyboard, mouse, and touch we believe a "grid" broken between minimum and major step sizes is necessary, and that the minimum step size match cursor. This is not a "snap to parallelogram" and m

[2022-02-25 15:18] BLFiedler commented on #80
We hope to be able to set the step sizes as some even factor of the tolerance intervals, though I suspect this may be difficult given the nonlinear calculations that abstract the tolerance intervals from the pixel positions of the vertices.

[2022-02-25 15:25] BLFiedler commented on #41
Deferring this until we discuss issue #80

[2022-02-25 15:26] BLFiedler commented on #42
Deferring this until we discuss issue #80

[2022-02-25 15:27] BLFiedler commented on #55
I suspect issue #80 will impact the solution to this, so temporarily deferring it.

[2022-02-25 15:28] BLFiedler commented on #80
What I am unsure of at the moment is the impact a change such as this has on dynamic feedback such as the side length maintenance.

[2022-02-25 15:34] BLFiedler commented on #24
Renamed the issue to address a needed feature to filter incoming data from a tangible device over serial/bluetooth, such that only intentional movement is captured.

This is intended to prevent behavior such as the success feedback triggering spontaneously due to sensor jitter when near a threshold and the tangible is not undergoing any manipulation.

[2022-02-25 17:09] terracoda opened #81 "Recording a glitch"
I just pressed the reset button with a mouse click, and I got this. I haven't tried to reproduced it yet.
<img width="563" alt="image" src="https://user-images.githubusercontent.com/1902116/155756693-f61ed2c0-2b87-46ae-bcde-37953e3ec2e3.png">

Using https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.21/phet/quadrilateral_en_phet.html?showModelValues in Safari on MacOS 11.4.

Sim had been s

[2022-02-25 17:18] BLFiedler commented on #81
Case of the rogue donut! Seems like it escaped vertex C. This might have to do with the behavior between having Corner Guides checked and resetting the sim (which doesn't have Corner Guides checked on startup)?

[2022-02-25 19:12] KatieWoe opened #82 "Sounds when state is set or launched"
For https://github.com/phetsims/phet-io/issues/1626. Seen on Win 11 Chrome, and particularly Firefox.
When the sim is launched a sound will play (in Firefox) whether the shape is green or yellow. In state, this seems to happen more when the shape is green.

https://user-images.githubusercontent.com/41024075/155773704-5570619a-6499-4b84-8adf-6755185f8a1a.MOV

https://user-images.githubusercontent.c

[2022-02-25 20:20] zepumph commented on #82
I know that PhET-iO may not be on the forefront of work being done in this sim right now, but it is good to have the issue report. Thanks @KatieWoe.

[2022-02-28 16:02] terracoda commented on #78
I have iterated. The new approach of focusing solely on corner and side length properties works well for shapes that are parallelograms, but is much more difficult for shapes that are not like kites, trapezoids, general quads.

I still have design questions:

- When to describe opposites or pairs of opposites?
- When to describe adjacent properties?
- When to describe amount of actual degrees?

![

[2022-02-28 16:58] KatieWoe opened #83 "CT cannot read properties of undefined reading point"
[code]

[2022-02-28 20:51] jessegreenberg commented on #83
Thanks @KatieWoe - this is an issue with RightAngleIndicatorNode. It wasn't able to find the intersection point between two sides when drawing the arcs.
![image](https://user-images.githubusercontent.com/6396244/156056636-462f6caf-8fe0-48f7-ba26-3639f3c82f3c.png)

[2022-02-28 20:58] jessegreenberg commented on #83
I just hit this locally with `firstInnerLine`
![image](https://user-images.githubusercontent.com/6396244/156057115-886cffe0-39ff-45ba-bc99-9d8c90f5e227.png)

and `secondInnerLine`
![image](https://user-images.githubusercontent.com/6396244/156057159-c98938ef-378f-46d9-ab68-c2df12ffd93f.png)

The angle is 3.150757449577162. Perhaps that is the issue.

[2022-02-28 21:16] jessegreenberg commented on #83
Ah, the issue is that we are using a `multilink` to redraw the RightAngleIndicatorNode. Linked to vertex `angleProperty` and shape `shapeNameProperty`. If the angle changes in a series of updates before the shape name, we might try to draw the RightAngleIndicatorNodes after the angle changes but the shape name hasn't updated yet.

[2022-02-28 23:03] jessegreenberg commented on #83
The above handles this gracefully, will wait until next CT iteration to make sure it is fixed.

[2022-02-28 23:05] jessegreenberg commented on #80
@BLFiedler discussed this with me today, we are going to try this out.

[2022-03-01 00:36] jessegreenberg commented on #80
Working on this has identified two really weird bugs with alternative input. First, the amount of motion in the y direction is not the same as the x direction. Second, the amount of movement per step while pressing/holding seems dependent on the time elapsed in the animation frame. The second bug I think is an issue in KeyboardDragListener. The first issue is a problem with the model view transfor

[2022-03-01 00:40] jessegreenberg commented on #83
It appears to be fixed this iteration:
![image](https://user-images.githubusercontent.com/6396244/156082747-9aade6f5-222f-4650-b4bc-5c71ead0bb8e.png)

[2022-03-01 00:40] #83 closed

[2022-03-01 00:42] jessegreenberg opened #84 "Issue with modelViewTransform"
I thought the model and view bounds for the transform were isometric but something isn't right. The view bounds are wider than they are tall. Presumably because they are based on the layout bounds. They should be square for the modelViewTransform so that deltas in the x and y directions are the same. Found during https://github.com/phetsims/quadrilateral/issues/80

[2022-03-01 14:58] jessegreenberg commented on #80
The above commit adds the basics for this. I added a query parameter called ?showGrid as a guide to see the allowable vertex positions.

Its only working while dragging a side. The "drag by deltas" approach when dragging a side is causing a problem here. We need to fix https://github.com/phetsims/quadrilateral/issues/42 to get this working with sides.

[2022-03-01 15:04] jessegreenberg commented on #42
We need to resolve this at least partially after #80. Now that there is a constraining grid for vertex positions, the "drag by delta" approach doesn't work because the delta can be less than the grid spacing, and there may be no movement at all.

[2022-03-01 15:56] jessegreenberg commented on #80
OK this is in place. When using a mouse or finger vertices are constrained to the nearest 0.025 in model coordinates, this was the smallest keyboard step used from keyboard dragging.

@BLFiedler can you please review?

[2022-03-01 15:58] jessegreenberg commented on #42
OK I think this has been fixed. The mouse can no longer detach from a side.  I think it feels better but now sides have the same "stickiness" that we get when dragging vertices (#41). @BLFiedler assigning to you so you are aware of this or in case you want to review.

[2022-03-01 16:04] jessegreenberg opened #85 "Assertion: law of cosines will not work when sides are of zero length"
Starting to see this after #80.

I am not sure why, but now it is possible to try and get the angle at a vertex when sides are of zero length.

[2022-03-01 16:32] jessegreenberg commented on #85
WHile discussing during meeting today it seems like what is happening is that values are being set to the test shape and then the test shape crashes. I think it should handle this gracefully.

[2022-03-01 16:40] BLFiedler commented on #42
Uncaught Error: Cannot normalize a zero-magnitude vector
    at Vector2.normalized (/dev/phettest/chipper/dist/js/dot/js/Vector2.js:212:13)
    at QuadrilateralShapeModel.createVertexArea (/dev/phettest/chipper/dist/js/quadrilateral/js/quadrilateral/model/QuadrilateralShapeModel.js:373:96)
    at QuadrilateralShapeModel.setVertexDragAreas (/dev/phettest/chipper/dist/js/quadrilateral/js/quadrilater

[2022-03-01 16:41] BLFiedler commented on #80
Let's reduce the minor (shift-key) grid to 4 steps per major grid. The major grid size is fine for now.

[2022-03-01 16:43] BLFiedler opened #86 "Separate tolerance variable for side length maintenance and equal side length shape property"

[2022-03-01 16:43] jessegreenberg commented on #85
Oh, this is happening in the listener for "tilt". `tiltProperty` was added for sound designs that are no longer being developed, maybe we can just remove these?

[2022-03-01 16:50] jessegreenberg opened #87 "Sounds can play on sim load"
If you click into the sim before it loads you will hear a sound. Happening because the sim plays sounds on load and sounds are enabled as soon as there is input.

Usually this would be fixed by linking to Properties lazilly so sounds dont play during startup. But Properties driving sound are updated in the animation frame so they will be set after registration happens when the sim first starts up.

[2022-03-01 17:16] jessegreenberg commented on #85
OK after the above commit I think this is fixed. @BLFiedler just FYI since this came up in meeting today.

[2022-03-01 17:16] #85 closed

[2022-03-01 17:20] jessegreenberg opened #88 "Assertion: Cannot normalize a zero magnitude vector"
From https://github.com/phetsims/quadrilateral/issues/42

Uncaught Error: Cannot normalize a zero-magnitude vector
at Vector2.normalized (/dev/phettest/chipper/dist/js/dot/js/Vector2.js:212:13)
at QuadrilateralShapeModel.createVertexArea (/dev/phettest/chipper/dist/js/quadrilateral/js/quadrilateral/model/QuadrilateralShapeModel.js:373:96)
at QuadrilateralShapeModel.setVertexDragAreas (/dev/phettes

[2022-03-01 17:21] jessegreenberg commented on #88
Caught by dragging a side around in circles while moving the cursor outside of the play area.

[2022-03-01 18:53] #66 closed

[2022-03-01 20:29] jessegreenberg commented on #88
OK I think I finally got this after a combination of deferring the Properties until after both are updated and gracefully handling these cases in createVertexArea.

[2022-03-01 20:29] #88 closed

[2022-03-01 20:30] jessegreenberg opened #89 "Assertion failed: Assertion failed: CornerGuideNodes cannot support angles at or less than zero"
I think this is an issue with setting multiple vertex positions at once synchronously. We need to support updating multiple vertex positions and then calling listenres. Most errors that have occured to today have been around these lines.

[code]

[2022-03-01 21:56] jessegreenberg opened #90 "Replace updateDeferredProperties with Property's setDeferred"
It turns out that Property has built-in functionality for deferring the setting of value and calling callbakcs. By using `setDeferred` I think we can

1) Resolve many of the crashes that we are seeing after #80.
2) Possibly make the `step` function unecessary the model because we can set positions all at once without waiting for things in the animation frame.

[2022-03-01 23:29] jessegreenberg commented on #89
This has been fixed with #90

[2022-03-01 23:29] #89 closed

[2022-03-01 23:44] jessegreenberg commented on #87
This is now fixed. Letting @BLFiedler know since he reported this today.

[2022-03-01 23:44] #87 closed

[2022-03-01 23:46] jessegreenberg commented on #82
I just fixed a similar issue that was unlrelated to phet-io but may have caused this, #87 -  @KatieWoe can you see if this has been fixed on master?

[2022-03-01 23:47] jessegreenberg commented on #42
The bug listed in https://github.com/phetsims/quadrilateral/issues/42#issuecomment-1055635594 should be fixed by #90. @BLFiedler back to you to review this. Anything else for this or will we continue in #41?

[2022-03-02 16:14] BLFiedler commented on #58
That solution should work fine for our current scaffolding. It might become a problem if we ever scaffold non-parallelograms. So far it feels alright!

One thing I have noticed is it is very hard to hear the Tom (all sides equal) when the Parallelogram Maintenance sound is playing. All-Right-Angles is pretty easily heard. Can we raise the relative volume of the Tom?

[2022-03-02 16:25] BLFiedler commented on #42
Not getting the aforementioned crashes on Mouse or Touch! Yes, let's continue with stickiness and other out of boundary behavior in #41

[2022-03-02 16:25] #42 closed

[2022-03-02 16:41] BLFiedler opened #91 "Inconsistencies between Serial and Model Values"
![jitter](https://user-images.githubusercontent.com/47331395/156409190-a172a5f4-fe08-406a-94d1-b22d04f1cd91.gif)

![image](https://user-images.githubusercontent.com/47331395/156407910-b0cd7313-f0c1-41c8-b1ee-bbb35959cb45.png)
![image](https://user-images.githubusercontent.com/47331395/156407993-7ce892b5-c08d-4715-a203-e421a6fa5c0f.png)

[2022-03-02 18:45] Nancy-Salpepi commented on #82
I was unable to reproduce the sounds originally reported in this issue on Mac + Chrome/Safari/Firefox or on Win10 + Chrome/Firefox.

I know that PhET-iO probably isn't being worked on right now, but I did want to report other unusual sounds I noticed. I wasn't sure if I should open a separate issue or not for them at this time.

1. Using Chrome (either MacOS or Windows), when I open the State wrap

[2022-03-02 18:50] zepumph commented on #82
This is helpful to report here, thanks. We may not work on this until phet-io get's a sprint in this sim. Unassigning.

[2022-03-02 19:01] jessegreenberg commented on #82
Thanks for testing @Nancy-Salpepi, that issue is good to know. I could definitely see the current sound implementation causing that in the state wrapper. We should come back to this after sound design becomes more final and we begin to work on PhET-iO in this sim. Unassigning.

[2022-03-02 19:43] jessegreenberg commented on #91
If I try to recreate the shape from the angle data exclusively:

<details>

![image](https://user-images.githubusercontent.com/6396244/156434900-8fa5922a-3a24-4078-b7f3-c64dcfdb1bab.png)

</details>

But if I try to create the shape from the side length data (dividing each model value by 10) I get something that looks like this:

<details>

![image](https://user-images.githubusercontent.com/639624

[2022-03-02 20:14] jessegreenberg commented on #81
Hmm, I am not sure but I haven't seen this one yet. Was this sim functional after this @terracoda? In the screenshot it looks like the ResetAllButton is still depressed so I have a theory that it was a hard crash and the screen stopped updating.

Also, I think bugs like this may have been resolved by #90 so there is a chance this is no longer an issue. @terracoda I am inclined to close, but let me

[2022-03-02 20:22] jessegreenberg commented on #80
Adjustment made in the above commit, back to @BLFiedler to review.

[2022-03-02 22:10] terracoda commented on #78
Ok, at last meeting we discussed having 2 buttons for the shape details, but this not simple at this time because it would involve changes to the Preferences Menu. As a work around which is a good fit for this sim, we will move shape names to the hint button, and keep shape details for the details button. This might mean the arrangement of Strings in the PDOM might be slightly different. I'll open

[2022-03-02 22:15] terracoda commented on #75
Assigning back to me . I need to recheck because of decision on Tuesday to include shape names in the hint instead of in the details.

[2022-03-02 22:16] terracoda commented on #75
Will re-assign shortly.

[2022-03-03 14:17] BLFiedler opened #92 "Crash and freeze during side interaction"
While dragging the right side with a large shape that was a parallelogram, I encountered this crash. Was able to reproduce once. It seemed to happen when the bottom right vertex hit the bottom boundary, but I haven't found the consistent way to make it happen.

![image](https://user-images.githubusercontent.com/47331395/156581615-c0526931-d6de-437a-974e-7fabc35308fa.png)

Possibly related is anoth

[2022-03-03 14:19] BLFiedler opened #93 "Shape jitter and vertex position uncertainty when moving two sides simultaneously"
I'm not sure if this is related to the recent crashes, but when attempting to drag two sides simultaneously using a touchscreen, there is jitter and the sides appear to warp around a bit (as though it's not certain which finger to prioritize..?) Will try to get a video.

[2022-03-03 14:22] BLFiedler opened #94 "Sequential movement when dragging two elements simultaneously"
I am not sure if this is related to any of the other recent issues, but I've noticed that during simultaneously drag using two fingers, it's impossible to have them move at the same time and there is always a sequential step (e.g., side 1 steps left, then side 2 steps left) no matter how hard I try to keep my fingers moving at the same rate and direction.

[2022-03-03 14:22] terracoda commented on #75
I am going to make a second issue for the Hint button content as that content is now dynamic.

[2022-03-03 14:43] BLFiedler opened #95 "Set new default tolerance interval values"
When issue #86 is complete, can we have a full list of all toleranceIntervals (including scaleFactors)?

I'd like to assign a few new default values to them, including changing the scaleFactors to be larger to accommodate greater difficulty in multitouch when the toleranceIntervals for parallelogram and shape maintenance become smaller.

[2022-03-03 14:53] BLFiedler commented on #91
Yeah, it's quite likely there are just some sensor issues exclusive to my device, but I think it may also be worth some time to overlap with Scott and ensure that calculations on both sides are as synchronized as possible.

[2022-03-03 15:03] #80 closed

[2022-03-03 16:27] terracoda commented on #75
Oh maybe, one issue is fine. Here's the final design for the hint button content. It's pretty straight forward. Here's a link to the [Hint Button Phrases and Parameters](https://docs.google.com/document/d/1jXayebAWnnNzsT3l6o72YPw4-YtiQaHQNuAi64eiguc/edit#heading=h.2geae9lmgmz1)
![image](https://user-images.githubusercontent.com/1902116/156606933-af98cc8a-af36-4eac-b278-0f5e282b3592.png)

We will u

[2022-03-03 16:36] terracoda commented on #78
Ok, I think I have a solid draft of phrases and defined parameters. I would like to discuss this latest version with @BLFiedler before assigning over to @jessegreenberg

[Shape Properties: Phrases & Parameters for Details & PDOM Summary](https://docs.google.com/document/d/1jXayebAWnnNzsT3l6o72YPw4-YtiQaHQNuAi64eiguc/edit#heading=h.jw6i1lijfde1)
![image](https://user-images.githubusercontent.com/19

[2022-03-03 20:00] BLFiedler commented on #78
I do see the need for specific information when the resolution of the side length or angle differences is not enough. Especially with the Trapezoid case, where the 1 set of parallel lines is not quite obvious from the description there. Definitely worth a deeper discussion, but it's looking really good!

[2022-03-07 13:21] jessegreenberg commented on #86
Both are possible. The reason we made it a percentage of the length was because of this:
[code]

If we have a "task oriented" and "shape oriented" tolerance interval this won't be necessary. @BLFiedler how would you like to proceed?

[2022-03-07 20:29] BLFiedler commented on #91
![image](https://user-images.githubusercontent.com/47331395/157112890-eded13aa-78f3-4bf6-aa37-4733c523d1cc.png)

[2022-03-07 20:58] jessegreenberg commented on #91
@BLFiedler @jessegreenberg and Scott met to discuss this issue. We think there are two potential issues.

1) The values being sent from the devices are not hard coded or consistently mapped by the time that they reach the electron app. We are seeing some mirroring or cases where moving one side of the tangible affects a different side in the sim. Scott and I reviewed the electron app and the order

[2022-03-07 21:36] jessegreenberg commented on #92
I was able to hit this assertion once, but haven't found the consistent case. It is caused by the side drawing code here
https://github.com/phetsims/quadrilateral/blob/d93b6d40acd283be00a85111d118b02ec01cc99f/js/quadrilateral/view/SideNode.ts#L77-L86

[2022-03-07 21:59] #92 closed

[2022-03-07 22:06] jessegreenberg opened #96 "Shape gets stuck and doesn't reset"
From https://github.com/phetsims/quadrilateral/issues/92, the quadrilateral shape gets stuck and you cannot move a side in cases where you should be able to. Seemingly different from the "sticky" cases in #41. When this happens resetting the sim resets the shape but not the parallelogram state. See #92 for example images.

[2022-03-07 22:09] jessegreenberg commented on #96
The reset part of the problem happens because the `angleToleranceInterval` doesn't reset on reset. IF you move a side, the angle tolerance is negative infinity and that doesn't update on reset.

[2022-03-07 23:20] jessegreenberg commented on #96
The reset issue was fixed in the above commit by resetting the tolerance interval when a reset begins.

[2022-03-07 23:23] jessegreenberg commented on #96
The next issue is that it seems you cannot set a side when two vertices are close to the play area bounds.

[2022-03-08 00:05] jessegreenberg commented on #96
Finally found it. Basically the vertices of the test shape were out of date before trying to use it to validate the proposed vertex positions while dragging a side.

@BLFiedler fyi this has been fixed.

[2022-03-08 00:05] #96 closed

[2022-03-08 00:16] jessegreenberg commented on #86
Previously, we actually used the "static" tolerance interval for the length maintenance task and the dynamic tolerance interval for the shape detection code. So it seems we want to swap these.

[2022-03-08 02:10] jessegreenberg commented on #86
OK done in the above commits.

All calculations related to name detection uses an unchanging length tolerance interval.

All calculations related to "length maintenance task" use the dynamic length tolerance interval which is a function of side length. `tolerance interval = length * lengthToleranceIntervalScaleFactor`, where `lengthToleranceIntervalScaleFactor` is a query parameter and default val

[2022-03-08 02:49] jessegreenberg commented on #58
Sounds good. I tried to increase the output level of the "tom" sound but I didn't hear any difference even when increasing it 50%. But it does start to distort. Reducing the output of the parallelogram maintenance sounds instead to see how that goes.

The "maintenance" sounds are already turned way down, output level was 0.2. I reduced it to 0.1. @BLFiedler can you please review?

[2022-03-08 15:22] jessegreenberg commented on #93
Confirmed. It kind of feels like a performance issue to me. When dragging one side or multiple vertices the framerate is ~55 fps but when dragging two sides the framerate goes down to ~15 fps with `?profiler`.

[2022-03-08 15:28] jessegreenberg commented on #93
@BLFiedler I saw this issue the first time I loaded the sim on my touchscreen device but after clearing the cache I am not seeing this anymore. Is this still an issue for you?

[2022-03-08 15:41] BLFiedler commented on #95
Wahoo! Thanks Jesse. This is very helpful. Also tagging @terracoda for awareness.

Let's go to the more extreme end for most of these. For very small shapes, there is still a bit of inconsistency and it reveals that area where you can drag laterally but retain "same lengths", but I think that will likely be unavoidable (just like small values of RaP, but I don't feel it's necessary to work around

[2022-03-08 19:00] jessegreenberg commented on #91
This was discussed during meeting today.

We identified that the device could provide length and angle values that don't actually form a legitimate quadrilateral. We discussed today how that is possible and what we should do about it. We brainstormed some things but didn't come up with a concrete solution.

[2022-03-08 22:14] jessegreenberg commented on #20
Notes as I work on a solution that uses 4 discrete markers.

I made substantial progress on this today, here is my code:
<details>

[code]

</details>

Demonstration of the behavior, with detected positions controlling the sim:

<details>

![ezgif com-gif-maker](https://user-images.githubusercontent.com/6396244/157334659-09f899d0-711e-4e38-9bba-0268dd49ae4a.gif)

</details>

Don't have labelled ve

[2022-03-09 15:38] terracoda commented on #77
@jessegreenberg, I updated the content above to match the design document.

I included the dynamic part of the scene summary, but that also is part of issue, so the exact strings above for the shape properties could change.

[2022-03-09 16:07] jessegreenberg commented on #20
Discussed status with @BLFiedler, over slack he mentioned two things that would be good to have next
1) A shareable version so the team can try it and determine what should be worked on next.
2) A way to flip the camera feed so that it will work if the camera is over the shoulder instead of pointing toward user's face.

[2022-03-09 16:41] BLFiedler commented on #20
I think we'll need to support both horizontal and vertical flip? I made a quick video about possible detection window orientations with respect to the marker locations

https://user-images.githubusercontent.com/47331395/157487817-60b42ae0-6a97-4400-8af6-fbbd729b3a4f.mp4

[2022-03-09 22:03] BLFiedler opened #97 "Implement PhET-iO for data collection"
PhET-iO was implemented by JG in the early prototypes of Quad. Collecting relevant needs and information here for future refinement according to research needs.

Talking to MK, he reported this to me in Slack (when talking about Ratio and Proportion, but the same applies here):

[2022-03-09 22:07] BLFiedler commented on #97
Tagging relevant Ratio and Proportion links:
https://github.com/phetsims/ratio-and-proportion/issues/142
https://github.com/phetsims/special-ops/issues/202 (private)

[2022-03-10 15:56] scottlambertSLU commented on #91
Hello, I fixed one of the issues from screenshot above - RT and LB angles were swapped. I had down that angle 1 is TL, 4 is TR, 3 is BR, 2 is BL, but I found (at least arduino side) that 1 is TL, 2 is TR, 3 is BR, 4 is BL (2 and 4 swapped). Behaves better now:

https://user-images.githubusercontent.com/94307965/157700692-8e407262-18ab-4897-ac23-cfe965ca0691.mp4

[2022-03-10 16:06] jessegreenberg opened #98 "Performance is terrible on iPad Air 2"
Noticed while debugging an unrelated issue. Performance on my Android phone is much better. Just noting because it is a platform we currently support.

Drawing code and code related to determining drag areas with kite is super inefficient. Thats probably where I would start to optimize.

[2022-03-10 16:07] jessegreenberg commented on #98
@BLFiedler just wanted to ping you about this, in case it needs some effort before June targets.

[2022-03-10 17:15] BLFiedler commented on #98
Hm. Is it equally bad on vertex or side movement? I see some degradation in performance on a 6th gen iPad when dragging multiple sides, but otherwise seems okay on both Chrome and Safari (iOS 15.3.1).

[2022-03-11 12:40] terracoda commented on #20
These are really interesting perspectives on the device. I have questions about how to consistently start the description.

[2022-03-12 18:38] terracoda commented on #78
@jessegreenberg, in the design doc I have updated the tables posted in previous comments. I am still working on the rules for non-parallelogram shapes. Everything is ready for parallelogram shapes. Everything, that is, except how best to determine the starting vertex and side.

Will assign to you when rules for non-parallelograms are documented.

[2022-03-12 19:24] terracoda commented on #77
Copying images from the Voicing Design doc's [Hint Button Phrases and Parameters](https://docs.google.com/document/d/1jXayebAWnnNzsT3l6o72YPw4-YtiQaHQNuAi64eiguc/edit#heading=h.fu635z2hs0cr) in case you need more details:
<img width="1030" alt="image" src="https://user-images.githubusercontent.com/1902116/158031869-895f5ac9-98a2-4d52-ad1d-e09298c51705.png">

<img width="1027" alt="image" src="http

[2022-03-12 19:28] terracoda commented on #76
Nothing above has changed in the last 17 days. Still ready to implement the headings and interactive object names (and Tab Order).

[2022-03-12 19:32] terracoda commented on #75
No changes to the Read-me button hints in last 17 days, ready to implement.

[2022-03-12 19:34] terracoda commented on #77
Related to Voicing issue #75

[2022-03-12 19:40] terracoda commented on #77
Ready for initial implementation.

[2022-03-12 19:46] terracoda commented on #79
@jessegreenberg, the corners have been renamed, but the sides still need to be re-named.

For description orientation accuracy, the model will need a way of determining what corner and side to start with the state descriptions. I will open a separate issue for that.

[2022-03-12 19:47] terracoda commented on #79
The names of the objects will be the same in Interactive description, see issue #76 and checklist issue #74.

[2022-03-12 19:49] terracoda opened #99 "Update Tab Order for Voicing to Match PDOM"
Once the PDOM headings and objects are implemented, the Tab order for Voicing should match. The PDOM Tab order is defined in issue #76 which is ready for implementation.

[2022-03-14 00:00] jessegreenberg commented on #76
Headings and PDOM traversal order have been set as described here. @terracoda would you like to review?

[2022-03-14 00:01] jessegreenberg commented on #99
This should be done now, traversal order for Voicing should automatically match PDOM. Can you confirm @terracoda?

[2022-03-14 00:03] jessegreenberg commented on #79
This is done in the strings but I haven't updated the model yet. One interesting thing to consider is the pronunciation of the side letters with screen readers and SpeechSynthesis.

For me Chrome reads out "Side DA" as "Side Dah". @terracoda do we need to do anything about this?

[2022-03-14 14:01] jessegreenberg commented on #77
I added the static parts of the scene summary in the above commit. If I understand correctly I think that is all for this issue for now? The dynamic part is still being worked on and the tables related to Voicing in https://github.com/phetsims/quadrilateral/issues/77#issuecomment-1065947800 will be added in #75. Is that correct @terracoda?

[2022-03-14 15:59] terracoda commented on #78
@BLFiedler suggested a different structure for the ordering logic:

 Within a sentence or between sentences, when ordering sets of corners or sides:
  -  Parallel (sides only)* > Equal (sides or corners)* > Remaining corners/sides*

 *When ordering within the above sets:
-  Bottom (-Y) > Left (-X).
    - Choose the bottom-most (-Y) vertex or side (that has not been described). In the case of a tie

[2022-03-15 16:34] #57 closed

[2022-03-15 16:36] BLFiedler commented on #58
I lose the Tom sound on smaller speakers. Bringing up at meeting, but pinging @Ashton-Morris to put on his radar to design around potentially?

[2022-03-15 17:34] BLFiedler commented on #58
@Ashton-Morris mentioend being able to add some "harmonics" or similar that folks use on more bassy sounds so they are audible on a wider range of speakers. He'll create a variation or two to try out.

[2022-03-15 20:43] Ashton-Morris commented on #58
I have added some high end and harmonics too test out. [Please see file here.](https://drive.google.com/file/d/1UPbodaVqBXIpHjwWx6_GEPa_fVrQBEBg/view?usp=sharing)

[2022-03-15 20:56] terracoda opened #100 "Define Qualitative Scale for Comparative Corner Size"
Related to #78, here is best guess at the starting region ranges for the Comparative Corner Size parameter used in the Details and in the dynamic state description used in the PDOM's scene summary.

At this time, it is only required to implement the scale for Voicing, but the design goal is for these descriptions to remain in synch.

The table is design doc is [Comparative Corner Size Parameters ]

[2022-03-15 20:57] terracoda commented on #100
Again, Voicing is the priority. Just do both Voicing & Description when it makes sense to do so.

[2022-03-15 21:02] terracoda opened #101 "Define Comparative Side Length Parameters for Dynamic Details"
Related to #78, here is best guess at the starting region ranges for the Comparative Side Length parameter used in the Details and in the dynamic state description used in the PDOM's scene summary.

At this time, it is only required to implement the scale for Voicing, but the design goal is for these descriptions to remain in synch.

Here's a link to the [Comparative Side Length Parameters](https:

[2022-03-15 21:04] terracoda commented on #101
The priority is for Voicing implementation, implement dynamic state description, if it makes sense to do so and saves time.

[2022-03-15 21:22] terracoda commented on #78
@jessegreenberg, the design doc has the latest iteration of the above table screen shots. Here are screen shots of Detail 1 and Details 1 & 2 just for a few parallelogram. There should not be any changes to the phrasing of the 3 main Details of the Shape Properties, but I am still trying to add some details that might be helpful to you for actual phrases, so i don't want to copy that big table in

[2022-03-15 21:24] terracoda commented on #78
The ordering logic is in https://github.com/phetsims/quadrilateral/issues/78#issuecomment-1066994121

[2022-03-15 21:26] terracoda commented on #78
The priority is to implement the Details button for Voicing. Add the dynamic big-picture summary to the PDOM if that makes sense and saves time. The design goal is that these descriptions will remain in synch.

[2022-03-15 21:33] terracoda commented on #79
Actually, I'll test with VO, first.

[2022-03-15 21:39] terracoda commented on #79
I have changed my mind. Don't change it.

The pronunciation will vary between Voices and platforms. I hear Side DA as separate letters D A in Safari with WebSpeech and with VoiceOver.

Let's leave it with no space, unless of course, you already added a space and I am hearing D A because you added a space.

[2022-03-15 21:42] terracoda commented on #79
@jessegreenberg please close update the names in the model and close this issue.

[2022-03-15 21:43] jessegreenberg commented on #79
Sounds good. No, I had not made any changes here yet.

[2022-03-16 09:34] terracoda commented on #99
Sounds great @jessegreenberg. I tested on VoiceOver and iOS VoiceOver.

[2022-03-16 09:34] #99 closed

[2022-03-16 09:38] terracoda commented on #76
The headings and object names sound good in VoiceOver and iOS VoiceOver.

[2022-03-16 09:38] #76 closed

[2022-03-16 09:49] terracoda commented on #77
Oh yes, you are correct @jessegreenberg . This issue is just for the static parts. The interaction hint is now dynamic.

[2022-03-16 14:41] BLFiedler commented on #78
As @terracoda thought it might be helpful, I'm placing this shape hierarchy figure in this issue

![image](https://user-images.githubusercontent.com/47331395/158615918-c447df91-86ca-4f0b-a6da-e1c835e85bfa.png)

[2022-03-16 16:06] terracoda commented on #77
The static parts of the scene summary are implemented nicely. Thanks.

[2022-03-16 16:06] #77 closed

[2022-03-17 19:56] jessegreenberg commented on #58
The sound from https://github.com/phetsims/quadrilateral/issues/58#issuecomment-1068449868 has replaced the old tom sound. @BLFiedler back to you to review.

[2022-03-17 20:56] jessegreenberg commented on #75
Done, back to you for review @terracoda. The details button will no longer sound correct, that will be handled elsewhere.

[2022-03-17 22:39] jessegreenberg commented on #78
It seems like we need this kind of info in the model to support these descriptions
[code]

Much of this is already calculated, but not available on the model. I think Ill refactor and add all of this to the model as reusable fields.

[2022-03-18 15:34] BLFiedler commented on #58
I can hear it on smaller speakers for sure! Let's plan on discussing at sound meeting.

[2022-03-18 16:03] terracoda commented on #75
I think the shapes are all good, except for when it is just a general parallelogram. Currently, you have:
- You have a parallelogram, and a general quadrilateral.s Explore what makes parallelograms.

But I only want "parallelogram" in this case, like this:
- You have a parallelogram. Explore what makes parallelograms.

![image](https://user-images.githubusercontent.com/1902116/159038575-298bd3d2-3

[2022-03-18 21:17] jessegreenberg commented on #78
In the above commit I added the proposed model Properties and they seem to be updating successfully and correctly. Ready to work on some descriptions 🔧

[2022-03-22 18:00] BLFiedler commented on #58
To check w/ JG next week: Is the volume mixing still set to make up for the lack of audibility of the tom sound? Making sure some of the "blown-out"-ness of the sound is not due to anything like that rather than the sound itself.

[2022-03-28 16:50] KatieWoe opened #102 "CT Fatal error: tsc failed with code: 2"
[code]

[2022-03-28 21:27] jessegreenberg commented on #102
Thanks @KatieWoe - @jbphet fixed these tsc errors, thank you!

[2022-03-28 21:27] #102 closed

[2022-03-29 01:49] jessegreenberg commented on #78
Questions for next meeting:
-  "Corner {{B}} points toward Corner {{D}}." has note "not sure if this is required. Is it?

[2022-03-29 13:51] jessegreenberg opened #103 "shapeAngleToleranceIntervalProperty should not be a Property"
It should be static and constant, there is no need anymore for it to be an observable.

[2022-03-29 15:46] jessegreenberg commented on #78
About the tolerance issue.

For the trapezoid detection issue:
 - We are adding angles and then using the same tolerance interval. For addition we could double the tolerance interval so that it is more lenient in this case.
 - We could double the `shapeAngleToleranceInterval`.
   - Note that this wouldn't quite fix it.

In the end we identified that it might not be a problem! I was confused about

[2022-03-29 19:31] BLFiedler opened #104 "Implement vibratory haptics for Android app"

[2022-03-29 22:07] jessegreenberg commented on #78
The above commits complete details 2, ready to start details 3.

[2022-03-30 13:59] jessegreenberg opened #105 "CT: Uncaught Error: Assertion failed: there should be two pairs of equal opposite angles for a parallelogram"

[2022-03-30 14:11] jessegreenberg commented on #105
We could make this more graceful by checking the conditions of vertex pairs in addition to shape name before generating descriptions. I think the better alternative is to ditch the "defer setting parallelogram state until the animation frame" strategy but that would take a lot of work.

[2022-03-30 14:42] jessegreenberg commented on #105
Using the  `setDeferred` feature of Property to wait to call listeners until after all vertex positions have been set seems to be working as well as waiting for the next animation frame to accomplish the same thing. Sim is behaving OK and fuzzing without error.

[2022-03-30 15:30] jessegreenberg commented on #101
This is getting folded into #78 as it is needed to produce the descriptions designed there. I think this can be closed but assigning back to @terracoda to confirm.

[2022-03-30 15:44] KatieWoe opened #106 "CT Assertion failed: there should be two pairs of equal opposite angles for a parallelogram"
[code]

[2022-03-30 18:37] jessegreenberg commented on #52
Scott and I met today and got BLE messages sent from his chip to an electron app. He is going to work on getting all Quad data moving through the chip. Then we will pair again to either receive BLE messages within the sim directly or within the electron app.

[2022-03-30 19:45] jessegreenberg commented on #106
Yes, this is no longer showing up. Closing.

[2022-03-30 19:45] #106 closed

[2022-03-31 03:02] jessegreenberg commented on #78
OK the "details" button is done and ready for review.  There is still some cleanup to do but the Voicing is working.

The only thing I had a little trouble with was ordering the side descriptions according to the priority described in the doc (parallel >equal >vertical >horizontal order). I believe it is correct but there were a few examples in the design doc that did not match the output currentl

[2022-03-31 03:13] jessegreenberg commented on #75
Good catch @terracoda, thanks. Fixed in the above commit. Can you please review?

[2022-03-31 13:43] jessegreenberg commented on #58
@BLFiedler happy to discuss more details but you can hear the original sound file here: https://drive.google.com/file/d/1UPbodaVqBXIpHjwWx6_GEPa_fVrQBEBg/view

It sounds a little fuzzy to me too, if that is that what you mean by "blown-out"-ness.

[2022-03-31 15:23] jessegreenberg opened #107 "CT Error: Assertion failed: there should be two pairs of equal opposite angles for a parallelogram"
Query params: brand=phet&ea&fuzzBoard&voicingInitiallyEnabled&memoryLimit=1000

Maybe similar to #106, seeing this again. Here is the snapshot when I hit this locally:

![image](https://user-images.githubusercontent.com/6396244/161091315-8d2aed0e-e1e5-46ca-b3e4-7a5e9786d959.png)

There are no equal opposite angles. Something is still out of sync.

In this case the `angleToleranceInterval` is infin

[2022-03-31 15:55] jessegreenberg commented on #95
Testing recently I find it very challenging to find a quadrilateral when using a mouse with these values. Not necessarily a problem but it is my experience, it has to be placed pretty exactly.

[2022-03-31 19:36] jessegreenberg commented on #107
OK, fixed in the above commit I think. Describing opposite angles as equal whenever the shape is a parallelogram, even if they are not equal within `angleToleranceIntervalProperty`.

[2022-03-31 19:36] #107 closed

[2022-04-01 15:31] jessegreenberg opened #108 "CT: Error: Assertion failed: There should be one pair of parallel sides for a trapezoid"
[code]

[2022-04-04 18:02] jessegreenberg commented on #108
Here is a pic of the sim when I hit this error locally:
![image](https://user-images.githubusercontent.com/6396244/161604164-d8d3e508-f5f1-4816-b9ef-223f6d902d55.png)

[2022-04-04 18:24] jessegreenberg commented on #108
This is happening because the trapezoid name detection just uses `shapeAngleToleranceInterval` and requires that one pair of adjacent angles add up to Math.PI. But the description for a trapezoid requires that one pair of opposite sides are parallel.

Parallelism uses `angleToleranceInterval`. You can see in this state that `angleToleranceInterval is `-Infinity`, so the two sides will never be par

[2022-04-04 18:36] jessegreenberg commented on #108
To reproduce the problem,
1) Create a trapezoid by dragging vertices (only vertices!)
2) Modify the trapezoid by dragging a side.

Step 2 will set the `angleToleranceInterval` to `-Infinity` and the shape will no longer have any parallel sides within that tolerance interval.

I made a commit to fall back to something instead of crashing until we can discuss what to do.

[2022-04-04 19:00] jessegreenberg commented on #108
@BLFiedler suggested that we try removing the `+Infinity` and `-Infinity` tolerance cases now that positions are constrained to a grid. They may not be necessary.

[2022-04-04 19:02] BLFiedler commented on #108
**Slack Log for posterity:**

The more we talk about shapes, I am starting to think some shapes should be in the actual responses.
[2:41](https://phetsims.slack.com/archives/GUXFY1NQ2/p1649097682826699)
But maybe that is like giving the answer.

BF
I believe is it more "giving the answer" if you provide a name and then list the specific qualities that differentiate it from other shapes. e.g., "Thi

[2022-04-04 19:12] BLFiedler opened #109 "Make model consistent for parallel determination for both trapezoids and parallelograms"
In bringing the model in line with our long discussed shape hierarchy and recent decisions on what we mean by "parallel" in our scheme, we'd like to use the complementary angle viewpoint for determining parallel lines.

![image](https://user-images.githubusercontent.com/47331395/161614555-385475d6-34ff-4cb7-a400-cc1eb14c653d.png)

To be a quadrilateral, all angles but add up to 2*pi radians (360 d

[2022-04-04 19:14] jessegreenberg commented on #108
Here is a version with this change: [dev.colorado.edu/html/quadrilateral/1.0.0-dev.26/phet/quadrilateral_en_phet.html?showModelValues](https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.26/phet/quadrilateral_en_phet.html?showModelValues)

I reverted the change in master, we can commit to it if we like it.

[2022-04-04 19:21] jessegreenberg commented on #109
@BLFiedler we decided that say that two sides are parallel when the vertices that connect the two sides add up to Math.PI
[code]

Can we trust this now and say that we have a parallelogram when we have two pairs of sides that are parallel with this calculation?

[2022-04-04 20:22] jessegreenberg opened #110 "Remove tiltProperty"
It is a bit complicated and we have decided not to use it in various views. The sound views that are currently using it are likely to be removed soon.

[2022-04-04 20:37] jessegreenberg opened #111 "More rigorous control for the order of setting Properties"
Currently there is a bug mentioned in #108 because there is a bad dependency on the order that listeners are called when Properties change. Currently, we have an order like this:

vertex positions change
shape name is recalculated
vertex angles are recalculated

But we need to make sure that angles are up to date before we try to calculate the angle.

I think we need to change the model to enforce

[2022-04-04 21:23] jessegreenberg commented on #111
The brunt of this work was done in the above commit, closing.

[2022-04-04 21:23] #111 closed

[2022-04-04 21:24] jessegreenberg commented on #108
There was a substantial sound bug in the link posted above, here is a version with this change with that fixed: https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.27/phet/quadrilateral_en_phet.html

[2022-04-04 21:25] jessegreenberg commented on #110
Not neccessary to have this issue, we will remove this Property when we remove the prototype sounds but I don't have time for that at the moment.

[2022-04-04 21:25] #110 closed

[2022-04-05 02:10] jessegreenberg opened #112 "CT Error: Must be one and only one intersection between lines"
Query: brand=phet&ea&fuzz&memoryLimit=1000
Uncaught Error: Assertion failed: Must be one and only one intersection between lines
Error: Assertion failed: Must be one and only one intersection between lines

![image](https://user-images.githubusercontent.com/6396244/161665261-6f8e5ec2-e4ba-451f-a360-06cb281db87e.png)

It looks like the shape is being reset.

[2022-04-05 02:30] jessegreenberg commented on #112
Fixed by updating order dependent Properties in #111 before emitting the shapeChangedEmitter. CLosing.

[2022-04-05 02:30] #112 closed

[2022-04-05 13:31] jessegreenberg commented on #109
OK, this change was made in the above commit. Here is how it works now:

1) Find the pairs of opposite sides that are parallel. Opposite sides are parallel according to the diagram and calculation above.
2) The shape is a parallelogram if we have 2 pairs of parallel sides from step 1.

@BLFiedler is this what you had in mind and can you please review?

[2022-04-05 13:35] jessegreenberg commented on #103
This ended up being simple because the only usage of the Property was in `isShapeAngleEqualToOther`. Done in the above commit, closing.

[2022-04-05 13:35] #103 closed

[2022-04-05 15:41] jessegreenberg opened #113 "Consider renaming angleToleranceInterval"
It is confusing by name when comparing against `shapeAngleToleranceInterval`.  The `angleToleranceInterval` is only used when detecting parallelism, can we rename it to something that describes that?

[2022-04-05 15:45] jessegreenberg opened #114 "Deactivate the "side length maintenance" sound"
Discussed during 4/5/21 that this is something that probably doesn't need to be in the sim.

[2022-04-05 16:04] jessegreenberg opened #115 "Side focus highlights should conform to the side shape"
They currently just surround the bounds of the side.

[2022-04-05 16:25] jessegreenberg commented on #78
In 4/5/22 meeting, we discussed that I didn't get the ordering of the sides quite right. It should always be relative to the first vertex of the side (instead of determining which side is lowest).

Back to me to make this change.

[2022-04-05 17:05] BLFiedler opened #116 "Increase tolerance interval when leaving the interval for tangible/computer vision input"
From Google Doc:

Can we 'stickify' the feedback points?
Bias user intention toward “important parts” - e.g., parallelogram, right angles, equal side lengths
When using the tangible, make it harder to break of a tolerance than it was to get into - assume user intent to achieve those states
Want a feeling that I am in a state, increasingly important that a learner does not pop in and out of a state

[2022-04-05 17:13] BLFiedler commented on #20
When a shareable version is ready, let's keep a version with the non-identified vertices (relabels when the shape rotates)

Next step will be adding vertex identification to enable rotation of the quad while keeping the same vertex from startup

[2022-04-05 17:14] terracoda commented on #79
The sides have been renamed. Thanks @jessegreenberg. Closing.

[2022-04-05 17:14] #79 closed

[2022-04-05 17:54] BLFiedler opened #117 "Differentiate when shape is restriction due to internal boundaries or play area boundaries"
We discussed adding vibratory feedback to differentiate two cases in transforming the quad shape:

[2022-04-05 18:11] jessegreenberg commented on #115
@terracoda @BLFiedler this is done:
![image](https://user-images.githubusercontent.com/6396244/161822104-74eeef00-5e09-4f8c-a606-a69a69ff1916.png)

[2022-04-05 18:11] #115 closed

[2022-04-05 18:38] BLFiedler commented on #117
Not sure who will work on this or if it will be during overlap - but assigning both JG and JB (feel free to remove if this won't be in your boat)

[2022-04-05 18:57] jessegreenberg commented on #117
This may be a bit difficult because of https://github.com/phetsims/quadrilateral/issues/15. Each vertex has a unique shape defines where it is allowed to be. In addition there are checks to make sure that vertices and sides do not overlap with eachother.

It may be ideal to resolve #41 first, but understand that may not fit in the timeline for this issue.

[2022-04-05 18:58] terracoda commented on #75
The overview and hint are all good. Each shape is named correctly in the Hint button content.

[2022-04-05 18:58] #75 closed

[2022-04-05 19:05] terracoda commented on #78
The description implementation is really good, though I know you are still working on ordering of corner and side names.

One thing I noticed while listening is that there is very little space between Detail 2 and Detail 3. Can you make sure there is a period there (a full stop) and a space. This is quite pronounced in the Parallelogram descriptions.

Is there any way to view the Voiced text on th

[2022-04-05 19:10] terracoda commented on #78
@jessegreenberg, I'll create a separate issue to implement the dynamic scene summary since Voicing is the priority.

[2022-04-05 19:11] jessegreenberg commented on #78
Great!

You can run the sim with query param `?printVoicingResponses` and it will put the output of Voicing in the dev tools console of your browser.

I hear this too, but when I use `?printVoicingResponses` it looks like
"Right now, opposite corners are equal, and opposite sides are equal. Equal Corners C and A are a little smaller than equal Corners D and B. Parallel Sides CD and AB are a little

[2022-04-05 19:15] terracoda opened #118 "Dynamic big picure in Screen Summary"
In https://github.com/phetsims/quadrilateral/issues/78 I created a combined issue for Voicing and Interactive Description for the dynamic details read-me button and the dynamic big-picture of the scene summary.

Since Voicing implementation is the priority, I will separate #78 into two parts, #78 will be the implementation of the Details button. And this issue will be for implementation of the sam

[2022-04-05 19:18] jessegreenberg commented on #108
https://github.com/phetsims/quadrilateral/issues/108#issuecomment-1088908994 does not work because there are NO parallel sides when the `angleToleranceIntervalProperty` is `-Infinity`. Ill consider changing `angleToleranceIntervalProperty` to work for pairs of sides instead of the entire quadrilateral like we discussed during meeting today.

[2022-04-05 19:20] BLFiedler commented on #109
This seems to be working well! And by that I mean I cannot tell there is anything different when making a parallelogram and I can successfully make a trapezoid and maintain it when dragging a parallel side. So. Closing.

[2022-04-05 19:20] #109 closed

[2022-04-05 19:25] BLFiedler commented on #104
We've decided to implement the 4 cases found under the Dynamic haptic design.

(pasted from design, not necessarily most up to date)

Repeat: While user continues to have finger on corner
Intensity: 1.0

Repeat: While user continues to have finger on side
Intensity: 1.0

Repeat: No repeat
Intensity: 1.0

Repeat: Continuous
Intensity: 0.25-1.0

Cases 3 and 4 require model changes from issue #117

[2022-04-05 19:29] jessegreenberg commented on #114
Instead of removing anything I actually just made the default sound design "Success Sounds"
![image](https://user-images.githubusercontent.com/6396244/161834374-c2149278-9de1-41e6-8aa6-b7d6136cb9f5.png)

And so the length maintenance sounds are all disabled by default.

@BLFiedler is this working OK for now?

[2022-04-05 19:30] BLFiedler commented on #116
Specifically,

Let's try increasing the tolerance interval for angleToleranceInterval, shapeAngleToleranceInterval, and lengthToleranceInterval (when the tangible is attached OR when using OpenCV) when within the tolerance.

e.g.,

NOT A PARALLELOGRAM:
angleToleranceInterval = 0.01

IS A PARALLELOGRAM
angleToleranceInterval = 0.03

or

UNEQUAL SIDE LENGTHS
shapeAngleToleranceInterval = 0.01

EQUAL

[2022-04-05 20:19] terracoda commented on #100
The comparative side length descriptions seem to be working.

[2022-04-05 20:19] #100 closed

[2022-04-05 20:19] jessegreenberg commented on #104
@jbphet and I had two questions about the above design:

1) We weren't sure how case 4 would trigger. Is it continuous while dragging along the edge? Does it continue to vibrate if the object is left along the boundary?
2) Confirming the "pause" request that was mentioned today. We think that refers to disabling input so that user can trace the shape and feel vibratory feedback that way. Is that c

[2022-04-05 20:32] terracoda commented on #101
The comparative side length descriptions seem to work.

[2022-04-05 20:32] #101 closed

[2022-04-05 20:44] terracoda opened #119 "Implement Responses for checkboxes"
The responses for the checkboxes are in the Interactive description design document. Copying the responses here to be implemented for Voicing's virtual experience.

**Corner Labels, checkbox**
- Name Response: Corner Labels
- No object response
- Context responses:
    - When checked: Letters A through D added to corners.
   - When checked: Names hidden.

**Corner Guides, checkbox**
- Accessible N

[2022-04-05 21:15] terracoda opened #120 "Reset button needs to reset checkboxes"
The reset all button should reset sim to the starting state.
Just in case this is not on a to do list, I am adding an issue.

[2022-04-05 21:37] jessegreenberg commented on #78
OK, the ordering of sides has been adjusted to match the prioritization in the design doc. @terracoda back to you to review and to review my comment in https://github.com/phetsims/quadrilateral/issues/78#issuecomment-1089210649.

[2022-04-05 21:40] jessegreenberg commented on #120
Thanks for pointing out @terracoda! Fixed in the above commit.

[2022-04-05 21:40] #120 closed

[2022-04-05 21:54] jessegreenberg commented on #119
Definitely! Context responses added, back to @terracoda to verify or close.

[2022-04-05 22:02] jessegreenberg commented on #118
Thanks for making a separate issue! That makes sense to me. I don't think Ill get to this for a little while though :(

[2022-04-05 22:04] jessegreenberg commented on #113
This doesn't seem too important yet, lets see what happens after #108

[2022-04-05 22:20] jessegreenberg commented on #117
Discussed with @jbphet in conjunction with #104, Ill work on this and it does seem like #41 should be done first ideally.

[2022-04-06 13:35] jessegreenberg commented on #113
Over slack, @BLFiedler and I thought that that more descriptive alternatives to `angleToleranceInterval` like `parallelismAngleToleranceInterval` were too long, and changing this doesn't seem too beneficial at this time. Closing but we can do this any time if we need.

[2022-04-06 13:35] #113 closed

[2022-04-06 14:47] jessegreenberg commented on #108
OK, this is done and it seems to be working well. The steps in https://github.com/phetsims/quadrilateral/issues/108#issuecomment-1087885985 are no longer a problem. Instead of a single `angleToleranceInterval` for parallelogram, there are now two `angleToleranceInterval`s, one per opposite side pair. They behave similarly to https://github.com/phetsims/quadrilateral/issues/26#issuecomment-10158221

[2022-04-06 15:24] jessegreenberg commented on #116
Yes, makes sense. We might have something to play with in #20, Ill try adding these once that is ready.

[2022-04-06 15:26] BLFiedler commented on #108
Great! One thing I've noticed (that I'm not sure we addressed in our discussion of this yesterday):

Are we missing the -infinity behavior from before? I'm still able to drag a side as a trapezoid and make a parallelogram I think it probably behaves differently now, but I think what might need to happen is if (AB,CD) are parallel, then (BC,DA) needs to become -Infinity for a trapezoid. I think?

h

[2022-04-06 15:45] BLFiedler opened #121 "Add a visual grid to support shape creation by means of symmetry"
We discussed the difficulty in creating particular shapes, including parallelograms when beginning from irregular shapes.

Strategies have included lining up the shape with the play area boundary or the showModelValues box.

We decided that adding an optional reference would aid in shape exploration. Possibilities included a draggable ruler, a static line, a cartesian graph, and a grid.

We decide

[2022-04-06 15:58] BLFiedler opened #122 "Add a visual indictor for non-target shape detection"
To bring visual in parity with the auditory display, we'll need a visual indicator for when a non-target shape is detected. Currently, an auditory tick plays for non-parallelogram shapes.

It should be appropriately subtle and much less interesting than the green color change of the parallelogram.

I was thinking of 2 options.

1. Since we're using color feedback for the parallelogram, let's conti

[2022-04-06 16:05] jessegreenberg opened #123 "Shift modifier key for sides is broken"
Sometimes it moves one side and not the other.

[2022-04-06 16:11] #114 closed

[2022-04-06 16:13] jessegreenberg commented on #108
Hmm, good find...yes it seems like we need to support that case. If one side is parallel and is being dragged, the other pair needs to have its tolerance interval set to `-Infinity` if it is not parallel so this doesn't happen.

[2022-04-08 04:58] jessegreenberg commented on #52
The above commit sets up way to connect to a bluetooth device in the sim, Scott and I will meet tomorrow to try it out.
![image](https://user-images.githubusercontent.com/6396244/162367818-60b918f1-3e5f-42ce-ada2-7767e7a8a335.png)

[2022-04-08 17:15] jessegreenberg commented on #52
Shockingly, this sim code worked with Scott's bluetooth chip out of the box! Scott will continue to get the data from the device ready for bluetooth sending but we are ready to respond to it sim-side.

[2022-04-12 18:07] BLFiedler commented on #104
Discussed in Slack, but we'll likely use language around "locked" as suggested. First haptic design will focus on the dynamic sim before adding a "locked" mode. Priority will be given in a separate issue for implementing the locked state.

[2022-04-13 17:15] BLFiedler commented on #97
To bring up when we start in on PhET-iO development:
1. A way to synchronize PhET-iO data collection with other data collection methods e.g., screen capture, video camera
- Maybe a button in the Preferences menu that begins the recording process? Perhaps a sound that begins with that button audible on other collection sources?
3. Where to store the data? Locally? Server?

[2022-04-14 23:45] jessegreenberg opened #124 "Implementation changes after https://github.com/phetsims/scenery/issues/1403"
After https://github.com/phetsims/scenery/issues/1403 changes are coming to Alerter.ts and Voicing.ts which may require implementation changes in the sim. This issue is to track and review.

[2022-04-15 23:52] jessegreenberg commented on #124
I think the above is all we need for quadrilateral.

[2022-04-15 23:52] #124 closed

[2022-04-18 15:49] jessegreenberg commented on #108
Some vertex positions where I can get this to happen consistently by setting to this value and then moving the top side to the right.
![image](https://user-images.githubusercontent.com/6396244/163834704-da805b74-5915-4729-bbe3-d85342cfb852.png)

[2022-04-18 18:38] jessegreenberg opened #125 "Increase the pointer areas for vertices?"
I think at one point vertex mouse/touch areas used to be larger. I removed the larger touch areas when we added sim graphics. But after playing with the sim I am finding that change makes it difficult to grab vertices. @BLFiedler what do you think about increasing the mouse/touch areas for the vertices?

[2022-04-18 20:46] jessegreenberg commented on #108
I think we need a totally different implementation than I tried in https://github.com/phetsims/quadrilateral/commit/8708ff96f0a70d2a26eb413f8bf7e6255aedadaf because the tolerance interval of each opposite side pair needs to be dependent on the interaction and `isParallel` state of the other opposite side pair. We need a type that combines them so they can query eachother.

[2022-04-18 21:24] jessegreenberg opened #126 "Does it still make sense to have vertex labels be optional?"
If the toolbar buttons are pressed before the "Corner Labels" checkbox the responses can be difficult to follow. There is no introduction to vertices or sides labelled by letter. Would it make sense to always display vertex labels?

[2022-04-18 21:56] jessegreenberg commented on #108
Actually I was able improve this without changing much, here is the new logic added to the "angleToleranceInterval" calculation:

[code]

@BLFiedler can you please review and test again?

[2022-04-19 12:49] BLFiedler commented on #126
I think we want to continue to support the ability to manipulate the shape without explicit reference. I can verify with interested parties.

However, I see the issue when Voicing is enabled. Does it make sense to auto-enable Corner Labels and provide a context response when Voicing is turned on (if it is not already on)?

I imagine then that when the Voicing toggle is enabled you'd hear: "Voicing

[2022-04-19 12:52] BLFiedler commented on #125
Are you trying this on a laptop/tablet or mobile touchscreen?

Either way, I agree we could extend it past the graphical bounds of the vertex. Is there a precedent for how far out is reasonable to extend the radius of touch interaction?

[2022-04-19 12:58] terracoda commented on #126
Interesting question.

I think there may be an issue with the suggested approach as the Preferences Menu is not part of the sim.

I wonder if it might make better sense to start with Corner Labels on by default and then a leaner or teacher has the option to hide (uncheck) the visual labels as needed or as preferred.

That would avoid a special sim-specific response when turning on Voicing from wit

[2022-04-19 13:00] terracoda commented on #126
As an example, GFLB starts with the Distance Arrows checked, but a leaner/teacher can uncheck it for a more qualitative experience with or without Voicing.

[2022-04-19 13:02] BLFiedler commented on #126
Makes sense. Let's go ahead with that approach for now.

@jessegreenberg Let's make the default state for the Corner Labels checkbox checked.

[2022-04-19 13:17] BLFiedler opened #127 "Boundary sounds (play area and shape limits)"
We'd like to come up with two different sounds that indicate a limit has been reached when manipulating the shape.

1.) the Play Area boundary is limiting shape transformation (a vertex has collided with the boundary, even if the vertex is under direct control)

2.) A vertex has collided with a side or vice versa. The side limit for minimum length has been reached.

We have examples of these in ot

[2022-04-19 13:21] BLFiedler opened #128 "Pickup sounds that are different for vertex and side"
To differentiate component pickup, we'd like two different sounds for picking up a vertex vs. a side

We could start by choosing a pickup/drop set of sounds for vertex similar to Faraday's law.

Perhaps the side length sound could just be a lower set of tones? Can discuss at sound meeting.

[2022-04-19 14:48] terracoda commented on #119
Verified. Thanks @jessegreenberg.

[2022-04-19 14:48] #119 closed

[2022-04-19 15:08] #108 closed

[2022-04-19 15:57] jessegreenberg commented on #122
In https://github.com/phetsims/quadrilateral/commit/d24a85779aece28dc2f590e688a21ff41a6aa003 I made it so the shape is the desaturated color when it is not a parallelogram and is a named shape. In https://github.com/phetsims/quadrilateral/commit/87bb5820061c06cf61362a7a68e0df922447e971 I tried changing it so that the desaturated color is only shown for 0.35 seconds.

Over to @BLFiedler to try it o

[2022-04-19 17:43] BLFiedler opened #129 "Hide non-parallelogram feedback in Sim-specific preferences menu"
We would like the ability to hide the visual and auditory feedback about non-parallelogram shapes for interviews/codesign.

Let's put both the visual and sound for non-parallelogram shape detection in the Sim-specific preferences menu as a checkbox and disable is by default (so no feedback is provided).

Let's also create a query parameter to enable it on load for interviews.

[2022-04-19 17:44] BLFiedler commented on #122
This will work for now until we get more robust feedback from codesign studies on how we might provide feedback on the hierarchy (toward separate cases or toward inclusive property feedback).

Secondarily, we would like the ability to hide this feedback along with the sound for interviews/codesign. This will happen in issue #129

[2022-04-19 17:44] #122 closed

[2022-04-19 17:47] #58 closed

[2022-04-19 23:17] terracoda opened #130 "Implement Object Responses for Corners and Sides"
The phrase patterns for the object responses for corners and sides are laid out in 2 tables in the design document.

**Object Response Phrase Pattern Rules (Parallelograms):**
- First provide details about the opposite corner or side, then call out important details:
    - When corner is a right angle, prepend “right angle”
    - When all corners/sides are equal (squares, rhombuses, rectangles), i

[2022-04-19 23:20] terracoda commented on #129
@BLFiedler, just to be totally clear, this will not affect the language we have in the read-me buttons (State Descriptions), right.

[2022-04-20 00:00] terracoda commented on #130
Here are the links to the examples in the Voicing Design Doc
- [Table: Possible Object Responses for Corners & Sides (Parallelograms)](https://docs.google.com/document/d/1jXayebAWnnNzsT3l6o72YPw4-YtiQaHQNuAi64eiguc/edit#heading=h.2apgyax1g10t)
- [Table: Possible Object Responses for Corners & Sides (non-Parallelograms)](https://docs.google.com/document/d/1jXayebAWnnNzsT3l6o72YPw4-YtiQaHQNuAi64eigu

[2022-04-20 00:00] terracoda commented on #130
@jessegreenberg, assigning over to you. Let me know if you have any questions.

[2022-04-20 00:07] terracoda commented on #130
I think these phrase patterns will work for Interactive Description, but I will open a separate issue for that.

[2022-04-20 00:14] terracoda commented on #30
There will be significant changes to these context responses. @jessegreenberg is it ok to work in the same issue?

[2022-04-20 00:34] BLFiedler commented on #129
Right. This is only intended to hide the visual cue and the sounds.

[2022-04-20 11:28] terracoda commented on #130
@jessegreenberg, one thing I didn't do in the design doc was put curly braces around parameters. I'll do that now.

[2022-04-20 12:54] terracoda commented on #130
Ok, @jessegreenberg, I added the curly braces and actually refined the rules slightly (sorry!)

[Table: Possible Object Responses for Corners & Sides (Parallelograms)](https://docs.google.com/document/d/1jXayebAWnnNzsT3l6o72YPw4-YtiQaHQNuAi64eiguc/edit#heading=h.2apgyax1g10t)
**Goal of Design:** Tabbing through all corners and sides ideally provides enough details to determine what the current sha

[2022-04-20 12:58] terracoda commented on #130
I also spell out the Simplified Comparative Scales that can be used for describing adjacent corners & sides in non-parallelograms

[Table: Simplified Comparative Corner Size Parameters](https://docs.google.com/document/d/1jXayebAWnnNzsT3l6o72YPw4-YtiQaHQNuAi64eiguc/edit#heading=h.t9g7ilxdyv2)
![image](https://user-images.githubusercontent.com/1902116/164235462-d0b40c5e-f8ac-4577-a530-5676ec22e761.

[2022-04-20 14:32] emily-phet commented on #20
@BLFiedler Sounds very cool! I can't seem to get the videos to load... is anyone else having this problem?

[2022-04-20 14:34] terracoda opened #131 "Safari issue with haptics - Mouse input no longer works"
I was just using Quad in Safari and mouse input no longer works anywhere.

@jessegreenberg thought this might be related to recent haptics implementation which does work on Safari.

Alt Input with keyboard seems to work fine.

[2022-04-20 14:41] BLFiedler commented on #20
I tried changing the formatting of the post above which made the embedding show up. Let me know if that fixes it. Otherwise, I've put the videos here, though they may take a bit to process: https://drive.google.com/drive/folders/1zwKRagycbptEeRXa3AhiuEQ0CeUCVsvh?usp=sharing

[2022-04-20 14:45] terracoda commented on #20
The corner demo is so cool @BLFiedler!

Do you know what is happening in the TMQ demo? It jitters without movement?

[2022-04-20 14:46] jessegreenberg commented on #129
OK, done in the above commit. A checkbox has been added in the Preferences dialog to turn it back on. A query parameter was added called `?shapeIdentificationFeedback=true` to set the initial state of the checkbox.

Over to @BLFiedler to verify.

[2022-04-20 14:49] jessegreenberg commented on #131
Thanks for reporting @terracoda. We started using tappi in #104 which uses `navigator.vibrate` to trigger vibrations. `navigator.vibrate` is not available on safari so when it starts to request vibrations the sim will crash on that platform. We need to do something like prevent its usage on safari or conditionally use tappi in quad or improve tappi to no-op on Safari.

@jbphet do you have a prefer

[2022-04-20 15:06] terracoda commented on #78
I'll open a separate issue about making the Voiced text available...maybe @zepumph already has a solution for that in the console?

[2022-04-20 15:15] terracoda opened #132 "Can we get visual access to the Voiced text?"
In RaP, we have a query parameter &printVoicingResponses

Is it feasible to have that fro Quad, too?

The reason the text would be handy is that, I would be able to separate actual Web Speech pronunciation issues from  non-optimal capitalization, punctuation or spacing in the Voiced strings. Text-to-Speech software can be quite finicky about these things.

[2022-04-20 15:26] jessegreenberg commented on #132
Indeed! This is a query parameter in common code so `?printVoicingResponses` should be usable for all sims that support Voicing.

[2022-04-20 15:29] BLFiedler commented on #129
No feedback, but shape detection using `?showModelValues`. Seems correct to me!

[2022-04-20 15:29] #129 closed

[2022-04-20 15:50] terracoda opened #133 "Sides and Angles when using &showModelValues"
Is it possible to make the displayed labels for the values match the sims labels?

Side AB:
Side BC:
Side CD:
Side DA:

Corner A:
Corner B:
Corner C:
Corner D:

[2022-04-20 16:01] #78 closed

[2022-04-20 16:01] terracoda commented on #78
I thought we were missing a case, but we are not :-)

[2022-04-20 18:02] jbphet commented on #131
@terracoda - I've pushed some changes that should prevent this issue on Safari.  However, I don't have a good way to test it.  Please try it out and let us know if the problem with mouse input is resolved.

[2022-04-20 19:07] BLFiedler commented on #20
Repost of my above comments with some additional details taken while chatting with @jessegreenberg . Includes plans for new issues to prioritize after Voicing:

- As expected, detection is quite dependent on lighting conditions. I decreased min S and min H until other stray objects appeared, then bumped it back up a bit. Might be good to figure out how to support setup for nonvisual users, whether

[2022-04-20 19:18] emily-phet commented on #20
Cool videos! I think this shows lots of potential, particularly with the four blocks...

[2022-04-21 13:44] #131 closed

[2022-04-21 13:44] terracoda commented on #131
Thanks @jbphet!

[2022-04-21 17:15] jessegreenberg commented on #133
Thanks @terracoda that is a good idea. Updated in the above commit, over to you to confirm.

[2022-04-22 16:47] jessegreenberg opened #134 "Fill in missing return types"
Testing a new lint rule with an auto fix for missing return types from https://github.com/phetsims/chipper/issues/1215

[2022-04-22 16:52] terracoda commented on #132
I can use the parameter. It's working and the punctuation and spacing all look fine. Closing.

[2022-04-22 16:52] #132 closed

[2022-04-22 16:54] jessegreenberg commented on #134
I reviewed the results and the lint rule reviewed everything correctly.

[2022-04-22 16:54] #134 closed

[2022-04-22 16:59] terracoda commented on #133
Beautiful. Thanks @jessegreenberg. That will greatly reduce my cognitive load when reviewing.

[2022-04-22 16:59] #133 closed

[2022-04-25 19:32] jessegreenberg commented on #41
I tried a different approach where we use the intersection of lines along the x and y axes relative to the mouse position with the shape. But when both x and y axes intersect it is ambiguous which intersection point to use for the vertex. Here is an example of it switching between intersection points in a somewhat confusing way:
![rts](https://user-images.githubusercontent.com/6396244/165160692-b8

[2022-04-25 22:45] jessegreenberg commented on #41
OK, I have a way to do this now using a Line function `explicitClosestToPoint`. Instead of creating the drag area shape we create `Line`s that outline the shape and iterate over each to find the closest point to the closest line. Then we use the collection of Lines to draw the drag area for each vertex.

Its working well along the boundary but the vertex/vertex and vertex/side collisions are not c

[2022-04-25 22:46] jessegreenberg commented on #41
Ideally we should modify what we did in https://github.com/phetsims/quadrilateral/issues/15 so that the single shape itself prevents vertex/side and vertex/vertex overlap.

[2022-04-25 22:57] jessegreenberg commented on #41
Here are the (purple) points that define the shape currently:
![image](https://user-images.githubusercontent.com/6396244/165187069-186e8a5b-de42-4496-bd18-75581bfda486.png)

I think what we need is a shape like this
![image](https://user-images.githubusercontent.com/6396244/165187781-3c6bb540-74ec-4bc0-a480-6273f5feb26d.png)

The red lines indicate how we find the direction for the diagonal lines

[2022-04-25 23:29] jessegreenberg commented on #41
The red lines in https://github.com/phetsims/quadrilateral/issues/41#issuecomment-1109118484 aren't quite right because they are dependent on the current position of the moving vertex. The shape for the moving vertex shouldn't change as it is dragged.

[2022-04-26 14:42] jessegreenberg commented on #41
This morning I was able to get a portion of https://github.com/phetsims/quadrilateral/issues/41#issuecomment-1109118484 but there is more to be done for more complicated and concave shapes.
![rts](https://user-images.githubusercontent.com/6396244/165326407-72780657-44b4-4f23-a630-1df64998e416.gif)

[2022-04-26 15:22] BLFiedler commented on #29
For Teacher Tips and/or Model.md
- Shape Hierarchy figure/notes
- Model restrictions:
  - No crossed shapes

[2022-04-26 16:09] jessegreenberg commented on #41
We discussed during meeting today:  Since we are close to using this solution, lets see it working for concave shapes if possible and then review again.

We also discussed that we could just erode the shape that is calculated in master. There is a question about whether that will work in all cases, but it may be simple and worth trying. In this approach @BLFiedler suggested that vertex/side overla

[2022-04-26 18:47] jessegreenberg commented on #41
A pure scaling matrix applied to the shape isn't working out, I don't know how to reposition the shape control points after the scaling:

<details>

![image](https://user-images.githubusercontent.com/6396244/165370075-9324b2c3-1b9e-4c16-a508-ee8f86d10b4d.png)
</details>

I tried some hackiness using getStrokedShape to create a new shape from the control points from a line width. Its really close b

[2022-04-26 19:37] jessegreenberg commented on #41
I have to move on for a bit but here is some progress:

<details>

[code]
</details>

[2022-04-26 20:58] jessegreenberg commented on #104
@jbphet and I added vibration for Case 1 and Case 2. We are still working on the other cases and the issues that are blocking that part.

But if you would like to review case 1 and case 2 on an Android device you can do so here: https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.28/phet/quadrilateral_en_phet.html

Assigning to @BLFiedler so you are aware (would assign to others from SLU bu