[2022-04-26 21:26] jessegreenberg commented on #41
I tried using `getOffsetShape` but it looks the same as `getStrokedShape`. I am going to bail on this it seems like it is no easier than manually calculating points.

[2022-04-27 14:43] BLFiedler commented on #41
Yeah, seems like it's own rabbit hole. Perhaps returning to solving for the concave case in https://github.com/phetsims/quadrilateral/issues/41#issuecomment-1109884900 is better?

[2022-04-27 14:47] jessegreenberg commented on #41
Yes I decided to move back to that approach at the end of https://github.com/phetsims/quadrilateral/issues/41#issuecomment-1110135452. The problem in https://github.com/phetsims/quadrilateral/issues/41#issuecomment-1111083130 is present in the proposal from the original approach from https://github.com/phetsims/quadrilateral/issues/41#issuecomment-1109884900.

[2022-04-27 17:06] jessegreenberg commented on #41
I tried a few more things here:
- Getting the centroid of the shape before scaling it down, then scaling it down, then translating it back to the original centroid
- Getting the centroid of the shape points and pulling all points toward the centroid to reduce the area

They worked OK for lots of cases but broke in many others.

Here is a patch

<details>

[code]
</details>

I am stumped and I thin

[2022-04-27 17:22] BLFiedler commented on #41
Right -  I agree with moving over to Voicing issues for now.

We can meet to discuss on Monday or so if it'd be helpful to think about what might work best here. Maybe revisiting the angle restrictions? I think I am more concerned with vertices overlapping and angles near 0 (forming lines) than I am some portion of the sides overlapping the vertices (or rather being under them).

[2022-04-27 18:53] terracoda commented on #130
@jessegreenberg, I reviewed the rules and the examples in the design document. The examples should be clean.

I did adjust the rules slightly....

**Object Response Phrase Pattern Rules (Parallelograms):**

- First provide details about the opposite corner or side, then call out important details:
    - When corner is a right angle, prepend “right angle”
- Second describe the corner/side in relati

[2022-04-27 22:09] jessegreenberg commented on #130
The above commit adds object responses for the vertices on `focus`. Ill work on sides next.

[2022-04-27 22:16] jessegreenberg commented on #130
Its a little difficult to see what is being changed in https://github.com/phetsims/quadrilateral/issues/130#issuecomment-1111365809 but I think it is

[2022-04-27 23:17] jessegreenberg commented on #130
One slight discrepancy in the google doc for adjacent side descriptions is that sometimes I see "adjacent equal sides" and other times I see "equal adjacent sides".

Over slack @terracoda and I discussed and decided it should be

We also decided to add the `{{parallel to and}}` phrase for parallel sides to all shapes (not just non-parallelograms) for now. These can be changed later any time.

[2022-04-27 23:21] jessegreenberg opened #135 "Move strings back to translatable strings file under the a11y key"
During a sprint for #130 I just added strings inline. But they need to be moved over to the file now for organization.

[2022-04-27 23:29] jessegreenberg commented on #130
I am not sure yet when object responses should be spoken but for review and debugging purposes we are speaking them on `focus` events and `down` events. This can be changed any time.

[2022-04-27 23:33] jessegreenberg commented on #130
OK, Object responss for corners and sides are complete: https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.29/phet/quadrilateral_en_phet.html?showModelValues&printVoicingResponses&voicingInitiallyEnabled

@terracoda  back to you to review, let me know if there are any issues with this version!

[2022-04-28 15:19] jessegreenberg commented on #121
The symmetry grid checkbox has been added. @BLFiedler can you please review?

Also @terracoda can you please recommend context responses for this new checkbox?

[2022-04-28 15:25] jessegreenberg commented on #126
Corner labels are visible by default. @BLFiedler is there anything else for this issue?

[2022-04-28 15:49] jessegreenberg commented on #130
@terracoda do you know how you created that shape? I tried to reproduce but I am not seeing the same thing trying to place the vertices:

![image](https://user-images.githubusercontent.com/6396244/165792135-7036e0a8-ef56-4e7e-8af1-ce9f9087449d.png)

I am guessing we need to fix this by having the detected shape name override the length comparison. Like "if it is a square/rhombus always described t

[2022-04-28 17:24] terracoda commented on #130
@jessegreenberg, I did mix up using both small and default step sizes, so that might be the issues. The small step size seems to allow 2 steps within tolerance.

[2022-04-28 18:53] KatieWoe opened #136 "CT reentry detected"
[code]

[2022-04-28 18:56] jessegreenberg commented on #136
Thanks @KatieWoe also it looks like there is a PhET-iO error in here about tandem ids, Ill take a look.

[2022-04-28 20:42] jessegreenberg commented on #136
The CT error that I saw locally was the PhET-iO issue and

THose have been fixed after the above commits. Ive been fuzzing for a long time now and I don't see the reentry error. Im not sure why it would start happening now, there have been no changes in that area. Ill watch CT and see if it happens again.

[2022-04-28 21:52] jessegreenberg commented on #135
OK this is done except for some very prototypy strings that will probably be deleted soon.

[2022-04-28 21:52] #135 closed

[2022-04-28 21:53] jessegreenberg commented on #136
This isn't showing up for any tests in the latest column, closing
![image](https://user-images.githubusercontent.com/6396244/165853789-72a62eef-8d33-4b54-8ef5-1e5a06a2b9ee.png)

[2022-04-28 21:53] #136 closed

[2022-04-28 22:20] jessegreenberg commented on #130
I was not able to fix this but I think I see how this could happen with our angle tolerance interval and shape name detection function. @terracoda I believe this should be fixed.

[2022-04-29 17:28] jessegreenberg commented on #41
I had some success with implementing this in a way that is demonstratable, we can play with it in this patch:

<details>

[code]
</details>

The algorithm works but it continues to have the problem demonstrated in https://github.com/phetsims/quadrilateral/issues/41#issuecomment-1111083130. Reducing the drag area in this way also doesn't work with the reduced area lines cross, for example here with

[2022-05-02 17:11] terracoda commented on #121
@jessegreenberg, I put all checkbox context responses in the design document here:
https://docs.google.com/document/d/1jXayebAWnnNzsT3l6o72YPw4-YtiQaHQNuAi64eiguc/edit#heading=h.mdwog6bsxanh

**The Symmetry Grid ones (only new ones) are:**
Name Response
- Symmetry Grid

No Object Response

Context Responses
- Grid lines added.
- Lines hidden.

I also created a hint response, only for the focus eve

[2022-05-02 17:18] terracoda opened #137 "Hint Responses for checkboxes"
I generally design hint responses based on the PDOM help text as the help text is more critical for non-visual access.

Here are my suggested hint responses for the the three checkboxes in Quadrilateral.

For checkboxes, the hint responses only fire on keyboard focus and when helpful hints are checked in the Preferences menu.
- Explore shapes with or without visual labels.
- Explore shapes with or

[2022-05-02 17:22] jessegreenberg commented on #121
Thanks @terracoda, these context and hint responses have been added.

[2022-05-02 17:28] terracoda commented on #137
@BLFiedler, shall we have @jessegreenberg put on these Hint Responses, so we can hear how they sound?

[2022-05-02 17:32] terracoda opened #138 "Update Overview to include new check box"
@jessegreenberg, please update teh Overview Button text to reflect the addition of the Symmetry Grid checkbox.

**Change third paragraph from:**
In addition, checkboxes add labels, guides to support your exploration, and a button resets the sim.

**To:**
In addition, checkboxes add or remove labels, guides, and grid lines to support your exploration. A button resets the sim.

I updated the PDOM de

[2022-05-02 17:35] jessegreenberg commented on #138
OK, updated in https://github.com/phetsims/quadrilateral/commit/06b1e1a9cd911078a4f0745621c7c12626ed6c77

[2022-05-02 18:15] #138 closed

[2022-05-02 18:17] terracoda commented on #121
@jessegreenberg, responses sound good. The new checkbox is not resetting with the Reset All button.

[2022-05-02 18:22] jessegreenberg commented on #121
Ah thanks for catching @terracoda, fixed above.

[2022-05-02 18:26] jessegreenberg commented on #41
The behavior of dragging physical object in energy-forms-and-changes is quite similar to what we need here. Relevant code is in EFACIntroScreenView `constrainMovableElementMotion`.

[2022-05-02 19:12] BLFiedler commented on #126
Looks good to me!

[2022-05-02 19:12] #126 closed

[2022-05-02 19:16] BLFiedler commented on #125
Noting visual here for posterity.

![image](https://user-images.githubusercontent.com/47331395/166310610-6afd3bc0-6d04-4996-969f-25214c382c62.png)

Feels fine to me. Before I close the issue, @jessegreenberg , can you note what happens when the pointer areas overlap? Does it prioritize the last dragged vertex or the tab order?

[2022-05-02 19:19] BLFiedler commented on #121
Awesome! I think we will want to adjust the grid size or positioning slightly to align better with the starting shapes initial corner positions - either changing the starting shape size or the grid itself. Let's plan to discuss.

[2022-05-02 19:22] jessegreenberg commented on #125
By default it uses the z order, whichever is on top which happens to be the order components are added to the view in code. So the priority will be D over C over B over A. That happens to be the reverse of the tab order.

Let me know if that needs to change.  We could move the dragged vertex to the top. We could also just increase the size and reduce the touch areas so that the touch areas cannot

[2022-05-03 15:33] BLFiedler commented on #41
In model meeting, we decided we would go with the collision model changes in place of the shape boundaries created in #15 . This will make the model more "physical", which may not have worked if we wanted crossed shapes, but we are explicitly preventing them here. We chose this over trying to continue adding physical constraints to the geometrically based model JG had previously created.

[2022-05-03 15:42] BLFiedler commented on #121
We decided to go with 5 major key presses as our units (go metric!), thus 20 minor keypresses. The starting shape magically aligns perfectly!

[2022-05-03 15:45] jessegreenberg commented on #121
During the meeting we agreed that https://github.com/phetsims/quadrilateral/commit/6389e78819a4a7cbeb20d53599beb765a578c963 looked OK, closing.

[2022-05-03 15:45] #121 closed

[2022-05-03 15:49] BLFiedler opened #139 "Implement PhET-iO data collection feature"
[placeholder]

[2022-05-03 15:51] #94 closed

[2022-05-03 17:28] jessegreenberg opened #140 "Position vertices absolutely in the OpenCV prototype"
From #20, we want to be able to position vertices absolutely instead of repositioning the shape so that it is always centered.

Currently we are using `setPositionsFromLengthAndAngleData` since that is what we already had for the TMQ.

[2022-05-03 18:19] BLFiedler opened #141 "Map vertex identity to OpenCV markers"
As noted in #20: "Lack of marker-to-vertex identity adds some funny behavior when rotating."

We want to add marker to vertex identity and we'll try something like modulating the width of each marker so we can later do some perspective adjustment (e.g., for tilt) (not priority for this issue).

[2022-05-03 18:23] BLFiedler opened #142 "Add an averaging function to OpenCV marker detection"
From #20: Detection jitter around all-side-equal and all-angle-equal is a bit frenzied as it enters and leaves the tolerance interval.

We'd like a simple averaging function for a few data points to smooth out the detection jitter as a result of OpenCVs marker detection uncertainty.

We want to balance smoothness with delay in changing the vertex position.

@jessegreenberg  mentioned he would look

[2022-05-03 18:25] BLFiedler commented on #116
This was done in RaP for MediaPipe in https://github.com/phetsims/ratio-and-proportion/issues/465#event-6509410797

[2022-05-03 19:55] terracoda commented on #130
@jessegreenberg, Ok, I think you got the first strings implemented correctly. The corners sound perfect. No changes there.

 So sorry, I missed the parallel-ness on the adjacent sides phrases. You have parallel-ness working pretty good for the opposite side phrases.

I've updated all the examples, and the rules, and I think we only have 2 critical adjustments to make to the adjacent side descripti

[2022-05-03 20:08] terracoda commented on #130
@jessegreenberg, I need fix the previous comment, it is not quite right.

[2022-05-03 21:04] jessegreenberg commented on #140
OK, this is done.

Over slack we discussed that we do not support concave shapes yet, but we should be able to once we have labels for each vertex.

[2022-05-03 21:04] #140 closed

[2022-05-03 22:35] jessegreenberg commented on #141
A first pass of this was done in the above commit, simply using marker area to label the vertex. The smallest to largest markers are labelled as vertex A through D. With this in place the shape can rotate without rearanging the vertices:

<details>

![image](https://user-images.githubusercontent.com/6396244/166584030-641d5a9e-ca4f-4471-b39f-2bb576882555.png)

</details>

This is working well when

[2022-05-03 23:07] jessegreenberg commented on #142
A basic smoothing function like https://www.arduino.cc/en/Tutorial/BuiltInExamples/Smoothing is working well, but the smoothing does...smooth. New positions take a little longer to be set in the sim.

![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/6396244/166587263-a261388b-df73-48ec-b243-13dbbe94c442.gif)

[2022-05-04 02:37] jessegreenberg commented on #142
I added a weighted average. It is snappier.

Even without the weighted average I am still seeing the jitter around all-sides-equal and all-angle-equal.

I think the thing that will solve this is to actually apply a resolution either in the sim or in the TMQ code that does not update a vertex position unless it has moved enough.

Actually, I don't think that the vertex positions from the TMQ are co

[2022-05-04 02:45] jessegreenberg commented on #142
The above commits have this working better, the all-angle-equal state seems pretty stable.

[2022-05-04 17:40] jessegreenberg commented on #142
OK this has been added. @BLFiedler over to you to test. Let me know if we need to modify this more or consider a different approach if it is still too noisy.

[2022-05-04 17:41] jessegreenberg commented on #141
Ready for review. By default the prototype is NOT doing this, but there is a checkbox to enable detection.

[2022-05-04 17:43] jessegreenberg commented on #142
I missed https://github.com/phetsims/quadrilateral/issues/116, I think that issue will help with some of the remaining jitter.

[2022-05-04 18:11] jessegreenberg commented on #116
This was easy for `angleToleranceInterval`  because of the work done in https://github.com/phetsims/quadrilateral/issues/108 which made it easy for the tolerance interval to be dependent on whether the shape is currently a parallelogram.

We probably need to do something similar for the other tolerance intervals.

[2022-05-04 19:11] BLFiedler commented on #116
I am getting the sense that we might go ahead and bias the approximate shapes a bit more for computervision (and probably this will apply to the tangible too).

Let's go ahead and raise the minimum for each tolerance a bit too. Perhaps 0.02 for the minimum (entry), 0.04 for the maximum (break out)?

Or perhaps we can make it adjustable at this stage? Query parameter?

[2022-05-04 19:13] terracoda commented on #137
The Corner Labels checkbox has the incorrect hint. It should be:
    - Explore shapes with or without visual labels.

The Corner Guides checkbox has not hint. It should be:
    - Explore shapes with or without visual angle guides.

The Symmetry Grid checkbox's hint is correct.

The Context Responses are implemented as designed.

[2022-05-04 19:33] BLFiedler commented on #125
I think it is fine until it isn't :) Good to note here though. Thanks!

[2022-05-04 19:33] #125 closed

[2022-05-04 20:38] jessegreenberg commented on #116
@marlitas and I worked on this a bit and got it working where the tolerance interval widens when connected to a device. It works like this:

If connected to a device and two sides are parallel, the `angleToleranceInterval` increases to 0.03. If connected to a device and a shape name is detected, the `shapeLengthToleranceInterval` and the `shapeAngleToleranceInterval` are increases to 0.03 from the

[2022-05-04 22:04] jessegreenberg commented on #116
I wanted to point out that we are already doing something like this when moving more than one vertex at a time.

[code]

The default value for angleToleranceIntervalScaleFactor is 10. Can we use that value for this as well?

[2022-05-04 23:10] jessegreenberg commented on #116
OK this is ready for review @BLFiedler, here are the changes so far:
1) When device is connected, default `angleToleranceInterval` is query parameter `?deviceAngleToleranceInterval` Default value is 0.2. When the pair of parallel sides are parallel `angleToleranceInterval` value is `?deviceAngleToleranceInterval` * `?toleranceIntervalScaleFactor`. Default value for scale factor is 10. Otherwise `a

[2022-05-04 23:20] jessegreenberg commented on #137
Sorry, looks like I accidentally moved the corner labels hint over the corner guides hint. Fixed in the above commit.

[2022-05-05 13:49] terracoda commented on #137
All good now! Thanks @jessegreenberg. Closing.

[2022-05-05 13:49] #137 closed

[2022-05-05 15:17] terracoda opened #143 "Implement basic Context Responses for finding and losing a parallelogram"
We know we need at least two general context responses to indicate finding or losing a parallelogram.

For a while now, we have been quite happy with these two context responses:
- "You made a parallelogram!"
- "You lost your parallelogram!"

However, I can make them slightly shorter and maybe more flexible (if we add more shapes) by using verbs only, no subject.

@jessegreenberg, can you implemen

[2022-05-05 15:55] jessegreenberg commented on #130
OK I think I have done everything in https://github.com/phetsims/quadrilateral/issues/130#issuecomment-1116514206 except for request 4. I tried for ~10 minutes but it was not going to be an easy tweak so I let it go. But I can return to it if it is important.

The updated examples in the google doc made these changes much easier for me to understand and implement, thank you for doing that @terraco

[2022-05-05 22:16] jessegreenberg commented on #143
OK sounds good, added in the above commit for parallelogram. I also removed the context responses that were added to the sim in December, we can restore them from history if we need.

[2022-05-06 18:35] terracoda commented on #143
Thanks for removing the older context responses.
 "Found a parallelogram!" and "Lost your parallelogram!" sound really good.

I just realized - while working on the more general context responses - that it is likely a good idea to incorporate some parameters into "Found a parallelogram!" The details about all equal corners and sides. I think these fit nicely in the basic context response.

@jesseg

[2022-05-06 18:56] terracoda commented on #143
Maybe "Found a {{parallelogram}} {{with all {{right angles and all sides equal}}}}!" sounds better?

I'll reverse the order.

[2022-05-06 20:15] terracoda opened #144 "Context responses that call out equality when maintaining a parallelogram"
To follow-up from #143 , I listed out the scenarios for calling out equality when maintaining a parallelogram in the design document in this [Table: Maintaining a parallelogram & calling out equality in corners and sides](https://docs.google.com/document/d/1jXayebAWnnNzsT3l6o72YPw4-YtiQaHQNuAi64eiguc/edit#heading=h.wg0ek35rj5z2)

Here a copy of the visual table that I mapped out:
![image](https://

[2022-05-09 14:48] KatieWoe opened #145 "CT PhET-iO API error:"
[code]

[2022-05-09 15:32] jessegreenberg commented on #145
Thanks @KatieWoe. This is a common code component and should not be specific to quadrilateral. It isn't showing up in ratio-and-proportion because that sim disables phet-io-state in https://github.com/phetsims/perennial/blob/5f8f275c58ddc2aee22a322cf81f60a74bbebc19/data/phet-io-state-unsupported#L12.

We would expect this to be showing up in john-travoltage and friction and we are not sure why it

[2022-05-09 15:32] #145 closed

[2022-05-09 16:59] terracoda commented on #130
@jessegreenberg, the adjusted object responses sound great. I went through all the shapes.

[2022-05-10 01:56] jessegreenberg commented on #144
OK, these have been added with the above commit. The implementation also includes #143. @terracoda just so you know it was far easier in this case to not use string patterns so a unique string was added for each case like

[code]

Ready for review.

[2022-05-10 01:59] jessegreenberg commented on #143
This was done with #144, ready for review again @terracoda.

[2022-05-10 14:00] BLFiedler commented on #116
Having these options is great! I am not sure exactly what the best settings for each is yet, but I think we'll find them. Leaving this open and assigned to me to locate good default values.

I had a set late last week that I neglected to write down, but as a note, JG used these most recently: https://phet-dev.colorado.edu/html/jg-tests/opencv-test/?showModelValues&deviceShapeAngleToleranceInterval

[2022-05-10 14:35] BLFiedler commented on #142
I want to see what folks think about the delay this introduces. It is noticeable if you're moving with moderate speed. I'll get a quick instruction video made up to send to folks and start gathering thoughts.

[2022-05-10 14:38] BLFiedler commented on #139
Duplicate issue. Closing.

[2022-05-10 14:38] #139 closed

[2022-05-10 14:41] terracoda commented on #143
These responses sound really good.

I did notice some inconsistency with the "all right angles" property. Sometimes I can pass through a mirrored parallelogram and not get it (no visual and no description). I'll mention this at design meeting.

[2022-05-10 14:45] terracoda opened #146 "All right angles property, sometimes doesn't fire"
While testing #143 , I noticed in some cases (hard to reproduce, but have done so) the all right angles property does not fire when moving a side and passing through a mirrored parallelogram.

I am using latest version on PhET Test. Apologies this example is not a video.
![image](https://user-images.githubusercontent.com/1902116/167656364-f051d3ad-b4ce-4227-91f2-c1ebf7f5b6e9.png)

[2022-05-10 14:52] jessegreenberg commented on #146
I tried for a few minutes to reproduce but couldn't find the case. @terracoda can you please reproduce this with the "symmetry grid" enabled and when it happens take a screenshot with ?showModelValues disaplayed so we can see the angles and the current tolerance interval values?

[2022-05-10 14:54] terracoda commented on #146
Yes, will try with model values. It popped up a couple of times, but I could easily reproduce.

[2022-05-10 15:36] BLFiedler opened #147 "Layer an "almost" property for shape identification using wider tolerances"
Posting info re: the discussion on being "almost" a shape for later consideration. Revisit during/after interviews & summer camp data collection.

From Slack:

TS:
In the spirit of approximation, I was thinking, I could add parameters to some the current named shapes that are currently named under the Play Hint button. For example, it's pretty easy to make a "general quadrilateral" when playing wi

[2022-05-10 18:15] jbphet opened #148 "Consider adding an initial dialog to enable haptic interactions"
We received some feedback in today's review meeting that the initial haptic vibration seemed a little delayed in the [HTML5 prototype of some early vibrational haptics support](https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.30/phet/quadrilateral_en_phet.html).  This is probably because of some sort of an auto-play policy, similar to what we've seen for sound, that prevents haptics from

[2022-05-10 18:16] jbphet commented on #148
I've assigned this to myself, but since it's a pretty significant UX change, I think I'll implement some other aspects of the haptics first, then have the team test it out and decide if it's a significant enough issue that we should add this dialog.

[2022-05-10 19:24] BLFiedler commented on #141
I believe what we settled on in the meeting was:

- [ ] Investigate maintaining marker identity when one or more markers are partially or fully obscured

with the following additional desired behaviors:
1. Covering one or two markers should allow the remaining detected to keep moving, only freezing the missing markers
1A. Only allowing the above behavior for one obscured marker and otherwise freez

[2022-05-10 19:27] BLFiedler commented on #142
Let me know if these should live in different issues, but from the last meeting (5/10), we should:

- [ ] Investigate reducing the aggregation of squares (smaller into bigger) in the masking stage of detection, which may reduce how much the center moves
- [ ] Make the input grid 2X (maybe bigger) for the tangible/OpenCV inputs
- [ ] Reduce the center point averaging to fewer samples to reduce inpu

[2022-05-10 21:36] jessegreenberg commented on #144
Sorry, forgot to assign you @terracoda.

[2022-05-10 22:04] jessegreenberg commented on #142
The idea behind this was that we are using what OpenCV calls "morphological operations" to reduce the noise after the filter. (https://docs.opencv.org/4.x/d9/d61/tutorial_py_morphological_ops.html). It removes areas of white pixels that are smaller than a provided region size, then restores the remaining regions by the same amount. The current region size is 10x10. Without any morphology it looks

[2022-05-10 22:08] jessegreenberg commented on #142
This is because new Vertex positions are set as new Vector2 instances even if the values are the same, which ensures that the Property listeners are firing.  We need a guard that makes sure that a Vector2 is only set if it is different from the current value.

[2022-05-10 22:15] jessegreenberg commented on #142
The above commit prevents it from singing every frame.

[2022-05-10 22:30] jessegreenberg commented on #142
OK this is behaving a bit better. I didn't remove the smoothing function yet because I still think it helps. I think it is likely fast enough that a user would not notice it. But we can certainly adjust/remove it.

@BLFiedler can you please test and let me know if anything else is needed or this issue? I recommend query parameters `?showModelValues&deviceShapeAngleToleranceInterval=0.05&deviceShap

[2022-05-10 22:50] jessegreenberg commented on #141
While working on this I noticed that the contours are susceptible to motion blurring like we had with the mechamarker input before. While stationary marker sizes are relatively free of noise but while the shape is moving there is huge variability in the size of each marker.

[2022-05-11 15:00] BLFiedler commented on #97
Copied over and edited from meeting notes:

# Minimum functionality for data collection
## Synchronization
- [ ] Precise Start/Stop to data collection (@zepumph added in https://github.com/phetsims/scenery-phet/issues/739)
  - Don’t want to fully start data collection with press of button, but we can spit out the state at that point. Ignoring stuff before is “asking for trouble”.
  - Button in Pre

[2022-05-11 15:04] jessegreenberg commented on #97
Thanks @BLFiedler thats great! There were some quad specific things that were listed yesterday that I no longer saw in the document. I think they were parallelogram state and vertex positions. Was there anything else?

[2022-05-11 15:06] BLFiedler commented on #97
I believe they just got rearranged and should be below Sim model values above. But that does remind me of something. Do we have any property that states how many sets of parallel lines we have?

[2022-05-11 15:14] BLFiedler commented on #97
Mentioning parallel efforts in https://github.com/phetsims/ratio-and-proportion/issues/468 for linking purposes.

[2022-05-11 15:26] jessegreenberg commented on #97
Got it, thanks! I moved all state info under that checkbox.

We currently have a set of Property that would look like this in the data stream
`sideABsideCDParallelSideChecker.isParallelProperty: boolean`
`sideBCsideDAParallelSideChecker.isParallelProperty: boolean`

Would that work? We also have a `parallelSidePairs` array whose length is the number of pairs of parallel sides. That would not show

[2022-05-11 15:42] BLFiedler commented on #141
I'm alright with trying colors, especially since it seems like we can do a pretty good job isolating those colors with the filters. I agree any spatial identification (shape, size, etc) is going to introduce this problem. Letting up size might let us later correct for perspective too, yeah?

[2022-05-11 15:45] jessegreenberg commented on #141
Yes, good point! Could definitely make that easier.

[2022-05-11 23:01] jessegreenberg opened #149 "Any updates to the "calibration" dialog/UI?"
A calibration button was added to the ScreenView that opens a dialog with some calibration data. Does anything about that need to change for upcoming studies? These were added as a proof of concept and may need further design consideration.

![image](https://user-images.githubusercontent.com/6396244/167961141-04035fa1-eb25-42ff-aa79-bd6440817b63.png)
![image](https://user-images.githubusercontent.

[2022-05-12 14:29] jessegreenberg commented on #97
@BLFiedler can you please comment on which constants and query parameter values you would like? I scanned `QuadrilateralQueryParameters` and I am not sure if any are useful. All the tolerance intervals have a dynamic behviour now and will show up in state in Properties. The rest are for debugging. Other constants do not change so we know their values without PhET-iO. But let me know if it would be

[2022-05-12 15:17] jessegreenberg commented on #97
OK thanks, I think I got that in the above commit

<details>

![image](https://user-images.githubusercontent.com/6396244/168109426-1117c1e4-79f7-401d-b897-27959ddd187f.png)

</details>

[2022-05-12 15:56] terracoda opened #150 "When should we hear parallel in object responses?"
In #130 we implemented and tested object responses for corners and sides.

Just now in dev version https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.31/phet/quadrilateral_en_phet.html?showModelValues

I heard a case where the shape was named a trapezoid, but the parallel sides were not described as "parallel"

[2022-05-12 15:58] terracoda commented on #150
When clicking on a non-parallel side, I think the adjacent sides need to be described as parallel.

I am checking the design document. I might have missed this detail as we iterated.

[2022-05-12 16:13] terracoda commented on #150
Could be tolerance issue? Not sure. I have haven't tested deeply.

[2022-05-12 16:18] jessegreenberg commented on #150
@terracoda do you know what the values of `angleToleranceInterval` are? They are covered up by that side. I suspect that the `shapeAngleToleranceInterval` indicates this is a trapezoid, but the `angleToleranceInterval` is negative infinity because a side was dragged while it is not a parallelogram.

[2022-05-12 16:22] terracoda commented on #150
Sorry
<img width="800" alt="image" src="https://user-images.githubusercontent.com/1902116/168122658-eabcac68-e067-4be7-bdb0-0a4c82f781dd.png">

[2022-05-12 16:23] jessegreenberg commented on #150
Excellent, thank you @terracoda! That means it probably isn't a model problem, Ill take a look.

[2022-05-12 16:54] jessegreenberg commented on #150
Turns out it was just a wrong string in the file...oops...fixed in the above commit.

However it did identify a parallel case that is currently not described. When only one adjacent side is equal to the object side the parallel state is not described and we hear

"equal to one adjacent side", as in the "Sides of a Kite" example:

![image](https://user-images.githubusercontent.com/6396244/168128067

[2022-05-12 17:10] jessegreenberg commented on #97
Instrumentation seems complete, https://github.com/phetsims/ratio-and-proportion/issues/142#issuecomment-832927592 for a reference to notes on how to parse the stream.

[2022-05-13 14:56] BLFiedler commented on #149
Yeah, a few small changes. Could we move the button itself out of the play area and into the control area just above the reset button? May require some text resize or make it a two line button?

Let's try modifying the text this way:

# External Device Calibration
**ComputerVision with OpenCV:** Close this dialog box to begin tracking. Use HSV sliders to optimize detection of all markers in your v

[2022-05-13 15:17] BLFiedler commented on #24
JG and BF suggested the possibility of a velocity limit? Let's revisit when the TMQ is hooked up again.

[2022-05-13 17:20] jessegreenberg commented on #97
OK, I have the following so far:
1) Played with the sim for a while in "record" wrapper with query param `?localFile`. Then saved output with `window.saveLogToFile("quadrilateral-log");`
2) I wrote the following Node.js script, borrowing most from RAP #142

<details>

[code]

</details>

Relevant data is defined here
<details>

[code]

</details>

It produces JSON output like this:

<details>

[co

[2022-05-13 19:43] jessegreenberg commented on #149
OK, I removed the calibration step when using OpenCV. I updated the button and dialog

![image](https://user-images.githubusercontent.com/6396244/168378801-c868f63d-2a0c-4357-92dc-f6783dad1ac4.png)

![image](https://user-images.githubusercontent.com/6396244/168378852-68107e96-8d08-45a4-ae78-658aa70b89c8.png)

Closing.

[2022-05-13 19:43] #149 closed

[2022-05-13 20:01] jessegreenberg opened #151 "Add area Property to the model"
Over slack @terracoda mentioned this may be useful for context responses, Ill add it. Looks like this is the formula for area of a general quadrilateral: https://en.wikipedia.org/wiki/Bretschneider%27s_formula

[2022-05-13 20:25] jessegreenberg commented on #151
@terracoda this has been added.

[2022-05-13 20:25] #151 closed

[2022-05-13 22:52] jessegreenberg commented on #141
I tried this today by getting some new duct tape colors using red, green, blue, white. I am running into some more challenges
1) The auto-detect approach that worked well for green isn't working well for red and white. For example, this is the filter I found I need for white

![image](https://user-images.githubusercontent.com/6396244/168398349-aef4d2d8-bbb9-45d6-80a2-65c9ada76adf.png)

the hue ran

[2022-05-16 14:53] terracoda opened #152 "Not always hearing actual shape name"
Some times I hear "You have a shapeName, not a parallelogram. Explore what makes parallelograms."

Trying to track down examples with &showModelValues... just noticed an example where parallelogram is voiced and displayed correctly, though the model says "general_quadrilateral"

<img width="826" alt="image" src="https://user-images.githubusercontent.com/1902116/168621373-2f3fc9a9-6639-4cdc-8611-94

[2022-05-16 15:00] terracoda commented on #152
Here's an example where I hear "shapeName" instead of "general quadrilateral". I think it is only the gen quad shapes that are the issue.
<img width="790" alt="image" src="https://user-images.githubusercontent.com/1902116/168623101-27fd43d6-11f5-4f20-8b40-f2fe3e010921.png">

[2022-05-16 15:00] terracoda commented on #152
Over to you @jessegreenberg

[2022-05-16 18:11] KatieWoe opened #153 "CT Parent already contains child"
[code]

[2022-05-16 20:39] jessegreenberg commented on #152
Fixed in the above commit, thanks @terracoda

[2022-05-16 20:39] #152 closed

[2022-05-16 20:41] jessegreenberg commented on #153
Looks like it is happening from the sound design panel, here is the screen when it crashes.
![image](https://user-images.githubusercontent.com/6396244/168678982-287d9e69-ae11-4428-84dc-0c1decff33c2.png)

[2022-05-16 20:45] jessegreenberg commented on #153
Ah, no it is the ClapperboardButton. If it gets pressed twice before becoming invisbile it tries to add two "synch backgrounds" to the screen triggering this assertion.

[2022-05-16 20:51] jessegreenberg commented on #153
Fixed.

[2022-05-16 20:51] #153 closed

[2022-05-16 21:30] #143 closed

[2022-05-16 21:44] terracoda opened #154 "Implement context responses that help describe transitions of tilt and area changes due to chaging angles and changing side length"
Following up to basic context responses fro finding and losing a parallelogram (#143), and responses that call out equality (#144), we need some transitory context responses about changing tilt (angle changes) and changing area of shape size (side length changes).

There are two tables in the design doc. One that outlines examples for maintaining a parallelogram and one that outlines examples for

[2022-05-16 22:52] terracoda commented on #154
**Here's the current phrase logic:**
- Proximity to Parallel
    - always in parallel when maintaining a parallelogram.
    - always in some proximity to parallel when NOT maintaining a parallelogram.

For parallelograms the first part of response describes tilt changes in 3 ways
- Tilt changes in Parallel
    - Opposite sides {{in parallel}} +
    - Opposite sides {{tilt}} {{in parallel}} +
    -

[2022-05-16 23:51] jbphet commented on #104
In the 5/10/2022 review meeting it was requested that we modify the vertex vibration pattern from [100ms on, 100ms off] to [75ms on, 75 ms off].

[2022-05-16 23:55] jbphet commented on #148
I was just testing haptic vibration using a Samsung Tab S7, and noticed that indeed, if I load the HTML5 version and start dragging a side or a vertex, no vibration is felt until I release it and do it again.  This seems like it could be a problem for our testing.  I think I might try adding a query parameter and a dialog and see how that works.  If it's a reasonable experience, I'll run it by the

[2022-05-17 15:01] terracoda commented on #150
I hear parallel adjacent sides in object responses for trapezoids now.
All good, now closing.

[2022-05-17 15:06] jessegreenberg commented on #150
Sorry, the question was not just about trapezoids but about  a trapezoid where an adjacent side has equal length like in https://github.com/phetsims/quadrilateral/issues/150#issuecomment-1125218885. In that example side DA is equal in length to side CD so all we hear is "equal to one adjacent side". Is that OK?

[2022-05-17 15:08] terracoda commented on #150
Oh right, good catch! I'll look more carefully.

[2022-05-17 15:27] terracoda commented on #150
The implementation is correct.

It would potentially confusing to add {{parallel}} for the case of "one adajcent side" see https://github.com/phetsims/quadrilateral/issues/150#issuecomment-1125218885 because with the current phrasing we need to talk about "opposite" sides as being parallel.

Comparing the strings:
1. "Side AB, {{comparable to}} opposite side, {{equal to one}} adjacent side"
2. "Si

[2022-05-17 15:27] #150 closed

[2022-05-17 15:41] jessegreenberg commented on #154
Notes:
- I am finding that the current regions may be too large (at least when using a keyboard, it may feel better when using the tangible).
- Often "straightening" a parallelogram results in larger changes to length than angle and so where we might expect to describe tilting/straightening we actually describe the changing area.

[2022-05-17 15:41] terracoda commented on #146
@jessegreenberg, It turns out that this is NOT a bug.

It just so happens that when the shape gets a little askew of the grid (mixed use of shift key), it is possible that when returning to maintaining a parallelogram while using the keyboard and the default step size, you can jump over or not actually hit the "all right angles" spot when all corners are 1.57.

However, switching back to shift key

[2022-05-17 15:45] #144 closed

[2022-05-17 15:57] terracoda commented on #30
I'll close this issue as the design work for context responses is complete and being implemented in #143, #144, #146, #154.

[2022-05-17 15:57] #30 closed

[2022-05-17 18:46] jbphet commented on #148
I've added a dialog and put it behind a query parameter.  The parameter is a flag named `showInitialTouchDialog`.  I'll review this in the next quad+haptics meeting.

[2022-05-17 19:29] terracoda commented on #154
Ok, we have slightly tweaked the rules or logic for our transition-type context responses:

### Timing of transition responses
- For every angle changes of 15 degrees, voice appropriate transition context response
- For every visual side length mark change, voice appropriate transition context response
- Basic context responses over-write transition context responses when they collide

### Tilt Pa

[2022-05-18 20:43] jessegreenberg commented on #154
OK I think this is in place @terracoda, ready for you to test and review. Hopefully it is working as expected, I was able to reproduce each example in the tables.

[2022-05-23 17:24] jessegreenberg opened #155 "Remove `@ts-ignores` throughout"
Many `@ts-ignores` can me removed now that progress has been made in converting common code components.

[2022-05-23 17:28] jessegreenberg commented on #155
Reviewing existing ts-ignores, many need to stay for prototype bluetooth code, debugging code, or code related to web audio. But a few could be removed. Closing.

[2022-05-23 17:28] #155 closed

[2022-05-23 17:35] jessegreenberg commented on #97
Last week @zepumph helped set up the sim for recording via PhET-iO + metacog and showed me how to request the data back. Links are ready for this. Up next is for us to review the available instrumented Properties/data and decide how to best parse it for @BLFiedler to use.

[2022-05-23 17:41] terracoda commented on #154
I think you got everything in there @jessegreenberg! It sound really great to me.

I did find a case where I can move the sides of a trapezoid out of parallel and the response does not adjust to "All sides tilt out of parallel..."

**To reproduce:**
- start the a small trapezoid
- grab and move a non-parallel side
- you should here that "opposite sides tilt" in parallel even when they are mo longe

[2022-05-23 17:43] jessegreenberg commented on #146
OK sounds good, lets discuss tomorrow. It looks potentially complicated to change input behavior around this case so it would be good to discuss briefly.

[2022-05-23 17:46] jessegreenberg commented on #154
Thanks @terracoda, confirmed that case locally as well. Ill take a look.

[2022-05-23 17:54] terracoda commented on #154
One other thing we will want to keep our ears and eyes on is how to best support the "other shape clicks".

For example, I am wondering if there is anyway to ensure that when a click makes any trapezoid, can we ensure that the latest response contains the "opposite sides in parallel" phrase?

A couple of times I noticed that I moved into a trapezoid, but the last response I heard was the phrase co

[2022-05-23 18:02] jessegreenberg commented on #154
OK, it looks like this is a model related to https://github.com/phetsims/quadrilateral/issues/108. It is possible to set the tolerances such that sides that are not close to parallel are reported as such. Ill make a new issue for this.

<details>

![image](https://user-images.githubusercontent.com/6396244/169879939-8f2c1a76-271a-47c9-9b94-18b945883842.png)

</details>

[2022-05-23 18:07] jessegreenberg opened #156 "Possible for sides out of parallel to be considered parallel by the model"
Related to changes from https://github.com/phetsims/quadrilateral/issues/108, it is possible for the model to incorrectly report that sides are parallel. To reproduce:

1) Create a trapezoid.
2) Click on one of the parallel sides. This will set the `angleToleranceInterval` for that pair of parallel sides to Infinity.
3) Drag one of the non-parallel sides so that the parallel sides tilt out of para

[2022-05-23 18:08] jessegreenberg commented on #156
Found by @terracoda during https://github.com/phetsims/quadrilateral/issues/154.

[2022-05-23 18:46] terracoda commented on #154
Regarding the other issue (https://github.com/phetsims/quadrilateral/issues/154#issuecomment-1134970775) about the shape sounds...I think that should do as you suggested and play a context response every time a new named shape is created?

I think that would be our best starting point. We might then have to optimize the responses if we find that they are too long in those shape making cases.

[2022-05-23 19:12] jessegreenberg commented on #156
I tried this approach:

[code]

But it doesn't fix the case where sides start out of parallel in https://github.com/phetsims/quadrilateral/issues/156#issuecomment-1135001934. @BLFiedler can we discuss this issue tomorrow during model meeting?

[2022-05-23 20:12] jessegreenberg commented on #154
@terracoda and I met on zoom to discuss in more detail and I think this change has been made. @terracoda let me know what you think.

[2022-05-24 04:22] jessegreenberg opened #157 "Reduce OpenCV noise"
I had some luck tonight reducing the noise from my camera with a bluring filter, here is a patch:

<details>

[code]

</details>

To be continued.

[2022-05-24 10:44] terracoda commented on #154
@jessegreenberg , I think the context responses are sounding good.

[2022-05-24 15:24] BLFiedler commented on #146
This is analagous to the efforts in RaP to bias user intention to find the Target Proportion when using the shift key for small steps. In that case, it was possible to skip over the target proportion even when using small steps, so the step size "adjusted" to find the proportion.

Presently, this case is different, focusing on the large step. If we find that we can readily skip over the parallelog

[2022-05-24 15:26] BLFiedler commented on #146
Noting that right now it is very difficult to find cases (I haven't isolated anything except a rare rotated shape while finding parallelograms) where the small step skips target feedback with the current tolerance values.

Over to @terracoda to assess and close for now until we see a prominent problem with small steps.

[2022-05-24 15:38] terracoda commented on #154
I think we can close this issue. I have a question for design meeting about whether we need a special response to indicate 2 parallel sides. I'll put that in a new issue.

[2022-05-24 15:38] #154 closed

[2022-05-24 15:41] terracoda opened #158 "Context response question - 2 parallel sides"
Do we think we need to explicitly call out when 2 parallel sides are created during interaction, similar to how we call out all right angles and all sides equal?

[2022-05-24 15:58] jessegreenberg commented on #156
Ugh "resolves" automatically closes an issue...

@BLFiedler @terracoda and I discussed this today and decided to go with https://github.com/phetsims/quadrilateral/issues/156#issuecomment-1135043565 for now, even though it reintroduces https://github.com/phetsims/quadrilateral/issues/108#issuecomment-1090402804. I think @BLFiedler was going to test this, assigning to him. But the sentiment today wa

[2022-05-24 16:54] BLFiedler commented on #20
Updating needs for OpenCV issues from

This was done as part of JGs tests - currently being further developed in: https://github.com/phetsims/quadrilateral/issues/141

This shouldn't be an issue when using 4 distinctly colored markers: https://github.com/phetsims/quadrilateral/issues/141

Also to be worked on in https://github.com/phetsims/quadrilateral/issues/141 as part of marker differentiation

[2022-05-24 17:02] jessegreenberg opened #159 "Update and re-test the electron app"
There is a chance we might need to use it for upcoming studies. We can also test recent changes to the sim (smoothing input, addition of context responses) and see how they are working. I should be able to test with the TMQ that I had from before.

[2022-05-24 17:03] BLFiedler opened #160 "Retain last used HSV values for OpenCV"
Since folks tend to use the same (or will use) the same markers, retaining the last "good" values set in their browser for markers would be a helpful feature.

[2022-05-24 17:09] BLFiedler commented on #141
Just to note - I played around with the existing OpenCV test (5/24) and was able to isolate these colors pretty well. Might be able to standardize 1 light green, 1 dark green, 1 light blue, 1 dark blue (both are colors used in "green screen technology")

![image](https://user-images.githubusercontent.com/47331395/170092958-1aeed868-620d-4281-b47d-cd02ca1ebb55.png)

[2022-05-24 19:25] terracoda opened #161 "Implicit Shape Property Scaffolds to indicate being closer to or farther from a Parallelogram"
Today (May 24th, 2022) in Voicing design meeting we discussed possible ways of using voicing and sounds to implicitly scaffold the idea of getting closer and farther from a parallelogram or maybe even closer or farther from 2 sides being parallel. @BLFiedler has already opened a related issue (need issue number) for scaffolding 2 parallel sides.

While designing the latest object and context respo

[2022-05-24 19:37] terracoda commented on #161
To be more explicit, I was thinking:
- 1 distinct contextual sound for making 1 pair of opposite sides parallel - that is the same as sonifiying the making of a Trapezoid - any trapezoid.
- 1 distinct sound for making 1 pair of opposite angles equal - that is the same as sonifying the making of a Kite.

I feel these additional sonifications embrace the same approach, but are one step out from the

[2022-05-24 20:23] terracoda commented on #158
Discussed this question in design meeting today and also discussed sound ideas (#161) that I think seem like a more interesting path.

Both the object and context responses already call out when opposite sides are in parallel, so the more specific design question is do we need really short response that communicates one pair of opposite sides have become parallel.

I think if we did that we would

[2022-05-24 20:23] #158 closed

[2022-05-24 20:27] terracoda opened #162 "Responses for obscurring a corner or corners (open CV)"
We might need context responses to communicate to a learner that they have unintentionally hidden a corner from the camera, or moved a corner or part of the shape out of the camera's view.

[2022-05-24 20:35] terracoda commented on #162
Discussed in design meeting today.
We currently have a trigger that can detect when a corner gets hidden. The corner won't move move in the model until it is visible again.

Some ideas mentioned in design meeting:
- Corner {{C}} gone.
- Corner {{C}} missing.
- Corner {{C}} back.

It might get a little noisy if we voice both states. I wonder if it will work by just indicating when the corner is hid

[2022-05-25 21:59] KatieWoe opened #163 "CT reentry detected"
[code]

[2022-05-25 22:40] jessegreenberg commented on #141
I got this working well enough to make a commit point:

<details>

![image](https://user-images.githubusercontent.com/6396244/170380942-48a98d19-b0f0-405a-ac32-41cdf6df7d89.png)

</details>

Its working OK but increased number of filtering operations has a negative impact on performance and the framerate is pretty slow. There may be ways to make it faster.

[2022-05-25 23:17] jessegreenberg opened #164 "Make it easier to find the "angle change" responses with the TMQ"
We are at a point where we can test the context responses with a tangible! One thing I noticed is that the length change almost always triggers before the angle change still. I almost always hear "shape gets bigger/smaller" and never "as opposite corners tilt equally/unequally". @terracoda would you be OK if we reduced the threshold of the angle response so that we hear it more often and hopefully

[2022-05-25 23:19] jessegreenberg commented on #160
This would be really nice, especially now that there are 5 filters to re-find every refresh. Would probably speed up iterative development a lot to have this so Im going to work on this next.

[2022-05-26 13:57] jessegreenberg commented on #160
This is done @BLFiedler and will be usable in the next build.

[2022-05-26 13:57] #160 closed

[2022-05-26 14:10] #91 closed

[2022-05-26 14:12] #59 closed

[2022-05-26 15:09] jessegreenberg opened #165 "Can/should we reduce intensity of the "success" sounds?"
I am finding the "all sides equal" sound to be a bit distorted and base heavy. And I find the "all right angles" sound a little too sharp. They don't sound as pleasant as the other sounds in this sim to me. Just making an issue in case it is something we want to return to at some point, probably after June studies.

@BLFiedler assigning to you to triage or feel free to just close if you disagree.

[2022-05-26 15:31] BLFiedler commented on #165
Yes, I agree that there is some iteration to be done. Like much of the visual design, I thought it important to put "something" there that captures the functionality we want. We'll bring these back to Ashton and co if it seems like they "get the job done" so to speak!

[2022-05-26 16:29] jessegreenberg commented on #164
I ended up leaving the angle change trigger the same, but reducing the angle change required to prefer describing the change in angle over the change in length. It sounds OK to me but I think all of these variables will continue to be modified over the next week. Closing.

[2022-05-26 16:29] #164 closed

[2022-05-26 16:47] jessegreenberg commented on #141
Using ?profiler for the sim, I am seeing ~40 fps when tracking a single color and ~15 fps when tracking 4 colors.

[2022-05-26 23:37] jessegreenberg opened #166 "Get the OpenCV prototype to work with PhET-iO"
The opencv prototype assumes it is using a local build. We need to make sure the parent application can load the phet-io sim and send data to it.

[2022-05-26 23:38] jessegreenberg commented on #166
If this is not trivial it would motivate getting OpenCV features working directly in the sim which is something that we want to do but may not have otherwise made time for it before the June 11 study.

[2022-05-27 14:20] BLFiedler commented on #97
Can we add the Clapperboard button activation into the data output? Obvious one I forgot during our last discussion.

[2022-05-27 14:34] BLFiedler commented on #141
![image](https://user-images.githubusercontent.com/47331395/170720745-e5aaabec-9d14-46de-a340-0fa2d473b746.png)

![image](https://user-images.githubusercontent.com/47331395/170720797-b0fa39e0-679e-4071-806a-1abec48313ac.png)

Noting here that detection seems cleaner against a white background than a black background.

[2022-05-27 15:17] jessegreenberg commented on #141
Meeting with @BLFiedler - we noticed that performance is acceptable in the OpenCV video and canvas output but is terrible in the simulation. The next thing we should look into is why it gets so slow for the sim.

[2022-05-27 15:24] #157 closed

[2022-05-27 17:58] jessegreenberg commented on #97
Yes, it is instrumented and I verified it is in the data stream.

[2022-05-30 14:03] terracoda commented on #146
I can now easily reproduce by using the shift key for one small step and then going back to using the plain arrow key to take big steps.
![image](https://user-images.githubusercontent.com/1902116/171006581-d03a4fcb-5c8b-4133-8030-053adfe23707.png)
![image](https://user-images.githubusercontent.com/1902116/171006640-140f7bf3-19f8-460a-95b6-1fe588169778.png)
![image](https://user-images.githubuserco

[2022-05-30 14:10] terracoda commented on #146
@BLFiedler, do you think a snapping solution is feasible? I am not sure I have a full grasp of what unintended consequences we might introduce with keyboard snapping behaviour.

[2022-05-30 15:10] terracoda commented on #164
@jessegreenberg, I think it sounds pretty good!

[2022-05-30 21:03] jessegreenberg commented on #166
OK, this is working well for the OpenCV prototype. A new query parameter has been added to the prototype to support this called `?dataCollection`. It uses the phet-io version and does some extra things to send data from OpenCV wrapper to the PhET-iO wrapped sim. @BLFiedler FYI you will need this query parameter to collect data with metacog with the OpenCV prototype/.

[2022-05-30 21:03] #166 closed

[2022-05-30 21:06] jessegreenberg opened #167 "What should the defaults be for the June 11 study"
We are currently using a URL with a long string of queries like
`?deviceShapeAngleToleranceInterval=0.05&deviceShapeLengthToleranceInterval=0.03&toleranceIntervalScaleFactor=10&dataCollection`

Should these be made defaults? Should Voicing/Context Responses be enabled by default?

Lets check in during design meeting this week.

[2022-05-30 21:07] jessegreenberg commented on #159
Discussed on Friday this is next top priority.

Like #166, we need the electron app to collect data with PhET-iO.

[2022-05-30 22:29] jessegreenberg commented on #159
I believe I have to use this login event to receive the credentials request from the server https://www.electronjs.org/docs/latest/api/app#event-login

[2022-05-30 23:46] jessegreenberg commented on #159
Yes that works. I tried for a while to set up a login dialog in the electron app but it isn't working and doesn't seem worth more time. Ill forward the credentials directly without a UI but that means this can no longer be checked into a common code repo until we have a better way.

[2022-05-30 23:48] jessegreenberg commented on #159
My arduino isn't powering on when I plug it in so I can't test with my quad device anymore.

Ill try to keep testing by sending fake values through the electron app to the sim.

[2022-05-31 03:39] jessegreenberg commented on #159
Finally got this working and was able to collect data and send it to metacog and request it again.

I am noticing some improvements we made for OpenCV that did not make it to the TMQ/Electron app.

[2022-05-31 15:51] jessegreenberg commented on #159
OK, it is working pretty well. I will deploy a new version of the app with this working to test.

[2022-05-31 15:53] jessegreenberg commented on #167
Discussed today that @BLFiedler will try out the sim to try out tolerance interval defaults.

We discussed that we do NOT want to enable voicing/context responses by default because there will be a test with just sound first, then voicing will be layered in.

[2022-05-31 16:34] jessegreenberg commented on #97
This is done.

<details>

![image](https://user-images.githubusercontent.com/6396244/171226936-338f7e30-1ec7-439b-a5c9-b451a0874c63.png)

</details>

[2022-05-31 17:40] jessegreenberg commented on #97
Sound was adjusted in https://github.com/phetsims/scenery-phet/issues/739 and confirmed as OK by @BLFiedler.

@BLFiedler what is remaining for this issue? Is there any other data or anything else related to iO instrumentation needed?

[2022-05-31 17:46] jessegreenberg opened #168 "Final preparation for the June 11 study"
Collecting things that need to be done before the study.

- [x] Remember to take the '-test' off of the widget ID when it is time to start recording with students. This means taking off the 'test' in the sim URL for all deliverables.
  - [x] Normal sim link
  - [x] sim link used in OpenCV runnable
  - [x] sim link used in Electron app
- [x] Add controls in preferences for tangible BLE connection t

[2022-05-31 17:59] terracoda commented on #162
@jessegreenberg, mentioned a beneficial nice side effect of naming hidden corners. Leaners will be able to identify a corner by intentionally hiding one.

[2022-05-31 18:30] terracoda commented on #162
The verbs "missing" and "gone" are both nice and simple, and "gone" is good as it is just one syllable.
- lost, away, removed are also simple

For returning:
- found or back could work.

Let's go with "gone" and "back".
-  Corner {{C}} gone.
-  Corner {{C}} back.

I am not sure we need the returning context response. I am wondering if by hiding a corner we know what they are interacting with? Inst

[2022-05-31 19:27] jessegreenberg commented on #159
OK, I built versions of the Electron app for MacOS and Windows and confirmed that both are working well to connect to the PhET-iO sim hosted on phet-dev and sending data to metacog.

New builds will be needed for #168, but I think this is ready again for a new TMQ and potentially for June 11 studies.

[2022-05-31 19:27] #159 closed

[2022-05-31 19:49] jessegreenberg commented on #162
Some more discussion with @terracoda over slack:
1) When "Detect Vertex Labels" is unchecked in the OpenCV prototype we instead want to hear "Corners gone" when < 4 corners are detected and "Corners back" when 4 corners are detected.
2) These will be categorized as "Context" responses
3) These will only be heard when "Context" responses are enabled in the sim.

[2022-05-31 22:05] jessegreenberg opened #169 "Add a minimum contour size control"
I think this would be helpful in reducing incorrect output with the OpenCV prototype. Right now it looks for the largest contours in the image that resulted from filtering. But say the output is like this
![image](https://user-images.githubusercontent.com/6396244/171291812-dc3c6667-2382-4d97-82c4-8c6ae5544b32.png)

It would be nice if it ignored all the noise except for the largest bottom left con

[2022-05-31 22:28] #169 closed

[2022-05-31 23:41] jessegreenberg commented on #162
A basic version of this has been implemented. I updated the shared version with this addition and shared demos over slack. I think we will need to do some work to get the timing/interruption rules decided relative to other alerts in the sim or this could be distracting.

Assigning to @BLFiedler and @terracoda review demos and comment on if work should continue on this and how important this is.

[2022-06-01 20:21] jessegreenberg commented on #118
This may come up in the next quarter. Removing my assignment until it is time to work on this.

[2022-06-07 15:35] jessegreenberg commented on #97
Currently the parsing into CSV has data as null until it is first changed by the user. It would be helpful to fill in those null values with the defaults from the sim.

[2022-06-07 16:13] BLFiedler commented on #142
Currently there are controls for the smoothing in the OpenCV control panel

![image](https://user-images.githubusercontent.com/47331395/172430429-fc9c90e4-c16a-4992-b3eb-5f53169a55e6.png)

[2022-06-07 16:16] #116 closed

[2022-06-07 16:18] BLFiedler opened #170 "Add a control in OpenCV to adjust grid size"
Discusssed in 6/7/2022 meeting - Let's adjust from (same as keyboard/mouse input) up to 5 times in increments of 1

[2022-06-07 16:23] jessegreenberg commented on #168
Links need to be updated and ready by Thursday at the latest.

[2022-06-07 20:02] jessegreenberg commented on #170
This has been added @BLFiedler. It seems very effective for me in reducing noise, though of course it also makes motion feel less smooth in the sim.
![image](https://user-images.githubusercontent.com/6396244/172471727-5e9eb8ca-eb47-4aee-81d6-4b97947cb97e.png)

Min slider value is grid size for mouse. Max is 5x that. But that range could be adjusted. Over to you to confirm and try it out.

[2022-06-07 22:41] jessegreenberg commented on #97
I got this for most Properties, for example now vertex positions are filled in with the initial values from the `phetioEngine.phetioElementAddedEmitter`.

<details>

![image](https://user-images.githubusercontent.com/6396244/172495064-2a49f29e-6764-4b78-9366-b98d8cf9c9d6.png)

</details>

[2022-06-10 15:15] #168 closed

[2022-06-17 14:49] terracoda commented on #161
For non-visual access, we will need to deliver some auditory feedback with discrete steps as the shape is changed. Finding a balance between description and sound and deciding on what properties to make discretely audible is our challenge.

[2022-06-17 14:57] jessegreenberg commented on #162
Let me know if you would like to meet troubleshoot. The system is pretty fragile, I wouldn't be surprised if there are issues as we try to use it in a distributed way.

[2022-06-17 18:13] BLFiedler commented on #167
For the record, this is what I settled on the day before the study with the setup I had: ?dataCollection&deviceAngleTolerance=0.03&deviceShapeAngleToleranceInterval=0.05&deviceShapeLengthToleranceInterval=0.03&toleranceIntervalScaleFactor=5&deviceGridSpacing=0.0375&smoothingLength=3

[2022-06-17 18:13] #167 closed

[2022-06-17 18:24] #170 closed

[2022-06-17 18:26] BLFiedler commented on #41
While other design decisions are being made, this should return to top priority to enable haptic feedback as well as sound at the boundaries.

[2022-06-17 19:44] BLFiedler opened #171 "Proximity to Parallel revisited"
I'd like to try a brief foray into revisiting the Parallel Volume sound set (before attempting any new sounds for a similar purpose).

![image](https://user-images.githubusercontent.com/47331395/174390587-c926f298-945c-4f04-a0b2-f95111e1e135.png)

- [x] Could we (with Sound One as default for that set) try turning off the sound once parallel has been achieved for either set of sides?
- [x] Play th

[2022-06-17 20:03] BLFiedler commented on #146
I would air on this side until we find it untenable. We'd possibly need to do this for all form of feedback we're hoping to provide (parallel, all right angles, all sides equal, etc).

Closing for now.

[2022-06-21 15:17] jessegreenberg commented on #163
Thanks @KatieWoe - I only saw this in the phet-io version, so adding the appropriate label.

However, it also hasn't appeared for a long time on CT and I wonder if there was a transient issue with axon and PhET-iO. Closing for now, we can reopen if need be.

[2022-06-21 15:17] #163 closed

[2022-06-23 15:41] KatieWoe opened #172 "CT After startup, only dynamic instances prescribed by the baseline file can be registered."
[code]

[2022-06-23 15:53] jessegreenberg commented on #172
Thanks @KatieWoe, fixed in the above commits.

[2022-06-23 15:53] #172 closed

[2022-06-24 16:11] BLFiedler commented on #20
For current needs, this is complete.

[2022-06-24 16:11] #20 closed

[2022-06-24 16:14] BLFiedler commented on #141
Current implementation is fine for our purposes - will open up new issues for optimizations when and if needed.

[2022-06-24 16:14] #141 closed

[2022-06-24 16:17] BLFiedler commented on #95
We added a "symmetry grid" to assist with this. For now, we will look at other modal feedback to help with finding shapes. We can return to tolerance adjustment if that does not ease the search.

[2022-06-24 16:17] #95 closed

[2022-06-24 17:12] zepumph commented on #146
I see this is closed, I just wanted to note that in Ratio and Proportion, we spend a lot of effort "conserving" key presses and making sure that we could get to the in-proportion state. If you ever re-open this issue, and need to implement, I'd recommend looking at `getKeyboardInputSnappingMapper`. It is a bit gross, but it made this possible.

[2022-06-24 22:30] jessegreenberg commented on #171
The "base sound" is shared between "Parallels Volume" and "Quartet". Just noting that updating the initial value changed the default for both.

I think I have this in, @BLFiedler would you like to try?

[2022-07-01 16:45] jbphet commented on #104
I modified the title for this issue, since we are no longer focusing on the Android app for this.  The main reason for the change to using an HTML5 version instead is that many of the Android devices don't actually support vibration intensity even though the Android API does.  Thus, there isn't really much to be gained from doing it as an Android app, and doing it in HTML5 is significantly easier.

[2022-07-05 16:39] KatieWoe opened #173 "CT reentry detected"
[code]

[2022-07-05 17:28] jessegreenberg commented on #41
During design meeting today @jbphet pointed out a case in faradays-law that also behaves pretty similarly to how we want it to behave here. Look for the collisions and dragging behavior between magnet and coils.

[2022-07-05 19:44] jessegreenberg commented on #41
The `checkMotionAgainstObstacles` works by looking for overlap between the "leading edges" of the moving object and the "obstacles edges". The edges can only be horizontal or vertical lines and it looks like the implementation leverages that the edge lines are x or y axis aligned with no rotation. It uses that assumption when finding the intersection of edges and to determine the corrected transla

[2022-07-06 21:23] pixelzoom opened #174 "vibrationManager.ts errors at startup"
When running quadrilateral from phetmarks:

[2022-07-07 13:51] BLFiedler opened #175 "Explore new sound design focused on all quadrilateral shape transformations"
We aim to investigate a new sound design that emphasizes the transition between all named quadrilateral shapes, while supporting their maintenance as well. We aim to capture the build-up of unique properties for named shapes, but not contain the design space so tightly to require exact mapping of properties to sounds. The conceptual space is very complex and does not lend itself well to simple sou

[2022-07-12 16:12] BLFiedler opened #176 "Update shape detection with new names and one new shape"
As we move to a more general framework for the simulation that will expose the names of the various four-sided plane figures within the quadrilateral shape, we will want to clarify the names.

- [x] Let's update the names accordingly:
  - [x] Convex Quadrilateral (new name from General Quadrilateral)
  - [x] Concave Quadrilateral (new name from Concave)
  - [x] Parallelogram (currently not named,

[2022-07-12 17:17] BLFiedler commented on #147
This has the potential to scaffold a learner toward their next movements with a list of nearby "landmarks". e.g., "I have a trapezoid. This list says I almost have a parallelogram and an isoceles trapezoid. What do I have to do to make one of those?"

@jessegreenberg, do you have a sense for what the code necessary might look like to build in a wider tolerance to each check and build an inclusive

[2022-07-18 19:56] KatieWoe opened #177 "CT required tandems must be supplied"
[code]

[2022-07-22 19:04] BLFiedler opened #178 "Visual design tweaks"
A few quick items to adjust for the current visual design:

- [x] Remove the green color change upon making a parallelogram

- [x] Remove the bolding of the lines when all sides are equal.

- [x] Corner guide changes
  - [x] Revert right angle indicator from only showing when all are right angles to individual right angles (when any angle is a right angle, the corner guide converts to the square s

[2022-07-22 19:20] BLFiedler opened #179 "Add Diagonal Guides"
The grid and corner guides are particularly helpful frames of reference for most of the shapes we are able to detect. Kites and Darts could benefit from a different guide to assist with symmetry visualization with a line drawn through the diagonals of the shape (one line connecting A & C, one line connecting B & D).

- [x] Let's add a new checkbox, above Grid (renamed in #178) and below Corner Gui

[2022-07-25 19:10] BLFiedler commented on #175
Made by @Ashton-Morris this week:
- Music/Rhythm layering: https://streamable.com/mx8i1m
- Individual notes layering: https://streamable.com/lqd5qp
- Shape “ambience”: https://streamable.com/9q0a07

At a quick meeting between AM and I, we discussed showcasing the possibilities of the following tomorrow using his software:

- Listening with more randomization in what aspects are present
- FMOD (mus

[2022-07-26 13:47] jessegreenberg commented on #176
Just confirming, the Voicing strings have always called this "concave quadrilateral". But I changed the constant name in the code to "CONCAVE_QUADRILATERAL".

[2022-07-26 15:01] jessegreenberg commented on #176
OK, dart has been added and the above changes were made. @BLFiedler over to you to close or review if you wish.

[2022-07-26 17:00] jessegreenberg commented on #179
Added in the above commits. I noticed that the color values

Are a bit more red than what is shown in these mockups. Let me know which one you prefer.

Here is a dev version with this added since phettest is not predictable:
https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.42/phet/quadrilateral_en_phet.html

[2022-07-26 17:20] jessegreenberg commented on #179
In a meeting @BLFiedler said that the R channel was supposed to be 115, that explains the redness. Fixed in the above commit.

[2022-07-26 17:20] BLFiedler commented on #179
Oops - that was 115 110 110 on the RGB value. Typo!

The spacing relative to the width on the dashed line feels like it can cause some issues trying to estimate when they are perpendicular. Can we reduce the "transparent" portion a bit to be around the width of the line?

[2022-07-26 19:02] jessegreenberg commented on #179
OK! Yes, reduced the off length in the above commit. Can you review again? Let me know if you would like a dev version.

[2022-07-26 19:07] BLFiedler commented on #176
All above comes through on phettest! Fantastique. Closing.

[2022-07-26 19:07] #176 closed

[2022-07-26 19:13] BLFiedler commented on #179
Looks great! Closing for now. Additional adjustments based on other feedback for other issues.

[2022-07-26 19:13] #179 closed

[2022-07-27 14:25] BLFiedler commented on #175
@Ashton-Morris will export the tracks/loops/tones he has created so far broken out by the sets he demo'd at the last sound meeting. Then @BLFiedler will give specific sound designs for @jessegreenberg to implement in the sim as a priority over other issues (except Voicing issues).

I made these notes on the sets that were demo'd.

Individual notes (chord building for each aspect of shape, e.g., (f

[2022-07-27 14:31] BLFiedler commented on #165
Just to update this issue - we are likely to remove these sounds in the coming sound design. This is not a concrete decision at this point, but I will close if so. If not, we should revisit the sound quality of these reference sounds.

[2022-07-27 14:56] emily-phet commented on #175
Just a note @BLFiedler: If you feel some of these seem more promising than others, you can go ahead and pick those that seem most promising to move forward with. It's definitely hard to predict exactly how they'll feel before you get to play with them in the sim...but wanted to make sure you knew it's ok to go with your gut to help streamline the process. If your gut says you need to see them all

[2022-07-27 15:54] terracoda opened #180 "Side or Corner can get stuck sometimes when - not just Kite to Dart"
Using Safari on MacOS Monterey 12.2.1
MacBook Pro

With keyboard I can't move Corner A below this angle with the Down Arrow key presses.
![image](https://user-images.githubusercontent.com/1902116/181291656-4a008cd8-7746-43fb-9522-cfc0fa733bc4.png)

Strangely if I start my key presses after already in a Dart shape, I can move up and down with Arrow keys without getting stuck.

![image](https://user

[2022-07-27 15:55] terracoda commented on #180
After a reset, I easily made this Dart from the starting Square.
![image](https://user-images.githubusercontent.com/1902116/181293321-3c869308-f876-4e46-9ba9-8cffd014ad03.png)

[2022-07-27 16:07] terracoda commented on #180
After a page reload. I tried just using the keyboard. I was able to make this Dart
![image](https://user-images.githubusercontent.com/1902116/181294921-a29d8fcd-85c3-4670-b432-3d80aa263f62.png)

But not able to move down beyond this point with Corner A.
![image](https://user-images.githubusercontent.com/1902116/181295171-78404a9c-6d88-4036-8f2a-aa6f1113aa8a.png)

Maybe there is something amiss wit

[2022-07-27 17:08] terracoda commented on #180
This might be a more general problem. Corner B is getting stuck here:
<img width="677" alt="image" src="https://user-images.githubusercontent.com/1902116/181307401-0c76f8bf-12ac-49ac-8deb-c3609a197c99.png">

Even though I moved it down with the keyboard, I can't move it back up.

[2022-07-27 17:54] terracoda opened #181 "Qualitative region description regions need same tolerances as the shape names"
Honestly, I do not know how to deal with "tolerances" for the visual design over in the description design.

We are currently adjusting things, so not sure if this is short term issue or a long term issue. In the following screen shot, the description do not describe Corner A and Corner see as "equal", but rather "comparable".
<img width="578" alt="image" src="https://user-images.githubusercontent

[2022-07-27 17:56] terracoda commented on #181
And this can get super complicated if tolerances are different based on input.
Keyboard input is very precise.

[2022-07-27 18:40] terracoda commented on #181
Similar issue here
<img width="580" alt="image" src="https://user-images.githubusercontent.com/1902116/181347425-b66ec318-0ad8-4be2-909e-62968ac0f6f8.png">

The descriptions of each side and corner are not described as equal to its corresponding opposite. This makes it difficult for any deduction on what properties define a shape.

[2022-07-27 19:18] terracoda opened #182 "Object Responses with keyboard input"
Ok, apologies for the long delay.
I have some example object response for corners and sides sketched out in a document. It is not perfect, but hopefully it is enough to get simple object responses implemented.

Please see https://docs.google.com/document/d/1RN9gIFM3D-Mj6y8fFZgD4XHDrqkm3qiRUaZ7FOcwfGg/edit?usp=sharing

Here's a summary of the parameters:
**Moving corners**
When moving corners, I th

[2022-07-27 19:54] jessegreenberg commented on #41
I have been trying to use P2.js, a physics and collision detection library to support this instead of re-implementing collision detection for drag needs here. It has been a huge struggle with only moderate success. It still isn't working fully.

I found a different library called SAT (https://github.com/jriecken/sat-js). It is more light-weight but may be better for our needs here. It isn't a full

[2022-07-29 15:10] terracoda commented on #162
If BF has okayed these responses, we can close this issue.

[2022-07-29 15:14] terracoda commented on #161
I think this issue issue. We will be naming the shapes, but not sonifying the properties in this way.

[2022-07-29 15:14] #161 closed

[2022-07-29 15:24] #162 closed

[2022-07-31 20:28] Ashton-Morris commented on #175
In my option we should start with three (time permitting).

- (3.) Arpeggio: New part of arpeggio
- (5.) Melody: Base track plays consistently and each shape has a corresponding melody to it
- (4.) Tracks: Beat tracks layer with each category addition (building)

@jessegreenberg There should be two types of logic from what I can tell, Shape Identifier, and State Identifier. The sound mockups wen't

[2022-08-01 13:21] jessegreenberg commented on #175
Thanks @Ashton-Morris!

Sorry, I read through the issue but dont understand what to implement.   @Ashton-Morris or @BLFiedler can you describe how each of the sound design should work? What sound is associated with what shape or state? How long should each sound play in response to input?

[2022-08-01 15:08] BLFiedler opened #183 "Add Show Shape Name display"
We plan on explicitly showing the current shape name on-screen.

For a first try, let's implement something like Vector Addition (https://phet.colorado.edu/sims/html/vector-addition/latest/vector-addition_en.html?screens=1)

![Image](https://user-images.githubusercontent.com/47331395/182177481-7452c8d1-d500-4b94-a074-e4344287b805.png)

This is the Expand/Collapse button with a background panel.

-

[2022-08-01 19:49] BLFiedler commented on #175
For some quick initial testing let's go with 4 sound sets.

- Let's use a general rule for persistence for all of them for now (though we may choose to modify these for any individual set ahead of interviewing): Sounds play for 2 seconds after (mouse/touch release, last keyboard input) of any vertex or side

## 1. Tracks - Build Up.

Here we should try assigning a track to a specific element of th

[2022-08-01 19:50] BLFiedler commented on #175
@Ashton-Morris , just to note that there tend to be fewer tracks than shapes for the above sets. I have some alterations above to account for this, but we'll likely want to fill in the gaps before interviews.

[2022-08-01 22:54] jessegreenberg commented on #182
Responses are in place in the above commits. I am almost satisfied with this, but I think there is an issue with UtteranceQueue interruption.

So far I have implemented the object responses and context responses separately from natural code separation. Context responses in QuadrilateralAlerter, and object responses in each view class VertexNode and SideNode because object responses are triggered f

[2022-08-02 14:17] BLFiedler commented on #183
Suggestion: For possible shape history, consider displaying the prior shape next to rather than in the box.

[2022-08-02 15:06] jessegreenberg commented on #182
OK, I think this is working well now. @terracoda ready for you to review. I built a dev version to get around phettest being unpredictable: https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.43/phet/quadrilateral_en_phet.html

Hopefully the Priority of Utterances is working as expected.  As we decided while working on context responses, responses about
all lengths equal/all sides equal/fou

[2022-08-02 15:12] BLFiedler commented on #178
Bumping this up for implementation when there's time for it.

[2022-08-02 16:13] jessegreenberg commented on #178
For the right angle guides, here is an example of the layout drawn with Zoom tools during design meeting today (ignore the red color)
![image](https://user-images.githubusercontent.com/6396244/182422453-c05accf7-04fc-412c-ac99-8dc93016009e.png)

[2022-08-02 16:21] BLFiedler commented on #183
Tagging @terracoda for awareness or comment for description needs

[2022-08-02 16:28] terracoda commented on #183
It's definitely a toggle interaction of some kind. Just need to think about the visible names and the role of the specific kind of toggle:
- toggle button
- switch
- etc

[2022-08-02 16:34] BLFiedler commented on #181
Tolerance "checkers" for the shape detection/visuals are not implemented for description yet, but will be.

Keeping the issue up as a to do item for implementation.

[2022-08-02 16:54] jessegreenberg commented on #182
Discussed during meeting today:

- Shape name/in or out of parallelogram/ all right angles/all equal sides is highest priority. It won't be interrupted by anything except itself.
- Other context responses will be "medium" priority, they will not interrupt the above content, and they cannot be interrupted by new object responses.
- Object responses (without a context responses) is lowest priority.

[2022-08-02 16:58] jessegreenberg commented on #182
@terracoda also mentioned there is a case that needs to be designed when moving a side where one adjacent side grows and another shrinks so assigning to her as well.

[2022-08-02 17:15] jessegreenberg commented on #182
OK here is a new version with these changes in Utterance priority. It should be working as described in https://github.com/phetsims/quadrilateral/issues/182#issuecomment-1202985158

[2022-08-02 23:36] jessegreenberg commented on #175
OK everything is implemented with the above commits with the exception of a few sound files in the "Arpeggio" design.  I don't see any of the "Quad_Building_Up_Arpeggio_Optional_Shape_Identifier_Tracks" in the google doc file. Once those are in this will be ready for review.

[2022-08-03 17:13] jessegreenberg commented on #183
Initial commit for this made above. I also put the panel in the navigation order like
- QuadrilateralNode
- ShapeNameDisplay
- visibility checkboxes
- reset all button

@BLFiedler ready for an initial review.

[2022-08-03 17:23] #147 closed

[2022-08-03 17:56] jessegreenberg opened #184 "Describe shape detection function"
Over slack @BLFiedler said it would be helpful to describe the list of shapes and how the model determines what the current shape is. Describe the check for each and the relevant tolerances involved.

Notes might go in https://docs.google.com/document/d/1s3nmKXNvYQE89CSrw6bOGM-rq365aczY05VUhYddq24/edit#, where I was documenting the model a long time ago.

[2022-08-03 18:11] jessegreenberg commented on #175
Since we don't have the "optional arpeggio" sounds we will try playing the melody sounds under the arpeggio, at a reduced volume with this design
[code]

[2022-08-03 18:11] jessegreenberg commented on #184
The motivation for this is that we found what we think is a bug in the parallelogram detection where you can drag a side and put the shape in out out of parallelogram state:
![rts2](https://user-images.githubusercontent.com/6396244/182679174-1eae3772-d7e3-403c-8ca2-1925953f9d6c.gif)

[2022-08-03 18:20] BLFiedler commented on #184
This is related to issue #156. We reverted a change to how "sticky" we make parallelograms and trapezoids when moving their sides in ways that should maintain the shape at the start of the interaction.

We'll need to be more careful here now that the shape identity is more explicit.

[2022-08-03 23:57] jessegreenberg commented on #175
OK, new sound designs are in! @BLFiedler @Ashton-Morris over to you to try it out and consider next steps!
https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.46/phet/quadrilateral_en_phet.html

[2022-08-04 02:42] Ashton-Morris commented on #175
@jessegreenberg Sorry I must have missed those. I am adding these now if you still want to add them.

Quad_Building_Up_Arpeggio_Optional_Shape_Identifier_Tracks-000.mp3
Quad_Building_Up_Arpeggio_Optional_Shape_Identifier_Tracks-001.mp3
Quad_Building_Up_Arpeggio_Optional_Shape_Identifier_Tracks-002.mp3
Quad_Building_Up_Arpeggio_Optional_Shape_Identifier_Tracks-003.mp3

[2022-08-04 16:39] BLFiedler opened #185 "Potentially duck Sound when Voicing is active"
[creating issues from the new project boards automatically makes a blank initial comment which I have realized since making this issue...]

[2022-08-04 16:40] BLFiedler commented on #185
In case we want to reduce the really cool music while Voicing is actively speaking or provide an option to duck the sound, there may be possibilities built into Voicing.

During monthly check-in:

[code]

No assignment, but leaving it here in case it proves helpful in the current sound design being explored in #175. Can close prior to publication if it doesn't prove helpful.

[2022-08-04 17:04] jessegreenberg commented on #177
I caught up on various PhET-iO problems and the sim is launching in studio again, closing.

[2022-08-04 17:04] #177 closed

[2022-08-04 18:56] jessegreenberg commented on #184
Summarizing in this comment. This is basically the psuedocode of `Quadrilateral.getShapeName` here: https://github.com/phetsims/quadrilateral/blob/66e391918661bd48a3facd40241c589272bf1a18/js/quadrilateral/model/QuadrilateralShapeModel.ts#L529-L533

All angle comparisons use `shapeAngleToleranceInterval`.
All length comparisons use `shapeLengthToleranceInterval`

[code]

[2022-08-05 13:19] BLFiedler commented on #178
I was trying to think of a way to help with the centering of the vertices on the grid without obscuring the label - something simple like this could work? Do we think it'd be best to have them on all the time or only when the grid is on?

![Image](https://user-images.githubusercontent.com/47331395/183085506-a00b9537-38c3-47dd-b4c2-26ac393130db.png)

- [ ] Add small hatch marks that are statically

[2022-08-05 13:20] BLFiedler opened #186 "Corners "slip" off of the input grid when using the shift modifier"
This was noted a few months back by @BLFiedler, @jessegreenberg, and @terracoda, but wasn't put into an issue. Pressing the shift key modifier for small steps using the arrow keys/WSAD can cause the vertices to come off of the input grid.

This seems to be a bug with respect to the press and hold feature for keyboard input (and is more reliably reproduced holding the button), but can happen with s

[2022-08-05 13:58] BLFiedler commented on #52
We have successfully implemented this in the Tangible Device to Sim direction! The communication itself works quite well and we have a number of variables to tweak to smooth it out for a given device.

![Image](https://user-images.githubusercontent.com/47331395/183091407-5da6608e-df33-43af-ad7f-a7c53116544d.png)

We may wish to find a way to keep this in the preferences menu at publication.

The s

[2022-08-05 13:59] BLFiedler commented on #52
Tagging @emily-phet for future discussions and prioritization on this topic.

[2022-08-05 14:03] BLFiedler commented on #50
This issue has been handled by implementing an input grid and a minimum required change in angle/length from the external device.

We'll have to tackle this prioritization when we implement bidirectional communication between the sim and external device, but that should be tackled in the parent issue #52 .

[2022-08-05 14:03] #50 closed

[2022-08-05 15:18] BLFiedler opened #187 "Implement description of approximate value of segment and corners to toolbar buttons?"
We discussed this at a quad meeting a few weeks back and I wanted to bring it up for discussion or possible implementation.

### Objective

To align with the visual estimation abilities afforded by the line segments on the sides and pie segments on the corner guides - and to help with estimation tasks (area & perimeter) - should we considered listing the approximate segment lengths and angles of t

[2022-08-05 15:25] BLFiedler commented on #183
Great! How do folks feel about the text size (and subsequently the size of the background panel)? I think it can work. It definitely stands out over the checkboxes. I also feel it could be reduced a bit and still accomplish that.

@terracoda, @emily-phet, @jessegreenberg

[2022-08-05 15:28] BLFiedler commented on #185
From @terracoda in Slack:

"... For mouse exploration the clicks on the side and and corner object responses really support identifying properties. There's no automatic audio ducking, so descriptions are little hard to hear..."

[2022-08-05 15:29] terracoda commented on #185
I think this should be an option. It might best placed in the Voicing Toolbar.

[2022-08-05 15:29] jessegreenberg commented on #185
Just wanted to note that `soundManager` currently doesn't have functions `duckVolume`/`unduckVolume` but I assume something like that could be added. We will want to consider whether this is something to build into common code or just quadrilateral.

[2022-08-05 15:31] BLFiedler commented on #185
I suspect as sound design in sims continue (especially with continued exploration into palatable continuous sounds), this will find more use. Tagging @jbphet to have him weigh in.

[2022-08-05 20:33] terracoda commented on #182
Ok, @jessegreenberg, for sides I am having a lot of trouble, but I think I will go with the idea you suggested for the case where the length of the adjacent sides change unequally - one getting shorter and the other getting longer.

Here's my pseudo-logic that I hope covers the scenarios better now when moving a side

1. Change in proximity to the opposite side AND the same or similar side length

[2022-08-08 19:31] jessegreenberg commented on #186
This has been fixed via https://github.com/phetsims/scenery/issues/1437. @BLFiedler can you please confirm?

[2022-08-08 23:04] jessegreenberg commented on #178
I think I am caught up with what is listed here.

Some notes from the changes:
 - I found a bug with the grid, it wasn't exactly aligned with the model grid/bounds. Fixed with these changes.
 - The checkbox label text size was changed to 18. This reduced the amount of space for the play area.
 - "Change title of icon/checkbox to "Grid" "- I assumed this meant change the Voicing label to "Grid" now

[2022-08-09 00:10] BLFiedler commented on #178
Hm. I am not sure the background color achieved what I wanted when everything was put together. It's a bit hard to look at. Possibly a future color contrast should have the dark/light switch between the play area and control area.

Let's revert a bit and just tweak the old color scheme for now to get to the WCAG standards for contrast with both white and black (for large text and non-text markings

[2022-08-09 01:04] jessegreenberg commented on #178
Colors changed as requested. I reverted the change to the diagonal guide z-order, it is behind the quadrilateral again. Back to @BLFiedler.

[2022-08-09 15:21] jessegreenberg commented on #181
Now that #186 is fixed I am having a harder time creating these cases. But I found one by dragging a side so that the tolerance values are infinite:
![image](https://user-images.githubusercontent.com/6396244/183689824-bf43dbe0-6a6b-47ae-a380-e98885b0aa35.png)
![image](https://user-images.githubusercontent.com/6396244/183689885-2eae51b7-5642-4717-9f56-a3432208d2f7.png)

[2022-08-09 15:55] jessegreenberg commented on #181
I am not actually sure what to check for here with tolerances. It could be as simple as saying "If the shape is a parallelogram, make sure the description uses "equal angle" descriptions". But I don't know if there are other shapes that have incorrect descriptions in this case. It would be helpful to check in on this during meetings.

[2022-08-09 15:56] jessegreenberg commented on #173
I think this was transient with other reentry bugs that were showing up in other sims a long time ago. This hasn't been showing on CT for a while, closing.

[2022-08-09 15:56] #173 closed

[2022-08-09 16:00] jessegreenberg commented on #27
`@ts-ignore`s related to sound/tambo have been resolved. The only remaining ones are related to experimental bluetooth features that are not available in Typescript built-in types and I think its OK for those to stay since we don't know what will become of that feature.

Closing this mega-issue, new TypeScript improvements can happen in new smaller issues.

[2022-08-09 16:00] #27 closed

[2022-08-09 16:09] jessegreenberg commented on #186
Corners are constrained to the grid correctly now, but there is an issue (particularly with shift modifier) where more than one step can happen per press. We aren't exactly sure what is causing it. Back to me to investigate.

[2022-08-09 16:11] jessegreenberg commented on #186
Pressing and holding the shift key and then pressing an arrow key causes this bug to happen consistently.

[2022-08-09 16:19] BLFiedler commented on #178
Discussed in meeting to increase legibility of corner labels. Let's,

- [ ] Draw grid in the back.
- [ ] Have vertex hatch marks only appear when Grid is on.
- [ ] Change color of vertex hatch marks to #FFFFFF (RGB 255 255 255)

[2022-08-09 16:22] BLFiedler commented on #183
Let's increase that contrast!

- [ ] Bold the shape name in the display (not the Show Shape Name text when it is collapsed though)

[2022-08-09 16:38] jessegreenberg commented on #178
Changes requested during meeting made above, back to @BLFiedler.

[2022-08-09 16:40] jessegreenberg commented on #183
Done via #178, back to @BLFiedler

[2022-08-09 19:27] BLFiedler opened #188 "Align model shape detection with shape hierarchy design"
### Why

We discussed changing the organization and specific shape detection code to more closely align with the shape relationship hierarchy for code clarity as well as possible insight into the parameters we can tweak or other solutions to ongoing problems with shape detection (rectangle not being detected and instead displaying a parallelogram and trapezoids becoming parallelograms during side

[2022-08-09 19:57] jessegreenberg commented on #184
Changes to the above method are being proposed in #188. So perhaps we are ready to close this one.

[2022-08-09 21:09] jessegreenberg opened #189 "Fade in and out of Tracks sound designs"
Discussed today during design meeting, it would be nice if the sounds would fade in and out. They are a bit abrupt currently.

Also, the play time should be extended a bit, 2 seconds is too fast.

[2022-08-09 23:06] jessegreenberg commented on #189
The fade has been implemented with the above commits. This introduced some timing variables that we can control
- Track play time is 4 seconds.
- Fade in/out time is 1 second.

@BLFiedler @Ashton-Morris over to you to review.

[2022-08-09 23:16] jessegreenberg commented on #189
New version to avoid phettest: https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.51/phet/quadrilateral_en_phet.html

[2022-08-09 23:39] BLFiedler commented on #189
As said in Slack. Definitely a great improvement. Will let @Ashton-Morris weigh in and otherwise close.

[2022-08-09 23:40] BLFiedler commented on #184
Let's use this to document where we land after #188 using the same pseudocode as above for posterity. Then we're alright to close.

[2022-08-09 23:42] #178 closed

[2022-08-10 14:31] Ashton-Morris commented on #189
Sounds great! I think its much more pleasant to use now.

[2022-08-10 14:36] #189 closed

[2022-08-11 13:56] BLFiedler commented on #175
From last meeting:

Focus on mapping for
- Build Up (distinct tracks mapped to element of shape that create distinct sound for each shape)
- Volume Emphasis/Melody (distinct tracks mapped to each shape)
- Adjust tracks to keep similarity when appropriate (these are not different shapes altogether), but distinguishable.
   - All Convex should still sound pretty “similar”, maybe only Concave that so

[2022-08-11 14:30] jessegreenberg commented on #181
This might be improved by #188, lets return to this once that is done.

[2022-08-11 15:01] BLFiedler opened #190 "Try icons in place of, or in addition to checkbox labels"
Suggested by @emily-phet  in a separate meeting:

Similar to the grid icon, it may make for a more cohesive PhET feel and a clearer indication of purpose if we add icons for the other checkboxes.

If possible, @jessegreenberg, can we generate these in code? Otherwise, I can get something quickly made up (better than these mockups). I would assume we try an outline style of what they accomplish rat

[2022-08-11 15:08] jessegreenberg commented on #190
@BLFiedler sounds good!  Yes I can draw these with scenery.

[2022-08-11 17:16] emily-phet commented on #190
Suggestions:
- Keep them all black/white/greyscale, so they don't draw additional attention to themselves.
- For Corner Guides, I'd suggest starting with @BLFiedler's second option above.
- Diagonal Guides: I'd suggest making something just like the current grid icon, but with dashed diagonal lines (making like an extended, dashed line, letter "X")

[2022-08-11 22:00] jessegreenberg commented on #190
New icons added. They also gave us a lot more room for the model bounds. Reassigning to @BLFiedler and @emily-phet to review.

![image](https://user-images.githubusercontent.com/6396244/184249857-21cb85ba-cab0-499d-837d-ce828cf7f696.png)

[2022-08-11 23:18] jessegreenberg commented on #188
OK, this is done. Honestly the code is much cleaner, this may be easier to read than https://github.com/phetsims/quadrilateral/issues/184.  Seems good to have this aligned with shape hierarchy and hopefully it will naturally resolve some of the open bugs related to name detection.

https://github.com/phetsims/quadrilateral/blob/b4100a0ffec18f2a0c3837dff3f8e21ded854fc1/js/quadrilateral/model/Quadri

[2022-08-12 18:02] emily-phet commented on #190
Hmm - I kind of like it, and I also kind of think it looks "flat".

@jessegreenberg Can you try another variant adding the following words sandwiched between the checkbox and the image:
- Label
- Corner
- Diagonals
- Grid

I'd like to get a sense of whether the addition of text (and the slight offsetting of alignment of the images that will cause) helps. If that's not a winning direction, another

[2022-08-13 02:39] jessegreenberg commented on #190
Sure! Here it is with those labels and the icons center aligned:
![image](https://user-images.githubusercontent.com/6396244/184464097-80583ed7-ddd4-41e9-8607-e5b62c6bf22b.png)

Without alignment
![image](https://user-images.githubusercontent.com/6396244/184464117-1910d280-5abf-444c-8922-403e930bc09c.png)

Another thought I had was to make it look like FontAwesome "solid" icons, like this. Could us

[2022-08-13 14:05] emily-phet commented on #187
Given the young age group this sim reaches, this is quite tricky. My guess is that terms like "a third" might not be effective for the ~ under 8 crowd. I wish their was a plain-language term for "90 degree angle", so for the angle description it could be used as a benchmark (distance to/from 90 degree angle). I can't think of one.

If this still being considered, let's discuss August 23rd (which I

[2022-08-13 14:09] emily-phet commented on #52
I'd love to hear more details. Let's talk about this on Wednesday if there's time - I know @jessegreenberg has been working recently on updates to the Preferences menu for other project needs.

[2022-08-14 11:12] terracoda commented on #187
“Right Angle” is the plain language term we are currently using.

[2022-08-15 12:56] terracoda commented on #187
Of course, one could drop the comparison in the show values mode and just provide the value:
- Corner {{A}}, about {{A}} degrees
- Corner {{B}}, about {{B}} degrees
- Corner {{C}}, about {{C}} degrees
- Corner {{D}}, about {{D}} degrees

Maybe that's what you are proposing. We'll discuss more at design meeting.

[2022-08-16 14:29] terracoda commented on #182
@jessegreenberg, I forgot to assign this issue to you 11 days ago.

[2022-08-16 15:18] jessegreenberg commented on #186
OK, confirmed that these timing variables that manage the delay for press and hold behavior increment if any key is down. They should probably only increment if dragging keys are down.

[code]

[2022-08-16 15:21] jessegreenberg commented on #180
I am also seeing that this is a general problem with keyboard input, for instance I can not move vertex A any higher for this shape
![image](https://user-images.githubusercontent.com/6396244/184917001-4e289785-fa66-4566-8c39-f73d7514b29d.png)

[2022-08-16 15:23] BLFiedler commented on #188
Rectangle/Parallelogram detection seems fixed! 🥇

I am currently encountering 2 tolerance-sourced detection errors (both tied to parallel determination) and 1 unknown error:
#### Tolerance-sourced errors
- It is possible to move from Convex < - > Trapezoid with side drag.
- It is possible to move from Trapezoid < - > Parallelogram with side drag.

#### Unknown shape detection error
When moving the

[2022-08-16 15:25] jessegreenberg commented on #186
Fix committed above. Before this fix you could reproduce by
1) Press and hold any key (shift key or any letter key, doesn't matter). Hold for a few seconds.
2) Press an arrow key or a letter key.

Draggable will move multiple steps. Should no longer happen after the above change. @BLFiedler can you please confirm?

[2022-08-16 15:33] BLFiedler commented on #180
Same. In fact, once you do that, you can get B stuck so it can go farther down, C cannot go farther up, and then if you move D up to A, it cannot go any farther down:

![image](https://user-images.githubusercontent.com/47331395/184919713-dcf7085b-5f1b-42c3-84ae-40bef75232c0.png)

[2022-08-16 15:40] jessegreenberg commented on #175
The "base" sounds for melody and build-up designs were reduced in the above commits. Removing my assignment.

[2022-08-16 15:48] jessegreenberg commented on #188
Totally agree, that sounds like where we last landed in https://github.com/phetsims/quadrilateral/issues/108#issuecomment-1090402804

Sorry I don't understand the steps to recreate this, can you demo in meeting today?

[2022-08-16 15:54] jessegreenberg commented on #181
We can come back to this now that #188 is settled. Console commands to reproduce the case in https://github.com/phetsims/quadrilateral/issues/181#issuecomment-1209524741
[code]

[2022-08-16 15:59] jessegreenberg commented on #181
I think I still need help on this from https://github.com/phetsims/quadrilateral/issues/181#issuecomment-1209570985.

[2022-08-16 16:40] Ashton-Morris commented on #175
Adding some files for:

 **Generate base beat track for Build Up and Melody that is reduced in complexity for use in current sound design.**

- Quad_Simpler_Melody_Tracks_Base_Music.mp3
- Quad_Base_Beat_Simple.mp3

And: **Try creating a “simpler” set of tracks for Build Up and Melody.**

- Quad_Simple_Building_Tracks-000.mp3
- Quad_Simple_Building_Tracks-001.mp3
- Quad_Simple_Building_Tracks-002.m

[2022-08-16 17:24] jessegreenberg opened #191 "Add a control to increase the significant digits in the debug panel"
Some rounding in the debugging panel makes it difficult to understand why some shapes or conditions in the model are being met or not.  We should add a control to increase the precision in the debug panel.

[2022-08-16 17:59] BLFiedler commented on #175
@jessegreenberg, for quick turnaround to hear these new tracks, if possible before tomorrow (interviews 10AM ET and 3PM ET), let's create three NEW sound design sets:

1.) Tracks - Build Up - Simple
Same as Tracks - Build Up, but replace every track with the Simple Version

2.) Tracks - Melody - Simple
Same as Tracks - Melody, but replace every track with the Simple Version

3.) Tracks - Melody -

[2022-08-16 18:04] BLFiedler commented on #175
@jessegreenberg Feel free to remove all sound designs from the Preferences Menu list above the Tracks sound designs except for Parallels Volume (though that will probably go soon as well!)

[2022-08-16 18:53] terracoda opened #192 "Read-me button updates for Overview and Hint Buttons"
Latest visual design
<img width="1068" alt="image" src="https://user-images.githubusercontent.com/1902116/184953540-7b589cc5-1981-457e-bb7f-e83df416f6ba.png">

**Please change Overview button to:**

Four grabbable corners and four grabbable sides allow you to create different shapes and explore their properties.

To support your exploration, show or hide shape name, and use checkboxes to add or re

[2022-08-16 18:54] terracoda commented on #192
Eventually, we will want shape name as part of Details, but lets leave that for now.

[2022-08-16 18:58] terracoda commented on #192
@jessegreenberg, since this update in text might be an pretty easy swap, please do it before #182.

[2022-08-16 19:14] BLFiedler commented on #188
The kite-centric error is actually two issues. One is the definition of a Kite I provided that doesn't let a shape with all equal angles to be a kite (oops, sorry :( ). The other is the priority of a parallelogram over a kite and the overlap in angleToleranceInterval and shapeAngleToleranceInterval.

## Kite defaults to Convex Quadrilateral when two sets of equal opposite angles

Kite currently be

[2022-08-16 19:23] BLFiedler commented on #156
To be addressed in the near future:

Tolerance-sourced errors
- It is possible to move from Convex < - > Trapezoid with side drag.
- It is possible to move from Trapezoid < - > Parallelogram with side drag.

It's likely we'll need to create some case-by-case interventions for each of these based on the shape detection and side-focused interaction.

I'll do some more thinking here before assigning

[2022-08-16 20:54] jessegreenberg commented on #175
@Ashton-Morris @BLFiedler here is a new version with the sounds as they are described in the above comment. Over to you to try it out and comment on next steps. https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.52/phet/quadrilateral_en_phet.html

[2022-08-16 20:59] jessegreenberg commented on #192
OK, strings have been updated. Back to @terracoda to review.

[2022-08-17 00:03] jessegreenberg commented on #182
OK this is done in https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.53/phet/quadrilateral_en_phet.html - @terracoda back to you to review.

We discuss on slack challenges about the "proximity to opposite side description". Here is the logic I went with to produce dev.53.

[code]

Constants have values
[code]

With these values I never hear "right/left/up/down". But the values are small e

[2022-08-17 13:03] terracoda commented on #192
For the Hint button, is it easy to quickly remove, the parallelogram and not a parallelogram parameters, and just name the shape?

**Change from:**
- You have {{a parallelogram}{{, and}} {{a square}}. Explore what shapes you can make.
- You have {{an Isosceles Trapezoid}}{{, not a parallelogram}}. Explore what shapes you can make.

**To:**
- You have {{a square}}. Explore what shapes you can make.

[2022-08-17 13:21] jessegreenberg commented on #192
Sure, parallelogram information has been removed from the hint button content. Back to you to review and verify.

[2022-08-17 13:31] terracoda commented on #183
The visual display looks great, but we might not need "Show". "Shape Name" might suffice. And we need to say the actual shape name when it is shown...so I suggest:
**On keyboard focus:**
- Name Response when hidden: "Shape Name"
- Name Response & Object Response (current value) when already open: "Shape Name: Square" or "Shape Name, Square"

**Toggling with keyboard/alt input:**
- Showing the shap

[2022-08-17 13:33] terracoda commented on #183
Should Voicing of this object go in a separate issue?

[2022-08-17 13:37] BLFiedler commented on #183
Let's discuss at next design meeting. We can leave it to this issue and assign when we're ready to implement.

And yeah, I think this is probably more like a toggle button.

[2022-08-17 13:48] terracoda commented on #192
Sounds good, closing issue.

[2022-08-17 13:50] jessegreenberg commented on #183
Voicing changes were requested for todays Voicing interview with a consultant so I made some changes to master. I only had a few minutes so its not exactly https://github.com/phetsims/quadrilateral/issues/183#issuecomment-1218014946.

Changed display and Voicing name response to "Shape Name"
Changed object response to "You have {{shape name}}." when shown and "Shape name hidden." when closed.

[2022-08-17 13:55] jessegreenberg commented on #183
Now that we have a dev version with this change for today I have reverted it until we discuss it again in a design meeting.

[2022-08-17 15:43] terracoda opened #193 "Ideas for taking in the descriptions in the Overview, or Detail sections"
Currently, the information provided in the details button (description of shape corners and sides) is very lengthy. It is difficult to keep track of it all. In addition, different voiced content may not have the optimal pronunciation or prosody which can lead to confusion.

Today, in my session with one of our consultants, this came up as a serious issue.

Are there simple strategies we can use to

[2022-08-17 16:25] KatieWoe opened #194 "CT After startup, only dynamic instances prescribed by the baseline file can be registered."
[code]

[2022-08-17 16:51] jessegreenberg commented on #191
This has been added.
![image](https://user-images.githubusercontent.com/6396244/185197429-11a73bb0-f8bd-4e00-b389-d01768b49962.png)

@BLFiedler just so you know.

[2022-08-17 16:51] #191 closed

[2022-08-17 17:03] jessegreenberg commented on #194
After adding some missing tandems to debugging UI components and running the sim with query parameters
[code]

I am not seeing this locally.

Maybe it has since been fixed? Ill check back on CT in a couple of hours and check.

[2022-08-17 17:29] terracoda commented on #182
I hear the directional cues a occasionally, but not often. I heard them a couple of times during session with consultant.
I often do not hear context responses (shape getting smaller/bigger or sides tilting/straightening), just object responses. This is likely due to object responses having priority over context responses. Can we switch that priority? I think context responses should over-ride obj

[2022-08-17 17:40] jessegreenberg commented on #188
I found the reason for this. Our kite detection checks for exactly two sets of adjacent equal sides. When a square or a rhombus there are four pairs of equal adjacent sides so the model claims it is not a kite.

Another case of this is here:
![image](https://user-images.githubusercontent.com/6396244/185206143-d4223542-7282-4e51-a0aa-5698737cb8ce.png)

This should be a kite, but the model says that

[2022-08-17 17:46] terracoda commented on #182
Some general feedback from adult consultant:
- "comparable" is not clear, and also too big of a word for 3rd graders.
- "adjacent sides change unequally", also not so clear. Not clear how they are changing if they are changing unequally.
- liked when opposites were described
- liked most when things were equal, when corners were right angles, and when opposite sides were parallel.

Maybe instead o

[2022-08-17 18:04] terracoda commented on #183
I think naming the hidden version of the toggle as "Shape Name Hidden" might make more sense, better than "Show Shape Name" or just "Shape Name". With "Shape Name Hidden", the state of the toggle is very clear, and then when the shape is show, we can have the phrase, "You have a {{shapeName}}" or just the {{shapeName}}, though I think the phrase is more engaging.

[2022-08-17 18:11] terracoda commented on #180
I also experienced this issue with 1.0.0-dev.53

[2022-08-17 18:44] terracoda commented on #193
Another idea is to find a way to display the text on the screen and then make that text work similar to screen reader cursor access or other reading software. Tagging this deferred issue as related as we discussed providing access to text early in our Voicing explorations for GFLB https://github.com/phetsims/gravity-force-lab-basics/issues/232

[2022-08-18 14:59] BLFiedler opened #195 "Add visual interaction hints"
We should add some visual indicators to highlight what is interactable in the sim. Initial interviews had early issues identifying what could be changed in the sim. Also required explicit hints about the sides being interactable.

Something simple that doesn't bias learners to e.g., always play with vertex A first and indicates that vertices and sides are both interactable (without just highlighti

[2022-08-18 15:23] terracoda opened #196 "Consider re-ordering interactive corners and sides"
In recent session with consultant, it was suggested that the interactive shape components follow directly from Left to Right rather than be grouped as 4 corners then 4 sides.

I am suggesting we try the following Tab Order for the interactive shape components.

- Corner A
- Side AB
- Corner B
- Side BC
- Corner C
- Side CD
- Corner D
- Side DA

[2022-08-18 18:44] BLFiedler opened #197 "Potential balance of precision and ease of shape identification"
[[INCOMPLETE - BF will finish]]

I'm increasingly seeing the value in the ability to quickly make shape changes at the cost of precision for specific tasks. i.e., identifying and transforming between shapes - and to a degree identifying the properties of a particular shape - could be done with less precision for the Show Shape Name. Tasks such as perimeter and area calculations - as well as deduci

[2022-08-19 15:05] jessegreenberg commented on #194
OK this appears to be fixed now, likely a common code issue was resolved.
![image](https://user-images.githubusercontent.com/6396244/185649117-95e3ceb1-92a3-424f-95a8-e56799317be5.png)

Closing.

[2022-08-19 15:05] #194 closed

[2022-08-19 15:33] BLFiedler commented on #175
@jessegreenberg if possible before 2PM ET, thank you!!!

Just update existing Volume Emphasis sound design by adding the simple tracks identified below to Concave and Dart as the emphasized tracks. (still playing all)

(0) A. Quad_Beat_Tracks_Building_Base_Rhythm.mp3 (base)
(1) B. Quad_Beat_Tracks_Building_Building_Tracks-000.mp3 (inversion)
(2) C. Quad_Beat_Tracks_Building_Building_Tracks-001.mp3

[2022-08-19 15:55] jessegreenberg commented on #175
@BLFiedler OK, here is a new version with changes to "Tracks - Volume Emphasis" sound design.

https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.55/phet/quadrilateral_en_phet.html

[2022-08-19 16:40] BLFiedler commented on #175
Trapezoid is kind of hard to hear and Kite/Dart are actually the same since Build Up 000 is the same in simple or normal.

Using a few tracks from the Melody sound design to differentiate we can

- Give the current Kite track (Quad_Beat_Tracks_Building_Building_Tracks-000.mp3) to **Trapezoid**. Don't use Quad_Beat_Tracks_Building_Building_Tracks-001.mp3  at all.
- Give **Kite** Quad_Melody_Tracks-

[2022-08-19 16:59] terracoda opened #198 "Consider when to voice shape name - 3 types of context responses - Shape Name, Key Shape Properties, Shape Maintenance"
Now with the show/hide shape name toggle interaction, we need to consider if we want to always voice the shape name or not.

I think if shape name is hidden, we would also not want to announce the shape name in any of the responsive descriptions, and possibly not in the state descriptions (i.e., Details or Hints button).

[2022-08-19 17:00] jessegreenberg commented on #175
Sounds good, done in this version: https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.56/phet/quadrilateral_en_phet.html

[2022-08-19 17:16] BLFiedler commented on #188
Let's see if we can connect over this soon - I'm a little uncertain over the interaction in https://github.com/phetsims/quadrilateral/issues/188#issuecomment-1218301103. Since Rhombus is the most specific shape (and a member of the Kite), that is what should happen I believe? Kite should be overridden by Rhombus/Square. However, I think you're correct in building in the redundancy as shown above.

[2022-08-19 19:56] jessegreenberg commented on #188
Thanks, yes that makes sense now.

[2022-08-22 23:42] BLFiedler commented on #171
We will continue with the continuous soundscape instead of mapping any properties to sounds.

[2022-08-22 23:42] #171 closed

[2022-08-22 23:43] BLFiedler commented on #165
We are continuing with the continuous, musical sound design and this issue is no longer relevant.

[2022-08-22 23:43] #165 closed

[2022-08-23 00:01] BLFiedler commented on #186
Haven't been able to recreate on current branch with several minutes of play. Closing.

[2022-08-23 00:01] #186 closed

[2022-08-23 15:47] Ashton-Morris commented on #175
1. I liked the levels, sound, and feel of: Tracks - Build up - Simple

2. I felt like: Tracks -  Melody - Simple, would have worked better if the melody was less simple. When it's just on 8th note timing as opposed to 16th note timing it misses some instant recognizability. But I did enjoy the backing track bring as low in volume as it was.

3. I am not sure I could hear the distinct mapping on th

[2022-08-23 17:17] jessegreenberg commented on #181
Master doesn't let this happen currently, here is a new set of vertices that have this problem:
[code]

And to set from console:
[code]

[2022-08-23 17:20] terracoda commented on #198
Don't announce shape name when shape name is is hidden.

[2022-08-23 17:45] jessegreenberg commented on #196
Traversal order has been updated. @terracoda back to you to review/confirm.

[2022-08-23 18:40] terracoda commented on #196
Awesome! Closing.

[2022-08-23 19:15] BLFiedler opened #199 "Testing chunkier mouse and keyboard input"
@jessegreenberg, can you create a one-off dev version that aligns the mouse input with the larger keypress grid?

I'd like to play around with that and the tolerance intervals for feel and any shape detection issues.

Tagging @terracoda for awareness.

[2022-08-23 19:39] BLFiedler commented on #188
As @terracoda noted during the meeting, there do seem to be some issues that overlap with the interaction between the input grid and tolerance interval values. The interrelatedness of the input grid and tolerance (and thus shape detection) I think are inextricable for the purposes of smooth and consistent interaction.

We are also up against the fact that the code must run linearly (with exit poin

[2022-08-23 20:06] jessegreenberg commented on #199
OK, I added query parameters to control this. `minorVertexInterval` sets the interval vertices are constrained to with mouse and "shift" key presses. `majorVertexInterval` sets the interval vertices are constrained to with arrow key presses. For now `majorVertexInterval` MUST be >= `minorVertexInterval` or sim will crash.

Interval requested in the original issue is https://phet-dev.colorado.edu/h

[2022-08-24 12:42] BLFiedler commented on #199
Excellent. So much tuning now! Closing and moving questions of tolerance and grid spacing elsewhere.

[2022-08-24 13:16] BLFiedler commented on #188
A quick note on what happens if we enlarge the grid spacing too large relative to the tolerances. In this case with a rotated shape, I lose the ability to locate a kite. This was already possible with only standard keypresses (no shift modifier), but I'm using a mouse here.

https://user-images.githubusercontent.com/47331395/186428099-04ef0783-c82d-460e-ad0b-d6eec9c32045.mov

[2022-08-24 13:21] BLFiedler commented on #175
Agreed. And the same goes for the interviews. I think we'll need to do everything we can to boost instant recognizability for  each shape transition. Tracks - Volume Emphasis performed better here in that regard. The standout track was sufficiently louder than the "constant" or background pieces.

Yeah, I wasn't sure exactly what was off here, but didn't have time to tease it out. We had enough to

[2022-08-24 14:03] BLFiedler opened #200 "Add reset shape control"
After interviews, and through our own exploration, we'd like to add a button distinct from the Reset All button that only resets the shape to a square without undoing the checkboxes, turning off Voicing, or anything else.

I believe functionally this will just force move the vertices to their original position without changing anything else in the sim.

Let's go with something similar to the butto

[2022-08-24 14:12] jessegreenberg commented on #200
Happy 200 issues! 🎉

This looks fine but PhET also has ResetButton that is sometimes used for portions of the screen, do you have  a preference between this iconic button and the text button?

![image](https://user-images.githubusercontent.com/6396244/186440877-02034fa6-6f75-4371-a527-d49075c59aa6.png)

(Proportion Playground)

[2022-08-24 14:14] BLFiedler opened #201 "Add checkbox to toggle the shape music"
From comments during the interviews and our own discussions during design meetings, we foresee the need for an on-screen toggle to disable the music that plays as a shape is transformed. Something like a "Play Music" checkbox. The intention is to retain any other sounds (UI or sounds we intend to add for play area collision/vertex-side collisions) when the music is disabled. We'll have the music e

[2022-08-24 15:48] BLFiedler commented on #200
Hmmm. I see the use in Proportion Playground and I think once you play with the sim you have a pretty clear idea of what that button is intended to do. It also resets multiple components on the screen at once.

It's a little less clear to me that folks will know that button only applies to the shape and nothing else.

I may defer to @terracoda and @emily-phet here.

[2022-08-24 18:14] emily-phet commented on #200
It looks like Proportion Playground uses the same shape and circular arrow to cue it's behavior is similar to "Reset All". BASE takes a different approach, using the color orange to cue it's related to "Reset All", and spells out "Reset Balloon".

If we're still able to generate all instances of a particular component in Binder, looking through all the regular push buttons (not sure what the techn

[2022-08-24 18:22] BLFiedler commented on #195
Let's go ahead with something like the first picture with boxes around the corners and arrows for the sides. The color should not be focus-highlight-pink of course. Perhaps a bright green to differentiate from anything else in the sim. And the dashed line thickness on the order of the play area boundary or slightly thicker.

A bit more like this:

![image](https://user-images.githubusercontent.com

[2022-08-24 18:30] jessegreenberg commented on #200
I couldn't find visual ResetButton examples in binder. I found this list but I think it is including all sims because ResetAllButton extends ResetButton https://phetsims.github.io/binder/#components (ResetButton is the second component in the list)

A search for `new ResetButton` shows
unit-rates
expression-exchange
models-of-the-hydrogen-atom
number-line-integers
proportion-playground
scenery-phe

[2022-08-24 19:40] BLFiedler commented on #188
Discussed with @jessegreenberg over Zoom, but dumping this here without further context for the moment:

concaveShape
parallelOnePair
parallelTwoPair
~~equalAdjacentCornerOnePair~~
equalAdjacentCornerTwoPair
equalOppositeCornerOnePair
~~equalOppositeCornerTwoPair~~(parallelogram optional)
equalAllCorner = BOOLEAN
~~equalAdjacentSideOnePair~~
equalAdjacentSideTwoPair
equalOppositeSideOnePair
~~equa

[2022-08-25 14:00] BLFiedler commented on #201
Noting that this will need description after implementation @terracoda

[2022-08-25 15:03] BLFiedler commented on #200
After perusing the different ways displays are reset (![image](https://user-images.githubusercontent.com/47331395/186688258-db6b68df-bb48-4ea6-977b-1bf483b42b49.png)), refreshed (![image](https://user-images.githubusercontent.com/47331395/186688194-84d83573-16ff-4fb6-be03-babefd9b2f54.png)), and restarted (![image](https://user-images.githubusercontent.com/47331395/186688499-e4629336-5faf-4e2a-903

[2022-08-25 15:09] BLFiedler commented on #183
I think the change to visuals "Shape Name" and 'Shape name hidden' for naming the hidden/collapsed toggle is fine! Go ahead and make the change @jessegreenberg

[2022-08-25 16:42] BLFiedler commented on #188
The above post was regarding a change to how we do shape detection (again) that more closely mimics how we've been using the shape hierarchy. Rather than branching paths, it uses a build-up of shared properties as the basis for shape identification. This results in a unique ID for each shape based on the presence of parallel pairs, angle equivalencies, and side equivalencies.

We believe this will

[2022-08-25 23:34] jessegreenberg commented on #200
Sounds good, added controls in the above commit as requested. Ready for review on phettest.

Just playing around with a slightly different layout and colors that I though also looked nice:
- Use the default "PhET blue" for the button (I find the orange harsh, especially against the red ExpandCollapseButton)
- Aligns controls along the play area
- Default sizing for the TextPushButton
- Icon for th

[2022-08-25 23:35] jessegreenberg commented on #201
Done, functionality added (without Voicing for now). I proposed a different layout and icon though in #200, related to this issue.

[2022-08-25 23:40] jessegreenberg commented on #195
This could actually be a more complicated change depending on how we interpret

If all indicators can disappear when you interact with any side or vertex, this is a quick drawing task. If only the indicator that is clicked on disappears when you interact with a side or vertex the cuing arrows will need to rotate and reposition with the side.

@BLFiedler can you please clarify which one it needs to

[2022-08-25 23:55] BLFiedler commented on #195
Oops - yes I meant **everything** should disappear when _any_ side or vertex is pressed!

[2022-08-26 00:19] BLFiedler commented on #200
Agreed on the harshness of the orange. I like the changes you made! I was pondering an icon for the music and really glad you tried it out.

The text button stands out a bit in this case still. Might consider going all icon or going the hybrid approach suggested in #190

[2022-08-26 14:10] BLFiedler commented on #190
Just to note from interviews that all 4 students were able to deduce the purpose of the icons (without labels). A quick confirmatory check and uncheck was all it took. For diagonals, they either referred to it as "the lines through opposite corners" or used the term diagonals unprompted. The grid was universally called a grid.

I'm not sure how this would play with elementary students, but I don't

[2022-08-26 14:11] BLFiedler commented on #201
Great! I'll leave the discussion of text vs icon to issue #190

[2022-08-26 14:11] #201 closed

[2022-08-26 14:39] BLFiedler commented on #188
In case it's helpful, I adjusted the above lists into a table. I added in the two extra parallelogram constraints for completeness.

|  | concaveShape | parallelOnePair | parallelTwoPair | equalAdjacentCornerTwoPair | equalOppositeCornerOnePair | equalOppositeCornerTwoPair | equalAllCorner | equalAdjacentSideTwoPair | equalOppositeSideOnePair | equalOppositeSideTwoPair | equalAllSide |
|---|---|--

[2022-08-26 15:24] KatieWoe opened #202 "CT Unloaded frame before complete, window.location probably changed"
[code]

[2022-08-26 17:27] terracoda commented on #200
As for description...

**{{Reset Shape}}, button**
Accessible Name (label text): Reset Shape
Interaction Type: push button or reset button
Help Text choices:
- Reset Shape to the starting square.
- Reset shape to starting angles and side lengths.
- Reset Shape to start again.
- Reset corners and sides to starting shape.
- Explore again, starting from a square!
- or have no help text

**Context res

[2022-08-26 17:34] terracoda commented on #200
To Start @jessegreenberg, I would go with this:

**{{Reset Shape}}, button**
Accessible Name (label text): Reset Shape
Interaction Type: push button / reset button
Help Text: none

**Context response on reset:**
**_If shape name shown:_**
  - Angles and sides reset to a square.

**_If shape name not shown:_**
- Shape has all right angles and all sides equal.

[2022-08-26 17:37] terracoda commented on #200
@jessegreenberg, assigning description to you.

[2022-08-26 17:48] terracoda commented on #183
@BLFiedler, I like to push back here some more on what to say when shape name is toggled to the shown state...

A blind person can't access the word on the screen when it is shown. An people who have trouble reading can't read it either without effort. The name of the shape needs to be voiced out loud, otherwise we have to create an unnecessary reading block, and create another tab stop for that r

[2022-08-26 18:04] terracoda commented on #183
@jessegreenberg will revert this change for my session tomorrow with a blind user.

[2022-08-26 18:08] terracoda opened #203 "Description for Play Music Checkbox"
Coming very soon.

[2022-08-26 18:15] terracoda commented on #200
The above design pattern fits more with Interactive Description. But if the name response is include
- Name Response: Reset Shape
- no Object Response
- Context Responses:
  - when shape is shown:  You have a square! (Will hear: Reset Shape, You have a square!)
  - when shape is hidden: All right angles and all sides equal. (Will hear: Reset Shape, All right angles and all sides equal.)

[2022-08-26 18:22] terracoda commented on #200
Please ignore brainstorm and initial design in comments https://github.com/phetsims/quadrilateral/issues/200#issuecomment-1228746723 and https://github.com/phetsims/quadrilateral/issues/200#issuecomment-1228752048

[2022-08-26 18:23] BLFiedler commented on #183
Oh, I do actually see that I misread your text above. It also sounds more complicated than just a name change. Let's revisit this topic at the next meeting.

[2022-08-26 18:54] jessegreenberg opened #204 "New traversal order including music and reset shape controls"
These new controls need to be placed in the traversal order. Should be

[2022-08-26 18:57] jessegreenberg commented on #204
REquired for a user interview that will happen tomorrow.

[2022-08-26 19:01] terracoda commented on #203
![image](https://user-images.githubusercontent.com/1902116/186968327-c5dcac53-3f74-4e6f-a779-38677a7d83f5.png)

"Shape Music" or just "Music" might work better than "Play Music" since the checkbox is checked by default, and checkboxes with verbs are a bit difficult for Voicing since we hear the name response and the context response together.

For Voicing I propose starting with just "Music":
- Na

[2022-08-26 19:12] terracoda commented on #197
I like the idea of "Precision Mode" - in this mode, the tolerances would need to align with the smallest key press (step size).

[2022-08-26 19:16] terracoda commented on #197
In BASE we use, we decided to use the Shift key to make bigger steps. @BLFiedler, have we discussed doing something like that for this sim. I haven't thought through it, but it might be worth a brief discussion.

[2022-08-26 19:19] terracoda commented on #204
Yes, that order is good @jessegreenberg

[2022-08-26 19:25] jessegreenberg commented on #204
Great, thanks @terracoda. Updated in the above commit.

[2022-08-26 19:25] #204 closed

[2022-08-26 19:33] jessegreenberg commented on #203
Voicing response for the music control added, @terracoda over to you to verify.

[2022-08-26 19:40] jessegreenberg commented on #202
Thanks @KatieWoe - require tandems added in the following commit.

[2022-08-26 19:40] #202 closed

[2022-08-26 20:01] terracoda commented on #198
When shape name is shown, and a transformation creates a named shape, we should hear:

- "Found a {{shapeName}}!" as the context response, instead of any context response of changing corners or sides.

The above context response, should replace any "Lost your parallelogram." and any "Found a parallelogram" context responses.

When shape name is not shown, it might be more tricky, but these are the

[2022-08-26 20:03] terracoda commented on #198
@jessegreenberg, I'm still working on this.

[2022-08-26 20:05] terracoda opened #205 "Consider different region name for "comparable""
We use comparable to describe corners and side length that are similar or almost the same. I need a different word. Or one less size/length region.

[2022-08-26 20:06] jessegreenberg commented on #200
Voicing responses for the reset shape button added. Back to @terracoda to verify.

[2022-08-26 20:22] jessegreenberg commented on #183
In the above commit I reverted back to https://github.com/phetsims/quadrilateral/issues/183#issuecomment-1218038666.

Here is latest dev version with this change: https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.59/phet/quadrilateral_en_phet.html

I am not sure I understand the concerns listed above. In https://github.com/phetsims/quadrilateral/issues/183#issuecomment-1218336360 I though

[2022-08-27 17:41] terracoda opened #206 "Consider different approaches to scaffolding of non-visual experience"
Two sessions with blind science consultants using Quad reveals several of design issues with the current Voicing some related to scaffolding of ideas, some related to awkwardness Tab Navigation.

@terracoda to finish

[2022-08-28 01:38] terracoda commented on #183
The version almost working perfectly.

The shapeName on screen remains in synch with what’s happening, but the shspeName in the PDOM becomes stale and requires a re-toggle to voice the currently visible shapeName after a shape transformation.

I think the description is not fully dynamic, if that’s possible.

[2022-08-29 04:54] emily-phet commented on #200
Suggestion - make the "reset shape" button the same yellow as the quad, to tie them together and to avoid introducing a new color into the sim. (more colors = more problems :)

[2022-08-29 05:01] emily-phet commented on #190
I would recommend using the musical note icon rather than providing a text label.
There's a little nuance here...I'd like to continue talking about the non-speech auditory display for sims in the same language we've used to date (sound, including sound effects and sonification). Music is a term we can use casually, but I think it will complicate an already muddy terminology-space to introduce its

[2022-08-29 05:05] emily-phet commented on #190
As far as location...perhaps a crazy idea. You could add the "music" icon to the current list of checkboxes, and place the "reset shape" button just left of the reset all button.

Or maybe, if the checkboxes are all icons, that may be unattractive overall, and you might be able to get away with placing the reset shape button just below the list of checkboxes (with empty space between it, and the r

[2022-08-29 15:12] terracoda commented on #203
This is implemented as I intended, and sounds good. Thanks @jessegreenberg.

@BLFiedler, since the visual plan is leaning towards using an icon, do you have a preference for the Name Response between "Music" or "Shape Music"?

Another possibility that could work is "Shape Melody". If you like this better, I would add "Music" to the context responses. For example, like this:

- Name Response: Shape

[2022-08-29 15:36] terracoda commented on #188
@BLFiedler, I started with a tilted a square and did not have much trouble finding a Kite with either a keyboard or a mouse. I don't think I fully understand what you mean my skipping over shapes? Wouldn't this be more of an issue for keyboard than for mouse input?
Of course if a learner has a tilted shape, they won't be able to follow the visual grid to find a kite. They would have to rely more h

[2022-08-29 16:00] terracoda commented on #200
@jessegreenberg, the Reset Shape button, does reset the name of the shape being voiced - same issue as I mentioned in #183

[2022-08-29 16:14] terracoda commented on #200
If we were to use an iconic button, I think the square in the button would have to look similar to the starting square.
Very rough sketch:
<img width="165" alt="image" src="https://user-images.githubusercontent.com/1902116/187246607-3275e811-bacc-447e-9e49-3e0d5355fd20.png">

[2022-08-29 16:16] terracoda commented on #200
A yellow button with the words "Reset Shape" works for me, though.

[2022-08-29 16:22] terracoda commented on #200
@jessegreenberg the voiced context responses are working properly. If shape name is hidden, I hear "Reset Shape" + "All right angles and all sides equal." when shape name is not shown.

[2022-08-29 17:38] terracoda commented on #198
Again, when shape name is hidden, I think it would be better to just name the most important properties as they become true. That approach might mean that we not distinguish with a response between certain shapes, like Kites vs. Darts and Convex and Concave quadrilaterals, or perhaps Darts and Concave Quadrilaterals.

[2022-08-29 18:30] BLFiedler commented on #198
Discussed over Zoom with TS, but a few notes I had:

I'm really for whatever feels most helpful at this point for clarity on what's happening with the shape. If that's describing the shape's appearances, what's equal or not equal, or what is or isn't parallel, then those are what's important.

Should we maintain the dynamic language in the context response for parallel when connecting a specific s

[2022-08-29 19:13] BLFiedler commented on #197
I would like to re-orient this issue away from possibilities in adjusting tolerances and instead focus on the default input grid spacing, modifying the shift key to move to "bigger" grid intervals, and creating an option in the Preferences that shrinks the input grid mapping. Ideally, all of this is done while maintaining a fairly small tolerance interval.

Intended changes to discuss:
- minorVert

[2022-08-29 20:24] BLFiedler commented on #197
I also would like to propose discussion around whether major keypresses should restrict to the grid intersections (or half intersections, etc). This was brought up to some extend in #156 I believe, but may be a simpler implementation with chunkier movement.

[2022-08-29 22:51] jessegreenberg commented on #195
Visual interaction cues added. Back to you to review @BLFiedler.

[2022-08-30 12:57] terracoda commented on #198
Ok, in that case, I would suggest that when shape name is hidden we call out properties as they become true. I don't want to have 2 different models - one for shape detect when shape name is visible and one for property detection.  I am pretty sure these 2 things are closely aligned, it is just to be a shape you several shape property test might need to be true.

I am wondering if this would make

[2022-08-30 14:10] BLFiedler commented on #206
One thing @terracoda and I discussed yesterday was changing the tab order to land on side AB first. Manipulating a side while in a square gives you very easy access to rhombus, parallelogram, and rectangle which all have fairly simple descriptions.

Open question is if it goes 1) Side AB -> A -> B and then alternate or 2) Side AB -> B and continue alternating.

For 1), it might get a little weird

[2022-08-30 14:15] BLFiedler commented on #203
@emily-phet mentioned a good point in keeping the number of words we use for auditory display to a minimum in https://github.com/phetsims/quadrilateral/issues/190#issuecomment-1229777148.

We could keep to "Shape Sound" if that works for you @terracoda, which I believe you brought up at one point.

And then for context responses, replace Music with Sound?

[2022-08-30 14:19] BLFiedler commented on #195
Great! Tossed it out on slack for any quick thoughts from folks.

[2022-08-30 14:28] BLFiedler commented on #187
We didn't get back to this, but yeah, I suppose where this would work best was just a separate Voicing button altogether. I think from your interviews with the consultants, they were looking for a few more precise bits of information (e.g., grid values). This would manifest as just a list of values more or less.

Let's defer this idea until we get the other descriptions sorted out. We'll also need

[2022-08-30 14:30] BLFiedler commented on #185
After interviews where I was trying to speak, and after Voicing interviews by @terracoda, I think this will be very helpful (in addition to some sound mixing).

@jbphet, do you feel this is something that should stay in Quad or be expanded to common code?

[2022-08-30 14:44] terracoda commented on #196
@jessegreenberg, re-opening as moving a corner complicates the shape early on, and @BLFiedler and I discussed that it might be nice to see what happens if a learner plays with a side before playing with corners.

Can you change the tab order again to be:

- Side AB
- Corner B
- Side BC
- Corner C
- Side CD
- Corner D
- Side DA
- Corner A

[2022-08-30 14:48] BLFiedler commented on #175
We're ready to begin modifications here.

After @terracoda finished up the consultant interviews, we chatted and agreed that it might be nicer to continue backing off on the "base" sound used whenever a convex quadrilateral is created/maintained.

I suspect a focus on Tracks - Build Up - Simple design while maintaining the Volume Emphasis design in parallel (no pun intended) would let us continue

[2022-08-30 14:49] BLFiedler commented on #181
Let's discuss this today in more detail to determine the mismatch in description and shape detection.

[2022-08-30 14:54] BLFiedler commented on #205
Random off the top of the head list:

"almost equal"
"nearly equal"
"slightly different"
"close to equal"
"almost the same"
"not quite equal"

[2022-08-30 15:11] terracoda commented on #205
@jessegreenberg , can you change "comparable to" to:
- "almost equal to"

[2022-08-30 15:54] terracoda commented on #192
Re-opening:
Please update Over to include all new UI controls

Four grabbable sides and four grabbable corners allow you to create different shapes and explore their properties.
You have options to show shape name, mute music, add visual guides and grid lines. You can reset the shape, or reset the entire sim.

[2022-08-30 16:04] jessegreenberg commented on #188
- Shouldnt a Rectangle have two `equalAdjacentSideTwoPair` true?

[2022-08-30 16:29] jessegreenberg opened #207 "Add Interactive Highlighting to this sim"
In design meeting today we remembered this feature and decided we want it active in this sim.

[2022-08-30 16:36] terracoda commented on #203
Yes, that should work:
- Name Response: Shape Sound
- Object Response: none
- Context Responses:
    - When Unchecking: Name Response + "Off for shape changes."
    - When checking: Name Response + "On for shape changes."

[2022-08-30 16:39] jessegreenberg commented on #207
Added in the above commit. Almost working but I noticed that highlights surrounding sides don't update until release. Ill investigate.

[2022-08-30 17:25] BLFiedler commented on #185
Throwing out for later decision: Would this option live in the Audio Tab or Voicing Tab?

[2022-08-30 17:27] terracoda commented on #198
We think this a good approach. We can voice properties as they happen when shape name is not shown, and voice the shape name when the shape name is shown.

I still need to figure out how these new context responses would be supported by the other responses we have built in currently.

[2022-08-30 17:50] jessegreenberg commented on #185
I made https://github.com/phetsims/tambo/issues/167 to investigate this in tambo.

[2022-08-30 17:50] BLFiedler commented on #175
@Ashton-Morris , go ahead with coming up with ideas/tracks for item 2 above

And I'll add in a specific item for item 1 soon.

[2022-08-30 18:20] jessegreenberg commented on #188
I was thinking that each row in https://github.com/phetsims/quadrilateral/issues/188#issuecomment-1228576246 was the only condition for that shape. But of course "concave" requires the `concaveShape` but could have any number of columns be true. Wondering if we need special "fallback" cases for convex and concave so that those classifications can include other conditions.

[2022-08-30 18:24] jbphet commented on #195
We have a bit of a de facto standard for what we generally call "cueing arrow" (or sometimes "cuing arrows").  I'll paste some examples below.  This style might be a bit too much for this particular sim, but I thought I'd point out some previous examples in case you want to me more consistent with previous sims, and possibly leverage their implementations.

From the Greenhouse Effect flux sensor:

[2022-08-30 18:27] jbphet commented on #195
Two other notes:

- I noticed that the cursor doesn't change when hovering over the draggable element in Quadrilateral.  Usually we have it change to a pointy finger in a case where it can be dragged in multiple directions.  This is another clue to the user that the element is draggable.
- If you end up just going with the single arrow as showing in the example at the top of this issue, I personal

[2022-08-30 22:33] jessegreenberg commented on #188
Over a zoom meeting, @BLFiedler and I worked on https://github.com/phetsims/quadrilateral/commit/4f321c7a7426c7fa6079310f5fffb1f66c38c990. The resultant behavior is https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.60/phet/quadrilateral_en_phet.html. It may be a good way forward but there are a couple of problems still.
1) There are some manual checks to include trapezoids with special co

[2022-08-31 12:09] BLFiedler commented on #188
Pasting in some modified notes made to JG over Slack:

Located where the right angle indicators are drawn in the View

...
`assert && assert( vertex1.angleProperty.value, 'Angle must be available to draw the indicator' );
    const angle = vertex1.angleProperty.value!;
    this.visible = this.shapeModel.isRightAngle( angle ) && this.cornerGuideVisibleProperty.value;`

...

And investigating where

[2022-08-31 12:46] terracoda commented on #188
This sounds like totally the right approach to me!

It seems like @BLFiedler tested things deeply here.

I'll try [https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.61/phet/quadrilateral_en_phe[…]nterval=0.002&angleToleranceInterval=0.001&showModelValues](https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.61/phet/quadrilateral_en_phet.html?shapeAngleToleranceInterval=0.002&angleTo

[2022-08-31 13:06] terracoda commented on #207
This is really nice to have :-)

[2022-08-31 13:21] terracoda commented on #183
@jessegreenberg, my original response design for this interaction does not seem correct, or maybe the implementation is not quite right.

I currently get no name response with mouse interaction, and I get "Shape Name" as the name response when using keyboard, regardless of whether or not the shape's name is shown. I have to map this interaction out in the design document.

[2022-08-31 13:23] BLFiedler commented on #188
This is a WILD issue. Definitely need to bookmark it for some future publication.

On that note, here is a link I think captures a lot of the intended defaults in other issues (#197, #175): https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.61/phet/quadrilateral_en_phet.html?shapeAngleToleranceInterval=0.002&angleToleranceInterval=0.001&shapeLengthToleranceInterval=0.003&soundDesign=TRACKS

[2022-08-31 14:20] terracoda commented on #188
I seem to have lost it, but I had trouble making a kite, but the above shapeLengthTolerance provided by Brett might fix that.

[2022-08-31 14:30] terracoda commented on #188
With the default step-size of 1 grid space, I think it it hard to find a rhombus.

[2022-08-31 14:31] terracoda commented on #188
At least when transitioning between a square and parallelogram.

[2022-08-31 14:48] terracoda commented on #188
I can't seem to get an incorrect shape. In certain cases I need to use the shift modifier key to not jump over certain shapes when transitioning between the different parallelograms.

Using this link: https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.61/phet/quadrilateral_en_phet.html?shapeAngleToleranceInterval=0.002&angleToleranceInterval=0.001&shapeLengthToleranceInterval=0.003&showMod

[2022-08-31 14:48] terracoda commented on #188
@BLFiedler and @jessegreenberg I think this works well, too.

[2022-08-31 14:49] terracoda commented on #188
It would be good to discuss the default step-size and adjusted step size in a different issue.

[2022-08-31 14:52] terracoda commented on #188
Maybe we can adjust the snap to, so one cannot jump over a shape. For example, one cannot jump over a rectangle when leaning a parallelogram from left to right when using the keyboard. Michael had some code for this kind of thing in RaP.

[2022-08-31 17:01] BLFiedler commented on #188
Yes, I think swapping the major and minor step as default is probably the way to go.

I'm less certain here. There isn't a "right way" to proceed through the shapes and it's possible we'll hit multiple points where stopping the movement early may interfere with systematic exploration. It is also likely to highlight the edges of the tolerances we're avoiding by using the input grid. What if the sha

[2022-08-31 17:38] BLFiedler commented on #195
Thanks, JB! I see the issue with using the arrows. I had intended to just draw notice to them and not indicate a direction of movement which the arrows typically do for the above examples. The 8 interactable sides/vertices can move in any direction. I'm not sure even a 4-way arrow would accomplish that neutral bias for selecting a side or vertex.

Perhaps something a bit simpler and just borrowing

[2022-09-01 14:39] BLFiedler commented on #156
With our more stringent requirements for a parallelogram introduced in the latest shape detection model in #188 , I have been unable to reproduce this. Closing.

[2022-09-01 14:39] #156 closed

[2022-09-01 15:29] terracoda commented on #146
I can easily slip off the input grid by using the shift once and then moving a side AB back and forth. When I do that I will jump over a square. I think it would be awesome to have a snap back to the grid in key places, like passing over 90 degrees.

I think it would be difficult to define something for each shape, could we have a snap-to for a few specific properties like
- 90 degrees
- paralleli

[2022-09-01 15:31] terracoda commented on #146
@BLFiedler, I tested with the latest on PhET Test today. I am not sure yet to be input tolerances and new step sizes will prevent these "jump-overs".

[2022-09-01 15:36] terracoda commented on #146
Maybe this issue is related to #197

[2022-09-01 15:42] terracoda commented on #185
I think this is an important option.

[2022-09-01 15:43] terracoda commented on #182
Need to consider new context responses in #198 when re-thinking Object Responses.

The responses need to go together to scaffold an understanding of the shape and shape transformations.

[2022-09-01 15:49] terracoda opened #208 "Consider how we could voice a grid in the absence of tangible or haptic display"
We may need to find a way to voice the grid to support non-visual access when only the virtual experience is available.

Ideally, the Voicing feature would be paired with either a tangle device or some kind of tangible haptic display.

When those supports are not available, are there easy ways to describe the shape or grid to make it more understandable who someone who cannot see the screen?

[2022-09-01 19:07] terracoda commented on #185
But it can wait until we have object and context responses refined and implemented. I thnk we need less talking in general.

I am starting to think that the sonification can fill the silent steps between useful object and context responses.

[2022-09-02 00:30] terracoda commented on #188
Thinking about it as "stopping the movement" is the wrong way to think about what I am referring to. The steps are discrete anyways when using the keyboard, so it's just about making sure a key press lands on 90 degrees if the key press step is passing through  88 and 92 degrees. A mouse user won't ever skip 90 degrees in the same way.

[2022-09-02 00:53] BLFiedler commented on #188
Sure, that totally makes sense. I meant to weigh that against the certainty in spacing (and therefore length or possibly angles changes) from each keypress.

Let's chat about this at the next meeting and move the discussion to #197. There are suggestions there to further align mouse/touch and keyboard input that are relevant to what angles or shapes any user can find.

[2022-09-02 01:03] BLFiedler commented on #188
@jessegreenberg, we can close this issue when you've merged the shape detection from dev.61 and done any necessary cleanup.

Tolerance adjustments and input grid adjustments will be handled elsewhere.

[2022-09-02 20:06] jessegreenberg commented on #207
There was a bug in scenery that didn't update the highlight for "Interactive Highlights" when it fell back to the default focus highlight. It should be fixed in the above commit.

@terracoda can you please review interactive highlights in this sim to confirm that feature is working OK?

[2022-09-02 21:51] jessegreenberg commented on #205
Done in the above commit, @terracoda over to you to close or verify.

[2022-09-02 22:00] jessegreenberg commented on #195
Yep, thanks! Cursors set.

[2022-09-02 22:05] jessegreenberg commented on #192
Done above, @terracoda back to you to review or close.

[2022-09-02 22:12] jessegreenberg commented on #188
Very good, old shape detection functions have been removed and documentation was added. I added some references back to this issue regarding decisions.

Closing.

[2022-09-02 22:12] #188 closed

[2022-09-02 22:13] terracoda commented on #207
Interactive highlights are working well. Closing.

[2022-09-02 22:13] #207 closed

[2022-09-02 22:17] jessegreenberg commented on #181
This is a problem for the same reason that the "right angle indicators' show up incorrectly sometimes. A fix for that issue may be applied here.

Also, Voicing is going to change significantly so I am not sure this will still be relevant with new designs. Lets touch base next meeting.

[2022-09-02 22:22] terracoda commented on #205
I hear ""almost equal to"! Thanks @jessegreenberg. Closing.

[2022-09-02 22:22] #205 closed

[2022-09-02 22:58] terracoda commented on #192
The new Overview is in place. Thanks @jessegreenberg . Closing.

[2022-09-02 22:58] #192 closed

[2022-09-02 23:01] terracoda commented on #196
Sorry, I forgot to assign you @jessegreenberg.

[2022-09-02 23:08] terracoda commented on #203
Forgot to assign you @jessegreenberg.

Let me know if this is clear to implement. I am assuming you don't need this mapped out by input method.
For mouse we hear Name Response & Context Response
For Keyboard we hear Name Response on focus, the Name & Context Response on checking and unchecking the checkbox.

[2022-09-02 23:18] terracoda commented on #200
The Voicing of the Reset Shape button is working fine.

@BLFiedler  do you like Emily's suggestion in https://github.com/phetsims/quadrilateral/issues/200#issuecomment-1229773115 - make the button the same color of the quad?

Maybe we need 2 colors - one for the button and then one for hover/focus?

[2022-09-02 23:27] terracoda commented on #203
And, the music icon implementation is happening over in #190

[2022-09-03 18:16] samreid opened #209 "Enumerations with equal key names confuse PhET-iO"
In https://github.com/phetsims/phet-core/issues/99 we saw that PhET-iO is confused because of these similarly structured Enumerations:

[code]

PhET-iO builds EnumerationIO keys based on the strings, so does not currently support these.  I wonder if this would be a good candidate for using string literal unions?

I'll commit a workaround for the moment, then reassign to @jessegreenberg for a longe

[2022-09-03 18:27] samreid commented on #209
I added a very hackish workaround in the commit.  Would be good to discuss with @jessegreenberg.  Other possible solutions to consider:

* String literal union (my top pick, unless we are planning to need rich features)
* Different key names
* Change PhET-iO to support different enumerations with the same keys (non-trivial, but may be best if this kind of problem happens over and over.  Right now,

[2022-09-05 21:04] Ashton-Morris commented on #175
I uploaded some new audio files for the above conversation.

1. "Reducing the Convex quad track to make it less interesting, but retain some nice foundational, constant quality the beat provides. Consider how it can mirror the Concave sound (either by adjusting concave or convex)."
 - I have added **Quad_Base_Beat_Simpler.wav and Quad_Base_Beat_Simpler.mp3** to try for this
 - I also have two opti

[2022-09-05 21:05] Ashton-Morris commented on #175
@jessegreenberg It should be just replacing existing files but let me know if you have any questions regardless.

[2022-09-06 15:19] BLFiedler opened #210 "Separate right angle indicator tolerance from angle comparison tolerances"
Quoting from #188, where we didn't come back to this. Deserves its own issue.

_Originally posted by @BLFiedler in https://github.com/phetsims/quadrilateral/issues/188#issuecomment-1227514136_

[2022-09-06 15:20] BLFiedler commented on #210
Additional pasting from another comment:

...
`assert && assert( vertex1.angleProperty.value, 'Angle must be available to draw the indicator' );
    const angle = vertex1.angleProperty.value!;
    this.visible = this.shapeModel.isRightAngle( angle ) && this.cornerGuideVisibleProperty.value;`

...

[2022-09-06 15:30] BLFiedler commented on #41
Note from Slack:

JG:
Back in the day we did some work to support various multitouch cases with quad, like how it should behave when dragging a side and vertex at the same time. Is that important to maintain? It might impact https://github.com/phetsims/quadrilateral/issues/41

BF:
Ah nice catch. It would be nice to support:
1)  at minimum any 2 vertices (4 ideal),
2) two opposite sides, e.g., side

[2022-09-06 15:50] jessegreenberg commented on #209
Thanks @samreid, I renamed the keys in the above commit.

I have been preferring `Enumeration` because I like having one pattern that works for all enumerations. I have also found IDE support for string literal unions to be worse.

This whole class is for development/prototyping so no need for this case to sway the decision IMO.

@samreid this look OK or would you like to discuss further?

[2022-09-06 15:54] jessegreenberg commented on #203
OK, name response for this control has been updated, @terracoda anything else for this issue?

[2022-09-06 16:02] jessegreenberg commented on #196
OK, changed to the above order. It feels a little strange to me to end on VertexA. @terracoda @BLFiedler over to you to review.

[2022-09-06 16:06] samreid commented on #209
Sounds good.  I think it should be developer preference to choose between string literal union vs Enumeration.  The changes look good.  Sorry about the PhET-iO constraint on key names, if it gets more severe we can work on relaxing that constraint in phet-io.  Closing.

[2022-09-06 16:06] #209 closed

[2022-09-06 16:06] terracoda commented on #196
I agree, but I thought this would be weirder:
- Side AB
- Corner A
- Corner B
- Side BC
- Corner C
- Side CD
- Corner D
- Side DA

[2022-09-06 17:09] jessegreenberg opened #211 "Add back a debugging grid"
Would be nice to display a visual grid that shows the `majorVertexInterval` and `minorVerticalInterval` that constrain vertex positions when moving them. Probably available by query param.

[2022-09-06 17:29] jessegreenberg commented on #210
Do we need right angle indicators still? IMO they are not as important now that we have opened the sim up as a shape detection tool. The important aspect for shape classification is equal angles (opposite and adjacent), not that there are right angles.  So if we had a visualization for equal angles, they would always match and we wouldn't have this problem at all.

So wondering if we can side-step

[2022-09-06 18:10] jessegreenberg commented on #211
Added in the above commit. Query parameter to use this is `?showVertexGrid`. It is only shown if the normal grid is enabled with the checkbox.

Of course with current defaults it is difficult to see spacings unless zoomed in.
![image](https://user-images.githubusercontent.com/6396244/188707864-0199a658-7359-4542-bf80-72ee6891a1ce.png)

But will probably be more useful as the intervals get larger.

[2022-09-06 18:13] jessegreenberg commented on #196
Yes agreed. What do you think about having all sides first and then all vertices?

[2022-09-06 18:17] jessegreenberg commented on #175
This was discussed in meeting today, @Ashton-Morris demoed the new sounds and everyone thought they were great! They accomplished the pedagogical needs described above.

@Ashton-Morris is going to adjust or add a couple of sound designs and @BLFiedler is going to identify how they should be mapped into the tracks designs.

[2022-09-06 18:18] jessegreenberg commented on #180
Removing assignment, we hope this will be fixed with https://github.com/phetsims/quadrilateral/issues/41

[2022-09-06 18:55] BLFiedler commented on #196
Initially I think the alternating approach was aimed to address @terracoda's comment here: https://github.com/phetsims/quadrilateral/issues/196#issue-1343267399

Is it less strange to start on side DA and then go to A next?

[2022-09-06 19:14] terracoda commented on #196
Yes, with consecutive ordering starting with a side is a little trickier than I first thought.

We could try @BLFiedler suggestion and  start with Side DA.

It is the left side, and we are describing things from left to right.

@jessegreenberg, let's try that instead.

[2022-09-06 19:24] terracoda commented on #196
And I agree, ending with A seems a bit weird.

[2022-09-06 19:29] BLFiedler commented on #195
Cursor change definitely feels informative!

@jessegreenberg, let's go ahead and modify the visual interaction hints to reflect changes made in the comment above https://github.com/phetsims/quadrilateral/issues/195#issuecomment-1233229188. I do have reservations about the implications of using an arrow.

- [ ] Change vertex hint box to a circle, slightly larger than the vertex itself.
- [ ] Change

[2022-09-06 19:50] terracoda commented on #197
I can't comment fully on this issue, but I do like the 5 steps to traverse the grid block as a nice default step size.

[2022-09-06 19:54] BLFiedler commented on #210
Yeah, I believe this came up earlier and I wanted to bring it up in today's meeting, but it was already a bit topic heavy.

I do believe it's a useful measure of incremental progress toward a shape and I believe it is a specific angle we call out in Voicing independent of specific shape (in object responses?)?

I think the use is probably more pronounced when working with a rotated shape and posit

[2022-09-06 20:00] terracoda commented on #203
This sounds good now.
Thanks!

[2022-09-06 20:00] #203 closed

[2022-09-06 20:04] terracoda commented on #211
Thank you for this!

[2022-09-06 20:39] terracoda commented on #198
Ok, ignoring changes to object responses, @jessegreenberg, could you implement these context responses.

[2022-09-06 20:40] terracoda commented on #198
The context responses in [commen](https://github.com/phetsims/quadrilateral/issues/198#issuecomment-1228881882)

[2022-09-06 20:47] terracoda commented on #198
@jessegreenberg, if you have categories for context responses in the code that affect prioritization, these context responses would be replacing the basic responses we discussed in https://github.com/phetsims/quadrilateral/issues/143#issue-1226816631

[2022-09-06 20:54] terracoda opened #212 "Concern for Rhombus and side length changes"
@BLFiedler, mentioned this issue in today's design meeting.

We have a tolerance for side length that allows a learner to go directly from a square to a rhombus by moving a side 1 step.

Currently, the object response describes and side length change that would rule out a rhombus, "Adjacent sides longer".

Changes to object responses are in the works. I'll see how to deal with this contradiction.

[2022-09-06 21:03] terracoda commented on #195
I agree, I think the arrows might be problematic, as they only cue one-way. I like @BLFiedler 's change in [comment](https://github.com/phetsims/quadrilateral/issues/195#issuecomment-1233229188)

[2022-09-06 21:09] terracoda commented on #181
With the latest changes to the model. We should not be having too many issues.

It might be time to close this issue soon, though we still have an issue with right angles and I just opened #212 so there are still things we are watching out for.

[2022-09-06 22:20] Ashton-Morris commented on #175
Adding two more files.

- Quad_Base_Beat_Simpler_Concave_Quadrilateral_Just_Rhythm_v2.mp3
- Quad_Base_Beat_Simpler_Concave_Quadrilateral_Just_Rhythm_v2.wav

[2022-09-07 15:36] jessegreenberg commented on #196
OK! Ending on vertex D feels a bit better to me, @terracoda @BLFiedler this seem OK?

[2022-09-07 16:09] BLFiedler commented on #196
If there's some orientation in the overview indicating there's a shape with corners A,B,C,D, then I think this is okay!

I think it's likely someone questions us on why it is that way or recommends it be Corner A first, but we are trying to scaffold something in particular, so we need to be careful about those kinds of suggestions. But maybe the outcome is more attention to the sides, which could

[2022-09-07 16:17] terracoda commented on #196
I agree @BLFiedler. Alternating the corners and sides was suggested by a consultant, and then starting with a side was my idea since the Tab order should start with what we want them to start with.

The Overview does describe four movable sides and corners without naming them. I drafted some new overviews on Monday. I'll return to that again after focusing on the object and context responses a bit

[2022-09-07 17:09] terracoda opened #213 "Useful Keyboard Shortcuts to check shape and reset shape"
I am wondering if we really need the Corner Labels checkbox. It was decided earlier on to have it on by default which I think is good.
![image](https://user-images.githubusercontent.com/1902116/188938660-2138f6f0-8341-49fb-9a90-32a77d0fd042.png)

![image](https://user-images.githubusercontent.com/1902116/188936039-555eb9ef-8e7f-4859-91a8-ed6d713d2da9.png)

Given, that the labels/names cannot be hi

[2022-09-07 17:44] terracoda commented on #196
@jessegreenberg, thanks for changing the order again. The Tab order is as requested. Hopefully, this will hold with some good scaffolding in the overview/details of the state descriptions.

Verified and closing for now.

[2022-09-07 17:44] #196 closed

[2022-09-07 18:56] terracoda commented on #183
@BLFiedler, I am having some trouble with voicing responses by input for the Shape Name accordion/toggle button.

Currently the highlight only goes around the the little plus/minus sign, and that's the only clickable area. How important is this to you? Have you considered a highlight around the entire box?

Unlike, the My Challenge accordion the label of the interaction is dynamic. This causes ano

[2022-09-07 22:20] jessegreenberg commented on #198
OK, this was done with the above commit. This ended up being a pretty big change, ~500 lines. But I think the design is sounding really nice @terracoda! Here is a dev version in case phettest has problems (big common code changes today make me think this is likely).

https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.62/phet/quadrilateral_en_phet.html

Over to you to review.

[2022-09-07 22:53] jessegreenberg commented on #195
OK, shapes changed in the following commit. Back to @BLFiedler to review.

[2022-09-08 00:28] terracoda commented on #198
I tested using my iPhone with only context responses and it sounded very good. More testing the morning!!

[2022-09-08 16:09] BLFiedler commented on #195
Great! I think this will serve for now. We'll see how any later interviews go prior to publication.

[2022-09-08 16:42] BLFiedler commented on #212
This one is going to be a struggle. The magnitude of the length AND angle change actually does depend on the length of the sides (longer side length, smaller angle change with a single increment to the left/right). Quick illustration using GeoGebra:

![image](https://user-images.githubusercontent.com/47331395/189178410-70e04bd2-d22d-4589-9dfb-0b9d405c02b6.png)

Long green line with one step to the

[2022-09-08 17:04] BLFiedler commented on #210
Just to add some numerical evidence behind the rationale here:

I took a rectangle and translated the right side down one tick. You'll notice the top-right corner is 0.95 degrees away from 90. However, the top right and bottom right angles are 1.9 degrees away from each other (twice the value).

![image](https://user-images.githubusercontent.com/47331395/189182524-73f14832-06f4-4d3b-ae5c-97930a226

[2022-09-08 17:12] BLFiedler commented on #212
And I know I've been a bit vocal about the need for fairly small tolerances, to the point where it may seem like we don't need them at all, but we do need them for any rotated shape. Since we're operating on a 2D grid, regardless of how fine or coarse it is, we're stuck in a place where reaching particular sets of angles/side lengths just aren't possible. Take for example, the GeoGebra environment

[2022-09-08 17:12] BLFiedler commented on #212
Tagging @jessegreenberg for awareness of the above limitations

[2022-09-08 17:25] BLFiedler opened #214 "Do we still need the infinity behavior of angleToleranceInterval?"
I'm curious as to whether our shape detection changes have eliminated the need for angleToleranceInterval to adjust to infinity/-infinity when dragging the sides. Becoming a parallelogram now has more stringent requirements (side length and angle comparison).

Could we create a one-off version that eliminates this behavior just to test?

[2022-09-08 17:33] BLFiedler commented on #210
I'd like to investigate quickly the behavior of angleToleranceInterval first and it may not matter practically for the chosen grid size, but for model robustness, we may consider:

- Leaving shapeAngleTolerance for any self-comparison (e.g., comparing an angle to a static number)
- Using angleToleranceInteval for any inter-angle comparison

[2022-09-08 17:36] BLFiedler opened #215 "Detect a triangle when any angle is exactly equal to 180"

[2022-09-08 18:37] jessegreenberg commented on #214
Sure! In this version I removed the "infinity" behavior. The tolerance still gets bigger with multitouch and tangible connection.

I don't understand how it could be removed, parallel state is a dependency of the shape detection. That being said I wasn't able to break it in ~5 minutes of play. Over to you @BLFiedler

https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.63/phet/quadrilateral_

[2022-09-08 18:45] BLFiedler commented on #214
Thanks! I likewise cannot break it yet.

I believe the infinity behavior was needed to mask some of the small differences in angles changes that I described in #210 and #212. I'm having a hard time articulating why it was so specifically a problem for the parallelogram <-> trapezoid transition, but it is related to the reliance on a single shared requirement. I think I indicated in some issue...,

[2022-09-08 20:45] terracoda commented on #212
I agree, the shape rotation complicates things and tolerances are needed.
Today when I tested, and went from Square to Rhombus, I hear "All sides equal" with the shift-key step, and "Adjacent sides longer" with the default step size, and in both cases I have a rhombus, so I think we need to make sure the Adjacent sides longer" response is not being constrained by or not following the same toleranc

[2022-09-09 15:53] terracoda commented on #198
When reviewing this issue yesterday I think the responses  sounded really good! And they still do.

I noticed there were no changing "object responses" firing during changes if context responses was unchecked. When I unchecked context responses I only get object responses when clicking on a side or corner. This is kind of a nice experience, in my opinion. So just noting it. I don't want any thing

[2022-09-09 15:54] terracoda opened #216 "Review of Responses"
In #198 I noted I need to do the following:
- [x] Document the different responses for comparison.
- [x] Document how the responses are prioritized.
- [x] Figure out if any of them fall nicely into the object response category.
- [x] Figure out which ones we don’t need/could live without.
- [x] Determine if anything is missing.
- [x] Finally, determine if there are any timing adjustments needed.

[2022-09-09 16:40] KatieWoe opened #217 "CT A vertex is not contained by modelBounds!"
[code]

[2022-09-09 19:45] terracoda commented on #198
Apologies @jessegreenberg, I am re-opening as I would like to change the wording of one response.
When a Convex Quadrilateral is made, please use this wording:
- All sides out of parallel.
    - Instead of, "All sides tilt away from parallel."

That change makes the transformative response more in line with the style of the other transformative responses.

Then, as a Convex Quadrilateral shape is

[2022-09-13 12:32] terracoda commented on #198
@jessegreenberg ignore previous comment...

Actually 2 shape property responses (convex and concave) share that string, so best to update them both and I think this is better:

For Convex, instead of "All sides tilt away from parallel."
- No sides in parallel.

For Concave, instead of "Corner {{cornerLetter}} points inward, and all sides tilt away from parallel."
- Corner {{cornerLetter}} points i

[2022-09-14 15:40] BLFiedler commented on #190
Let's go ahead and put the above changes into place:

- [ ] Move Reset Shape button right aligned with the Play Area boundary. Recolor the button to match the shape color (lighter on hover, whatever is typical here (or match the shape change less saturated color)).
- [ ] Change Play Music to the icon. Move the checkbox below the other checkboxes, closer to the reset all button than the checkbox gr

[2022-09-14 15:55] BLFiedler commented on #212
The changes in #197 result in the following behavior: Default (and potentially larger) keypresses on a side transition the default shape from Square -> Parallelogram. Using the Fine Input Spacing checkbox in the Preferences menu (when implemented), will allow this. This should be fine for fine spacing. The shape change necessary to maintain a rhombus is not linear and a slight movement laterally i

[2022-09-14 15:59] BLFiedler commented on #212
How does that sound @terracoda? I know we'll want to see how this sounds compared to description before closing the issue, just in case we need to intervene with what the shape says. It might be too small of a change to trigger a length change description?

[2022-09-14 16:10] BLFiedler commented on #175
A few changes to test out for the Build Up Simple sound design and a general mixing change:

### 1. Tracks - Build Up - Simple.

- [ ]
Here we should try assigning a track to a specific element of the shape that may vary between shapes (e.g., amount of parallel), but builds toward more complex when you reach a square. This is based on my initial comment at the top of the issue.

First, we assign e

[2022-09-14 18:45] jessegreenberg commented on #217
Thanks @KatieWoe, this i18n issue was fixed in the above commit.

[2022-09-14 18:45] #217 closed

[2022-09-14 18:48] jessegreenberg opened #218 "Should vertex labels be translatable?"
@BLFiedler do you have any thoughts on whether the vertex labels should be translatable?

![image](https://user-images.githubusercontent.com/6396244/190237750-7753c1bd-1dbb-452c-8b81-e2c02334671a.png)

I assumed they should be but it seems maybe this kind of marking should not be? I am not sure.

[2022-09-14 18:56] jessegreenberg commented on #198
OK above comment done in the above commit.

I am confused, this was requested to be replaced. I don't see this string used anywhere anymore. Is that correct? @terracoda over to you to review.

[2022-09-14 19:03] terracoda commented on #198
In https://github.com/phetsims/quadrilateral/issues/198#issuecomment-1228881882 I requested

So was just asking for that string to be updated.

[2022-09-14 19:14] terracoda commented on #198
Still working on responses, there seem to be 3 types categories of shape context responses:
1. When Shape Name is shown: announcing "Found a {{ShapeName}}!"
2. When Shape Name is not shown: announcing the most defining properties of shape (see https://github.com/phetsims/quadrilateral/issues/198#issuecomment-1228881882)
3. When maintaining a shape and the side lengths or angles change enough to tr

[2022-09-14 20:21] jessegreenberg commented on #198
For the confusion in https://github.com/phetsims/quadrilateral/issues/198#issuecomment-1247178579

@terracoda and I met over zoom and she said that she wanted to keep the strings like
[code]

They are still in the file if we need.

[2022-09-14 23:51] jessegreenberg commented on #197
These changes were done in the above commits. I reorganized the Preferences dialog a bit. One thought I had was that "Fine Input Spacing" could appear in the "Input" tab of Preferences. If you wish, we also have a PreferencesToggleSwitch component which would let you add a line of description for teachers about what this control does. Would look like this:

![image](https://user-images.githubuserc

[2022-09-15 15:13] terracoda commented on #212
Here's two screen shot from the latest version. We don't have the Precision mode available yet.

Initial transitioning responses:
- Object: "Adjacent sides longer."
- Context: "Found a Parallelogram."
Can we make the Show Values Parameter always display to the 100th decimal point?
<img width="843" alt="image" src="https://user-images.githubusercontent.com/1902116/190430940-5aec02ac-74a8-43f4-af8a-

[2022-09-15 15:19] terracoda commented on #212
I looked around for a square and then was able to make a rhombus again. Notice the same side lengths as above.
<img width="853" alt="image" src="https://user-images.githubusercontent.com/1902116/190442558-a9a78040-11bd-4fe3-92c5-49fb776aeada.png">

[2022-09-15 15:59] terracoda commented on #198
Requesting a few more tweaks to the strings that describe the key shape properties when Shape Name is hidden.

When making a Trapezoid:
- Change: Side {{sideLetter}} and Side {{sideLetter}} in parallel.
- To: Opposite sides {{sideLetter}} and {{sideLetter}} in parallel.

When making an Isosceles Trapezoid:
- Change: Side {{sideLetters}} and Side {{sideLetters}} are equal, and sides {{sideLetter}}

[2022-09-15 17:12] BLFiedler commented on #212
If you move into it by tilting and not changing side-length you hear:

You'll want to drag the Decimal Places slider in the showModelValues panel to at least 4 decimal places to see that.

Regarding finding rhombus at larger shapes. Yup. That will happen for the reason stated in the comment above: https://github.com/phetsims/quadrilateral/issues/212#issuecomment-1240961669 . Longer sides = smaller

[2022-09-15 17:23] BLFiedler commented on #200
I think we're good here and will continue discussion about button appearance and placement as a whole in #190

[2022-09-15 17:23] #200 closed

[2022-09-15 19:04] BLFiedler commented on #195
Quickly reopening based on what I saw from Scott's tangible use.

Can we disable these visual interaction hints when our tangible is connected? Probably when using OpenCV as well.

We could tie it to the query parameters? Camera input hands will be published with a query parameter. That is dependent on the load of a lot of extra data though, which I believe drove that decision.

Or do we still hav

[2022-09-15 19:59] terracoda opened #219 "Comparative Size Parameters for Corners & Sides - changes to regions & ranges for regions"
MEGA ISSUE ALERT! - @jessegreenberg you can proceed to the last few comments.

@jessegreenberg, I'd like to change the way we describe the comparative size of the corners, and sides, too, if this works.

The goal was to create 2 more landmarks (half the size of and twice the size of) that can provide a bit more orientation as to the actual size of the corners. And changed wording to the almost equ

[2022-09-15 20:00] terracoda commented on #219
Hopefully, I did the greater than and less than statements correctly.

[2022-09-15 20:01] terracoda commented on #219
So, the above scale is the "full" scale. I can't think of how I could change the "simpler" scale used to describe a corner to its adjacent corners, so no changes that scale yet.

[2022-09-15 20:04] terracoda commented on #219
@jessegreenberg, if the above works for corners, I think I would have to do the same to the sides.

[2022-09-15 23:19] jessegreenberg commented on #195
Yes, there is a `connectedToDeviceProperty` in the model. When there is a successful device connection we can make these disappear. I just set the Property in the bluetooth connection. The Property can be set in other prototypes when we return to them but I do not have a way to test them now.

I built this change into a a new dev version (65) and shared the link with Scott.

[2022-09-16 00:03] jessegreenberg commented on #190
Done, @BLFiedler can you please review.

[2022-09-16 12:32] terracoda commented on #219
And here's the table for comparative side lengths
![image](https://user-images.githubusercontent.com/1902116/190639028-899126ef-5f30-4757-8861-7f647ee0d1d4.png)

| Mappings | Comparative Side Length Parameters |
| --------- | ---------------------------- |
|   < 20%   |  far shorter than  |
|   < or = 20% & > 50% |  much much shorter than  |
|   = 50% |  half as long as  |
|   > 50% & < 60% |  muc

[2022-09-16 15:28] BLFiedler commented on #214
Let's go ahead and push this to master. No more infinity behavior for angleToleranceInterval with the new shape detection.

[2022-09-16 16:05] BLFiedler opened #220 "Zoom out grid slightly to allow vertex to rest on a grid line at each boundary"
When making the maximum size shape, interviewees had tried to go to the top and bottom grid lines, but the vertex is halted by the boundary before reaching it. It'd be nice to have the grid lines indented enough so the vertex rests on a grid line at the boundary.

@jessegreenberg tested this after discussion in a meeting:

![Image](https://user-images.githubusercontent.com/47331395/190682395-78f21

[2022-09-16 16:08] BLFiedler commented on #220
Go ahead and commit!

[2022-09-16 16:10] BLFiedler commented on #190
@emily-phet @terracoda @jessegreenberg

Any thoughts on overall look/ordering?

[2022-09-16 16:16] BLFiedler commented on #210
Discussed in meeting with @jessegreenberg. We will not do the previous comment. Instead,

- [ ] Create a new tolerance interval (and query parameter): `staticAngleToleranceInterval` which applies when comparing any angle to a number (e.g., 90 or 180 degrees). This applies to the right angle indicators and concave determination (< 180)
- [ ] Rename `shapeAngleToleranceInterval` to `interAngleTolera

[2022-09-16 16:22] #211 closed

[2022-09-16 20:08] jessegreenberg opened #221 "Get rid of `calibrationDemoDevice` query parameter"
This was for very old prototypes demonstrating calibrating the device. It is not necessary any more and is complicating some work for recent issues, I will remove it now.

[2022-09-16 20:09] jessegreenberg commented on #221
Also `calibrationDemo`, related query param.

[2022-09-16 20:15] jessegreenberg commented on #221
Done in the following commits.

[2022-09-16 20:15] #221 closed

[2022-09-16 20:25] jessegreenberg commented on #220
Done in the above commit. Increasing the model bounds impacted the model-view transform and literally had the effect of zooming out a little. Note that means everything in the grid area got a little smaller including side widths, vertex radii, tick marks on each vertex...things that are sized relative to the model. Vertex labels are not dependent on model coordinates and are relatively larger now.

[2022-09-16 20:33] jessegreenberg commented on #214
Just noting my understanding of why we can remove this now:

The "infinity" behavior was in place to make sure that when two sides *start* in parallel, dragging one of the sides cannot make those sides go *out* of parallel (and vice versa). Geometrically, that should not be possible but it can happen because of tolerance intervals.

Removing the *infinity* behavior, we are allowing this to happen!

[2022-09-16 20:43] jessegreenberg commented on #214
OK! This implementation (and references to this behavior throughout sim documentation) have been removed.

@BLFiedler anything else here? In meeting we discussed that we wanted to keep the dynamic `angleToleranceInterval` behavior for multitouch cases. I can't remember why that was decided, can you comment @BLFiedler?

[2022-09-16 21:31] jessegreenberg commented on #210
OK mostly done except for the following questions:

- I realized I didn't know how to apply `staticAngleToleranceInterval` to the concave check because its a check for (angle < 180) (not equality). Should this check be left alone or were you imagining it would be (angle < 180 + staticAngleToleranceInterval)?
- Should `staticAngleToleranceInterval` be "widened" when connected to a tangible device?

[2022-09-16 21:42] jessegreenberg commented on #104
The sim has been reporting this error in the console because of https://github.com/phetsims/tappi/issues/17

![image](https://user-images.githubusercontent.com/6396244/190790812-1cadfd22-0c80-40c1-8baa-62a6c23819a6.png)

I am going to comment out the vibration features for now until we return to this.

[2022-09-16 22:15] jessegreenberg commented on #219
To implement this we need to determine when one angle is twice/half/equal to another. @BLFiedler would you mind helping determine which angle tolerance interval to use for this? It should have similarly to the right angle indicators so I thought possibly `staticAngleToleranceInterval`. But we are not comparing the angle to a static value, we are comparing it to a value computed from another angle.

[2022-09-16 22:32] jessegreenberg commented on #219
OK, this is done for angles in the above commit. It is really difficult to ever hear "half the size of" or "twice the size of" unless it is perfectly so like this:

![image](https://user-images.githubusercontent.com/6396244/190826264-4b6453e5-2dc9-433f-8b4d-f1abe8ea4ef3.png)

Otherwise each step will skip over twice/half angles.

Is that OK and should I continue to implement this for sides?

[2022-09-17 12:37] emily-phet commented on #190
@BLFiedler - I'm having trouble accessing the latest on phettest. I updated the password, so I can get to phettest, but the sims won't run (it asks for password again, but doesn't load). Looked at latest on phet dev, but changes don't seem to be there. I'll ask about issue with password and see if I can get access. If faster is better, can you upload a screenshot?

[2022-09-17 19:17] BLFiedler commented on #190
Mobile layout but added dev bounds so hopefully that helps!

![Screenshot_20220917-151652](https://user-images.githubusercontent.com/47331395/190873111-46b00a0c-7a66-4ed6-9ecb-4ed7be736207.png)

[2022-09-18 13:30] emily-phet commented on #190
Thanks!
Part of me wants to recommend the sound checkbox stay up by the reset shape button. Each relates solely to the quad shape itself.
But, after thinking through the ordering of the description in the PDOM, having focus/description of turning the sound Off so early in the sim flow seems less than ideal. Since we want users to be able to turn the quad sound off, but not necessarily emphasize th

[2022-09-19 13:58] BLFiedler commented on #220
Thanks!

First test it looks like either our current shape boundaries are getting in the way (getting stuck on a boundary?) or the bottom spacing is just too small to let C & D in the below picture reach the bottom. Two pictures below are the lowest I can bring C or D.

![image](https://user-images.githubusercontent.com/47331395/191034624-a17833a1-aa08-4f28-bb93-804c91bd28df.png)

![image](https:/

[2022-09-19 14:01] terracoda commented on #219
I was hoping there might be situation like Corners B and D here, where D is approximately twice as wide as B.
@BLFiedler briefly discussed a range for the new regions, and thought we would just try it first without a range.

<img width="466" alt="image" src="https://user-images.githubusercontent.com/1902116/191035064-fdeeeda2-88c4-439e-ac00-3fe004f59ef1.png">

[2022-09-19 14:11] BLFiedler commented on #190
I agree that the music checkbox would be well suited up near the shape reset. For no-vision navigation, having it before the label/guide checkboxes would be a-okay, since they are not useful if you can't see them. Though the reset all button is still helpful (and is also last). For other circumstances, I figured having it as far away from notice as possible would be best. Let's leave it for now. P

[2022-09-19 16:35] terracoda commented on #219
Follow-up to previous comment regarding "half the size of" and "twice the size of". Here are other cases where I thought these 2 regions could be helpful, but with the default step size and the exact region range, I can't find or land on the new regions in these cases.
<img width="456" alt="image" src="https://user-images.githubusercontent.com/1902116/191036821-351b58a8-ba94-469a-a1fe-f724072fae9a

[2022-09-19 17:17] jessegreenberg commented on #220
Thanks for catching! It should be symmetric so I am not sure why it is getting stuck here, Ill investigate.

[2022-09-19 17:19] BLFiedler commented on #219
We might stick to `interAngleToleranceInterval` since it is a comparison to another angle and looking for their relation to equal. This will be a larger tolerance interval than `staticAngleToleranceInterval` as well.

Testing appropriate tolerances to use with default "5-step-per-grid" (minorVertexInterval = 0.05) now. Might still need to consider ranges, but maybe we can find an acceptable tolera

[2022-09-19 17:47] BLFiedler commented on #219
Just noting - not providing actionables. Moving corner C to find "half of" corner A.

**??QUESTION??:** Are we aiming for there to only be 1 position where it read half of and that we can just reliably find it for any set of opposite angles (as frequently as possible?)

A note on the above question - it will always be easier to find the benchmarks for larger shapes than smaller shapes (see issue #

[2022-09-19 17:50] BLFiedler commented on #197
Work happening in https://github.com/phetsims/quadrilateral/issues/219#issuecomment-1251343852 to identify tolerance values that work with description ranges.

@jessegreenberg and I discussed the possibility of more than one set of tolerances, a wider set for the default input spacing, and a finer set for the Fine Input Spacing setting. Will need to investigate how that effects the Voicing regions

[2022-09-19 17:57] jessegreenberg commented on #190
How is this?
![image](https://user-images.githubusercontent.com/6396244/191082731-59daac2f-8176-4a68-ac95-0ee07f244ecb.png)

[2022-09-19 18:01] BLFiedler commented on #190
Ah, my bad, I did not carry through Emily's idea.

Can you remove the Music label and keep al the other labels?

[2022-09-19 19:43] terracoda commented on #219
@BLFiedler regarding

**Answer:**
Though, that is how it is implemented at the moment, the answer is no. Having single-value regions is not the goal. We briefly discussed having a range for these new regions that could indicate "almost half" and "almost twice".

The goal is to be able to hear some descriptions that give better qualitative reference points about the size of your corners and sides w

[2022-09-20 14:19] terracoda commented on #218
How do variable letters work in Math sims?

[2022-09-20 14:47] terracoda commented on #213
My main concern is how to do groups of controls in the Voicing design.
For keyboard users, having shortcuts to jump to a group would be very handy, but would need some global thinking for all sims.

We currently have 16 Tab stops in teh sim not including the Voicing Toolbar or the bottom Navbar.

[2022-09-20 14:51] terracoda commented on #198
My apologies @jessegreenberg, I forgot to re-assign you.

[2022-09-20 15:08] KatieWoe opened #222 "CT A vertex is not contained by modelBounds"
[code]

[2022-09-20 15:17] jessegreenberg commented on #222
Thanks @KatieWoe! Ill take a look.

[2022-09-20 16:18] BLFiedler opened #223 "Investigate Assertion Failed error, maybe tied to Voicing"
[placeholder]

https://bayes.colorado.edu/dev/phettest/quadrilateral/quadrilateral_en.html?ea&brand=phet&dev&staticAngleToleranceInterval=0.02&interAngleToleranceInterval=0.04&parallelAngleToleranceInterval=0.02&shapeLengthToleranceInterval=0.005&showModelValues

![Image](https://user-images.githubusercontent.com/47331395/191311354-4e3d962a-09f5-4986-bace-4723ad765ca5.png)

[2022-09-20 17:08] jessegreenberg commented on #219
I was wondering if we should just use a range for "half as wide", like ~35%-65% or something. That seems to be what the goal is for these qualitative descriptions. Then we don't have to tie this feature to the tolerances.

[2022-09-20 17:59] BLFiedler commented on #128
Note by @jessegreenberg during Sound design today:

[2022-09-20 19:14] BLFiedler commented on #175
A few changes to test out for the Build Up Simple sound design and a general mixing change:

### Default Sound Design

- [ ] Set the default sound design to: TRACKS_BUILD_UP_SIMPLE

### Default Volume for Shape Music
We would like to lower the volume of the shape music overall. Ashton indicated that the Reset All is the “baseline volume” is at 0.7 and suggested:

- [ ] Start the maximum at 0.5 ins

[2022-09-20 20:28] terracoda commented on #182
@jessegreenberg, you implemented theses object responses nicely.
I am going to close this issue and work on iterations to the content of the responses in new issues.

Before closing, just want to note that I hadn't intended to restrict object responses to keyboard only. For this sim it seems to be working nicely.

If they don't remain restricted, or they can't remain restricted, it just means we'l

[2022-09-20 20:31] #182 closed

[2022-09-20 20:38] terracoda opened #224 "Iteration 1: Object Responses"
Some feedback was listed in https://github.com/phetsims/quadrilateral/issues/182#issuecomment-1218319725

First thing I need changed, so I can listen and imagine better is to remove the strings that describe
- "closer to" or "farther from" opposite corner, and
- "closer to" and "farther from" opposite side.

I think the the other strings "angle wider", "angle smaller", "adjacent sides longer", and

[2022-09-21 00:12] jessegreenberg commented on #41
Wahoo! Collision detection with SAT is working quite well.  We have a rigged quadrilateral model using SAT that corrects vertex/side/boundary overlap for rotated polygons and moving sides.

Side jitter will be corrected:

<details>

![Animation](https://user-images.githubusercontent.com/6396244/191386084-fe883d2f-e03b-4b8c-9655-0510e08a2338.gif)

</details>

In meeting today we observed that a ver

[2022-09-21 13:34] emily-phet commented on #190
I like it! I suggest putting the labels by the checkbox.

@BLFiedler What do you think?

[2022-09-21 13:45] BLFiedler commented on #190
@jessegreenberg, go ahead and swap the labels and icons as you have in the first image in https://github.com/phetsims/quadrilateral/issues/190#issuecomment-1213636954.

- [ ] Swap labels and icons for the four grouped checkboxes.

We'll make adjustment to the grid, etc in #220. Feel free to close after this is done.

[2022-09-21 13:47] BLFiedler commented on #214
I believe after extensive testing for other issues and not running into this issue at the boundary or a parallelogram/trapezoid, that we are alright to close this.

We'll open another issue for dynamic tolerances as pertaining to multitouch, computer vision, and external devices.

[2022-09-21 13:47] #214 closed

[2022-09-21 15:11] jessegreenberg commented on #224
Over slack @terracoda and I discussed:

[2022-09-21 15:23] terracoda commented on #224
As you can see in the screen shot in the previous comment, I am still working out the actual strings. I am thinking we will need to name the corners sometimes. I wanted to avoid that because it complicates things.
I am still working on it.

[2022-09-21 15:28] jessegreenberg commented on #224
Sounds good, thanks.

Time to implement probably matches difficulty to design each of these options. Second row would take less than an hour, the rest of the rows might take 4-6 hours. (Very rough guesses of course).

[2022-09-21 15:32] jessegreenberg opened #225 "Rename PlayMusicCheckbox"
During meeting today @terracoda mentioned the new name for the checkbox was "Shape Sound" so this checkbox should be renamed accordingly.

[2022-09-21 15:40] terracoda commented on #224
For now, @jessegreenberg  will put in the directional strings, so I can use the sim to help me through these response design challenges.

[2022-09-21 15:46] jessegreenberg opened #226 "Bug where shape sound plays forever"
I found a weird case where the shape sounds can play forever. And sounds continue to play even when the "Shape Sound" checkbox is unchecked. I think it happened when switching tabs but I have not been able to identify steps to recreate it yet.

[2022-09-21 16:09] jessegreenberg commented on #180
Found this again for a Kite, I cannot move corner B up
![image](https://user-images.githubusercontent.com/6396244/191555790-791e60f9-1836-47fb-a672-d0356cb8d09d.png)

[2022-09-21 16:26] jessegreenberg commented on #224
OK that much is done. Back to you @terracoda.  https://github.com/phetsims/quadrilateral/issues/224#issuecomment-1253863315 might happen in new issues, maybe this can be closed after review.

[2022-09-21 16:27] terracoda commented on #224
Ok, pulling a fresh version :-)

[2022-09-21 16:35] jessegreenberg opened #227 "Clean up unused strings"
There are a number of unused strings in the file now after churn in Voicing designs, lets clean them out.