[2022-09-21 16:35] jessegreenberg commented on #227
[code]

[2022-09-21 16:45] jessegreenberg commented on #227
These strings have been removed, build output is cleaner. Closing.

[2022-09-21 16:45] #227 closed

[2022-09-21 17:01] jessegreenberg opened #228 "Update screen toolbar summary content"
From discussion over slack: I noticed that "music" is still referenced in the toolbar button descriptions. @terracoda said that this should be the new content:

Movable sides and movable corners allow you to change side lengths and angle widths, and create different shapes in the quadrilateral family.
You have options to show shape name, mute shape sound, and add visual guides and grid lines. Rese

[2022-09-21 17:03] jessegreenberg commented on #228
Related to #225

[2022-09-21 17:09] jessegreenberg commented on #225
OK, I think we are up to date here.

[2022-09-21 17:09] #225 closed

[2022-09-21 17:09] jessegreenberg commented on #228
Done! @terracoda fyi

[2022-09-21 17:09] #228 closed

[2022-09-21 21:57] jessegreenberg opened #229 "Add support for switching locales"
PhET is adding this for all sims, we should probably add to Quadrilateral too. Very little text in this simulation means it should be very quick.

To be worked on as we get closer to publication or if other issues are complete. @BLFiedler fyi, in case you have concerns about this issue.

[2022-09-21 23:38] jessegreenberg commented on #175
Alright, ***sounds*** good @BLFiedler!  (finger guns)

I believe this is in place as you described, back to you.

[2022-09-22 14:38] BLFiedler commented on #175
I'm seeing the change in default sound design and adjustment in volume, but not the correct mappings. Messaged JG with the following:

https://drive.google.com/drive/folders/1JSN2Obe1OpOaY2qJKFsh31IVnLchUZlz?usp=sharing

Updated mapping:

| index | [filename](https://drive.google.com/drive/folders/1JSN2Obe1OpOaY2qJKFsh31IVnLchUZlz?usp=sharing) | category          |
|-------|-----------------------

[2022-09-22 15:27] terracoda commented on #219
@jessegreenberg, I agree, lets try that.

Mappings | Comparative Angle Size Parameters for Corners
| --------- | ----------------------------------------------- |
| < 20% | far smaller than |
| **< or = 20% & > 40%** | much much smaller than |
| **= or > 40% & < or = 60%** | _about half as wide as_ |
| **> 60% & < 70%** | much smaller than |
| **> 70% & < 90%** | somewhat smaller than |
| > or = 9

[2022-09-22 15:29] terracoda commented on #219
Over to you @jessegreenberg. Please try this scale. We may need to tweak the ranges for the regions, but this is my best guess.

[2022-09-22 17:15] terracoda commented on #128
Like Voicing, I think the pick-up sound might be really helpful for people who have trouble seeing the screen or can't see the screen, so I don't think it needs to be disabled when Voicing is enabled.

[2022-09-22 17:25] terracoda commented on #219
Oh, just noticed a little uneven-ness, so adjusted the ranges for
- somewhat wider than
- much wider than

And **pasting in the table for the sides** which is the same as the corners...

Mappings | Comparative Side Length Parameters
| --------- | ----------------------------------------------- |
| < 20% | far shorter than |
| **< or = 20% & > 40%** | much much shorter than |
| **= or > 40% & < or

[2022-09-22 17:26] terracoda commented on #219
Over to you @jessegreenberg.

[2022-09-22 20:15] terracoda opened #230 "Incorrect equality called out on context response describing corners"
<img width="375" alt="image" src="https://user-images.githubusercontent.com/1902116/191841563-42365850-55ac-4e35-8840-755d4da1611c.png">

Sorry, I don't have &showModelValues on, but I am hearing:
- angle wider, and
- Corner {{C}} points inward, Corner {{A}} and Corner {{C}} are equal and pairs of adjacent sides are equal.

I get the correct comparative description of corners C and A when I move f

[2022-09-22 22:13] terracoda commented on #230
With showModeValues
<img width="814" alt="image" src="https://user-images.githubusercontent.com/1902116/191860598-8bcb8fe8-d694-44d5-a20e-b792477e369f.png">

[2022-09-23 13:40] terracoda commented on #212
I think my concerns for Rhombus have been resolved :-)

[2022-09-23 13:44] terracoda commented on #180
Just found this one. I can't move Corner D up over the horizontal grid line.
<img width="1029" alt="image" src="https://user-images.githubusercontent.com/1902116/191973595-1f68b3cc-504a-455a-91fb-ea21e9ac5466.png">

After moving Corner D up above the line with the mouse, I now can't move it down across the same line.
<img width="1033" alt="image" src="https://user-images.githubusercontent.com/1902

[2022-09-23 15:49] terracoda commented on #198
Shape Name Context Response | Shape Property Context Response | Responses for Maintaining
-------------------------------- | ----------------------------------- | --------------------------
| Convex Quadrilateral | No sides in parallel. | All sides tilt away from parallel as shape gets {{bigger/smaller}}. |
| Concave Quadrilateral | Corner {{cornerLetter}} points inward, no sides in parallel. | Sa

[2022-09-23 15:54] terracoda commented on #198
@jessegreenberg, the maintaining context responses won't need to fire with every key press, I'll need to give you some basic angle and side length change thresholds.

[2022-09-23 16:03] terracoda commented on #198
I italicized the changed responses in https://github.com/phetsims/quadrilateral/issues/198#issuecomment-1256381989

[2022-09-23 16:26] terracoda commented on #198
@jessegreenberg, is it possible to similar thresholds/timing that are currently implemented for maintaining the parallelogram shapes, and the quadrilateral that are not parallelograms?

We might have to tweak, but maybe those are good starting points?

[2022-09-23 16:36] terracoda commented on #198
So for example for Parallelograms:
- Rectangle: as long as I remain a Rectangle (all angles equal) say my maintenance response as often as we hear the area-scaling response for parallelograms.
- Square: as long as I remain a Square (all sides equal & all corners equal) say my maintenance response as often as we hear the area-scaling response for parallelograms.
- Rhombus: as long as I remain a Rho

[2022-09-23 16:44] terracoda commented on #198
@jessegreenberg, if we need to discuss/adjust the timing of the "Responses for Maintaining Shapes" I will create a new issue!

[2022-09-23 22:01] jessegreenberg commented on #190
OK, here is where we landed then:
![image](https://user-images.githubusercontent.com/6396244/192062409-ea852640-b57d-480b-ab25-19e3ae02239a.png)

Closing!

[2022-09-23 22:01] #190 closed

[2022-09-23 22:05] jessegreenberg commented on #230
Thanks @terracoda! Im guessing that something is wrong with the description for dart.

[2022-09-23 22:13] jessegreenberg commented on #230
It looks like the string pattern is correct but it is just referring to the wrong vertices, it should say

[2022-09-23 23:26] jessegreenberg commented on #226
Just saw this again, but didn't do anything with tabs. I think it has to do with toggling the "shape sound" checkbox while music is playing. Maybe timing variables are not being stepped in this case.

[2022-09-23 23:31] jessegreenberg commented on #219
OK, these mappings were added in the above commits. I think it sounds nice, I can easily find most of them and the "half as long/twice as long" descriptions though I had a hard time triggering the "similar..." ones.

@terracoda ready for you to test!

[2022-09-23 23:50] jessegreenberg commented on #198
The above commit updated to the latest design for "shape context response (shape name hidden)". I think I understand what you mean in https://github.com/phetsims/quadrilateral/issues/198#issuecomment-1256418584 @terracoda, yes Ill try that.

[2022-09-24 12:05] terracoda commented on #219
This is just a comment.

For the first shape I tried (randomly), Corner A hit the "about half as wide" region for both the opposite corner and the adjacent corners.
<img width="708" alt="image" src="https://user-images.githubusercontent.com/1902116/192096906-da911630-4003-4ca4-b383-2035b370a801.png">

[2022-09-24 13:27] terracoda commented on #219
<img width="994" alt="image" src="https://user-images.githubusercontent.com/1902116/192099213-2acbfa0a-73ea-4791-b1a9-efb4fdb73665.png">

This Rhombus is nice:
- Corner A, equal to opposite corner, about half as wide as equal adjacent corners
- Corner B, equal to opposite corner, about twice as wide as equal adjacent corners
- Corner C, (same as corner A)
- Corner D, (same as corner B)

And here's

[2022-09-24 13:49] terracoda commented on #219
I get the "about half" and "about twice" regions often now.
We might need to adjust the range for the regions in general.

Main design questions are:
1. What level of mathematical accuracy/precision do the ranges need to have/represent?
2. Would  regions around "half" and "twice" that follow the pattern of the regions around "equal to" see in the table in https://github.com/phetsims/quadrilateral/

[2022-09-24 14:50] terracoda commented on #219
I would like to discuss with @BLFiedler , and I am wondering if these range adjustments might be helpful?
I'll change the label to design.

Mappings | Comparative Angle Size Parameters for Corners
| --------- | ----------------------------------------------- |
| < 20% | far smaller than |
| **< or = 20% & > 45%** | much much smaller than |
| **= or > 45% & < or = 55%** | _about half as wide as_ |

[2022-09-26 13:33] terracoda commented on #180
Latest code on master. Here in this shape, Corner B cannot be moved down with keyboard (fine for mouse), and corner D can't move up or down with keyboard (fine for mouse).
<img width="981" alt="image" src="https://user-images.githubusercontent.com/1902116/192289940-f32c1b15-135e-48d8-a337-4aad5683bbdb.png">

[2022-09-26 13:50] BLFiedler commented on #210
The answer to this might actually depend on if and how we decide to handle #215, since then we might need to give a little bit of wiggle room on == 180 + `staticAngleToleranceInterval`. For now though, I think you're right and we shouldn't need to apply the interval here.

I'll need to play with the tangible or get a better sense of this, but I agree it's a little messy. Let's chat about how we wa

[2022-09-26 13:53] BLFiedler commented on #185
@terracoda, is this better with the changes to the overall volume mix in #175 ?

Would it be helpful to say, half the volume again when we turn on Voicing for now until we investigate active ducking?

[2022-09-26 14:09] BLFiedler commented on #175
Wooo. Well, I think that's worth some listening for folks.

Could we post a dev version? If possible before the meeting tomorrow, but no worries if not.

My personal thoughts (given my own assignments :) )

- The 1xParallel track (index 4) is maybe a bit much or is maybe a bit loud given its qualities. Especially in an Isosceles Trapezoid - I think the Lateral Symmetry track (index 3) should stand

[2022-09-26 14:27] BLFiedler commented on #185
Agreed on the 1xParallel track, which I made a comment on already (need to lower it specifically or just swap it entirely). I mostly meant that we had halved all the shape sounds, so their balance relative to Voicing should already be better. But, if it'd be helpful to halve it again with Voicing on, then we should!

[2022-09-26 14:31] BLFiedler commented on #219
I think that should work. I like keeping the interval for "half/twice" relatively narrow.

Do you think it'd be helpful to continue using "half" as a reference point and replace 'much much smaller/wider' with 'less than half' or 'much less than half' or something similar?

[2022-09-26 14:33] terracoda commented on #219
There's an idea. I will review :-)

[2022-09-26 14:34] terracoda commented on #219
I don't really like the "much much" region.

[2022-09-26 14:49] BLFiedler commented on #212
Note to check this issue after changes to tolerance incoming in #197

[2022-09-26 15:05] BLFiedler commented on #220
Just to note there is [still some funny business at the bottom](https://github.com/phetsims/quadrilateral/issues/220#issuecomment-1251058487). I'd also like to tweak the play area a bit after we made the label changes in #190.

- [ ] Investigate inability to bring vertices to the very bottom of the play area
- [ ] Shrink the left and right play area boundaries so that the "partial grid square" wid

[2022-09-26 15:14] BLFiedler commented on #197
I think I reined in the tolerances too far in #210. I think the tolerances should better fit the input grid, which should be possible now after the main goal of that issue.

I'd like to take a dynamic approach to the tolerance depending on input grid selection (default vs. fine).

@jessegreenberg, can you

- [ ] Set the **default** tolerances intervals as follows:
`parallelAngleToleranceInterval`=

[2022-09-26 15:38] BLFiedler commented on #218
Reached out in Slack and received the following from Amy:

Have we handled this before in another sim? Is it best to leave it as symbolic and untranslatable or make them translatable and let the translators make the call?

[2022-09-26 15:39] terracoda commented on #198
The Shape Maintenance Responses should fire regardless of whether or not Shape Name is hidden. I am not sure I made that clear (sorry).

The ways to maintain either a Square or Rhombus are quite limited. For example, for Rhombus, I have not been able to maintain side length while trying to make the arc movement. SO, let's ignore those 2 shapes as we try to sort out the other responses for "maintai

[2022-09-26 15:39] BLFiedler commented on #218
Based on that, I'd say we should go ahead and let them be translatable and let the translators decide for their locale.

Over to you, @jessegreenberg

[2022-09-26 15:43] terracoda commented on #218
I would like to add one consideration.
Would a translated A, B, C, or D automatically populate a dynamic string that is part of an object or context response, or a dynamic state description...once we figure out how to translate the descriptions?

Is it best to leave that question for the future?

[2022-09-26 15:46] terracoda commented on #213
Yes.
Another thing we could try is shortcuts for useful things - like Reset Shape, turn music on or off.

[2022-09-26 15:47] BLFiedler commented on #218
It does seem that there are a lot of open questions for availability of and translation of Description and Voicing in other locales/translations.

Happy to consider how we could optimize that now if reasonable, but if work needs to happen across sims we may leave it for that discussion. Sounds like this issue exists in several math sims or sims with equations. How does it work in Ohm's Law and Res

[2022-09-26 15:50] BLFiedler commented on #198
This is unlikely to change unless the tolerances are larger than the input spacing, which is unlikely to happen for the published version. It may be an option for research purposes to investigate maintaining shapes, but it significantly muddles mathematical accuracy that we've concerned ourselves with quite a bit at this point.

[2022-09-26 15:58] terracoda commented on #198
@BLFiedler, that leads me to believe that we might only hear Square and Rhombus Maintenance Responses with the TMQ.

Does that seem reasonable to you?

[2022-09-26 15:59] terracoda commented on #218
Not sure about Ohm's Law and Resistance in a Wire, and CM reported on Slack that the strings are translatable in all math sims that he has worked on.

[2022-09-26 16:12] terracoda commented on #213
It might be helpful to list out what sims of **custom keyboard shortcuts**:
1. BASE - to jump the balloons around. The WASD keys are common code for custom movable objects and already work for moving Quad's corners and sides around.
2. MAL - To pause or play action in Observation Window Alt + K,  and Alt + L to Step forward in bigger steps when sim is paused. I think these are common code shortcut

[2022-09-26 16:41] jessegreenberg commented on #198
Sorry you reviewd this! I finished "shape property context response" but only got about 25% of the way through the "shape maintenance responses".  I think I understand what you are going for but it isnt implemented yet.

[2022-09-26 16:47] terracoda commented on #198
Thanks for the update @jessegreenberg, apologies for jumping in too early. I'll look at the assignment label next time :-)

[2022-09-26 19:23] terracoda commented on #180
Found another case - Corner C got stuck when moving down.
<img width="941" alt="image" src="https://user-images.githubusercontent.com/1902116/192362246-2c62ac51-68ae-464a-9c76-fa1883260889.png">

[2022-09-26 19:25] terracoda commented on #180
And Side DC is stuck here
<img width="911" alt="image" src="https://user-images.githubusercontent.com/1902116/192362628-878d6119-b2f9-4854-92f3-c3405f48fdc1.png">

[2022-09-26 20:57] terracoda commented on #212
In current master, I can get directional object responses (i.e., no side length change) when I go from Rhombus to Parallelogram. This seems odd, and might be resolved once #197 is finalized.

[2022-09-27 00:19] jessegreenberg commented on #175
Sure, here is a dev version with https://github.com/phetsims/quadrilateral/commit/347aae22c51247fcf11f2782f0d045c3afd1d667!

https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.66/phet/quadrilateral_en_phet.html

[2022-09-27 15:47] terracoda commented on #219
Maybe we just need fewer regions. There is a lot of cognitive load here.
I was also thinking if some scale about being close to 90 degrees might be more helpful.

[2022-09-27 17:45] BLFiedler commented on #175
In chatting with Taliesin, we concluded the following track swap might address some concerns while playing with a trapezoid:

- [ ] Swap `Quad_Simple_Building_Tracks-004-Trapezoid` in index 4 for `Quad_Beat_Tracks_Building_Building_Tracks-003`

| index | [filename](https://drive.google.com/drive/folders/1JSN2Obe1OpOaY2qJKFsh31IVnLchUZlz?usp=sharing) | category          |
|-------|-----------------

[2022-09-27 18:31] terracoda commented on #224
@BLFiedler discussed some ideas today for object responses. Rather than exact state information for object response, I will try some important events related to a moving object.

[2022-09-29 14:48] terracoda commented on #219
I am having a lot of trouble with this - both in terms of the math and the words. Here's my latest attempt at the comparative size scale. The conflicts in mind are how best to describe the comparisons?

Mappings | Iteration with half & twice & new mappings
| --------- | ------------------------------------------- |
| < 10% | far smaller than |
| < or = 10% & > 30% | much less than half of  |
| < o

[2022-09-29 15:17] terracoda commented on #219
<img width="748" alt="image" src="https://user-images.githubusercontent.com/1902116/193070195-3269fafa-9fad-4811-b7e5-8de68ea30a41.png">

- Corner A, about 3 pie slices, equal to opposite corner, somewhat wider than equal adjacent corners
- Corner B,  almost 3 pie slices, equal to opposite corner, somewhat smaller than equal adjacent corners

[2022-09-29 15:19] terracoda commented on #219
If learners know that a pie slice is 30 degrees, they might be able to think about the above parallelogram as pretty close to a rectangle.

[2022-09-29 20:23] terracoda commented on #219
Ok, we have to go back to simple on these comparative scales. More words does not bring more clarity.
I have to work out the mappings with help from @BLFiedler or @jessegreenberg, and this scale for comparative descriptions
Mappings | Comparative Angle Size Parameters for Corners
| --------- | ----------------------------------------------- |
| ? | far smaller than |
| ? | much smaller than |
| ?

[2022-09-30 13:01] terracoda commented on #219
And I would like the same string changes for the Comparative length parameters.

Mappings | Comparative Length Parameters for Sides
| --------- | ----------------------------------------------- |
| ? | somewhat shorter than |
| ? | much shorter than |
| ? | about half as long as |
| ? | somewhat shorter than |
|  ? | similar but shorter than |
| = 100% | equal to |
| ? | similar but longer than |

[2022-09-30 14:34] terracoda commented on #219
I am going to put the ideas for describing the pie slices and the side-length units in separate and related issue.

This issue should be about just finalizing the comparative size Parameters for corners and sides.

[2022-09-30 14:47] terracoda opened #231 "Let's describe the slices of the corner guides & the number of side-length units"
Related to comparative size parameters defined in #219, I would like to add a described measurement or reference point for the size of the corners and sides. This approach will also make two of the visual scaffolds accessible to more learners including those who have vision impairments.

Here are the parameters and their mappings.
### Table: Scale for describing slices and side lengths

Strings fo

[2022-09-30 15:26] BLFiedler commented on #231
I may actually suggest another word than pie, or to just remove it altogether and stick with slice. Pie is a bit close to Math Pi, which is very relevant in this case. Math Pi is equal to half of the circle, 2*Pi the whole circle. One "pie" slice is Math Pi/6.

[2022-09-30 15:45] terracoda commented on #231
Good point about Pi versus pie.

[2022-09-30 15:55] terracoda commented on #231
I removed "pie", so now we just have "slice" and "slices".

[2022-09-30 16:04] terracoda commented on #224
Thanks for removing the distance strings and adding the directional string for the case where the angle doesn't change.

Closing this issue. More iterations will be posted in new issues.

[2022-09-30 16:04] #224 closed

[2022-09-30 16:34] terracoda commented on #219
@BLFiedler let me know if we need to work together on mapping out the above ranges.

[2022-09-30 16:38] terracoda commented on #230
Fixed. Thanks.

[2022-09-30 16:38] #230 closed

[2022-09-30 17:24] BLFiedler commented on #219
So, if we constrain the number of bins between between half and twice AND we want the "equal to" to match the shape model, then we're left needing to create uneven regions (which we have already recognized). If we're okay with that, then any reasonable region sizes will work. It just becomes increasingly large as we move away from equal (until functionally infinity), e.g,

Mappings, x is angle of

[2022-09-30 17:52] terracoda commented on #219
With the way the regions get bigger as one goes up the scale, I am wondering if "much wider than" should come before "about twice as wide as", and than any more than "twice as wide as" (which is a lot) is "far wider than".

[2022-09-30 18:10] terracoda commented on #219
Moving "much wider than" above "about twice as wide as"

Mappings, x is angle of comparison  | Comparative Angle Size Parameters for Corners
| --------- | ----------------------------------------------- |
| `-` [0.1x, 0) | far smaller than |
| `-` [0.4x, 0.1x) | much smaller than |
| `-` [0.6x, 0.4x) | about half as wide as |
| `-` [0.8x, 0.6x) | somewhat smaller than |
| `-` ((1-`iATI`)x, 0.8x) |

[2022-09-30 18:14] terracoda commented on #219
@jessegreenberg, @BLFiedler said we should discuss with you which representation works best for you. I'd like to start with the ranges in  https://github.com/phetsims/quadrilateral/issues/219#issuecomment-1263872113

[2022-09-30 18:22] terracoda commented on #219
@jessegreenberg, once we discuss, this issue would be high priority.

[2022-09-30 18:32] terracoda commented on #219
And for side lengths, assuming they would work in a similar way, I copied the same ranges into the design document.
![image](https://user-images.githubusercontent.com/1902116/193334389-bcf4750e-1c60-4d80-bdb2-e574aa91bdb4.png)

[2022-09-30 18:45] terracoda commented on #231
@jessegreenberg, big question for me for implementation is:
- For now, I want to add this additional string for the "initial" object response, for example when a learner clicks/taps on a corner or side, or moves focus to a corner or side, or presses Space or Enter on a focused corner or side.

I don't think the pies and slices will be used in changing object responses for corners and sides.

[2022-09-30 18:46] terracoda commented on #231
And just a heads up, the "slice" descriptions might need to be limited to when the Corner Guides are checked.

[2022-10-03 12:41] terracoda opened #232 "Shape Sound check box does not re-check after Reset All"
Totally not sure, but might be related to #226.

When I uncheck the Shape Sound checkbox, and then press or activate the Reset All button, the checkbox does not become checked again.

I am not sure if this is intentional or not.

Here's a after activating the Show Shape Name & unchecking both the Corner Labels & Shape Sound check boxes
<img width="964" alt="image" src="https://user-images.githubus

[2022-10-04 17:43] BLFiedler commented on #175
Assign back when swap has happened and we'll work on volume mixing of tracks for individual shapes. e.g., Equal Sides (index 6) is a bit loud in the Rhombus and Square.

[2022-10-05 15:33] terracoda commented on #231
In yesterday's design meeting, we all agreed to just describe the corner "slices" when the Corner guides checkbox is checked. I am assuming the side "units" can be present all the time as they are always present.

@jessegreenberg, I think you can start implementing these strings now.

[2022-10-05 17:41] terracoda commented on #219
After yesterday's design meeting, I think these adjustments to the scales are clear for @jessegreenberg.

If #210 relates to this issue, it should likely be done first.

[2022-10-05 20:47] terracoda commented on #219
Ok, found some cases like this where the visual is looking very exact, so "**about** half as wide as opposite corner" is conflicting with my inner description designer.

<img width="248" alt="image" src="https://user-images.githubusercontent.com/1902116/194158629-9777d3ee-3473-40af-b017-31e23023f01b.png">

I have added the exact "half" and exact "twice" regions back in, AND I am not differentiatin

[2022-10-05 21:39] terracoda commented on #219
@jessegreenberg, I updated the text-based table in https://github.com/phetsims/quadrilateral/issues/219#issuecomment-1263872113

[2022-10-06 02:40] terracoda opened #233 "Corner Guide a bit wonky sometimes around 180 degrees"
<img width="410" alt="image" src="https://user-images.githubusercontent.com/1902116/194201677-90ee88f9-ccaf-420d-9a52-c8d6c90e01a6.png">

Happens sometimes with keyboard.
Doesn't seem to happen with mouse.
When I go back to keyboard after using mouse, the issue seems resolve itself.

[2022-10-06 16:08] terracoda opened #234 "Shape incorrectly named"
I found triangular quads can be named as kites incorrectly a couple of time.
Sorry, no model values, and I haven't figured out what triggers this. It happened on 3 different occasions.

<img width="486" alt="image" src="https://user-images.githubusercontent.com/1902116/194361239-6c4c90dd-dd76-4345-8073-8a242bf44667.png">

Oh, found one with model values shown.
I think I may have had fine input che

[2022-10-06 17:02] jessegreenberg opened #235 "CT: xss-fuzz test failed"
[code]

[2022-10-06 17:12] jessegreenberg commented on #235
Fixed in the above commit.

[2022-10-06 17:12] #235 closed

[2022-10-06 20:11] terracoda commented on #234
Here's another example - not using fine input and do not have voicing enabled.
<img width="475" alt="image" src="https://user-images.githubusercontent.com/1902116/194409238-8ce4d62a-a07d-4147-9a63-9545c3a41e89.png">

[2022-10-06 20:46] terracoda commented on #198
@jessegreenberg, I found a case for a Convex Quad where we would need a different Maintenance Response.
<img width="499" alt="image" src="https://user-images.githubusercontent.com/1902116/194410293-0fb1f148-dae7-4438-9c90-c8793260635b.png">

When moving Corner C in this configuration the Quad can be maintained without a change in area (size). This shape can also transform from Convex Quad to Kite

[2022-10-07 13:03] terracoda opened #236 "What about an Easter egg response questioning number of sides?"
Related to Shape Maintenance Responses in issue #198 there is a special case when the Quad can appear on screen looking like a triangle.

This shape state is possible for both Convex Quads and Kites, but I think it can only be maintained (multiple key presses or continuous movement) when it is a Convex Quadrilateral.

This triangle-like shape state might only be possible with certain input environ

[2022-10-07 13:07] terracoda commented on #180
I can't move Side CD down in this screen shot
<img width="564" alt="image" src="https://user-images.githubusercontent.com/1902116/194560533-54851aee-ac6f-44cd-b821-f69d3495e3aa.png">

After moving it down with the mouse, I could not move it back up over a similar location (see below - can't move up)
<img width="525" alt="image" src="https://user-images.githubusercontent.com/1902116/194560789-f8b5e

[2022-10-07 13:58] terracoda commented on #198
Ok, here's the side changing response for maintaining a convex quad with a 180 degree angle
-   {{CornerName}} {{flat}}, {{SideName}} gets {{longer/shorter}} and {{SideName}} gets {{longer/shorter}}.

[2022-10-07 14:08] terracoda commented on #198
@jessegreenberg, I added the convex quad side-changing response to the table in https://github.com/phetsims/quadrilateral/issues/198#issuecomment-1256381989, but it is dependent on the decision in #236

[2022-10-07 20:15] terracoda commented on #198
Might need "adjacent" in the response - adding.

[2022-10-07 21:07] terracoda opened #237 "Object Reponses - Moving a Corner"
In addition to #219, we will need changing object responses.

Please see design document...[Table: Object Responses for Moving a Corner (ready for implementation)](https://docs.google.com/document/d/1jXayebAWnnNzsT3l6o72YPw4-YtiQaHQNuAi64eiguc/edit#heading=h.9u49uu82mkhv)

I've tried to organize this info as best I can. Let's discuss if anything is unclear or way too complicated.
I worked really h

[2022-10-10 17:12] jessegreenberg commented on #232
Thanks @terracoda, not intentional! Fixed.

[2022-10-10 17:12] #232 closed

[2022-10-10 19:11] terracoda commented on #183
I think I have a design solution for the Show/Hide Shape Name interaction that requires no change to the current visual design. It requires changes to the name responses, adds new context responses, and makes a mouse-only reading block to make the on-screen text voice-able with mouse and touch.

The the new design is not radically different, I will open a new issue referencing this issue and comme

[2022-10-10 19:30] terracoda opened #238 "Updates for Show Shape Name Interaction"
In #183, we added an interaction to show and hide the Shape Name.

In comment https://github.com/phetsims/quadrilateral/issues/183#issuecomment-1273710446 I mention I have a updates to the Voicing design which is the focus of this issue.

There are 2 tables in the design doc that capture the voicing design and voiced strings for this interaction. Screen shots of the tables included here.

- [Table

[2022-10-10 19:34] terracoda commented on #183
Since the initial Show Shape name interaction is implemented. I will go ahead and close this issue. Further work will happen over in #238.

[2022-10-10 21:01] terracoda opened #239 "Update for Corner Guides Responses"
Soon we will have descriptions that roughly describe the number of 30 degree slices that are represented in the the corner guides, so I have a couple of tweaks to the the Corner Guides responses.

Change Context response that goes from unchecked to checked from "Angle guides added to corners."
To:
- Angle guides with 30 degree slices added to corners.
- No change to other context response.

Change

[2022-10-10 21:18] jessegreenberg commented on #197
OK, tolerances changed in the above commits. You can see them in the the panel with `?showModelValues`. Instead of adding four new query parameters for the tolerances when using "Fine Input Spacing" I added a new query parameter `?fineInputSpacingToleranceIntervalScaleFactor`, default value of 0.2.

The tolerances are getting really complicated, and they change in different ways depending on wheth

[2022-10-11 14:51] terracoda opened #240 "Updates to Context & Hint Responses for the Visual Guide Checkboxes"
I have some design questions and tweaks for the Name, Hint, and Context Responses for the visual Guide check boxes.
Design Questions:
1. For Voicing can we or do we want to employ the same keyboard design patterns for activation of buttons and check boxes?
2. Can we align the visual name and the accessible names better for the check boxes?
3. How do we want to frame the Hint Response?
    - "Explo

[2022-10-11 14:52] jessegreenberg commented on #198
OK @terracoda this is mostly done with the following exceptions that would be good to discuss:
- Regarding

  Thanks! I used `{{CornerName}} {{flat}} as adjacent sides get change in length.` for now, it saved me ~30 minutes in the implementation to determine which sides are changing and in what direction.
- Square and Rhombus maintenance responses are implemented but I couldn't figure out a way to

[2022-10-11 14:55] terracoda commented on #240
This issue relates to #239.

[2022-10-11 14:57] jessegreenberg commented on #239
This update was done in the above commit, @terracoda would you like to confirm?

[2022-10-11 15:03] terracoda opened #241 "Updates for Shape Sound Check Box Interaction"
Design Questions
5. Wondering if we need to pluralize the name?
6. And I have some help text options:
    - Explore with or without sounds for shape changes.
    - Create shapes with or without the help of sounds.

![image](https://user-images.githubusercontent.com/1902116/195127501-a869dff1-a6b5-481d-8150-0c7d79ffc0cb.png)

[2022-10-11 15:14] terracoda commented on #239
Thanks @jessegreenberg. This is implemented as I requested, so closing. There might be a couple more tweaks once we discuss #240 today - the check boxes in general.

Closing this issue, though since it is complete.

[2022-10-11 15:14] #239 closed

[2022-10-11 17:04] terracoda commented on #236
Hey, Wow, Interesting?
Does shape have 3 sides or 4?

[2022-10-11 17:11] jessegreenberg commented on #198
Discussed in a design meeting today, lets go with "Adjacent sides change equally as shape gets {{bigger/smaller}}.

[2022-10-11 18:00] jessegreenberg commented on #238
OK, I think what is described here has been implemented, @terracoda can you please review?

[2022-10-11 19:41] terracoda commented on #236
I'll review #198 before updating this issue.

[2022-10-11 20:03] jessegreenberg commented on #198
OK, that update is done. This is ready for your review @terracoda.

[2022-10-11 20:04] jessegreenberg commented on #229
Removing my assignment until this is something we have time to work on.

[2022-10-11 20:10] terracoda commented on #240
@jessegreenberg, I have updated the [Table: Responses for Visual Guides](https://docs.google.com/document/d/1jXayebAWnnNzsT3l6o72YPw4-YtiQaHQNuAi64eiguc/edit?pli=1#heading=h.285ytvclo42i) in the Voicing Design Doc. I removed all the extra-idea strings and crossed out the strings that are currently implemented. The updated strings that should be implemented for Name, Hint and Context Responses shou

[2022-10-11 20:11] terracoda commented on #240
Over to you @jessegreenberg if you haven't already implemeted all of this :-)

[2022-10-11 20:12] terracoda commented on #240
Note for the Corner Labels check box, please make the visual change as well to be "Angles" instead of "Corners".

[2022-10-11 20:16] jessegreenberg commented on #226
I am able to get this to happen consistently if the checkbox is pressed while the sound clips are fading out.

[2022-10-11 20:23] terracoda commented on #241
@jessegreenberg, please add an "s" to "Shape Sound" in the name response, and add the Hint Response.

Here's the a copy of [Shape Sounds Table](https://docs.google.com/document/d/1jXayebAWnnNzsT3l6o72YPw4-YtiQaHQNuAi64eiguc/edit#heading=h.hvtbu8b4hevy) from the voicing design doc
![image](https://user-images.githubusercontent.com/1902116/195190871-efd2c673-1770-4ec9-9980-8a843358ff6f.png)

[2022-10-11 20:41] terracoda commented on #238
You nailed it. It sounds good!

Thanks @jessegreenberg !

[2022-10-11 20:54] jessegreenberg commented on #226
I think I tracked this down to https://github.com/phetsims/tambo/issues/170. A workaround is in place for now, closing this issue and we can pick it up in tambo.

[2022-10-11 20:54] #226 closed

[2022-10-11 21:00] jessegreenberg commented on #241
OK, changes made in the above commit. @terracoda would you like to review?

[2022-10-11 21:13] jessegreenberg commented on #240
OK, done in the above commit. @terracoda would you like to review?

[2022-10-11 21:23] jessegreenberg commented on #210
Thanks, the TODO pointing to this issue is about `staticAngleToleranceIntervalProperty`. @BLFiedler does it need to be "widened" like https://github.com/phetsims/quadrilateral/issues/116?

[2022-10-11 21:53] jessegreenberg commented on #219
OK! This change has been made @terracoda, over to you to review.

[2022-10-11 21:59] jessegreenberg commented on #233
Sorry @terracoda I tried for almost ten minutes to reproduce this and could not. Is this still happening for you? If so, can you do it with ?showModelValues? Is "Fine Input Spacing" enabled?

[2022-10-12 13:45] terracoda commented on #240
The new descriptions sound really good to me! Thanks @emily-phet and @jessegreenberg for the discussion yesterday and thinks @jessegreenberg for quick implementation.

Closing.

[2022-10-12 13:47] #240 closed

[2022-10-12 13:50] terracoda commented on #240
@jessegreenberg, I missed one response.

When unchecking the Diagonals checkbox, the response should say:
- Diagonal guides hidden.
And not "- Diagonal guides removed."

Please close after update. Everything else is awesome.

[2022-10-12 14:02] terracoda commented on #241
All sounds great. Thanks @jessegreenberg for the quick turn around. Closing.

[2022-10-12 14:02] #241 closed

[2022-10-12 14:04] terracoda commented on #233
Yep, will try to isolate the event. Thanks for trying :-)

[2022-10-12 14:19] jessegreenberg commented on #231
I had a question about the "right angle" that is currently included in the object response when corner guides are hidden. But now a similar description is being added when corner guides are shown. Right angle indicators are not shown unless corner guides are visible. Over slack:

[2022-10-12 14:48] terracoda commented on #238
@jessegreenberg, I missed one detail for the Shape Name reading block. It should not be available for focus-based input like keyboard and custom swipes. Learners who use focuse-based input (alt input) get the Name Response on focus, so they don't need another tab stop with the same information.

The purpose of the reading block is to make the on-screen text voice-able for mouse/touch users without

[2022-10-12 16:01] terracoda commented on #180
Today a kite got stuck here twice, once after a fresh pull.
Corner C is stuck for both keyboard and Mouse input.
<img width="901" alt="image" src="https://user-images.githubusercontent.com/1902116/195391687-84c0a2d9-34f9-424e-8275-2942b920a8ef.png">

When I clicked on Corner B - Corner C jump 3 grid-cells down on its own
<img width="902" alt="image" src="https://user-images.githubusercontent.com/1

[2022-10-12 16:02] terracoda commented on #180
Pressing the Reset Button stopped the music but did not reset the shape. Pressing Reset All reset everything.

[2022-10-12 16:05] jessegreenberg commented on #180
Yes, I am guessing sim is crashed. Are there any errors in the dev tools?

[2022-10-12 16:13] terracoda commented on #180
Opening a new issue as - yes  - getting a huge number of errors in Dev Tools. This could be a common code problem unrelated to previous sticky corner and sides.

[2022-10-12 16:22] terracoda opened #242 "Sim is not responsive, or slow to respond and then crashes"
I was experiencing strange focus highlight behaviour earlier this morning and was wondering if my keyboard and/or mouse were not working.

Now the sim is just not working with alt input or mouse and it crashes. I just got the Safari warning that "This web page is using significant energy."

Before the total crash the Reset All button worked to reset the sim, but then soon after moving a side, the

[2022-10-12 16:23] jessegreenberg commented on #233
Aha! I found a case for this while testing #231
![image](https://user-images.githubusercontent.com/6396244/195396575-4a6781c4-8d1d-4af3-88a6-cd22e934ce03.png)

Then I moved the vertex around and the problem went away and I have not been able to get it to happen again.

[2022-10-12 16:25] terracoda commented on #242
The crash must have happened when I was chatting with @jessegreenberg as the number of messages is the same.

[2022-10-12 16:28] terracoda commented on #242
While maintaining a Kite with mouse input this screen popped up in front of the sim:
<img width="1180" alt="image" src="https://user-images.githubusercontent.com/1902116/195397771-c011dd0e-d8b4-4233-ae0a-50ab92d94cc3.png">

Here's the console tab
<img width="1181" alt="image" src="https://user-images.githubusercontent.com/1902116/195397961-a82a6e63-1f42-49bb-9102-7ce592539554.png">

[2022-10-12 16:29] terracoda commented on #242
Of course, sim was crashed at that point.

[2022-10-12 16:35] terracoda commented on #242
OK, I have reloaded the sim and will track my key presses.

Ok, I made a few key presses moving sides and corners and then lined-up a similar kite - one aligned to the Y-axis. The sim crashed after moving Corner C up 2 steps. I think this can be repeated.

Align a kite so you can maintain it on the vertical axis and the sim will crash.

<img width="1169" alt="image" src="https://user-images.github

[2022-10-12 16:40] jessegreenberg commented on #242
Thank you @terracoda, thats it!! {{cornerLabel}} and {{flat}} are not getting filled in, throwing this assertion. Hopefully the `announcingUtteranceWrapper` problem is just downstream of this and if we fix the description the problem will resolve.

[2022-10-12 16:54] jessegreenberg commented on #242
OK, this case should be fixed. There were two problems
- The string `{{cornerLabel}} flat as adjacent sides change in length testing` had extra braces around "flat" when it shouldn't
- The string pattern for kite/date was using the string pattern for maintaining the "flat" angle, and so `cornerLabel` was never getting filled in, throwing an error at this assertion.

This was ultimately a copy/past

[2022-10-12 16:55] jessegreenberg commented on #242
Back to you to verify if you wish or close.

[2022-10-12 17:07] terracoda commented on #242
Maintaining kites and darts seem fine - sim is behaving again :-)

[2022-10-12 17:08] #242 closed

[2022-10-12 17:34] terracoda commented on #233
Ok, I have model values show here.
All Sim Voicing options are checked, and I am **not** using fine input in this case.
<img width="1163" alt="image" src="https://user-images.githubusercontent.com/1902116/195410085-a684cde0-75d9-44ac-ad4b-ae0fc13685b1.png">

[2022-10-12 17:35] terracoda commented on #233
The fan stayed wonky after moving down then up to flat again, but once i went inward into a Dart and then back down and up, the fan was fine.

[2022-10-12 19:44] jessegreenberg commented on #231
OK these are now in. Over slack I mentioned to @terracoda that the tolerances (interAngleToleranceInterval and shapeLengthToleranceInterval) make it difficult to find some of these descriptions like "1 and a half units" or "2 and a half slices". The descriptions are correct for the model though. In https://github.com/phetsims/quadrilateral/issues/219#issuecomment-1255192232 we made these easily fi

[2022-10-12 20:09] jessegreenberg commented on #238
Got it, done in the above commit.

We have an easy way to do this, but the API is a little clumsy. If we ever have an opportunity to open up Voicing infrastructure work this is something that could be enhanced.

@terracoda all good here?

[2022-10-12 20:10] jessegreenberg commented on #218
OK great, they are translatable currently so I think this can just be closed.

[2022-10-12 20:10] #218 closed

[2022-10-12 20:16] terracoda commented on #198
All Shape Name Context Responses seem to work just fine!
All Shape Property Context Responses seem to work just fine, though I might need a couple tweaks to wording.

Some things about the Shape Maintenance Context Responses surprised me. Here's what I found surprising, and need or might need adjusting:
1. When maintaining a Parallelogram, I get two responses. One about the changing area and one a

[2022-10-12 20:36] terracoda commented on #198
@jessegreenberg, hopefully these are minor updates :-)

[2022-10-12 21:23] jessegreenberg commented on #198
OK requests were done in the above commit. I tried to turn the comment into a checklist to identify action items. Things left unchecked had the following questions:

Yes, done - but only for parallelogram if I understand correctly.

Tilt/straighten was removed from parallelogram maintenance responses. Can you give me an example of another response where tilt/straighten should be removed? There are

[2022-10-12 21:28] jessegreenberg commented on #233
It looks like in all examples of this happening there is exactly one too many slices shown when the angle is 180 degrees. That should help identify where the bug is.

[2022-10-12 22:25] jessegreenberg commented on #233
The problem is here:
[code]

![image](https://user-images.githubusercontent.com/6396244/195458989-c0d2a68b-9f52-49ae-b54c-4d239f9318e2.png)

The difference between the angle and Math.PI is within amount of precision error. Since definedAngle is less than PI the remainder is just under SLICE_SIZE_RADIANS so we see almost an extra full slice.

[2022-10-13 13:02] terracoda commented on #238
All good, and I liked you comment about the API, too. Glad this is easy for us, and we can improve it when we need to.

[2022-10-13 13:02] #238 closed

[2022-10-13 13:32] terracoda commented on #231
I found  "1 and a half slices, half as wide as opposite corner" with fine input.
<img width="897" alt="image" src="https://user-images.githubusercontent.com/1902116/195606188-7da592a4-7de6-4e91-846e-5b86873898fb.png">

And I found "angle flat, half as wide as opposite corner" in this kite.
<img width="380" alt="image" src="https://user-images.githubusercontent.com/1902116/195605649-70e4a6a6-52a7-4

[2022-10-13 13:32] #231 closed

[2022-10-13 15:25] terracoda opened #243 "Combine side units and angle slices into one checkbox"
**Design questions for side units and angle slices**

In #231, we added descriptions  that capture a semi-quantitative perspective of the corners and sides by roughly describing the number of slices in the corner angle guide and the the number of units on the sides. This information is available on keyboard focus and click and on-demand by hitting Space or Enter keys or re-clicking a side or corne

[2022-10-13 15:37] terracoda commented on #198
According to your comments above, @jessegreenberg, I think you likely got all the "tilts". I still need to review.

[2022-10-13 18:40] terracoda commented on #219
I think these regions are implemented as I have them designed.
Any tweaking of regions or region order will happen in new issues. No changes at this time.

[2022-10-13 18:40] #219 closed

[2022-10-13 22:26] jessegreenberg commented on #233
This was fixed by getting the remainder without using the modulus operator. @terracoda please let me know if you ever see this again!

[2022-10-13 22:26] #233 closed

[2022-10-13 22:45] jessegreenberg commented on #198
Thanks @terracoda, good find. This is another precision error, when moving the vertex back and forth I see that the area changes by values like 1.3322676295501878-15. Should be fixed in the above commit.

I went with "{{CornerName}} {{flat}} as adjacent sides get change in length."

Back to @terracoda to try it out.

[2022-10-14 15:23] terracoda opened #244 "Options for chunking Details information"
What easy method could we use to have the option to break up the Details information?

Currently we have a heading "Quick Info" then 3 buttons, "Play Overview", "Play Details", and "Play Hint"
<img width="206" alt="image" src="https://user-images.githubusercontent.com/1902116/195878747-165fabc5-885a-49ef-92fa-572a68acd0d5.png">

Could we have an option to use an expand/collapse interaction (instea

[2022-10-14 15:37] terracoda commented on #234
I don't see the incorrect shape name any more.
Can I close this issue?

[2022-10-14 15:41] terracoda commented on #215
I think is issue us related to #236 , where i suggest a special response that questions the number of sides for the shape.

[2022-10-14 15:46] terracoda commented on #195
Here's latest visual interaction hints.
<img width="191" alt="image" src="https://user-images.githubusercontent.com/1902116/195887370-1cd6523f-8e16-442e-855b-0eff57ba3bfa.png">

They disappear on focus. Is that intentional?
In John Travoltage (and some other sims), the visual hints disappear after successful movement.

[2022-10-14 15:48] terracoda commented on #195
And when clicking, only one of the two hints disappears. If you click on the Leg Swing, the Arm Swing hint remains until you click on the Arm Swing.

I think we could consider doing the same for the corners and sides.

[2022-10-14 15:57] terracoda commented on #198
You fixed it. I am not hearing area changes anymore.
Thanks!

I think this issue is ready to close.
I'll think about when we should hear our fun question about the number of sides over in #236

[2022-10-14 15:57] #198 closed

[2022-10-14 16:06] terracoda commented on #236
"Wait" also works.

I think I like this response:
- "Wait? Does shape have 3 sides or 4?"

This question might encourage learners to click on the sides and come up with different reasoning to answer that question.

@jessegreenberg, can you use a method to randomly swap between the 2 responses?
- "{{CornerName}} {{flat}} as adjacent sides get change in length."
- "Wait? Does shape have 3 sides or 4

[2022-10-14 16:07] terracoda commented on #236
That is, randomly swap between the 2 responses when a learner is maintaining a triangular shape.
- "{{CornerName}} {{flat}} as adjacent sides get change in length."
- "Wait? Does shape have 3 sides or 4?"

[2022-10-14 17:02] terracoda commented on #213
To follow-up on https://github.com/BLFiedler)... grouping

We already have grouping patterns we use in the PDOM (e.g. using some combo of heading aria-role=group, and possibly aria-labelledby?) I think we would want to structure things in the same way as we already do, but of course, we wouldn't get the code semantics spoken aloud for free in Voicing.

We have keyboard shortcut instructions for na

[2022-10-14 17:09] terracoda commented on #213
We could also consider making a very general hint about the visual guides, and adding it to the Group heading reading block rather than having a hint on each of the check boxes.

So if Helpful Hints is checked, we would hear:
Guides, Create shapes with or without help of visual guides.

[2022-10-14 18:16] jessegreenberg commented on #234
Thanks @terracoda, Ill take a look. I don't understand why this would be fixed yet.

[2022-10-14 19:40] jessegreenberg commented on #244
There is no easy opt-in for this now. This would be a new development project in common code (joist). It wouldn't be a huge project but between design/implementation/code review/QA, it might take focus for a couple weeks? I can't speak to whether we have time for this, but it is something we could do!

[2022-10-14 20:03] jessegreenberg commented on #213
I don't believe grouping is the right thing for checkboxes. Radio buttons are grouped because that is the convention and the browser does that for us for free. Radio button groups let you change one value from several options so it makes sense to me that the group is one stop in the traversal order. Checkboxes each control a unique value so each one gets a stop in the traversal order. If we need t

[2022-10-14 20:08] jessegreenberg commented on #234
I am still seeing this, it will happen when one of the bottom sides of the "triangle" has a length equal to an adjacent side like this:

![image](https://user-images.githubusercontent.com/6396244/195933139-70563cef-ce1c-433e-82f2-dcf9a56343c9.png)

In this case, there are two pairs of equal adjacent sides and one pair of equal opposite sides.

[2022-10-14 20:23] jessegreenberg commented on #236
OK, added in the above commit. In this case, half of the time it will use the "Wait? Does shape..." and the other half it will use ""{{CornerName}} {{flat}} as adjacent sides get change in length.""

Back to @terracoda.

[2022-10-15 21:33] terracoda commented on #234
A kite has to have two pairs of adjacent sides that are equal.

[2022-10-15 21:38] terracoda commented on #234
And 1 pair of opposite angles.

Having opposite sides that are equal is not a requirement for a kite.

 Sorry @jessegreenberg, I am not sure what the question is.

[2022-10-16 20:37] terracoda commented on #213
@jessegreenberg, I agree that we have not yet created a group of checkboxes for a PhET Sim, but checkbox interactions of a similar type or theme can be grouped together.

There isn't an equivalent native HTML group element like `radiogroup` for checkboxes, but there are headings and list structures, and `legend` and `fieldset` elements that can be used to group things of a similar theme or type to

[2022-10-17 13:40] terracoda commented on #236
I like the response, but 50% of the time is a bit too often.
We can discuss with @BLFiedler at Tomorrow's design meeting.

[2022-10-17 13:51] terracoda commented on #206
We've implemented a Tab order that starts with Side DA and ends with Corner D.
We'll see how that works in next sessions.

We are also discussing other issues such as
- the possibility of chunking in #244 ,
- the possibility of group navigation in #213.

In addition, we have implemented descriptions that describe
- the width of the angles and the length of the sides  in #231
Describing the angle s

[2022-10-17 13:51] #206 closed

[2022-10-17 13:58] jessegreenberg commented on #234
@terracoda said:

Right! Technically the shape you posted in https://github.com/phetsims/quadrilateral/issues/234#issuecomment-1280858511 has that.

Adjacent sides BC and CD are equal. AND adjacent sides CD and DA are equal.
Angle B equals angle D.

So the model categorizes this as a kite. So the question is - Is this a Kite or is there another condition for a Kite that we should be looking for li

[2022-10-17 15:53] veillette opened #245 "Use scenery-phet GridIcon"
In https://github.com/phetsims/scenery-phet/issues/777, a gridIcon class was created. This simulation should use the common code component for the grid icon instead of declaring a custom implementation.

Assigning to @jessegreenberg.
Feel free to close after addressing this issue.

[2022-10-17 16:25] terracoda opened #246 "Updates for Reset Shape button"
The Reset Shape button behaves just like the Reset All button when using any input method.

However, because it is a partial reset, I have provided a hint response. A hint response will help differentiate its function from the full reset button.

![image](https://user-images.githubusercontent.com/1902116/196231370-5db26a26-a5c1-4af0-a2e8-baddccd8dd04.png)

@jessegreenberg, If you have time, you ca

[2022-10-17 16:52] #245 closed

[2022-10-17 18:01] jessegreenberg commented on #246
OK @terracoda I added this response.

[2022-10-17 21:00] jessegreenberg commented on #237
OK! I think this is implemented as requested with one exception:
![image](https://user-images.githubusercontent.com/6396244/196282179-64f47059-3894-47b7-a9ec-08196abadd23.png)

For these two cases I AM including angle change and landmark. The exclusion here was a little difficult to do and conflicts with the example in the first row of the "Landmark Angle States" table.

@terracoda I think this is

[2022-10-18 14:34] terracoda commented on #246
Thanks, @jessegreenberg . I think the period creates too long of a pause.
I'll see if I can find the string to update it to:
- Keep chosen guides on with reset shape.

[2022-10-18 14:39] jessegreenberg commented on #41
Ah, found the case where things really get messed up. If an object is sandwiched between more than one other and the collision detector is trying to move it into another object, others get pushed around to avoid new collisions.  But it is creating strange behavior like this:

<details>

![rts2](https://user-images.githubusercontent.com/6396244/196461753-d4dde330-c2e5-4f98-84e8-d413d1e0cfb4.gif)
</

[2022-10-18 14:46] terracoda commented on #246
I made 2 iterations and like
- Keep guides visible with reset shape.

[2022-10-18 14:47] terracoda commented on #246
Just need to discuss context responses with @BLFiedler.

[2022-10-18 15:01] BLFiedler commented on #246
Despite the ubiquity of use of "home shape" in the studies, I'm a little uncertain on its use in the sim. I do like either of the sentences that follow.  Should we use one or the other depending on if the shape name is displayed or just opt for the "all right angles, all sides 2 units" to keep it simple?

[2022-10-18 15:02] BLFiedler commented on #244
Let's rope @emily-phet into this discussion today in design meeting. It seems like this might be something to consider for the Future of Voicing (TM).

[2022-10-18 15:04] BLFiedler commented on #215
Yes, it is. I think we should go ahead with the Triangle easter egg. We should have a quick chat about any visual changes that may happen to de-emphasize the "4th point"

[2022-10-18 15:05] BLFiedler commented on #234
I thought perhaps identity of the pairs may come up. I think we'll want to override the name of the shape to a Triangle per issue #215 and #236, so maybe this isn't an issue, unless we can come up with another case where kite appears.

[2022-10-18 15:09] terracoda commented on #246
A single response is totally reasonable. I like that, and I was not super interested in "Home Shape" either, so glad we are in agreement there.

Let's go with:
- All right angles, all sides two units.

I'll see if I can find the string in the code :-)

[2022-10-18 15:10] BLFiedler opened #247 "Dynamic tolerances revisited: Tangible input, Computer Vision, and Multitouch"
We have several tolerances in place and they vary depending on what input method we have at any given time. Let's try to simplify them and instead apply a scaleFactor depending on the input method.

@jessegreenberg, can you list all existing tolerance values and which ones are currently being modified based on input or selection? If simple, their current values as well.

[2022-10-18 15:11] BLFiedler commented on #210
I think we may plan to apply scaleFactor to every tolerance to adjust for tangible, multitouch, etc. Created a new issue on this topic with #247

If it's alright to do so, feel free to remove the To Do and close this issue.

[2022-10-18 15:13] BLFiedler commented on #208
@terracoda and I discussed the possibility of using an ABC, 123 style grid for the major gridlines.

@terracoda, do we want to go ahead with this? Do you know where this information would live?

[2022-10-18 15:24] BLFiedler commented on #197
Can we try adding this for descriptive text?

[2022-10-18 15:30] BLFiedler opened #248 "Clean up Preferences Menu - first pass"
A few thoughts to tidy up the preferences menu, though we'll likely have more before publication:

### Simulation Tab
- [x] Remove Shape Identification Feedback checkbox. We'll keep the visual indicators that were previously associated with this as default behavior.
- [x] Let's hide the Synchronize Recording button behind a query parameter if possible as it will only be used for research purposes.

[2022-10-18 15:36] terracoda commented on #246
@jessegreenberg, I updated the context responses. Now we just have one single context response, so you have remove the duplicate.

[2022-10-18 15:46] BLFiedler commented on #234
Triangle detection being implemented in issue #215.

We'll put that above detection of a Kite and this may be solved. Check back when that is done.

[2022-10-18 15:52] BLFiedler commented on #215
- [ ] Detect triangle when any angle is equal to 180 (pi radians). Place above Kite in detection. Possibly above concave/convex?
- [ ] Show "Triangle?" in the shape name box.

[2022-10-18 15:52] terracoda commented on #236
This shape will playfully be called a triangle. Maybe "Wait? Found a Triangle?"
@terracoda with make sure all necessary responses communicate the same message.

[2022-10-18 16:35] BLFiedler commented on #213
Should we consider reordering the checkboxes for the most relevant to non-visual to the top and just jump to the top checkbox?

 - Angles
 - Grid
 - Diagonals
 - Labels (default on)

[2022-10-18 16:40] BLFiedler commented on #213
@jessegreenberg , go ahead and reorder these anywho

- [ ] Reorder checkboxes according to previous comment.

Angles may change name, but this can happen first.

[2022-10-18 16:41] BLFiedler commented on #213
@terracoda will investigate a shortcut combination to the first checkbox and a description for the dialog.

[2022-10-18 17:14] terracoda commented on #244
We may not need more flexibility for the Details button for this sim, but in general it seems like a useful function.

[2022-10-18 17:22] terracoda opened #249 "Keyboard Shortcuts Dialog"
I still need to create a keyboard shortcuts dialog.

This sim has custom interactions, and may have  hot keys to get to the check boxes.

[2022-10-18 17:31] terracoda commented on #249
@jessegreenberg, can you put in a default Keyboard Shortcuts dialog? I'll work what needs to get added.

[2022-10-18 17:51] BLFiedler commented on #128
We liked the Ratio and Proportion sounds as a more "general" sound than Faraday's Law pick up sounds. They are a little too subtle though.

@Ashton-Morris, could you modify the pickup sounds from Ratio and Proportion to differentiate them further? Perhaps the lower tone goes lower still?

[2022-10-18 18:03] BLFiedler commented on #244
There may be space for implementing these changes in Joist depending on how things go for collision detection (#41), but this may end up being an issue better suited for the next sim.

[2022-10-18 18:06] terracoda commented on #249
That is, if there is a "default" Keyboard Shortcuts dialog.

[2022-10-18 18:39] jessegreenberg commented on #237
In the above commit, we added a special case check for when describing relative angles for a trapezoid. In this case, we make the angle tolerance interval 0 so that equality is only described when angles are exactly equal. That way it is impossible to hear that angles are equal when we leave the isosceles trapezoid.

[2022-10-18 19:35] jessegreenberg commented on #249
There isn't really a default one but I added some boilerplate and a dialog with "basic actions" has been added. Ready for content whenever!

[2022-10-18 19:48] jessegreenberg commented on #210
OK thanks, TODO removed so this issue can be closed and we will continue in #247.

[2022-10-18 19:48] #210 closed

[2022-10-18 20:55] jessegreenberg commented on #215
OK, Triangle has been added as requested. A couple of questions.
- @BLFiedler What sound tracks in each sound design should play when a triangle is detected? For no sound plays when we have a triangle.
- @terracoda When you find a triangle and shape names are shown you will now hear the same shape detection context response "Found a triangle." Is that correct?
- @terracoda What should the context

[2022-10-18 21:02] jessegreenberg commented on #246
Looks good @terracoda! I just removed the duplicate. Would you like to review or anything else for this issue?

[2022-10-18 22:21] jessegreenberg commented on #248
Front end changes for this request done in the above commits, ready for @BLFiedler  to review. I still have code related to old sound designs to hack and slash out.

[2022-10-18 22:31] terracoda commented on #249
Thanks @jessegreenberg. That's perfect for now.

[2022-10-18 22:53] jessegreenberg commented on #248
OK lots of deletions in the above commits. I think that is enough cleanup for now, removing my assignment.

[2022-10-18 22:56] terracoda commented on #248
I think the heading for the "Sound Design" should be either:
- Sound Design Options or
- Shape Sound Options

I'll think about the labels, context responses and help soon.

[2022-10-18 22:58] jessegreenberg commented on #175
We reviewed this today and decided that the output levels of individual tracks in each design needs to be adjusted. It would be quick to add some temporary controls to adjust the output levels so Ill do that in case it helps with the sound design.

[2022-10-18 23:00] terracoda commented on #212
No, but I am now getting adjacent sides longer when I go from Square to Rhombus and Rhombus to Rhombus (sigh).
<img width="897" alt="image" src="https://user-images.githubusercontent.com/1902116/196560696-2b3c8ce6-d4a5-43f2-97dc-a25402645ced.png">

[2022-10-18 23:10] terracoda commented on #247
While testing object responses in #237
I hear a tolerance issue here where as Corner C becomes a right angle, it is described as "similar but smaller than Corner B". However, if I click on Corner C, I get the correct description, "equal to one adjacent corner".
Maybe we just are not applying the tolerances in all the same cases?
<img width="905" alt="image" src="https://user-images.githubuserconte

[2022-10-19 13:49] jessegreenberg opened #250 "Inconsistencies with different tolerance intervals"
While testing object responses in #237 using https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.67/phet/quadrilateral_en_phet.html?showModelValues

I hear a tolerance issue here where as Corner C becomes a right angle, it is described as "similar but smaller than Corner B". However, if I click on Corner C, I get the correct description, "equal to one adjacent corner".
Maybe we just are not

[2022-10-19 13:49] terracoda commented on #247
I cannot reproduce the above case today, so maybe I interpreted what I heard incorrectly :-)

[2022-10-19 13:58] BLFiedler commented on #187
Agreed. I was going to comment along those lines that I think that will do well to accomplish this goal without getting overly quantitative.

[2022-10-19 14:10] terracoda commented on #212
Just an FYI, for this Rhombus-Square transition on first key press I get "right, Found a Rhombus!", and
<img width="799" alt="image" src="https://user-images.githubusercontent.com/1902116/196713897-149e82a0-6eab-42b2-99ed-4043df75833c.png">
then on the next key press I get "adjacent sides longer", with no shape transition to a parallelogram.
<img width="800" alt="image" src="https://user-images.gi

[2022-10-19 14:11] terracoda commented on #212
The above example is from https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.67/phet/quadrilateral_en_phet.html?showModelValues with regular input steps (i.e., Fine input spacing is not checked).

[2022-10-19 14:26] BLFiedler commented on #250
Hm. Noting here that I can move into a right angle with C and hear it as "just under 3 slices" from the above configuration.

https://user-images.githubusercontent.com/47331395/196719372-e5d53c3c-9989-4d1b-b606-8e7a7cad6dc2.mp4

We might need to do a pass and shore up where description is and is not using tolerances. There are a few benchmarks like 90 degrees and "equal" where matching the model w

[2022-10-19 14:34] BLFiedler commented on #212
Can you try

https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.67/phet/quadrilateral_en_phet.html?showModelValues&shapeLengthToleranceInterval=0.005

I realize that what was implemented was not what I was testing. I believe I mistyped 0.01 for 0.005 when I asked Jesse to change them. That way only 1 key press should net you a rhombus for the starting shape, which was my initial aim.

[2022-10-19 15:35] jessegreenberg commented on #250
I created the same shape configuration as https://github.com/phetsims/quadrilateral/issues/250#issue-1415015249 and I am also not hearing this problem, but I suspect it is still around...

Similarly, I recreated this confiruation and was not able to hear this on master. I only hear "right angle".

<details><summary>My shape</summary>

![image](https://user-images.githubusercontent.com/6396244/1967

[2022-10-19 15:39] jessegreenberg commented on #250
Wait, I just found a case where this happens - I think this is an input problem, not a tolerance problem. The Voicing response for the corner is always spoken on mouse down. It will speak to you the state of the corner at the start of a drag and may not get interrupted. It needs to voice the full response on mouse UP only if the position hasn't changed.

[2022-10-19 15:52] jessegreenberg commented on #250
Done in the above commit. This behavior matches john-travoltage more closesly. @BLFiedler @terracoda can you please confirm this is fixed?

[2022-10-19 16:07] terracoda commented on #237
The object responses are sounding really good.

Regarding your comment above, would this re-arrangement of the strings address the difficultly of implementation?

![image](https://user-images.githubusercontent.com/1902116/196738874-f401c00e-4143-4769-9914-1304ef34acc8.png)

realize now that we could put the responses about angle changes together a bit differently. Would it simplify matters, if we

[2022-10-19 16:14] terracoda commented on #237
In addition, there are a few open issues around tolerances, I will note one here. It might need to be copied over to one of the other open issues.

I hear "adjacent corners equal" for a few steps on other side of 180 when maintaining Convex Quads and Concave Quads. This response is correct for Kites and Darts. And correct for Quads when maintaining a Triangle.

But I don't think it is correct when

[2022-10-19 16:21] jessegreenberg commented on #197
Added, back to @BLFiedler.

[2022-10-19 16:25] terracoda commented on #237
Regarding tolerances, maybe we just don't describe anything about the angle change when the angle change is smaller than the angle tolerance. Would this work?

I am thinking an angle change that is smaller than the angle tolerance is not a detectable angle change - at least it is a small enough difference that we decided to not show it visually.

For object response design, if there is no detectab

[2022-10-19 16:47] terracoda commented on #237
@jessegreenberg, I think you top priority is #41 so I am marking this for next weeks meeting in case it doesn't discussed beforehand.

[2022-10-19 16:50] terracoda commented on #250
@jessegreenberg, Do you have a dev version, or is it safe to pull from master?

[2022-10-19 16:52] jessegreenberg commented on #247
Listing out everything as of 10/19/22.

- `parallelAngleToleranceInterval` - default 0.01
  - The tolerance interval for angle comparisons when determining if two sides are parallel.
- `deviceAngleToleranceInterval` - default 0.02
  - The tolerance interval for angle comparisons when determining if two sides are parallel while the sim is connected to a tangible device.
- shapeLengthToleranceInterv

[2022-10-19 16:55] terracoda commented on #250
Copied from #237
In addition, there are a few open issues around tolerances, I will note one here. It might need to be copied over to one of the other open issues.

I hear "adjacent corners equal" for a few steps on other side of 180 when maintaining Convex Quads and Concave Quads. This response is correct for Kites and Darts. And correct for Quads when maintaining a Triangle.

But I don't think i

[2022-10-19 16:56] terracoda commented on #250
I was using https://phet-dev.colorado.edu/html/quadrilateral/1.0.0-dev.67/phet/quadrilateral_en_phet.html

[2022-10-19 16:56] jessegreenberg commented on #247
I would love to see all of the device tolerance intervals replaced with the position intervals we added when we last worked on device connection. I think ideally the device would have no bearing on the model or shape detection, but changing where vertices snap to makes it easier/harder to detect shapes with that input form.
<details>

![image](https://user-images.githubusercontent.com/6396244/1967

[2022-10-19 17:00] terracoda commented on #250
I've done a fresh pull, and will test.

[2022-10-19 18:40] jessegreenberg commented on #237
No I don't think so. Mostly I didn't implement this because I noticed an inconsistency in the design. If I understand correctly these two conflict:
![image](https://user-images.githubusercontent.com/6396244/196776144-74f7bfc7-f0fc-4d2f-9d7f-bcab0de386d8.png)
![image](https://user-images.githubusercontent.com/6396244/196776202-db34b0fc-76bd-49f6-b6d5-744e49456ad0.png)

So I went with the easier opt

[2022-10-19 19:33] terracoda commented on #198
"{{CornerName}} {{flat}} as adjacent sides get change in length."

Should have been
"{{CornerName}} {{flat}} as adjacent sides change in length." with no "get"

[2022-10-19 19:43] terracoda commented on #236
Ok, let's keep "Triangle?" with a question mark in the Shape Name box.

Toggling the Shape Name interaction to show shape name:
-  Change to: "You have {{a Triangle! Is that right?}}" instead of "You have a Triangle!"

**And for Context Responses:**
- Shape Name context response:
    - Found {{a Triangle? Is that right?}}
- Shape Property Response:
    - Corner {{cornerLetter}} flat, adjacent side

[2022-10-19 19:57] terracoda commented on #237
Ah, I see, I think I need to think through the priority of these.

[2022-10-19 20:39] terracoda commented on #237
I'll work on this.

[2022-10-20 15:39] terracoda commented on #250
Today on Master, we found this is still an issue for keyboard... copying some slack discussion here

TS: When using shift key with fine input, heard "right angle, similar but smaller than corner B" instead of "right angle, equal to corner B". The corners are equal. I am not sure why the response changes after turning on fine input and why it sticks around when I turn it off.

JG: I wonder if it is

[2022-10-20 16:01] terracoda commented on #237
Ok, this morning I reviewed and updated the design documentation moving corner object responses, re-ordering the table in order to be in order of priority. Hopefully this will help resolve some issues that I will post after posting the [Table: Object Responses for Moving a Corner (re-arranged to address design issues)](https://docs.google.com/document/d/1jXayebAWnnNzsT3l6o72YPw4-YtiQaHQNuAi64eiguc

[2022-10-20 16:33] terracoda commented on #237
I will make a check list of what updates, I think would be great and which ones which are bugs that need to be fixed.

[2022-10-20 22:30] terracoda commented on #237
Questions:
1. First, can we order the priority in the above manner?
2. If yes, would that address the conflicts you found with the first implementation?
3. And if yes and yes, would this help eliminate some special cases?

If we can do the priority above easily, we can focus on the places where I marked object response in red.
- [ ] Make it so when we have Equality Events 1, we hear the parameters

[2022-10-21 17:44] terracoda commented on #237
Ok, @jessegreenberg and I spoke. No changes I am asking for are difficult, but he showed me the logic in the code, and I am going to see if I can stick a little closer to that structure, and still achieve the design I want.

During our discussion, we noted a ToDo in the code about the "All corners equal". Assigning back to me to clarifiy a few things.

[2022-10-21 20:41] terracoda commented on #237
Ok, I made just a few adjustments. I think we are way closer than I though, @jessegreenberg.
Please use the table below as reference. Check list of change below.
![image](https://user-images.githubusercontent.com/1902116/197280996-d9f5f041-de66-45c3-acd9-470079e1d74f.png)
![image](https://user-images.githubusercontent.com/1902116/197281525-91b30129-8dc8-4391-819f-45b5714b519e.png)
![image](https:/

[2022-10-21 20:50] terracoda opened #251 "Context Responses - minor updates"
Based on object responses in #237, I have made some updates to [context responses in the design document.](https://docs.google.com/document/d/1jXayebAWnnNzsT3l6o72YPw4-YtiQaHQNuAi64eiguc/edit#heading=h.i2x9114gxw26)

I'll list them out here, soon.

[2022-10-24 14:27] terracoda commented on #246
Nope, I'll go ahead and close.

[2022-10-24 14:27] #246 closed

[2022-10-24 16:08] terracoda commented on #212
I hear "adjacent sides longer" when I go from home square to rhombus.

With a bigger square (e.g. 6x6) I hear "right, Found Rhombus!" on the first step right and then "adjacent sides longer" with no voicing AND no change in shape name.

<img width="884" alt="image" src="https://user-images.githubusercontent.com/1902116/197571203-9c62676a-2ddf-406a-8889-2aeb34874b13.png">

So basically, we **still

[2022-10-24 16:16] terracoda commented on #212
Would it help to check the units? It the above screen shot. The sides are all still six units, so nothing actually got longer according the description of the side units.

When the shape visually becomes a Parallelogram, Side BC becomes "just over 6 units". That sounds really good.

I think the bug is with the object response.

Perhaps the object response is not seeing/using the same length tolera

[2022-10-24 16:19] terracoda commented on #212
@BLFiedler, please when you have a chance. Do you agree that this might be an object response issue?

[2022-10-24 17:18] BLFiedler commented on #212
I do suspect this is an inconsistency between the shape detection and object response generation. The shape detection model considers all the sides to still be the same length.

Next meeting we'll need to look at where description is using its own metrics for change vs. the shape detection model.

[2022-10-24 18:30] terracoda commented on #212
OK, sounds good. I will mark this as a meeting item.

[2022-10-24 18:36] terracoda commented on #215
I think I put my design ideas for the strings over in #236 . I'll see if I can update some of the strings.

[2022-10-24 19:12] terracoda commented on #236
@jessegreenberg, I updated the
- Found {{a Triangle? Is that right?}}
- and then changed it to: "Found {{a Triangle, is that right?}}"

It's unclear to me of we want to say, "is this right?" all the time.

We can get other strings in and see if I should change, "Found {{a Triangle, is that right?}}".

[2022-10-24 19:23] terracoda opened #252 "Update to Overview"
The UI controls have been re-ordered (moved shape sound checkbox), so I am updating the Overview to:

[2022-10-24 19:41] terracoda commented on #252
The strings are updated. Closing.

[2022-10-24 19:41] #252 closed

[2022-10-25 16:53] BLFiedler commented on #212
To address the inconsistencies here, we decided in today's design meeting:

- [ ] Update default `shapeLengthToleranceInterval` = 0.005
- [ ] Update the object response adjacent side tolerances to match `shapeLengthToleranceInterval`

There is some discussion about changing how to trigger "adjacent sides longer" when moving a side to compare to the initial side lengths and wait for them to exceed

[2022-10-25 17:22] terracoda opened #253 "Object Responses for Moving a Side"
@terracoda is working on this.

[2022-10-25 17:32] terracoda commented on #236
Discussed at design meeting. We can keep the full string,"{{a Triangle, is that right?}}" wherever it currently shows up.

[2022-10-25 17:55] terracoda commented on #236
@jessegreenberg, I need you to implement the
- Shape Property Response, and
- the two Shape Maintenance Responses

[2022-10-25 18:30] terracoda commented on #253
The design of moving side object responses may be affected by https://github.com/phetsims/quadrilateral/issues/212#issuecomment-1290862267 so be mindful of tolerances changes that addressed maintaining a Rhombus and transitions between Square-Rhombus-Parallolelogram.

[2022-10-25 18:45] terracoda commented on #243
Discussed again at Description at October 25 design meeting.
Ideally, we need a good word that covers both or two small words?
We really would like to keep the Labels checkbox if at all possible.

Ideas for label name for a combined checkbox:
- Units & Slices
- Units/ Slices
- Units
- Segments
- Tick Marks
- Measurements
- Guides

It's important to think of all the pieces that support the visual l

[2022-10-25 19:28] terracoda commented on #244
I will open a separate issue for a new design of the state descriptions that will be delivered under the Details button.

[2022-10-25 19:30] terracoda opened #254 "State Descriptions for Details button"
Somewhat related to #244, I am redesigning what we put under the Details button, so the information can be more digestible.

[2022-10-25 19:40] terracoda commented on #193
A redesign of the provided information is another option.

[2022-10-25 19:42] terracoda commented on #254
#208 is not a duplicate issue.

In this issue, I am redesigning what we put under the Details button, so the information can be more digestible which is one way to make the details more useful and understandable.

[2022-10-25 20:13] terracoda commented on #254
At today's design meeting, I presented the following re-design of the state descriptions that go under the Details button.
![image](https://user-images.githubusercontent.com/1902116/197871830-0c76f4e8-4af2-4427-92d1-3daf141baf9a.png)

@BLFiedler has some concern about "Diagonally opposite corners are equal." being part of all parallelogram descriptions.

Re-thinking and playing with my old design,

[2022-10-26 16:32] terracoda opened #255 "Double check Concave & Dart Shape Property Responses against Object Responses"
As noted in #237, I might need to update the following:

[2022-10-26 16:33] terracoda commented on #251
@jessegreenberg, I was able to find those string patterns and update them.
The Triangle responses will be implemented over in #236.

I'll open a new issues to check context responses again after #237 is complete, and go ahead and close this issue.

[2022-10-26 16:33] #251 closed

[2022-10-26 17:16] terracoda commented on #250
I found this example when moving a corner. Corner C is described as "have as wide as Corner A", but Corner C is just over 90 degrees, so it doesn't have the right angle indicator. I can actually do 2 key presses in the "half as wide" region - that may need adjusting.

![Image](https://user-images.githubusercontent.com/1902116/198092402-704c876c-fb7e-40f2-a53d-9a23fb61c37c.png)

[2022-10-26 19:04] terracoda commented on #244
If (big if) we have the option for drilling down into the details we could provide a list of quantitative details in the side bar like this
Play Details can provide a brief set of general details, and maybe a
Play More Details button could provide the following:
**[>/||] Side Length Details **
- Side {{AB}} ,{{shortest}}, {{just under 2 units}}.
- Side {{BC}}, {{j2 and half units}}.
- Side {{CD}},

[2022-10-26 21:45] terracoda commented on #254
Ok, here's Iteration 2.
Here's the [Details Button table in the design doc](https://docs.google.com/document/d/1jXayebAWnnNzsT3l6o72YPw4-YtiQaHQNuAi64eiguc/edit#heading=h.sk2kjp3m1xnj) in case I need to correct typos or strings.

![image](https://user-images.githubusercontent.com/1902116/198144039-308a618e-39c6-47c8-9be3-05223c349a55.png)
![image](https://user-images.githubusercontent.com/1902116/

[2022-10-26 21:48] terracoda commented on #254
I still need to sort out the units for area. Here are the words I would like to use
![image](https://user-images.githubusercontent.com/1902116/198144895-c00403ab-b353-42e4-aca7-612ec04c7ae7.png)

[2022-10-26 23:50] terracoda commented on #250
Here's a Square example
Model says all sides are equal, but the sims says sides DA and BC are just under 2 units whereas Sides AB and CD are 2 units.

![Image](https://user-images.githubusercontent.com/1902116/198159744-d0053978-daf7-4ece-b56f-b233ed0d9bb3.png)

[2022-10-27 00:48] terracoda commented on #254
@jessegreenberg, I am not sure how to create the Shape Size scale. I will reach out to @BLFiedler in the morning.

[2022-10-27 00:57] terracoda commented on #254
Once I have the mappings for the Shape Size we will need to do the following:
[ ] Create the pattern for the first bullets, You have a {{shapeSize}} {{shape/ shapeName}}.
[ ] Remove the corner and side details that come after Detail 1: general corner & side description.
[ ] Add the Shape Property pattern.
     [ ] Note that in some cases I would like to remove duplicate information.
[ ] I would li

[2022-10-27 14:40] terracoda commented on #213
- [Alt] + [K], pause or play action (MAL)
- [Alt] + [L], when paused step forward in bigger steps (MAL)
- [1][2][3] Auto-slide Bar Magnet (FL)
- [J] + [C] Jump start of ruler to center of m1 sphere (GFL)
- [J] + [H] Jump and release ruler home position (GFL)
- [W][A][S][D] - move custom objects up, left, down, right  (many examples)
- [W][S] / [Up][Down] - bi-manual input for custom Both Hands int

[2022-10-27 14:53] terracoda commented on #213
@BLFiedler, we were originally wondering if we had too many check boxes and how to navigate efficiently through them and the other controls, but maybe Keyboard Shortcuts for generally really useful things would be a better approach?

Things I think learners will want to do are:
- check their shape or their shape's key properties (depending on the visibility of the shape name), and
- reset the shap

[2022-10-27 14:53] terracoda commented on #213
@jessegreenberg, your thoughts are welcome, too.

[2022-10-27 15:17] terracoda commented on #193
I think this issue is a duplicate of #244 , and I have re-designed the Details button's information, so marking this issue deferred.

[2022-10-27 15:19] terracoda commented on #193
Also, now, learners can repeat corner and side object information by pressing space. That's helpful.

[2022-10-27 16:32] pixelzoom commented on #213
@terracoda said in Slack#general:
For people who would like to contribute to the idea of a general keyboard shortcut for a "partial reset", please comment in https://github.com/phetsims/quadrilateral/issues/213#issuecomment-1293628990

My 2 cents would be that a parital reset should be the same keystroke as a full reset, but with an additional modifier key.  This is often the purpose of modifier k

[2022-10-27 16:37] pixelzoom commented on #213
Re "partial reset"... Keep in mind that there may be more than 1 thing that can be partially reset.  In those cases, if there's a standard short cut for "partial reset", what does it apply to? And what is the keystroke for the other things that need a "partial reset"?

[2022-10-27 18:37] kathy-phet commented on #213
I agree with @pixelzoom 's suggestion here, and was wondering @terracoda if there is a hot key for full reset? I don't see one on your list. Seems like a nice add for a 'reset all' shortcut for the "Basic Action" list in the keyboard help dialog?

Maybe Ctrl- R and Ctrl-Shift-R? or something like that?

[2022-10-28 00:51] terracoda commented on #213
I did notice that we did not have a general reset all short cut. Honestly, the need for shortcut keys for screen reader users has been relatively rare - mostly needed for quite specific interactions and sim scenarios -  likely because the sims already work well with build-in screen reader shortcuts. For example, screen reader users do not need to Tab through all interactive elements to get to the

[2022-10-28 13:53] terracoda commented on #213
Ctrl + R is already the shortcut that re-loads the page in most if not all internet browsers. This of course, would also reset the sim. I like to avoid the Control key as a single modifier as mode browser shortcuts start with that modifier key.

I suggest we use R since what we want to do is something similar (refresh or re-load some aspect of the sim). In addition, we could stick with Alt and Shi

[2022-10-28 13:56] terracoda commented on #213
Either way is fine for me, really.

[2022-10-28 16:11] terracoda commented on #254
I'll move the Scale for Shape Size to separate issue. It could change.

[2022-10-28 16:18] terracoda opened #256 "Scale for Shape Size (shape area)"
Let's try something really simple for shape size:

- tiny (Likely, not available with TMQ)
    - < 1 unit squared or < 1 grid cell

- very small (Likely not available with TMQ)
    - = 1 unit squared or < 4 units squared

- small (smaller than a quadrant)
    - = 4 units squared or < 24 units squared

- medium-sized (larger than 1 quadrant and smaller than 2 quadrants)
    - = 24 units squared or

[2022-10-28 16:28] terracoda commented on #256
These descriptions will be in the first phrase of the Details Button.

[2022-10-28 16:34] terracoda commented on #256
@jessegreenberg, my ranges for each size are pretty roug, but the idea is:
1. tiny: shape are is smaller than a grid cell
2. very small: shape area is smaller than the starting square
3. small: shape area is smaller than a quadrant
4. medium-sized: smaller than two quadrants
5. large: shape area is larger than two quadrants

If we think of it that way, maybe it will naturally remain in synch, even

[2022-10-28 17:23] terracoda commented on #213
@jessegreenberg, should I put general shortcuts in a different repo?

What I am proposing for Quad in this issue is:

- [Alt] + [C] - for check shape name
- [Alt] + [R] or [Alt + Shift + R ] - for reset shape depending on what the team prefers for a partial reset.

I think we should think about my proposed jump keys like [J] + [X] and [J] + [G] more generally in case we want a set of shortcuts for

[2022-10-28 18:20] terracoda commented on #249
Here's an initial rough draft of the Keyboard shortcuts.
<img width="972" alt="kb-shortcuts-blank" src="https://user-images.githubusercontent.com/1902116/198705332-93b76115-f644-4c94-96bd-74ea23bd23bd.png">

I think Voicing shortcut keys will need to go somewhere else, but just noting them here as there is room in this dialog.

[2022-10-28 18:24] terracoda commented on #249
Oh, I forgot the Space or Enter shortcut on the corners and sides.

[2022-10-28 18:51] terracoda commented on #249
<img width="1100" alt="image" src="https://user-images.githubusercontent.com/1902116/198710738-afbfd241-deef-492a-a1ea-7c108ac492c2.png">

[2022-10-29 12:01] terracoda commented on #249
This rough, and I'll post the accessible version of the content today.

[2022-10-29 15:52] terracoda commented on #249
Oops, I didn't use a dialog with "Toggle checkboxes [Space]. This is a better draft here. I even added [Enter] key to buttons, which we really should add.

<img width="972" alt="kb-shortcuts-blank" src="https://user-images.githubusercontent.com/1902116/198840886-63c13f14-01a1-4617-9a79-1eec4b7fa040.png">

So, main question, what to do with the Voicing Shortcuts. Are the just for Voicing?

[2022-10-29 15:55] terracoda commented on #249
@BLFiedler do you have any thoughts about whether the Check Shape, and Reset Shape shortcuts need to be Voicing specific? They should not conflict with screen reader software.And for pressing Space or Enter  on a focused corner or side. I think that's how it might work with screen reader software,though I would need to double check.

[2022-10-29 15:56] terracoda commented on #249
I'll assign to @emily-phet and @BLFiedler for comment.

[2022-11-01 01:16] BLFiedler commented on #243
A few to-do items will arise from this:

@jessegreenberg:
- [ ] By default, make sides appear visually smooth
- [ ] Side segments appear alongside corner markers when checked.
- [ ] Rename Angles checkbox to Shape Markers or just Markers if that doesn't fit.

@terracoda:
- [ ] Determine which descriptions should appear when side segments are hidden and when the box is checked.

We might break thes

[2022-11-01 01:23] BLFiedler commented on #250
I believe the only way to address this is by shrinking the tolerance interval or by adjusting the description is indicate "about half". I'm not sure of another solution here. Can you think of any other cases? I know this is a a particularly potent set of reference points (180 degrees and 90 degrees), but it is also a triangle, which we're not intending to support pedagogically.

Hmmm.. will have t

[2022-11-03 14:51] jessegreenberg commented on #256
Cool, this looks great! Is there another issue for the updates to the details button? Maybe we can track implementation there to see this change in context.

[2022-11-07 18:40] KatieWoe opened #257 "CT PhET-iO API error:"
[code]

[2022-11-08 23:54] jessegreenberg commented on #257
I am not sure why this error showed up on CT. The issues I saw locally were a bit different.  But studio is running and the Dialog is working OK there after the above commit. Closing.

[2022-11-08 23:54] #257 closed

[2022-11-09 00:24] brettfiedler opened #258 "Update MediaPipe support for latest version"
The quick mediapipe implementation for this sim done by @jessegreenberg has been useful as a demo multiple times! Last known (to me) link runs off 1.0.0-dev.40.

Let's assume it will continue to be so and bring it forward to the latest Quad version that supports full shape detection.

We can leave detection to tips of thumb and index fingers (I'm assuming 4 & 8 based on reference below?)
![image](

[2022-11-09 19:02] BLFiedler commented on #247
We have a rather extensive list of tolerance intervals and query parameters tied to those.

I'd like to align the input tolerances as much as possible, but only where it makes sense to and of course eliminate those not in use.

As always, the interplay between tolerances and step-size is tricky. Necessarily, large step sizes eliminate the possibility of finding certain shapes at small tolerances i

[2022-11-09 19:08] #234 closed

[2022-11-10 20:50] emily-phet commented on #249
I think where possible, we should avoid having modality specific shortcuts. Since Voicing is enabling a display, it would be ideal if there were corresponding displays in the visual, etc. Of course, that likely won't work across the board...but an ideal good to aim for.

I'm not sure what you're remaining questions are - or next steps for this issue. We discussed it prior to the POSE workshop and

[2022-11-15 13:57] terracoda commented on #254
The scale for the shape size is in issue #256.

[2022-11-15 14:29] BLFiedler commented on #184
This is sufficiently described in #188 . Closing.

[2022-11-15 14:30] BLFiedler commented on #223
This was related to relative tolerances set in query parameters. No action needed.

[2022-11-15 14:30] #223 closed

[2022-11-15 14:32] BLFiedler commented on #55
I do not believe it is worth handling the portrait case for publication. The play area is not amenable to wide/tall aspect ratios given the symmetry of the shapes we're scaffolding, the precise grid spacing, and the description areas.

Closing.

[2022-11-15 14:32] #55 closed

[2022-11-15 15:09] terracoda commented on #256
Yes, the associated issue is #254 , State Descriptions for Details Button.

[2022-11-15 16:40] terracoda commented on #254
Copy of table from design doc:
![image](https://user-images.githubusercontent.com/1902116/201975770-2c942d82-7c70-43ad-b190-937047fba237.png)
![image](https://user-images.githubusercontent.com/1902116/201975892-cadab1ab-20b2-4c75-9e21-7f96affe4192.png)
![image](https://user-images.githubusercontent.com/1902116/201975978-bc6b12d4-4c84-4c7e-8714-7e5e571db42b.png)
![image](https://user-images.githubu

[2022-11-15 17:09] BLFiedler commented on #247
The goals of the simulation have shifted from dynamic shape maintenance at the beginning of our research-focused explorations. With a focus on shape to shape transformation and identification of key properties, we do not need to continue to support embodied maintenance at the cost of shape accuracy.

Goals of this issue going forward:

1. Remove specific device tolerance intervals. Reduce to a sin

[2022-11-15 17:17] BLFiedler commented on #215
Remaining items pertaining to the Triangle and description are happening in #236. Closing this one.

[2022-11-15 17:17] #215 closed

[2022-11-15 17:23] BLFiedler commented on #249
I don't think Check Shape and Reset shape need to be Voicing specific.

I'm not certain about the "Enter or Space" for re-voicing the side/corner information. I don't think we have equivalent toggle-able display (it's "always-on" visually). Might be that remains as a sole Voicing specific control?

[2022-11-15 17:29] BLFiedler commented on #197
Before closing this issue, I'd like to address:

There's currently no step modifier for keyboard outside of Fine Input Spacing. It is limited to move on the default grid. I imagine this is not ideal. Perhaps there is another set of defaults altogether we should consider.

Will bring up in the next meeting or two.

[2022-11-15 17:34] terracoda commented on #249
I think the Space and Enter keys for repeating the object's current state information will be pretty intuitive to learners. I'm not sure we will need to document this.

I agree that the Check Shape and Reset Shape shortcuts can be general shortcuts.

I'll update the content.

[2022-11-15 17:45] terracoda commented on #244
If we decide to go with Play More Details, for this sim, we could put the Longest and Shortest side/s and the Widest and smallest corner/s details under a separate button, see #254. Note, for this sim, these details can be turned on and off. I don't think I would want the button to be appear and disappear. I think, it would make sense to just provide the access to the info regardless of the inform

[2022-11-15 18:31] terracoda commented on #249
Ok, here's what I suggest for the accessible content:

H1: Keyboard Shortcuts
Tab to get started.

**H2: Move Sides or Corners**
- Move a side or corner up, left, down, or right with Arrow keys or with letter keys W, A, S, or D.
- With fine input enabled, move in smaller steps with Shift plus Arrow keys or Shift plus letter keys W, A, S, or D.

**H2: Shape Shortcuts**
- Check Shape with ALT plus C

[2022-11-15 18:43] terracoda commented on #249
Rough visual of above content
<img width="1101" alt="image" src="https://user-images.githubusercontent.com/1902116/202000203-5bbcade8-c72a-4e0a-9c62-b3f99493d814.png">

[2022-11-15 18:56] terracoda commented on #213
My only remaining question for this issue is whether the partial reset or the full reset should require 3 keys?

[2022-11-15 19:00] terracoda commented on #213
Maybe we can close this issue, @pixelzoom pointed out that a partial reset should be the shortcut that adds to the gneral shortcut for a full reset.

[2022-11-15 19:52] BLFiedler commented on #185
@jbphet will likely implement this in tambo.

For Quadrilateral, we'd like this to functionally lower volume of all sounds/sonifications while Voicing strings are being read out.

[2022-11-15 20:27] terracoda commented on #193
Closing this issue as we have a new design for the Detail button in #254.

[2022-11-15 20:27] #193 closed

[2022-11-15 20:41] terracoda opened #259 "State Descriptions for Hint Button"
I thought we had an open issue for the Hint button, but I can't seem to find it, so here's what I need changed in the Hint button content:
1. Move the "You have a {{Shape}}" to the the Details button, see #254
2. Update the content to be:
"Move sides and corners to change shape properties and explore what shapes you can make. If needed, check out keyboard shortcuts."

[2022-11-15 20:44] terracoda commented on #259
@jessegreenberg, note that in Interactive Description we have a paragraph with, "If needed, check out keyboard shortcuts under Sim Resources." In Voicing, we do not have the heading "Sim Resources" read out, so I just left that off.

[2022-11-16 16:52] terracoda commented on #254
Discussed {{diagonally}} at design meeting. Do not include this parameter.

[2022-11-16 17:07] terracoda commented on #249
@terracoda to open a issue in scenery-phet for Press buttons and Reset All.

[2022-11-22 15:01] jessegreenberg commented on #237
OK, I made some changes for the requests in the above commits.

I don't understand how this would work, doesn't this conflict with "Quality Event 1"?

I hope I got the rest! Back to you @terracoda.

[2022-11-22 15:26] BLFiedler commented on #237
Moving this TODO from #212 to here.

Length changes are mismatched for model and object responses, we would like object response for length to use the same tolerance as the model: `shapeLengthToleranceInterval` (eventually `interLengthToleranceInterval`). See closed #212 for discussion, though it is not summarized very well there.

- [ ] Update default shapeLengthToleranceInterval = 0.005
- [ ] Up

[2022-11-22 15:26] #212 closed

[2022-11-22 15:35] BLFiedler commented on #250
This will likely be solved by #41 OR is one of the issues that needs to be solved if collision is abandoned (**decision by December 6**)

[2022-11-22 15:55] terracoda commented on #254
Adding updated table for the Details button

![Image](https://user-images.githubusercontent.com/1902116/203359661-9bf6c37c-f5f0-4a5d-a263-c351cbef9377.png)
![Image](https://user-images.githubusercontent.com/1902116/203360251-f915b01d-eb68-496b-a49c-c9f4fa8d029b.png)
![Image](https://user-images.githubusercontent.com/1902116/203360419-3c4b16d6-2106-4067-b20d-31818752d06e.png)
![Image](https://user-

[2022-11-22 16:09] jessegreenberg commented on #237
@BLFiedler or @terracoda I **think** I made the right change for the above commit, but I am not really sure. The result is that it will require larger changes to hear side change responses like "adjacent sides longer". Hopefully that is right.

[2022-11-22 16:28] terracoda commented on #243
@jessegreenberg, the side units and corner slices were implemented in #231. There is no change to the strings or the behaviour of the strings.

This issue is adjusting the over all design, so that the side units can be turned off in the voicing and the description. Instead of having separate check boxes, one for side units and one for corner slices, we'll have one single Shape Markers checkbox tha

[2022-11-22 16:41] KatieWoe opened #260 "CT PhET-iO API error"
[code]

[2022-11-22 16:48] terracoda commented on #249
As stated in scenery-pht#789, maybe the ESC key to exit exit a dialog should remain as the last item under Basic Shortcuts.
<img width="972" alt="image" src="https://user-images.githubusercontent.com/1902116/203372910-1b8e5854-028a-435d-bbe3-e7ae87367aae.png">

[2022-11-22 18:47] terracoda commented on #237
**Design and Implementation Testing Notes for latest implementation.**

1. Making a square by moving a corner, I hear "equal to {{NamedAdjacentCorner}}". This was not my intention, so I may need to re-think the equality events.
Example case below moving Corner A, I hear, "Equal to {{Corner B}}" and then context response, "All right angles and all sides equal."
<img width="686" alt="image" src="htt

[2022-11-22 20:46] terracoda opened #261 "Description and Visual using different tolerances"
While testing #237 I found the following issue:

When moving B up from a right angle (as part of a Kite,) it remains a right angle and becomes part of a Trapezoid.

The tolerances for the visual and the description are different, so the description does not match the visuals.

Starting step
<img width="785" alt="image" src="https://user-images.githubusercontent.com/1902116/203415597-97d1b30b-0616-

[2022-11-22 21:52] terracoda commented on #237
2. We can have a 3-corner equality event.
This seems common in kites.
![image](https://user-images.githubusercontent.com/1902116/203420314-e3907c42-c73d-43df-afd6-c542e156c986.png)

I am hoping we can do the following when three corners become equal:
![image](https://user-images.githubusercontent.com/1902116/203420696-2e61ba9f-651d-4749-a783-f3f345ce2345.png)

I don't think this can happen with a

[2022-11-22 22:23] jessegreenberg commented on #256
OK, this has been implemented as part of https://github.com/phetsims/quadrilateral/issues/254. Back to @terracoda to review this mapping.

[2022-11-22 22:27] jessegreenberg commented on #261
I'm not sure how our tolerance implementation can support this case. @BLFiedler do you have any thoughts?

We could add special cases for description to do describe them as equal if both angles are within `interAngleToleranceInterval`?

[2022-11-22 22:27] jessegreenberg commented on #254
Alright, these descriptions have been added @terracoda! Ready for you to have a listen.

[2022-11-22 22:28] terracoda commented on #237
3. Maintaining a dart or concave quad - Can the object responses for maintaining a dart behave the same as a kite. Making "angle pointing inward" a landmark doesn't sounds good to me.
![image](https://user-images.githubusercontent.com/1902116/203433995-8d3593a2-c809-47c3-b8d1-ca4cce47f0ac.png)

[2022-11-22 22:32] jessegreenberg commented on #259
OK, this has been updated, @terracoda would you like to review?

[2022-11-22 22:36] terracoda commented on #237
4. I found a bug and noted that over in #261.

Back to you @jessegreenberg for my design fixes (1, 2, and 3) above.

Please comment if these changes do not =make sense to the shape model and current string design.

[2022-11-22 22:38] terracoda commented on #237
- [ ] design issue 1 updated
- [ ] design issue 2 updated
- [ ] design issue 3 updated

Please assign back to me when ready. I think you may have already done design issue 1.

[2022-11-22 23:06] jessegreenberg commented on #236
OK, this change has been made. I believe all triangle cases are now described.

The easter egg description that would change half of the time has been removed.

@terracoda over to you to review.

[2022-11-22 23:24] jessegreenberg commented on #237
Sorry, I don't understand what you are requesting. Would you like to remove the "angle pointing inward" progress response entirely?

[2022-11-23 15:59] terracoda commented on #261
Just noting today with fresh pull, another case...to help the conversation
<img width="785" alt="image" src="https://user-images.githubusercontent.com/1902116/203592204-c10a4741-1e95-4888-9648-b0d11c675b63.png">

[2022-11-23 17:07] terracoda commented on #261
In contrast, moving corner D in this triangle case, I visually have a right angle for 5 key presses and the description matches.

<img width="791" alt="image" src="https://user-images.githubusercontent.com/1902116/203607166-967c465e-bddf-4f13-ac6c-608b3c804fcf.png">

[2022-11-23 18:30] terracoda commented on #237
5. I have one more design issue aside from the tolerance problem which is in another issue...
In Equality Event 1, I am only hearing "equal to {{CornerName}}" and never hearing "equal to opposite corner".

I was hoping to hear "equal to opposite corner", when that property mattered to a shape. For example, when moving a corner transforms the shape into a rhombus, parallelogram, kite or dart.

Is t

[2022-11-23 18:51] terracoda opened #262 "Comparative dscriptions seem inconsistent"
In the following example, Corner D is describe as about half as wide as its opposite corner (Corner B). But then when I move over to Corner B, it is described as "right angle, far wider than opposite corner, smaller than adjacent corners".

Why isn't Corner B "about twice as wide as opposite corner" (Corner D)?

Just wondering if we have a bug somewhere in the ranges for defined for the qualitativ

[2022-11-23 19:45] jessegreenberg commented on #262
0.729 * 2 = 1.458 -> (1.571 - 1.458) = 0.113 -> way bigger than `interAngleToleranceInterval`

1.571 / 2 = 0.7855 -> 0.7855 - 0.729 = 0.056 -> way bigger than `interAngleToleranceInterval`

So my understanding is that corner B description is correct and corner D description is buggy.

[2022-11-23 19:51] jessegreenberg commented on #262
Aha, it is because after checking `interAngleToleranceInterval`, we fall back to this map:

[code]

1.571 / 0.729 = 2.155 -> ***larger than 2.1 so we NOT describe as "about twice as large"***

0.729 / 1.571 -> 0.464 -> ***greater than 0.4 so we DO describe as "about half as large"***

We cannot guarantee that the ratios will be symmetric. @terracoda or @BLFiedler how would you like to handle this?

[2022-11-23 20:00] terracoda commented on #262
Here's a screenshot where Corner D is "half as wide" and Corner B is "twice as wide".
<img width="670" alt="image" src="https://user-images.githubusercontent.com/1902116/203635508-1e8ebec6-da29-4512-b991-bb973e2accf1.png">

So in this case it works well, maybe because B is exactly twice as wide as D.

[2022-11-23 20:15] terracoda commented on #237
@jessegreenberg and I discussed issue 3 (angle pointing inward) on slack.
Summary:

[2022-11-23 20:17] jessegreenberg commented on #237
OK something that might work for https://github.com/phetsims/quadrilateral/issues/237#issuecomment-1325496186 was done in https://github.com/phetsims/quadrilateral/commit/d2d3b8f1dbef2a72f2c9bebd07f7b124bdb4a75a

"angle pointing inward" removed from the object response in https://github.com/phetsims/quadrilateral/commit/41f445a9589d40c6c114f16dc2690fc861361ec3/

Back to you @terracoda!

[2022-11-23 20:20] jessegreenberg commented on #262
Yep, the ratios have to be within these ranges which is the case for https://github.com/phetsims/quadrilateral/issues/262#issuecomment-1325593018, but not for the original screenshot.
[code]

[2022-11-23 20:22] terracoda commented on #262
I guess you can't compare the number of slices? What a pain

[2022-11-23 20:24] terracoda commented on #262
I feel like the information is not very consistent.
Does it have to be a ratio?

[2022-11-23 20:49] jessegreenberg commented on #262
We decided to use ratios (percentages) in https://github.com/phetsims/quadrilateral/issues/219. At one point we were using raw angles (slices) to generate these descriptions. I can't remember why we switched, but maybe it had its own problems.

[2022-11-23 21:02] terracoda commented on #262
@BLFiedler, do you think it will do any good to adjust the range?

[2022-11-23 21:13] jessegreenberg commented on #243
I think the requests from this issue are complete. @terracoda and @BLFiedler can you please review?

[2022-11-23 21:18] terracoda commented on #237
Looks like design issues 3 & 5 are implemented.
I think we should close this issue.
Thanks @jessegreenberg. Nice work as always.

[2022-11-23 21:50] #237 closed

[2022-11-23 22:02] terracoda commented on #243
Since we took "Shape" out of the Name Response, I think it should go in the help text and context response.
Also I think I can shorten these phrases.
I'll see if I can make these adjustments.

- Name Response: "Markers" (+ appropriate icons)
- Context Responses:
    - Evenly spaced side units and 30-degree angle slices added.
    - Shape markers for sides and angles hidden.
- Hint Response: Create

[2022-11-23 22:13] terracoda commented on #243
Ok, I updated the strings in https://github.com/phetsims/quadrilateral/commit/7b4401e1c70cfd8670084e4f3ab3320fad924939

[2022-11-23 22:36] terracoda commented on #243
Ok, verified. The updated text.
I think it sounds fine., so closing.
I'll open a new issue for an icon change.

[2022-11-23 22:36] #243 closed

[2022-11-23 22:39] terracoda opened #263 "Reminder to update icon for Markers Checkbox"
Since we combined the side unit and angle slices into one checkbox in #243, we may need a new icon that includes side units.

This issue is kind of related related to #190

[2022-11-23 22:42] terracoda commented on #259
Verified. Thanks.

[2022-11-23 22:42] #259 closed

[2022-11-23 23:00] terracoda commented on #254
The details are sounding great! I have a design update request.
When the angle is flat (180 degree angle), it would be nice to be able to quantify that. We don't do that anywhere else.
Is it possible to add the slices, so the phrase would be like this:
- Widest corner {{flat and 6 slices}}, smallest corners {{just over 2 slices}}.

![image](https://user-images.githubusercontent.com/1902116/2036597

[2022-11-23 23:08] terracoda commented on #254
Actually, "flat" is in the Shape Property Response phrase.
I think we should just say "6 slices"
- Widest corner {{6 slices}}, smallest corners {{just over 2 slices}}.

[2022-11-23 23:09] terracoda commented on #254
This was my original thought. Let's go with this if possible.
![image](https://user-images.githubusercontent.com/1902116/203661361-5fa4ffe7-a401-46cd-8d78-04bcb379ffa0.png)

[2022-11-23 23:16] terracoda commented on #256
Nice job @jessegreenberg.

I'll have to discuss this with @BLFiedler.

[2022-11-23 23:26] terracoda commented on #236
This all sounds good @jessegreenberg. Thanks. Closing.

[2022-11-23 23:26] #236 closed

[2022-11-23 23:31] terracoda commented on #216
Current State and Moving Corner Object responses all verified.
Need to focus on Side Object responses now.

[2022-11-24 15:05] terracoda commented on #255
I am leaving "{{{{CornerName}} points inward,}}" in the context response. An inward facing corner has many positions, so when this string is in the object response it can get very repetitive.

[2022-11-24 15:05] #255 closed

[2022-11-24 16:43] terracoda opened #264 "Add shape markers to overview."
Add "shape markers" to over view.

[2022-11-24 17:16] terracoda commented on #264
Verified. Closing.

[2022-11-24 17:16] #264 closed

[2022-11-28 20:28] jessegreenberg commented on #254
OK, this special case for the details button has been added. Back to you @terracoda .

[2022-11-29 14:23] BLFiedler commented on #244
Last meeting we considered the timeline for the change to Joist necessary to add additional buttons and determined it would not align with our goals for Quad's publication. This feature will be developed for another sim or on its own.

[2022-11-29 14:23] #244 closed

[2022-11-29 14:25] #208 closed

[2022-11-29 15:57] jessegreenberg commented on #262
A potential brute force method could be to only describe opposite/adjacent corners as half/twice the other if both ratios are within the ranges of https://github.com/phetsims/quadrilateral/issues/262#issuecomment-1325614060. Or could describe both as half/twice if either is within the range.

[2022-11-29 16:13] BLFiedler commented on #263
Might need to zoom out a bit farther than one corner to get across the idea. Something that more simply captures something like this rhombus?

![image](https://user-images.githubusercontent.com/47331395/204582689-48fbcefe-1a9c-444a-ba17-ef2ffd97f8b4.png)

[2022-11-29 16:18] BLFiedler commented on #263
Alternatively, we could go very simple with just a FontAwesome ruler:
https://fontawesome.com/v5/icons/ruler?s=regular&f=classic
![image](https://user-images.githubusercontent.com/47331395/204583645-9216d8c3-c4e3-44e9-aecc-77847368bf99.png)

Or riff on the idea with their combined ruler and add our corner slices:
https://fontawesome.com/v5/icons/ruler-combined?s=light&f=classic
![image](https://us

[2022-11-29 16:57] BLFiedler commented on #256
Discussed in meeting, @terracoda will add some language around Area as some shapes can have area sizes with contrasting length sizes.

[2022-11-29 17:08] BLFiedler commented on #262
We should do this for both Angle and Length comparisons for "about twice as"

[2022-11-29 17:40] jessegreenberg commented on #261
During the meeting today we identified that this is NOT an issue with `angleToleranceInterval` vs `interAngleToleranceInterval`. The issue is this special case added for describing angles for trapezoids:

[code]

[2022-11-29 18:18] BLFiedler commented on #229
We are not going to be working on this for publication. Also appears to currently cause conflicts with Voicing in Ratio and Proportions testing. Possible lift that may require more significant effort.

[2022-11-29 18:18] #229 closed

[2022-11-29 18:21] BLFiedler commented on #258
Not ahead of publication, but perhaps for May 2023 convening.

[2022-11-29 18:22] BLFiedler commented on #220
Two TODOs remain two[ comments above](https://github.com/phetsims/quadrilateral/issues/220#issuecomment-1258178321)

[2022-11-29 18:25] BLFiedler commented on #195
Keeping the visual interaction hints when the shape is changing requires additional code to draw,rotate, scale the hints which is more work than we currently have for publication. For now, resetting the sim to see the hints will suffice.

[2022-11-29 18:25] #195 closed

[2022-11-29 18:27] BLFiedler commented on #181
I believe this issue is being solved for specific cases elsewhere (e.g., #262 ). Unless there is an underlying bigger picture issue still?

Passing to @terracoda to see if we should close this issue.

[2022-11-29 18:29] BLFiedler commented on #180
Collision detection as a new model for shape restriction is being abandoned. We guessed it would be a fix for this issue, but we will have to open up an investigation using the current shape restriction model.

Assigning to @jessegreenberg to fix.

[2022-11-29 18:29] terracoda commented on #262
In today's meeting we settled on doubling the range for the about twice as wide as and about twice and long as regions

Corner comparisons
![image](https://user-images.githubusercontent.com/1902116/204615369-067d47a2-6c72-43a6-b44f-35dd833309f6.png)

Side comparisons
![image](https://user-images.githubusercontent.com/1902116/204615500-1e62023e-db77-4ff2-8066-1619220303de.png)

[2022-11-29 18:30] terracoda commented on #262
@jessegreenberg, did you already implement this while were discussing it? If so, please re-assign to me.

[2022-11-29 18:52] BLFiedler commented on #93
I don't see an intuitive behavior here worth building out for adjacent sides simultaneously being dragged. Let's pass control to the first side that is pressed when an adjacent side is dragged. The second "multitouched" side drag does nothing.

- [ ] Implement multitouch behavior for two adjacent side dragging that gives control to the first side interaction

@jessegreenberg, if this ends up sound

[2022-11-29 18:54] BLFiedler commented on #250
Let's try to reproduce this when #41 is resolved and the grid is resized in #220. Leaving myself assigned until then.

[2022-11-29 19:01] BLFiedler commented on #213
I believe this has been settled in requests for #249. Re-open if that is not the case.

[2022-11-29 19:02] terracoda commented on #256
The mappings of the described scale itself are fine, but since size can be ambiguously interpreted (i.e., a long and skinny shape might appear big rather than small) we agreed to reword the first line of the Details to be about "area" rather than size.

We can also name the parameter "QualitativeShapeArea if it isn't already that already.

**Depending on if shape name is hidden or shown, here are

[2022-11-29 19:06] terracoda commented on #256
@jessegreenberg, note that with this new wording, we no longer have the contrasting strings of "a small Isosceles Trapezoid " and "an Isosceles Trapezoid"!

I'm not sure you addressed that issue already.

[2022-11-29 19:58] terracoda commented on #254
Sounds good. Thank you @jessegreenberg.

[2022-11-29 20:00] terracoda commented on #254
There's one more update for the Details descriptions. Since it was about Shape Size/Area, it's described over in issue #256.

Closing this issue.

[2022-11-29 20:00] #254 closed

[2022-11-29 20:02] terracoda commented on #181
Yes, this issue can be closed. Hopefully, all tolerance related issues will be resolved in the newer issues as lot of changes have happened since this issue was posted.

[2022-11-29 20:42] terracoda commented on #263
I like the idea of a combined protractor/ruler theme. Are you suggesting we adjust it slightly so it looks like slices and units. This a very rough re-working of the former icon. It would be better it wasn't at 90 degrees.
![image](https://user-images.githubusercontent.com/1902116/204642986-ac17dd60-547f-45b2-92a5-dbb409a22f2c.png)

I can imagine a mix the protractor icon but at an angle between 9

[2022-11-29 23:33] jessegreenberg commented on #262
OK, this was done in the above commit. Back to you @terracoda.

[2022-11-30 15:47] terracoda commented on #261
Not sure if this is the same issue, but I think it is related to length tolerance, so I am putting it here for now.
I know we are working on tolerances for trapezoids in some issue.

In the case below, the shape name is Trapezoid and it looks very much like a Trapezoid. Sides AB and CD are not equal in the model values, but they are close enough to both be "Just over 4 units, equal to opposite sid

[2022-11-30 18:25] BLFiedler commented on #261
This has led me down a much-too-deep rabbit hole on how the tolerances are handled for different side lengths and angle differences, as well as how shapes with mixed angle/length requirements interact with the tolerances.

There likely isn't going to be a robust solution here and we may need to continue to build a few special cases for description (not ideal), but I'll need to think on it a bit mo

[2022-11-30 18:45] jessegreenberg commented on #41
11/29/22 meeting decision: We are out of time for this issue and we have decided to let it go. We can easily get rid of the stickiness around the boundary (done in https://github.com/phetsims/quadrilateral/commit/3a4f25a38738a6fa9cd24cca8c400c4639b9ff6a). But we are going to skip complex collision detection around the quadrilateral shape. Instead, we are just going to fix the "sticky case" bugs ab

[2022-11-30 21:52] jessegreenberg commented on #41
Here is a bit of a brain dump on things I tried and challenges:

The challenge of this issue was to detect a collision between two shapes AND find the most reasonable position for the dragging object as it moves along the intersecting segments.

I tried three different approaches to get this working.

1) Using p2.js (https://github.com/schteppe/p2.js):
- p2 is 2d physics engine with a lot of suppo

[2022-11-30 21:52] #41 closed